﻿<li class="end-user-nav-li li-parrent">
    <a class="li-parrent-anchor">Đăng ký Website CCDV</a>
    <ul class="submenu">
        <li class="end-user-nav-li" id="WebsiteList"><a href="~/EndUserInfo/WebsiteList">Tất cả hồ sơ đăng ký website</a></li>
        <li class="end-user-nav-li" id="WebsiteListSaved"><a href="~/EndUserInfo/WebsiteListSaved">Danh sách website CCDV lưu tạm</a></li>
        <li class="end-user-nav-li" id="RegisterWebsite"><a href="~/EndUserInfo/RegisterWebsite">Thêm mới đăng ký website</a></li>
    </ul>
</li>
<li class="end-user-nav-li li-parrent">
	<a class="li-parrent-anchor">Thông báo Website bán hàng &nbsp;&nbsp;</a>
    <ul class="submenu">
        <li class="end-user-nav-li" id="WebsiteListNoti"><a href="~/EndUserInfo/WebsiteListNoti">Tất cả hồ sơ thông báo website</a></li>
        <li class="end-user-nav-li" id="WebsiteListNotiSaved"><a href="~/EndUserInfo/WebsiteListNotiSaved">Danh sách website thông báo lưu tạm</a></li>
        <li class="end-user-nav-li" id="NotifyWebsite"><a href="~/EndUserInfo/NotifyWebsite">Thêm mới thông báo website</a></li>
    </ul>
</li>
<li class="end-user-nav-li li-parrent">
    <a class="li-parrent-anchor">Đăng ký Ứng dụng CCDV</a>
    <ul class="submenu">
        <li class="end-user-nav-li" id="AppList"><a href="~/EndUserInfo/AppList">Tất cả hồ sơ đăng ký ứng dụng</a></li>
        <li class="end-user-nav-li" id="AppListSaved"><a href="~/EndUserInfo/AppListSaved">Danh sách ứng dụng CCDV lưu tạm</a></li>
        <li class="end-user-nav-li" id="RegisterApp"><a href="~/EndUserInfo/RegisterApp">Thêm mới đăng ký ứng dụng</a></li>
    </ul>
</li>
<li class="end-user-nav-li li-parrent">
    <a class="li-parrent-anchor">Thông báo Ứng dụng bán hàng</a>
    <ul class="submenu">
        <li class="end-user-nav-li" id="AppListNoti"><a href="~/EndUserInfo/AppListNoti">Tất cả hồ sơ thông báo ứng dụng</a></li>
        <li class="end-user-nav-li" id="AppListNotiSaved"><a href="~/EndUserInfo/AppListNotiSaved">Danh sách ứng dụng thông báo lưu tạm</a></li>
        <li class="end-user-nav-li" id="NotifyApp"><a href="~/EndUserInfo/NotifyApp">Thêm mới thông báo ứng dụng</a></li>
    </ul>
</li>
@*<li class="end-user-nav-li">
    <a>Website</a>
    <ul class="submenu">
        <li class="end-user-nav-li" id="WebsiteList"><a href="~/EndUserInfo/WebsiteList">Danh sách website</a></li>
        <li class="end-user-nav-li" id="RegisterWebsite"><a href="~/EndUserInfo/RegisterWebsite">Đăng ký website CCDV</a></li>
        <li class="end-user-nav-li" id="NotifyWebsite"><a href="~/EndUserInfo/NotifyWebsite">Thông báo website bán hàng</a></li>
    </ul>
</li>*@
@*<li class="end-user-nav-li">
    <a>Ứng dụng</a>
    <ul class="submenu">
        <li class="end-user-nav-li" id="AppList"><a href="~/EndUserInfo/AppList">Danh sách ứng dụng</a></li>
        <li class="end-user-nav-li" id="RegisterApp"><a href="~/EndUserInfo/RegisterApp">Đăng ký ứng dụng CCDV</a></li>
        <li class="end-user-nav-li" id="NotifyApp"><a href="~/EndUserInfo/NotifyApp">Thông báo ứng dụng</a></li>
    </ul>
</li>*@

<li class="end-user-nav-li li-parrent">
    <a class="li-parrent-anchor">Đăng ký Đánh giá tín nhiệm</a>
    <ul class="submenu">
        <li class="end-user-nav-li" id="DanhGiaTinNhiem"><a href="~/EndUserInfo/DanhGiaTinNhiem">Thêm mới đăng ký</a></li>
        <li class="end-user-nav-li" id="DanhGiaTinNhiemList"><a href="~/EndUserInfo/DanhGiaTinNhiemList">Tất cả đăng ký</a></li>
    </ul>
</li>
<li class="end-user-nav-li">
    <a>Báo cáo</a>
    <ul class="submenu">
        <li class="end-user-nav-li" id=""><a href="~/EndUserBaocao">Danh sách báo cáo</a></li>
    </ul>
</li>

<li class="end-user-nav-li" id="DanhGiaTinNhiem"><a href="~/EndUserInfo/DanhGiaTinNhiem">Thông báo từ BQT</a></li>
<li class="end-user-nav-li li-parrent">
    <a class="li-parrent-anchor">Ds website gắn biểu tượng tín nhiệm</a>
    <ul class="submenu">
        <li class="end-user-nav-li" id="AddTrustSymbol"><a href="~/EndUserOrganizationInfo/AddTrustSymbol">Thêm mới website</a></li>
        <li class="end-user-nav-li" id="WebsitesSavedToDraft"><a href="~/EndUserOrganizationInfo/WebsitesSavedToDraft">Website lưu tạm</a></li>
        <li class="end-user-nav-li" id="WebsitesSavedToList"><a href="~/EndUserOrganizationInfo/WebsitesSavedToList">Website đã có trong danh sách</a></li>
        <li class="end-user-nav-li" id="WebsitesOutOfList"><a href="~/EndUserOrganizationInfo/WebsitesOutOfList">Website đã đưa ra khỏi danh sách</a></li>
        <li class="end-user-nav-li" id="AllWebsites"><a href="~/EndUserOrganizationInfo/AllWebsites">Tất cả</a></li>
    </ul>
</li>