﻿@using BotDetect.Web.Mvc;
@using Nami.Web;
<div class="col-sm-4 content-right pdr0">
    <div class="col-sm-12 pd0 content-right__Chung content-right__TinNoiBat">
        <div class="content-right__TinNoiBat_Title">
            <h2><a href="~/NewsEvent/Index/Alert" style="color: #ffffff">Thông báo</a></h2>
            <h2><a href="~/NewsEvent/Index/Alert" style="color: #ffffff">Cảnh báo</a></h2>
        </div>
        @foreach (var NotificationItem in Model.Notification.ListItem)
        {
            <div class="content-right__TinNoiBat_Content">
                <div class="col-sm-4 pd0">
                    <a href="/"><img class="img-cover" src="~/@NotificationItem.Image" alt=""></a>
                </div>
                <div class="col-sm-8 pdr0">
                    <p class="thongbao"><span>Thông báo</span></p>
                    <h3><a title="@NotificationItem.Title" href="/NewsEvent/Post/@NotificationItem.Id?t=@NotificationItem.CategoryId">@NotificationItem.Title</a></h3>
                </div>
            </div>
        }
        @*@for (int i = 0; i < 3; i++)
            {
                <div class="content-right__TinNoiBat_Content">
                    <div class="col-sm-4 pd0">
                        <a href="/"><img class="img-cover" src="~/@Model.Notification.ListItem[i].Image" alt=""></a>
                    </div>
                    <div class="col-sm-8 pdr0">
                        <p class="thongbao"><span>Thông báo</span></p>
                        <h3><a href="/NewsEvent/Post/@Model.Notification.ListItem[i].Id?t=@Model.Notification.ListItem[i].CategoryId">@Html.Raw(Model.Notification.ListItem[i].Title)</a></h3>
                    </div>
                </div>
                <div class="content-right__TinNoiBat_Content">
                    <div class="col-sm-4 pd0">
                        <a href="/"><img class="img-cover" src="~/@Model.Warning.ListItem[i].Image" alt=""></a>
                    </div>
                    <div class="col-sm-8 pdr0">
                        <p class="canhbao"><span>Cảnh báo!</span></p>
                        <h3><a href="/NewsEvent/Post/@Model.Warning.ListItem[i].Id?t=@Model.Warning.ListItem[i].CategoryId">@Html.Raw(Model.Warning.ListItem[i].Title)</a></h3>
                    </div>
                </div>
            }*@
    </div>
    <div class="content-right__Banner content-right__Chung col-sm-12 pd0 ">
        <a href="/" title="Danh sách website vi phạm"><img class="img-cover" src="~/Content/EndUser/img/danhsachvipham.png" alt=""></a>
        <a href="/" title="Danh sách website bị phản ánh"><img class="img-cover" src="~/Content/EndUser/img/danhsachbiphananh.png" alt=""></a>
    </div>

    <div class="content-right__PhanAnh content-right__Chung col-sm-12 pd0 " id="boxTraCuu">
        <h2>Tra cứu</h2>
        <div class="text-center titleNote">
            WEBSITE THƯƠNG MẠI ĐIỆN TỬ ĐÃ ĐĂNG KÝ THÔNG BÁO VỚI BỘ CÔNG THƯƠNG
        </div>
        <form action="/" id="FormTra cứu">
            <div class="form-group">
                <label>Tên Website</label>
                <input type="text" placeholder="Tên miền đăng ký">
            </div>
            <div class="form-group">
                <label>Tên Thương nhân/ Tổ chức</label>
                <input type="text" placeholder="Thương nhân/ Tổ chức">
            </div>
            <div class="form-group">
                <label>Mã số thuế</label>
                <input type="text" placeholder="Mã số thuế">
            </div>
            <div class="form-group">
                <label>Điện thoại</label>
                <input type="text" placeholder="Điện thoại">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" placeholder="Email">
            </div>
            <div class="form-group">
                <label>Loại website</label>
                <select>
                    <option>Tất cả</option>
                    <option>Website Bán hàng</option>
                    <option>Website Thương mại điện tử</option>
                </select>
            </div>
            <div class="text-center">
                <button type="submit">Tìm kiếm</button>
            </div>

        </form>
    </div>
    <div class="content-right__PhanAnh content-right__Chung col-sm-12 pd0 ">
        <h2>Phản ánh - Kiến Nghị</h2>
        <form action="/" id="FormPhanAnh">
            <div class="form-group">
                <label>Đối tượng</label>
                <select name="">
                    <option disabled>Chọn đối tượng phản ánh</option>
                    <option value="">Website</option>
                    <option value="">Ứng dụng</option>
                </select>
            </div>
            <div class="form-group">
                <label>Loại phản ánh</label>
                <select name="">
                    <option disabled>Chọn đối loại phản ánh</option>
                    <option value="">Dịch vụ không/chưa đăng ký với Bộ Công Thương</option>
                    <option value="">Dịch vụ vi phạm Nghị định 52/2013/NĐ-CP</option>
                </select>
            </div>
            @{MvcCaptcha phanAnhCaptcha = CaptchaHelper.GetPhanAnhCaptcha(); }
            @*@if (!phanAnhCaptcha.IsSolved)
            {*@

                <div class="form-group ">
                    <label for="CaptchaCode">Nhập mã xác nhận <span style="color:red">*</span></label>

                    <div class="col-sm-8">
                        @Html.TextBox("CaptchaCode", null, new { @class = "form-control captchaVal" })
                        @Html.ValidationMessage("CaptchaCode", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="clearBoth"></div>
                <div class="form-group col-sm-6">
                    <div class="col-md-offset-4 col-sm-8">
                        @Html.Captcha(phanAnhCaptcha)
                    </div>
                </div>
            @*}*@
        </form>
    </div>
    @*<div class="content-right__PhanAnh content-right__Hoidap content-right__Chung col-sm-12 pd0 ">
            <h2>Hỏi đáp</h2>
            <ul>
                <li><a href="/">Website quảng cáo miễn phí có cần thực hiện thủ tục với Bộ Công Thương hay không?</a></li>
                <li><a href="/">Website quảng cáo miễn phí có cần thực hiện thủ tục với Bộ Công Thương hay không?</a></li>
                <li><a href="/">Website quảng cáo miễn phí có cần thực hiện thủ tục với Bộ Công Thương hay không?</a></li>
                <li><a href="/">Website quảng cáo miễn phí có cần thực hiện thủ tục với Bộ Công Thương hay không?</a></li>
                <li><a href="/">Website quảng cáo miễn phí có cần thực hiện thủ tục với Bộ Công Thương hay không?</a></li>

            </ul>
        </div>*@

</div>