﻿<!DOCTYPE html>
<html lang="en">
<head>
	<script data-ad-client="ca-pub-1062635048746394" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KP63NWL');</script>
	<!-- End Google Tag Manager -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>

	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


	<!-- ace styles -->
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
	<![endif]-->
	@Styles.Render("~/assets/appcss")
	<link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	<link href="~/Content/fixed-element.css" rel="stylesheet" />
	<link href="~/Content/ADashboard.css" rel="stylesheet" />
	@Styles.Render("~/Content/bootstrap-datepicker.css")
	@Styles.Render("~/Content/Common.css")

	@RenderSection("css", required: false)
	@Scripts.Render("~/assets/appjs")
	@Scripts.Render("~/bundles/datepicker")
	<script src="~/assets/js/ace-extra.min.js"></script>
	<script src="~/assets/ckeditor/ckeditor.js"></script>
	<script src="~/content/go.js"></script>
	<script src="~/Scripts/easyNotify.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
	<link href="~/Content/lobibox/css/lobibox.css" rel="stylesheet" />
	<script src="~/Content/lobibox/js/Lobibox.js"></script>
	<link href="~/Content/backend.css" rel="stylesheet" />
	<link href="~/assets/css/colorbox.min.css" rel="stylesheet" />
	<script src="~/Content/AmCharts/core.js"></script>
	<script src="~/Content/AmCharts/charts.js"></script>
	<script src="~/Content/AmCharts/themes/material.js"></script>
	<script src="~/Content/AmCharts/lang/de_DE.js"></script>
	<script src="~/Content/AmCharts/fonts/notosans-sc.js"></script>
	<script>
		CKEDITOR.on('instanceReady', function () {
			$.each(CKEDITOR.instances, function (instance) {
				CKEDITOR.instances[instance].document.on("keyup", CK_jQ);
				CKEDITOR.instances[instance].document.on("paste", CK_jQ);
				CKEDITOR.instances[instance].document.on("keypress", CK_jQ);
				CKEDITOR.instances[instance].document.on("blur", CK_jQ);
				CKEDITOR.instances[instance].document.on("change", CK_jQ);
			});
		});

		function CK_jQ() {
			for (instance in CKEDITOR.instances) {
				CKEDITOR.instances[instance].updateElement();
			}
		}

        InitRole(@Html.GetRole());
	</script>
</head>
@using Nami

@using Nami.Web.Core

@using Nami.Web.LocationResouces
<body class="no-skin">
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KP63NWL"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div id="navbar" class="navbar navbar-default ace-save-state">

		<div class="navbar-container ace-save-state" id="navbar-container">


			<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
				<span class="sr-only">Toggle sidebar</span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>

				<span class="icon-bar"></span>
			</button>

			<div class="navbar-header pull-left">
				<a href="/DashboardArea/Dashboard" class="navbar-brand">
					<img src="~/assets/images/LogoQuocHuy.png" />
					<strong style="">
						M|RENTAL
					</strong>
				</a>
			</div>

			<div class="navbar-buttons navbar-header pull-right" role="navigation">
				@Html.Partial("_TopRightBarPartial")
			</div>
			<div class="runtext-container">
				<div class="text-container" id="boxRunText">

				</div>

			</div>
		</div><!-- /.navbar-container -->
	</div>
	@using Nami.Service.AppUserService.Dto
	@using Microsoft.AspNet.Identity
	@using Nami.Service.Constant

	@{
		var userInfo = SessionManager.GetUserInfo() as UserDto;
		long jsUserId = 0;
		if (userInfo != null)
		{

			jsUserId = userInfo.Id;
		}
	}
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try { ace.settings.loadState('main-container') } catch (e) { }
		</script>

		<div id="sidebar" class="sidebar responsive ace-save-state">
			<script type="text/javascript">
				try { ace.settings.loadState('sidebar') } catch (e) { }
			</script>
			@Html.Partial("_SidebarShortcutsPartial")
			@Html.Partial("_MenuPartial")

		</div>

		<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<div id="KhuVucQuanLy dropdown" style="margin-left:20px;">
						@{
							var listProvie = ViewBag.KhuVucQuanLy as List<string>;
							if (listProvie != null && ViewBag.HasPermission == false)
							{
								if (listProvie.Any())
								{
									if (listProvie.Count() == 1)
									{
										<b>ĐỊA PHƯƠNG CÁ NHÂN QUẢN LÝ: </b>
										<span class="label label-info khuvucspantext">@listProvie.FirstOrDefault()</span>
									}
									else
									{
										<b>ĐỊA PHƯƠNG CÁ NHÂN QUẢN LÝ: </b>
										<ul class="label label-info khuvucspantext dropdown-toggle" data-toggle="dropdown">
											Khu vực
											<span class="caret" style="margin-bottom:5px;"></span>
											<ul class="dropdown-menu area-button">
												@{ foreach (var item in listProvie)
													{
														<li class="label label-info khuvucspantext dropdown-toggle">@item</li>
													}
												}
											</ul>
										</ul>
									}
								}
								else
								{
									<b>ĐỊA PHƯƠNG CÁ NHÂN QUẢN LÝ: </b>
									<span class="label label-warning khuvucspantext">Không quản lý khu vực nào</span>
								}
							}
							if (ViewBag.HasPermission == true)
							{
								<b>ĐỊA PHƯƠNG CÁ NHÂN QUẢN LÝ: </b>
								<span class="label label-success khuvucspantext">Quản lý tất cả khu vực</span>
							}
						}
						@{
							var listProvieDepartment = ViewBag.KhuVucQuanLyDepartment as List<string>;
							if (listProvieDepartment != null && ViewBag.HasPermission == false)
							{
								if (listProvieDepartment.Any())
								{
									if (listProvieDepartment.Count() == 1)
									{
										<b> - ĐỊA PHƯƠNG PHÒNG BAN QUẢN LÝ: </b>
										<span class="label label-info khuvucspantext">@listProvieDepartment.FirstOrDefault()</span>
									}
									else
									{
										<b> - ĐỊA PHƯƠNG PHÒNG BAN QUẢN LÝ: </b>
										<ul class="label label-info khuvucspantext dropdown-toggle" data-toggle="dropdown">
											Khu vực
											<span class="caret" style="margin-bottom:5px;"></span>

											<ul class="dropdown-menu area-button">
												@{ foreach (var item in listProvieDepartment)
													{
														<li class="label label-info khuvucspantext dropdown-toggle">@item</li>
													}
												}
											</ul>
										</ul>
									}
								}
								else
								{
									<b> - ĐỊA PHƯƠNG PHÒNG BAN QUẢN LÝ: </b>
									<span class="label label-warning khuvucspantext">Không quản lý khu vực nào</span>
								}
							}
						}
					</div>
					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="Tìm kiếm ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
						<div id="boxResultContainer">

						</div>
					</div><!-- /.nav-search -->
				</div>

				<div class="page-content">
					@*@Html.Partial("_ConfigThemePartial")*@


					<!-- /.ace-settings-container -->

					<div class="page-header">
						<h1>
							@ViewBag.ModuleName
							<small>
								<i class="ace-icon fa fa-angle-double-right"></i>
								@ViewBag.PageName
							</small>
						</h1>
						<div class="action-right-bar">
							@RenderSection("ActionBarRight", false)
						</div>

					</div><!-- /.page-header -->
					<div>
						@RenderBody()
					</div>
					<div id="MasterModalFixed" class="modal fade">
					</div>
					<div id="MasterModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
					</div>
				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->

		@Html.Partial("_FooterPartial")
		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
			<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div><!-- /.main-container -->
	@*<script src="~/assets/js/jquery-1.11.3.min.js"></script>*@
	<!--[endif]-->

	<script type="text/javascript">
		$("input").prop("autocomplete", "off")
		if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
	</script>
	<script src="/Scripts/jquery.signalR-2.4.1.min.js"></script>
	<!--Reference the autogenerated SignalR hub script. -->
	<script src="/signalr/hubs"></script>
	<script>
        var jsUserId = parseInt(eval(@jsUserId));
        var typeAcc = '@AccountTypeConstant.BussinessUser'
        var endofTextRun = function () {
            alert("end");
            $("#boxRunText").empty();
        }

        $("#nav-search-input").keyup(function () {
            var key = $(this).val();
            AjaxCall("/dashboardArea/dashboard/SearchCommon?key=" + key, 'get', null, function (rs) {
                $("#boxResultContainer").html(rs);
            }, function () {

            })
        });
        $(document).ready(function () {
            setInterval(function () {
                var firstItemNoti = $("#boxRunText .textItem.active").each(function () {
                    $(this).remove();
                });
                showBroadcastNoti();
            }, 10000)
        });
        $(document).ready(function () {
            InitRole(@Html.GetRole());
        });
	</script>
	<script src="~/Scripts/ThongBaoHub.js"></script>
	@RenderSection("scripts", required: false)

	@Html.Partial("_addMenuPartial")
	<script src="~/assets/js/jquery.colorbox.min.js"></script>
</body>
</html>
