﻿<!DOCTYPE html>
<html>
<head>
	<script data-ad-client="ca-pub-1062635048746394" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KP63NWL');</script>
	<!-- End Google Tag Manager -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - M|RENTAL</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/assets/EndUserCss")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/assets/EndUserjs")
	@Scripts.Render("~/bundles/datepicker")
	@Styles.Render("~/Content/datepicker")

</head>
@using Microsoft.AspNet.Identity
@using Nami.Service.AppUserService.Dto
@{ 
    var userInfo = SessionManager.GetUserInfo() as UserDto;
}
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KP63NWL"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header id="header" class="">
		<div class="container">
			<div class="col-sm-9 pdl0 header__logo">
				<a href="/"><img src="~/Content/EndUser/img/LOGO.png" max-width="100%" alt=""></a>
			</div>
			<div class="col-sm-3  pdr0">
				@if (userInfo != null)
				{
					using (Html.BeginForm("LogOff", "Account", FormMethod.Get, new { id = "logoutForm", @class = "navbar-right" }))
					{
						@Html.AntiForgeryToken()

						<ul class="nav navbar-nav navbar-right">
							<li>
								@Html.ActionLink("Xin chào " + userInfo.FullName + "!", "Index", "EndUserInfo", routeValues: null, htmlAttributes: new { title = "Manage" })
							</li>
							<li><a href="javascript:void" onclick="document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
						</ul>
					}

				}
				else
				{
					<div class="register">
						<ul>
							<li><a href="/account/login">Đăng nhập</a></li>
							<li><a href="/Account/RegisterPersonal">Đăng ký</a></li>
						</ul>
					</div>
				}
			</div>

		</div>
	</header><!-- /header -->
	@Html.Partial("_menuEnduserPartial")
	<div class="">
		@RenderBody()

	</div>
	<div class="scroll" onclick="scrolltop()">
		<img src="~/Content/EndUser/img/scrollTop.png" alt="">
	</div>
	<footer>
		<div class="container">
			<h3>Công ty TNHH M|RENTAL</h3>
			<p>Đc: No04_LK100, Khu Cổng Đồng, Phường La Khê, Q.Hà Đông, TP.Hà Nội / Văn phòng đại diện tại TP. HCM: 03446.818.886</p>
			<p>
				<span><a href="telto:03446.818.886"> ĐT: 03446.818.886</a></span>
				<span><a href="telto:03446.818.886"> Fax: 03446.818.886</a></span>
				<span><a href="mailto:minh.nt@mrental.com.vn">Email: minh.nt@mrental.com.vn</a></span>
			</p>
		</div>
	</footer>
	@*@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")*@

	@RenderSection("scripts", required: false)

</body>
</html>
