﻿<!DOCTYPE html>
<html>
<head>
	<script data-ad-client="ca-pub-1062635048746394" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Google Tag Manager -->
	<script>
	(function (w, d, s, l, i) {
		w[l] = w[l] || []; w[l].push({
			'gtm.start':
				new Date().getTime(), event: 'gtm.js'
		}); var f = d.getElementsByTagName(s)[0],
			j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
				'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KP63NWL');</script>
	<!-- End Google Tag Manager -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - M|RENTAL</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/assets/EndUserCss")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/assets/EndUserjs")
	@Scripts.Render("~/bundles/datepicker")
	@Styles.Render("~/Content/datepicker")
	<link href="~/Content/EndUser/css/styleHome.css" rel="stylesheet" />
	<link href="~/Scripts/slick-1.8.1/slick/slick.css" rel="stylesheet" />
	<link href="~/Scripts/slick-1.8.1/slick/slick-theme.css" rel="stylesheet" />
	<script src="~/Scripts/slick-1.8.1/slick/slick.min.js"></script>

	<script src="~/Scripts/easyNotify.js"></script>
	<link href="~/Content/lobibox/css/lobibox.css" rel="stylesheet" />
	<link href="~/Content/EndUser/css/introjs.min.css" rel="stylesheet" />

	<script src="~/Content/EndUser/js/intro.js"></script>
	<script src="~/Content/lobibox/js/Lobibox.js"></script>
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
	<link href="~/assets/css/colorbox.min.css" rel="stylesheet" />
	<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
	<script src="~/assets/js/jquery.colorbox.min.js"></script>
	<script type="text/javascript">
		if (document.location.hostname === 'usablica.github.io') {
			window.location = 'http://introjs.com' + (window.location.search || '');
		}

		var autostartMatch = window.location.search.match(/(?:\?|\&)autostart=([^\&]*)(?:\&|$)/);
		if (autostartMatch && autostartMatch[1]) {
			jQuery(function () {
				introJs().start();
			})
		}
	</script>
	@RenderSection("HeadIncludes", required: false)
</head>
@using Nami.Service.AppUserService.Dto
@using Microsoft.AspNet.Identity
@using Nami.Service.Constant

@{
	var userInfo = SessionManager.GetUserInfo() as UserDto;
	long jsUserId = 0;
	if (userInfo != null)
	{

		jsUserId = userInfo.Id;
	}
}
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KP63NWL"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	@*<header id="header" class="">
			<div class="container">
				<div class="col-sm-8 pdl0 header__logo">
					<a href="/">
						<div style="display: inline-block;float: left; padding: 4px;">
							<img src="~/Content/EndUser/img/quochuy-md.png" height="85px" style="" alt="">
						</div>
						<div class="header__logo-text" style="height: 90px;  display: inline-block; float: left;margin-left: 10px;">
							<h1 style=" font-size: 3.5em;line-height:0.6; padding: 0; color:#4dafff">M|RENTAL</h1>
							<h4 style="line-height: 0.7em; color: #053359">HỆ THỐNG QUẢN LÝ PHÒNG TRỌ CHO THUÊ</h4>
						</div>
					</a>
				</div>
				<div class="col-sm-4  pdr0">
					@if (userInfo != null)
					{
						using (Html.BeginForm("LogOff", "Home", FormMethod.Get, new { id = "logoutForm", @class = "navbar-right" }))
						{
							@Html.AntiForgeryToken()

							<ul class="nav navbar-nav navbar-right rightTopmenu " style="width: 330px;padding-top: 25px;">
								<li id="NotiArea" class="purple dropdown-modal">
									@{Html.RenderAction("ShowNotification", "EndUserNotification");}
								</li>
								<li>
									@Html.ActionLink("Xin chào " + userInfo.FullName + "!", "Index", "EndUserInfo", routeValues: null, htmlAttributes: new { title = "Manage" })
								</li>
								<li class="logoutButton"><a href="javascript:void" onclick="document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
							</ul>
						}

					}
					else
					{
						<div class="register">
							<ul>
								<li><a href="/account/login">Đăng nhập</a></li>
								<li><a href="/Account/RegisterPersonal">Đăng ký</a></li>
							</ul>
						</div>
					}
				</div>

			</div>
		</header><!-- /header -->
		@Html.Partial("_menuEnduserPartial")*@

	<header id="header-edit" class="" style="padding: 0px 50px 0px 50px;">
		<div class="header-left-edit">
			<div class="tbl-header-left">
				<div class=" header-left-ava ">
					<img src="~/Content/EndUser/img/quochuy-md.png" />
				</div>
				<div class="header-left-gov">
					<a href="/EndUserInfo">M|RENTAL</a>
				</div>
			</div>


		</div>
		<div class="header-right-edit">
			<div class="header-right-box">
				<div class="header-right-box-left">
					<div>
						<p>
							@string.Format("Ngày {0} tháng {1} năm {2}", DateTime.Now.Day, DateTime.Now.Month, DateTime.Now.Year)
						</p>
					</div>
					<div class="menu-edit-dropdown dropdown">

						<a aria-haspopup="true" data-toggle="dropdown" class="nav-link" aria-expanded="false">
							<i class="fa fa-cog icon-cog" aria-hidden="true"></i>
							Menu
							<i class="fa fa-angle-down ml-2 opacity-5 icon-angle"></i>
						</a>
						<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-rounded dropdown-menu-lg rm-pointers dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
							<div class="dropdown-menu-header">
								<ul>
									<li><a href="/">Trang Chủ</a></li>
									<li><a href="/">Tìm kiếm</a></li>
									<li><a href="/">Trợ giúp</a></li>
									@*<li><a href="/Gioi-Thieu" title="Giới thiệu">Giới thiệu</a></li>
										<li class="dropdown-submenu">
											<a class="test" tabindex="-1" href="#">
												Tin tức - Sự kiện
												<i class="fa fa-angle-down ml-2 opacity-5 icon-angle"></i>
											</a>
											<ul class="dropdown-menu">
												<li>
													<a href="/Tin-Tuc/tin-tuc">Tin tức</a>
												</li>
												<li>
													<a href="/Tin-Tuc/hoi-dap">Hỏi đáp</a>
												</li>

											</ul>
										</li>
										<li>
											<a href="/Van-Ban-Phap-Luat" title="Văn bản pháp luật">Văn bản pháp luật</a>
										</li>
										<li>

											<a href="/Bieu-Mau" title="Biểu mẫu">Biểu mẫu</a>

										</li>
										<li>

											<a href="/Huong-Dan" title="Hướng dẫn">Hướng dẫn</a>

										</li>*@

								</ul>
							</div>

						</div>

					</div>



				</div>
				<div class="header-right-box-right">
					<div class="menu-edit-dropdown cac-thong-bao dropdown">
						@{Html.RenderAction("shownotification", "endusernotification");}
					</div>
					<div class="menu-edit-dropdown box-info-user dropdown">

						<a aria-haspopup="true" data-toggle="dropdown" class="nav-link info-user-box" aria-expanded="false">
							<div class=" box-ava-user" width="42px;">

								<img src="/@userInfo.Avatar" onerror="this.src = '/assets/images/avatars/userNew.png'" />
							</div>
							<div class="name-user">
								@userInfo.UserName

								@*@if (userInfo.TypeOrganization == OrganizationTypeConstant.Company)
									{
										<p>Thương nhân</p>
									}
									else if (userInfo.TypeOrganization == OrganizationTypeConstant.Personal)
									{
										<p>Cá nhân</p>
									}
									else
									{
										<p>Tổ chức</p>
									}*@

								<p>Khách hàng</p>


							</div>
							<div class="fa-user-down">
								<i class="fa fa-angle-down" aria-hidden="true"></i>
							</div>
						</a>
						<div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu-rounded dropdown-menu-lg rm-pointers dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
							<div class="dropdown-menu-header box-ava-user-header">

								<div class="box-ava-user-top">
									<div class="ava-user">

										<img src="/@userInfo.Avatar" onerror="this.src='/assets/images/avatars/userNew.png'">
									</div>
									<div class="info-user">
										<p>
											Xin chào @userInfo.UserName !
										</p>

									</div>
								</div>
								<div class="box-user-bot">
									<ul>
										<li>
											<a href="/EndUserInfo/Account">
												<i class="ace-icon fa fa-user" aria-hidden="true"></i>
												<p>Chỉnh sửa thông tin tài khoản</p>
											</a>
										</li>
										<li>
											<a href="/Manage/EndUserChangePassword">
												<i class=" ace-icon fa fa-lock" aria-hidden="true"></i>
												<p>Đổi mật khẩu</p>
											</a>
										</li>
										<li>
											<a href="/Account/LogOff">
												<i class="fa fa-power-off"></i>
												<p>Đăng xuất</p>
											</a>
										</li>

									</ul>
								</div>


							</div>

						</div>

					</div>


				</div>
			</div>
		</div>
	</header>
	<div id="maincontent">
		<div class="container">
			<div class="col-sm-2 menu-profile pd0">
				@{ Html.RenderAction("EndUserMenuLeft", "EndUserInfo");}
			</div>
			<div class="col-xs-10 col-sm-10 no-float end-user-content PageContent pd0">
				<div class="PageHeader">
					<div class="PageTitle">@ViewBag.PageHeader</div>
					@if (ViewBag.HelpButton == true)
					{
						<button type="button" class="btn btn-primary button-help">Chỉ dẫn</button>
					}
					<div class="boxAction">
						@RenderSection("ActionTopRight", required: false)
					</div>
				</div>
				<div class="PageBody">
					@RenderBody()
				</div>

			</div>
		</div>
	</div>
	<div class="scroll" onclick="scrolltop()">
		<img src="~/Content/EndUser/img/back-to-top.png" width="50px" alt="">
	</div>
	<footer style="margin-top: 50px;">
		<div class="container">
			<div class="col-sm-8">
				<h4 style="color: #ecf0f1 !important;font-family: Tahoma;">Công ty TNHH M|RENTAL</h4>
				<p>
					<span style="color: white !important;font-family: Tahoma;">Đc: No04_LK100, Khu Cổng Đồng, Phường La Khê, Q.Hà Đông, TP.Hà Nội</span>
					<span style="color: white !important;font-family: Tahoma;">Văn phòng đại diện tại TP. HCM: 03446.818.886</span>
					<span><a href="telto:03446.818.886" style="color: white !important;font-family: Tahoma;"> ĐT: 03446.818.886</a></span>
					<span><a href="telto:03446.818.886" style="color: white !important;font-family: Tahoma;"> Fax: 03446.818.886</a></span>
					<span><a href="mailto:minh.nt@mrental.com.vn" style="color: white !important;font-family: Tahoma;">Email: minh.nt@mrental.com.vn</a></span>
				</p>
				<p class="infoTextRightReserved">
					<span style="color: white !important;font-family: Tahoma;"><img src="/Content/EndUser/img/quochuy-md-white.png" height="30px" style="" alt=""> <i class="fa fa-copyright" style="color: white !important;"></i> 2019 M|RENTAL,Inc. All rights reserved.</span>
				</p>
			</div>
			<div class="col-sm-4">
				<span style="display: grid;"><a href="//www.dmca.com/Protection/Status.aspx?ID=dc61e273-c748-465f-9682-adbfcd1b0ef9" title="DMCA.com Protection Status" class="dmca-badge"><img src="https://images.dmca.com/Badges/dmca_protected_sml_120k.png?ID=dc61e273-c748-465f-9682-adbfcd1b0ef9" alt="DMCA.com Protection Status" /></a><a href="http://mrental.info/" title="onlineGov" class="dmca-badge"><img src="http://www.online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" alt="onlineGov" style="height: 50px;" /></a></span>
				<span style="color: white !important;font-family: Tahoma;">
					Tải ứng dụng M|Rental ngay thôi
				</span>
				<span style="display: flex;">
					<div class="sol-sm-6"><img src="/Content/EndUser/img/qrcode.png" style="height: 55px;" /></div>
					<div class="sol-sm-6" style="display:grid;margin-left: 20px;">
						<img src="/Content/EndUser/img/appstoreImg.png" style="height: 25px;" />
						<img src="/Content/EndUser/img/googleplayImg.png" style="height: 25px;" />
					</div>
				</span>
			</div>
		</div>
	</footer>
	@*@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")*@
	<script src="/Scripts/jquery.signalR-2.4.1.min.js"></script>
	<!--Reference the autogenerated SignalR hub script. -->
	<script src="/signalr/hubs"></script>
	<script>
        var jsUserId = parseInt(eval(@jsUserId));
         var typeAcc = '@AccountTypeConstant.EndUser'

	</script>
	<script src="~/Scripts/ThongBaoHub.js"></script>
	@RenderSection("scripts", required: false)
	<script>
		$(".mouse-no-drop").on('click', function () {
			$.alert({
				animationSpeed: 150,
				theme: 'my-theme-danger',
				icon: 'glyphicon glyphicon-alert',
				buttons: {
					close: {
						text: 'Đóng'
					},
				},
				title: false,
				content: 'Quý vị vui lòng chờ hồ sơ phê duyệt để sử dụng chức năng này!',
			});
		});

		$().ready(function () {
			$(".dropdown-toggle").mouseenter(function () {
				$(this).find(".dropdown-menu").css("display", "block");
			});
			$(".dropdown-toggle").mouseleave(function () {
				$(this).find(".dropdown-menu").css("display", "none");
			});
		});
	</script>
	<script>
		$().ready(function () {
			var controller_name = $("#controller-name").val();
			if (window.controller_name) {
				$(".Index").addClass('active');
			} else {
				$("#" + controller_name).addClass('active');
				$("#" + controller_name).parent().parent().attr("class", "end-user-nav-li li-parrent block");
			}

			$('.li-parrent').on('click', function () {
				var class_name = $(this).attr("class");
				if (class_name == "end-user-nav-li li-parrent") {
					$(this).attr("class", "end-user-nav-li li-parrent block");
				} else {
					$(this).attr("class", "end-user-nav-li li-parrent");
				}
			});
		});
	</script>
</body>
</html>
