﻿<!DOCTYPE html>
<html>
<head>
	<script data-ad-client="ca-pub-1062635048746394" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KP63NWL');</script>
	<!-- End Google Tag Manager -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - M|RENTAL</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/assets/EndUserCss")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/assets/EndUserjs")
	@Scripts.Render("~/bundles/datepicker")
	@Styles.Render("~/Content/datepicker")
	<link href="~/Scripts/slick-1.8.1/slick/slick.css" rel="stylesheet" />
	<link href="~/Scripts/slick-1.8.1/slick/slick-theme.css" rel="stylesheet" />
	<script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
	<script src="~/Scripts/slick-1.8.1/slick/slick.min.js"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0"></script>
	@RenderSection("HeadIncludes", required: false)
</head>
@using Nami.Service.AppUserService.Dto
@using Microsoft.AspNet.Identity
@using Nami.Service.BannerQuangCaoService.Dto;
@using Nami.Service.Constant
@{
	var userInfo = SessionManager.GetUserInfo() as UserDto;
	var listBanner = ViewBag.listBanner as List<BannerQuangCaoDto>;
}
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KP63NWL"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<div id="registerArea"></div>
	@*<div id="MasterModal" class="modal fade" role="dialog">
		</div>*@
	<header id="header" class="">
		@*<img class="_9ofhsl" style="object-fit:cover;vertical-align:bottom;height: 100% !important;width: 100% !important;position: absolute;min-width: 100%;min-height: 100%;left: 0;top: 0;pointer-events: none;" aria-hidden="true" alt="" decoding="auto" sizes="100vw" src="~/assets/images/backgroundImage/imageBackGround.jpg">*@
		<div class="container" style="width: 100%;padding-left: 50px;padding-right: 50px;">
			<div class="col-sm-3 pdl0 header__logo">
				<a href="/">
					<div style="display: inline-block;float: left; padding: 4px;">
						<img src="~/assets/images/LogoQuocHuy.png" height="60px" style="" alt="">
						@*<img src="~/Content/EndUser/img/quochuy-md-white.png" height="60px" style="" alt="">*@
					</div>
					@*<div class="header__logo-text" style="height: 90px;  display: inline-block; float: left;margin-left: 10px;">
							<h1 style=" font-size: 4.5em;line-height:0.6; padding: 0; color:#4dafff">M|RENTAL</h1>
							<h4 style="line-height: 1.8em; color: #053359">HỆ THỐNG QUẢN LÝ PHÒNG TRỌ CHO THUÊ</h4>
						</div>*@
				</a>
			</div>
			<div class="col-sm-9 login_resg pdr0 register">
				@if (userInfo != null)
				{
					using (Html.BeginForm("LogOff", "Home", FormMethod.Get, new { id = "logoutForm", @class = "navbar-right" }))
					{
						@Html.AntiForgeryToken()

						<ul class="nav navbar-nav navbar-right">
							<li>
								@Html.ActionLink("Xin chào " + userInfo.FullName + "!", "Index", "EndUserInfo", routeValues: null, htmlAttributes: new { title = "Manage" })
							</li>
							<li><a href="javascript:void" onclick="document.getElementById('logoutForm').submit()">Đăng xuất</a></li>
						</ul>
					}

				}
				else
				{
					<div class="register">
						<div style="color: #34495e;" class="dropdownBar" onclick="OpenDropdownMenu()"><i class="fa fa-bars"></i></div>
						<ul class="dropdownItem">
							<li><a onclick="RegisterAccount()" style="cursor: pointer;">Đăng ký</a></li>
							<li><a onclick="RegisterAccount()" style="cursor: pointer;">Đăng nhập</a></li>
							@*<li><a href="javascript:void(0)" onclick="CreateAction('/Account/RegisterAccount')" style="cursor: pointer;">Đăng ký</a></li>*@
							<li><a onclick="help()" style="cursor: pointer;">Trợ giúp</a></li>
							@*<li><a onclick="SearchGuest()" style="cursor: pointer;">Tìm kiếm</a></li>*@
							@*<li><a href="/account/login">Trở thành người cho thuê</a></li>*@
						</ul>
					</div>
				}
			</div>
		</div>
	</header><!-- /header -->
	@*@Html.Partial("_menuEnduserPartial")*@
	<div class="col-sm-12 menuBarHome" style="padding:0px;border-bottom: 1px solid #bdc3c7;border-top: 1px solid #bdc3c7;margin-bottom: 30px;box-shadow: 0 4px 4px 0 rgba(0,0,0,.25);">
		<ul class="nav navbar-nav">
			<li><a href="/Tin-Tuc-Noi-Bat-DS" style="cursor: pointer;color: #34495e;padding-left: 20px;">Tin tức</a></li>
			<li><a href="/Tu-Van-DS" style="cursor: pointer;color: #34495e;padding-left: 20px;">Tư vấn</a></li>
			<li><a onclick="RegisterAccount()" style="cursor: pointer;color: #34495e;padding-left: 20px;">Hỏi đáp</a></li>
		</ul>
	</div>
	<div class="row" style="margin: 0px;padding: 0px 150px;">

		@*<div class="col-sm-9">*@
		@RenderBody()
		@*</div>
			<div class="col-sm-3">
				@if (listBanner != null && listBanner.Any(x => x.ViTriHienThi == ViTriHienThiQuangCaoConstant.BenPhai))
				{
					foreach (var item in listBanner)
					{
						if (item.ViTriHienThi == ViTriHienThiQuangCaoConstant.BenPhai)
						{
							<div style="width: 100%; margin-bottom: 12px;">
								<a href="@item.LinkUrl"><img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'"></a>
							</div>
						}
					}
				}
				<div id="fb-root"></div>
				<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
			</div>*@
	</div>
	<div id="infoText"></div>
	<div id="helpText"></div>
	<div class="scroll" onclick="scrolltop()">
		<img src="~/Content/EndUser/img/back-to-top.png" width="40px" alt="">
	</div>
	@*<div class="termscroll" onclick="info()">
			<a class="btn btn-default btn-sm"><i class="fa fa-globe"></i> Thông tin liên hệ</a>
		</div>*@

	<footer style="margin-top: 50px;">
		<div class="container">
			<div class="col-sm-8">
				<h4 style="color: #ecf0f1 !important;font-family: Tahoma;">Công ty TNHH M|RENTAL</h4>
				<p>
					<span style="color: white !important;font-family: Tahoma;">Đc: No04_LK100, Khu Cổng Đồng, Phường La Khê, Q.Hà Đông, TP.Hà Nội</span>
					<span style="color: white !important;font-family: Tahoma;">Văn phòng đại diện tại TP. HCM: 03446.818.886</span>
					<span><a href="telto:03446.818.886" style="color: white !important;font-family: Tahoma;"> ĐT: 03446.818.886</a></span>
					<span><a href="telto:03446.818.886" style="color: white !important;font-family: Tahoma;"> Fax: 03446.818.886</a></span>
					<span><a href="mailto:minh.nt@mrental.com.vn" style="color: white !important;font-family: Tahoma;">Email: minh.nt@mrental.com.vn</a></span>
				</p>
				<p class="infoTextRightReserved">
					<span style="color: white !important;font-family: Tahoma;"><img src="/Content/EndUser/img/quochuy-md-white.png" height="30px" style="" alt=""> <i class="fa fa-copyright" style="color: white !important;"></i> 2019 M|RENTAL,Inc. All rights reserved.</span>
				</p>
			</div>
			<div class="col-sm-4">
				<span style="display: grid;"><a href="//www.dmca.com/Protection/Status.aspx?ID=dc61e273-c748-465f-9682-adbfcd1b0ef9" title="DMCA.com Protection Status" class="dmca-badge"><img src="https://images.dmca.com/Badges/dmca_protected_sml_120k.png?ID=dc61e273-c748-465f-9682-adbfcd1b0ef9" alt="DMCA.com Protection Status" /></a><a href="http://mrental.info/" title="onlineGov" class="dmca-badge"><img src="http://www.online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" alt="onlineGov" style="height: 50px;" /></a></span>
				<span style="color: white !important;font-family: Tahoma;">
					Tải ứng dụng M|Rental ngay thôi
				</span>
				<span style="display: flex;">
					<div class="sol-sm-6"><img src="/Content/EndUser/img/qrcode.png" style="height: 55px;" /></div>
					<div class="sol-sm-6" style="display:grid;margin-left: 20px;">
						<img src="/Content/EndUser/img/appstoreImg.png" style="height: 25px;" />
						<img src="/Content/EndUser/img/googleplayImg.png" style="height: 25px;" />
					</div>
				</span>
			</div>
		</div>
	</footer>
	@RenderSection("scripts", required: false)
	<script>
		function SearchGuest() {
			$('#submit').click()
		}
		$().ready(function () {
			$(".dropdown-toggle").mouseenter(function () {
				$(this).find(".dropdown-menu").css("display", "block");
			});
			$(".dropdown-toggle").mouseleave(function () {
				$(this).find(".dropdown-menu").css("display", "none");
			});
			$('#infoText').css("z-index", -1);
		});
		$(window).scroll(function () {
			if ($('#infoText').text() != "") {
				$('.termscroll').hide();
				$('.scroll').hide();
			} else if ($(window).scrollTop() >= 20) {
				$('.termscroll').show();
				$('.scroll').show();
			}
		});
		function info() {
			$('.termscroll').hide();
			$('.scroll').hide();
			$('#infoText').css("z-index", 10);

			document.getElementById("infoText").innerHTML = `
				<footer>
					<div class="container">
						<div class="col-sm-8">
							<h4>Công ty TNHH M|RENTAL</h4>
							<p>
								<span>Đc: No04_LK100, Khu Cổng Đồng, Phường La Khê, Q.Hà Đông, TP.Hà Nội</span>
								<span>Văn phòng đại diện tại TP. HCM: 03446.818.886</span>
								<span><a href="telto:03446.818.886"> ĐT: 03446.818.886</a></span>
								<span><a href="telto:03446.818.886"> Fax: 03446.818.886</a></span>
								<span><a href="mailto:minh.nt@mrental.com.vn">Email: minh.nt@mrental.com.vn</a></span>
								</p>
							<p class="infoTextRightReserved">
								<span><img src="/Content/EndUser/img/quochuy-md-white.png" height="30px" style="" alt=""> <i class="fa fa-copyright"></i> 2019 M|RENTAL,Inc. All rights reserved.</span>
							</p>
						</div>
						<div class="col-sm-4">
							<span style="display: grid;"><a href="//www.dmca.com/Protection/Status.aspx?ID=dc61e273-c748-465f-9682-adbfcd1b0ef9" title="DMCA.com Protection Status" class="dmca-badge"><img src ="https://images.dmca.com/Badges/dmca_protected_sml_120k.png?ID=dc61e273-c748-465f-9682-adbfcd1b0ef9" alt="DMCA.com Protection Status"/></a><a href="http://mrental.info/" title="onlineGov" class="dmca-badge"><img src ="http://www.online.gov.vn/Content/EndUser/LogoCCDVSaleNoti/logoSaleNoti.png" alt="onlineGov" style="height: 50px;"/></a></span>
							<span>
								Tải ứng dụng M|Rental ngay thôi
							</span>
							<span style="display: flex;">
								<div class="sol-sm-6"><img src="/Content/EndUser/img/qrcode.png" style="height: 55px;"/></div>
								<div class="sol-sm-6" style="display:grid;">
									<img src="/Content/EndUser/img/appstoreImg.png" style="height: 25px;"/>
									<img src="/Content/EndUser/img/googleplayImg.png" style="height: 25px;"/>
								</div>
							</span>
						</div>
					</div>
				<div onclick="closeInfoText()" class="closeButtonTextInfo">
					<a class="btn btn-default btn-sm"><i class="fa fa-close"></i> Đóng</a>
				</div>
			</footer>`;
		}
		function help() {
			document.getElementById("helpText").innerHTML = `
				<div class="container">
					<div>
						<div class="helpTextHeader">
							<div class="helpTextSearch1">
								<div class="helpTextSearch1_1">Trợ giúp</div>
							</div>
							<div class="helpTextSearch2">
								<a onclick="closeHelp()"><i class="fa fa-close"></i></a>
							</div>
						</div>
						<div class="helpTextSearch">
							<div class="helpTextSearch1">
								<div class="helpTextSearch1_1">
										<div class="helpTextSearch1_2">
											<div class="helpTextSearch1_3">Tìm kiếm với từ khóa</div>
										</div>
								</div>
							</div>
							<div class="helpTextSearch2">
								<div class="helpTextSearch2_1">
										<div class="helpTextSearch2_2">
											<div class="helpTextSearch2_3">
											<input type="text" name="search" placeholder="Ex:reservation status">
											</div>
										</div>
								</div>
							</div>
						</div>
						<div class="helpTextButtonInfo"></div>
					</div>
				</div>`;
			$('.helpTextSearch1_1').click(function () {
				$('.helpTextSearch2 input').focus();
			});
		}
		function closeHelp() {
			document.getElementById("helpText").innerHTML = ``;
		}
		function closeInfoText() {
			$('#infoText').css("z-index", -1);
			document.getElementById("infoText").innerHTML = ``;
			$('.termscroll').show();
			$('.scroll').show();
		}
		@*function RegisterAccount() {
			var registerString = `@Html.Partial("~/Views/Account/_RegisterAccountPartial.cshtml")`;
			document.getElementById("registerArea").innerHTML = registerString;
			$(document).ready(function () {
				var panelOne = $('.form-panel.two').height()+60,
					panelTwo = $('.form-panel.two')[0].scrollHeight;

				$('.form-toggle2').addClass('visible');

				$('.form-panel.two').not('.form-panel.two.active').on('click', function (e) {
					e.preventDefault();
					$('.form-toggle2').addClass('hidden');
					$('.form-toggle').addClass('visible');
					$('.form-panel.one').addClass('hidden');
					$('.form-panel.two').addClass('active');
					$('.form3').animate({
						'height': panelTwo
					}, 200);
				});

				$('.form-toggle').on('click', function (e) {
					e.preventDefault();
					$(this).removeClass('visible');
					$('.form-toggle2').removeClass('hidden');
					$('.form-panel.one').removeClass('hidden');
					$('.form-panel.two').removeClass('active');
					$('.form3').animate({
						'height': panelOne
					}, 200);
				});
			});
		}*@
		function CloseRegisterAccount() {
			document.getElementById("registerArea").innerHTML = '';
		}
	$(document).ready(function () {
		setTimeout(function () {
			$('.modal-dialog').fadeIn(200);
		}, 30000); // milliseconds
		});
		//$(document).ready(function () {
		//	var panelOne = $('.form-panel.two').height(),
		//		panelTwo = $('.form-panel.two')[0].scrollHeight;

		//	$('.form-panel.two').not('.form-panel.two.active').on('click', function (e) {
		//		e.preventDefault();
		//		console.log(1);
		//		$('.form-toggle').addClass('visible');
		//		$('.form-panel.one').addClass('hidden');
		//		$('.form-panel.two').addClass('active');
		//		$('.form').animate({
		//			'height': panelTwo
		//		}, 200);
		//	});

		//	$('.form-toggle').on('click', function (e) {
		//		e.preventDefault();
		//		console.log(1);
		//		$(this).removeClass('visible');
		//		$('.form-panel.one').removeClass('hidden');
		//		$('.form-panel.two').removeClass('active');
		//		$('.form').animate({
		//			'height': panelOne
		//		}, 200);
		//	});
		//});
	</script>
</body>
</html>
