﻿<!DOCTYPE html>
<html lang="en">
<head>
	<script data-ad-client="ca-pub-1062635048746394" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-KP63NWL');</script>
	<!-- End Google Tag Manager -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>@ViewBag.Title</title>

	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />


	<!-- ace styles -->
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="~/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
	<![endif]-->
	@Styles.Render("~/assets/appcss")
	<link rel="stylesheet" href="~/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

	@RenderSection("css", required: false)

	<script src="~/assets/js/ace-extra.min.js"></script>
	<link href="~/Content/BlankLayoutCss.css?ver=0.1" rel="stylesheet" />

</head>
@using Nami
@using Nami.Web.LocationResouces
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KP63NWL"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header>
		<div class="container" style="text-align: center;">
			<div>
				<h1 class="sitename">
					M|RENTAL
				</h1>
				<h2 class="sitesoft namesoft">
					HỆ THỐNG QUẢN LÝ PHÒNG TRỌ CHO THUÊ
				</h2>
			</div>
		</div>
	</header>
	<style>
		.navbar .navbar-nav > li {
			border: none;
		}
	</style>
	<div class="main-container ace-save-state" id="main-container">
		<script type="text/javascript">
			try { ace.settings.loadState('main-container') } catch (e) { }
		</script>

		@*<div id="sidebar" class="sidebar responsive ace-save-state">
				<script type="text/javascript">
					try { ace.settings.loadState('sidebar') } catch (e) { }
				</script>
				@Html.Partial("_SidebarShortcutsPartial")
				@Html.Partial("_MenuPartial")

			</div>*@

		<div class="main-content">
			<div class="main-content-inner">

				<div class="page-content">

					@RenderBody()

				</div><!-- /.page-content -->
			</div>
		</div><!-- /.main-content -->
		@*<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>*@
	</div><!-- /.main-container -->
	@Scripts.Render("~/assets/appjs")
	@*<script src="~/assets/js/jquery-1.11.3.min.js"></script>*@
	<![endif]-->
	<script type="text/javascript">
		if ('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
	</script>
	@RenderSection("scripts", required: false)
</body>
</html>
