﻿@using Nami.Web.Core
@using Nami.Service.ModuleService.DTO
@{
	var listMenu = SessionManager.GetListPermistion() as List<ModuleMenuDTO>;

}
<ul class="nav nav-list">
	<li class="@(ViewBag.ModuleCode==null?"active":"")">
		<a href="/DashboardArea/Dashboard">
			@*<i class="menu-icon fa fa-tachometer"></i>*@
			<img style="width:25px;margin-right:5px;" src="~/Uploads/CommonIcons/homepage.png" />
			<span class="menu-text"> Dashboard </span>
		</a>

		<b class="arrow"></b>
	</li>
	@if (listMenu != null && listMenu.Any())
	{
		foreach (var module in listMenu)
		{
			var isactive = module.ListOperation != null && module.ListOperation.Any(x => x.Code == ViewBag.ModuleCode) ? "active" : "";
			var isOpen = isactive == "active" ? "open" : "";
			if (module.IsShow)
			{
				if (module.ListOperation != null && module.ListOperation.Any(x => x.IsShow))
				{
					<li class="@isactive @isOpen">
						<a href="#" class="dropdown-toggle" style="">
							<div class="icon_div">
								@if (module.Icon != null)
								{
									<img class="menu-icon" src="/@module.Icon" onerror="this.src = '/Uploads/CommonIcons/function-icon-default.jpg'" />
								}
								else
								{
									<span><i class="menu-icon @(string.IsNullOrEmpty(module.ClassCss)?"fa fa-asterisk":module.ClassCss)"></i></span>
								}
							</div>
							<div class="text_div">
								<span class="menu-text">
									@module.Name
								</span>
							</div>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							@foreach (var operation in module.ListOperation.Where(x => x.IsShow).ToList())
							{
								<li class="@(operation.Code==ViewBag.ModuleCode?"active":"")">
									<a href="@operation.URL">
										<i class="menu-icon @operation.Css"></i>
										@operation.Name
									</a>
									<b class="arrow"></b>
								</li>
							}

						</ul>
					</li>
				}
			}
		}

	}


</ul><!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>
