﻿
<div id="menu">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button type="button" class="navbar-toggle" id="iconmenu" data-toggle="collapse" data-target="#button-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="col-sm-9 pd0 content-menu">
            <nav class="navbar navbar-default pd0 content-menu__navbar" role="navigation" style="z-index:10">

                <div class="collapse navbar-collapse pd0 wow fadeInUp content-menu-MenuMain " id="button-menu">
                    <ul class="nav navbar-nav content-menu-MenuMain__ul">
                        <li class="content-menu-MenuMain__item"><a href="/" title="Trang chủ" style="padding-left: 15px">Trang chủ</a></li>
                        <li class="content-menu-MenuMain__item">
                            <a href="/HouseForRent" title="Nhà cho thuê">Nhà cho thuê</a>
                        </li>
                        <li class="content-menu-MenuMain__item dropdown-toggle">
							<a title="Các dịch vụ khác">Các dịch vụ khác &nbsp;<i class="glyphicon glyphicon-triangle-bottom" style="font-size:0.6em"></i></a>
                            <ul class="dropdown-menu" style="background-color:#0072ce; width: 180px">
                                <li><a href="/RentService/Room" title="Cho thuê phòng trọ">Cho thuê phòng trọ</a></li>
                                <li><a href="/RentService/Apartment" title="Cho thuê căn hộ">Cho thuê căn hộ</a></li>
                                <li><a href="/RentService/Ground" title="Cho thuê mặt bằng">Cho thuê mặt bằng</a></li>
                                <li><a href="/RentService/Pairing" title="Tìm ngưởi ở ghép">Tìm ngưởi ở ghép</a></li>
                            </ul>
                        </li>	
                        <li class="content-menu-MenuMain__item">
                            <a href="/PostArticle" title="Đăng tin">Đăng tin</a>
                        </li>
                        <li class="content-menu-MenuMain__item">
                            <a href="/NapTien" title="Nạp tiền">Nạp tiền</a>
                        </li>
                        <li class="content-menu-MenuMain__item">
                            <a href="/Guide" title="Hướng dẫn">Hướng dẫn</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-sm-3 Seacrh">
            <form class="navbar-form navbar-left Seacrh__form" role="search">
                <input type="text" placeholder="Tìm kiếm từ khóa ..." class='Seacrh__input' id="nav-search-input">
                <button type="button" class="btn btn-default Seacrh__Button">
                    <img src="~/Content/EndUser/img/search.png" alt="">
                </button>
            </form>
            <div id="boxResultContainer">

            </div>
        </div>
    </div><!-- /.navbar-collapse -->
</div>
<script>
    $(document).ready(function () {
        $("#nav-search-input").keyup(function () {
            var key = $(this).val();
            AjaxCall("/Home/SearchCommon?key=" + key, 'get', null, function (rs) {
                $("#boxResultContainer").html(rs);
            }, function () {

            })
        })
    })
        
</script>