﻿@using Nami.Service.Constant
@using Nami.Service.Common

<ul class="nav ace-nav">
    <li id="NotiArea" class="purple dropdown-modal">
        @{Html.RenderAction("ShowNotification", "Notification", new { @area = "NotificationArea" });}
    </li>
    @*<li class="purple dropdown-modal">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
            <span class="badge badge-important">8</span>
        </a>

        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
                <i class="ace-icon fa fa-exclamation-triangle"></i>
                8 Notifications
            </li>

            <li class="dropdown-content">
                <ul class="dropdown-menu dropdown-navbar navbar-pink">
                    <li id="NotiArea" class="purple dropdown-modal">
                        @{Html.RenderAction("ShowNotification", "Dashboard", new { @area = "" });}
                    </li>
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">
                                    <i class="btn btn-xs no-hover btn-pink fa fa-comment"></i>
                                    New Comments
                                </span>
                                <span class="pull-right badge badge-info">+12</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="btn btn-xs btn-primary fa fa-user"></i>
                            Bob just signed up as an editor ...
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">
                                    <i class="btn btn-xs no-hover btn-success fa fa-shopping-cart"></i>
                                    New Orders
                                </span>
                                <span class="pull-right badge badge-success">+8</span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="pull-left">
                                    <i class="btn btn-xs no-hover btn-info fa fa-twitter"></i>
                                    Followers
                                </span>
                                <span class="pull-right badge badge-info">+11</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="dropdown-footer">
                <a href="#">
                    Xem tất cả thông báo
                    <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </li>
        </ul>
    </li>*@

    @*<li class="green dropdown-modal">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                <span class="badge badge-success">5</span>
            </a>

            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="ace-icon fa fa-envelope-o"></i>
                    5 Messages
                </li>

                <li class="dropdown-content">
                    <ul class="dropdown-menu dropdown-navbar">
                        <li>
                            <a href="#" class="clearfix">
                                <img src="~/assets/images/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                <span class="msg-body">
                                    <span class="msg-title">
                                        <span class="blue">Alex:</span>
                                        Ciao sociis natoque penatibus et auctor ...
                                    </span>

                                    <span class="msg-time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span>a moment ago</span>
                                    </span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="clearfix">
                                <img src="~/assets/images/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                <span class="msg-body">
                                    <span class="msg-title">
                                        <span class="blue">Susan:</span>
                                        Vestibulum id ligula porta felis euismod ...
                                    </span>

                                    <span class="msg-time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span>20 minutes ago</span>
                                    </span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="clearfix">
                                <img src="~/assets/images/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                <span class="msg-body">
                                    <span class="msg-title">
                                        <span class="blue">Bob:</span>
                                        Nullam quis risus eget urna mollis ornare ...
                                    </span>

                                    <span class="msg-time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span>3:15 pm</span>
                                    </span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="clearfix">
                                <img src="~/assets/images/avatars/avatar2.png" class="msg-photo" alt="Kate's Avatar" />
                                <span class="msg-body">
                                    <span class="msg-title">
                                        <span class="blue">Kate:</span>
                                        Ciao sociis natoque eget urna mollis ornare ...
                                    </span>

                                    <span class="msg-time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span>1:33 pm</span>
                                    </span>
                                </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="clearfix">
                                <img src="~/assets/images/avatars/avatar5.png" class="msg-photo" alt="Fred's Avatar" />
                                <span class="msg-body">
                                    <span class="msg-title">
                                        <span class="blue">Fred:</span>
                                        Vestibulum id penatibus et auctor  ...
                                    </span>

                                    <span class="msg-time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span>10:09 am</span>
                                    </span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown-footer">
                    <a href="inbox.html">
                        See all messages
                        <i class="ace-icon fa fa-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </li>*@
   
    @using Microsoft.AspNet.Identity
    @using Nami.Service.AppUserService.Dto
    @if (Request.IsAuthenticated)
    {
        var currentUser = (UserDto)SessionManager.GetUserInfo();
        <li class="light-blue dropdown-modal">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="/@currentUser.Avatar" onerror="this.src = '/assets/images/avatars/userNew.png'" alt="@currentUser.FullName" />
                <span class="user-info">
                    <small>Xin chào,</small>
                    @currentUser.FullName
                </span>

                <i class="ace-icon fa fa-caret-down"></i>
            </a>

            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                    <a href="/AccountAdmin/ChangePassword">
                        <i class="ace-icon fa fa-lock"></i>
                        Đổi mật khẩu
                    </a>
                </li>

                <li>
                    <a href="/UserArea/User/MyProfile">
                        <i class="ace-icon fa fa-user"></i>
                        Trang cá nhân
                    </a>
                </li>
                @*@{
                    if (Culture == LangConstant.VietNam)
                    {
                        <li>
                            <a href="/account/changelang?lang=@LangConstant.TiengAnh&returnUrl=@Url.Content(Request.Url.PathAndQuery)">
                                <i class="ace-icon fa fa-globe"></i>
                                Chuyển sang tiếng anh
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/account/changelang?lang=@LangConstant.VietNam&returnUrl=@Url.Content(Request.Url.PathAndQuery)">
                                <i class="ace-icon fa fa-globe"></i>
                                VietNamese
                            </a>
                        </li>
                    }

                }*@
                @*System.Threading.Thread.CurrentThread.CurrentCulture*@
                <li class="divider"></li>

                <li>

                    <a href="/AccountAdmin/LogOff">
                        <i class="ace-icon fa fa-power-off"></i>
                        Đăng xuất
                    </a>
                </li>

            </ul>
        </li>
    }

</ul>
