@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.OrderInfoArea.Models

@model CreateVM
@{

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "OrderInfo", new { @area = "OrderInfoArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createOrderInfoForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới Quản lý thông tin giao dịch</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-sm-4">Id giao dịch <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.OrderId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.OrderId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Số tiền <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Nội dung giao dịch </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.OrderDescription, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.OrderDescription, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Mã ngân hàng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.BankCode, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.BankCode, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Trạng thái <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Loại giao dịch </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.OrderType, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.OrderType, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Id đối tượng <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.IdItem, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.IdItem, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Loại </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.ItemType, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ItemType, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Trạng thái thanh toán <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.TrangThaiThanhToan, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.TrangThaiThanhToan, "", new { @class = "text-danger" })
				</div>
				</div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>




</script>
@Scripts.Render("~/bundles/jqueryval")
