@using Nami.Service.Constant
@using Nami.Service.Common
@{
	var droplistMaNganHang = SessionManager.GetValue("droplistMaNganHang") as List<SelectListItem>;
	var droplistOrderType = SessionManager.GetValue("droplistOrderType") as List<SelectListItem>;

}
<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
	<div class="well SearchBox">

		@using (Ajax.BeginForm("searchData", "OrderInfo", new { Area = "OrderInfoArea" },
			new AjaxOptions()
			{
				HttpMethod = "POST",
				OnFailure = "AjaxFormError",
				OnSuccess = "AjaxSearchSuccess",
			}, new { }))
		{
			@Html.AntiForgeryToken()
			<div class="row row-block">
				<div class="col-md-6 row-block">
					<div class="col-md-4 txt-label">Id giao dịch</div>
					<div class="col-md-4">
						<input class="form-control width100" type="number" step="1" min="0" name="IdFilterFrom" placeholder="Từ" />
					</div>
					<div class="col-md-4">
						<input class="form-control width100" type="number" step="1" min="0" name="IdFilterTo" placeholder="Đến" />
					</div>
				</div>
				<div class="col-md-6 row-block">
					<div class="col-md-4 txt-label">Số tiền</div>
					<div class="col-md-4">
						<input class="form-control width100" type="number" step="1" min="0" name="AmountFilterFrom" placeholder="Từ" />
					</div>
					<div class="col-md-4">
						<input class="form-control width100" type="number" step="1" min="0" name="AmountFilterTo" placeholder="Đến" />
					</div>
				</div>
				<div class="clearBoth"></div>
				<div class="col-md-6 row-block">
					<div class="col-md-4 txt-label">Nội dung giao dịch</div>
					<div class="col-md-8">
						<input class="form-control width100" type="text" name="OrderDescriptionFilter" />
					</div>
				</div>
				<div class="col-md-6 row-block">
					<div class="col-md-4 txt-label">Mã ngân hàng</div>
					<div class="col-md-8">
						@*<input class="form-control width100" type="text" name="BankCodeFilter" />*@
						@Html.DropDownList("BankCodeFilter", droplistMaNganHang, "--Tất cả--", new { @class = "txt-select2" })
					</div>
				</div>
				<div class="clearBoth"></div>
				@*<div class="col-md-6 row-block">
						<div class="col-md-4 txt-label">Trạng thái</div>
						<div class="col-md-8">
							<input class="form-control width100" type="text" name="StatusFilter" />
						</div>
					</div>*@
				<div class="col-md-6 row-block">
					<div class="col-md-4 txt-label">Loại giao dịch</div>
					<div class="col-md-8">
						@*<input class="form-control width100" type="text" name="OrderTypeFilter" />*@
						@Html.DropDownList("OrderTypeFilter", droplistOrderType, "--Tất cả--", new { @class = "txt-select2" })
					</div>
				</div>
				@*<div class="col-md-6 row-block">
						<div class="col-md-4 txt-label">Nhà trọ/khu trọ/phòng trọ</div>
						<div class="col-md-8">
							<input class="form-control width100" type="text" name="IdItemFilter" />
						</div>
					</div>*@
				<div class="col-md-6 row-block">
					<div class="col-md-4 txt-label">Loại</div>
					<div class="col-md-8">
						@*<input class="form-control width100" type="text" name="ItemTypeFilter" />*@
						<select class="form-control" name="ItemTypeFilter">
							<option value="">Tất cả</option>
							<option value="Building">Tòa nhà/Khu trọ</option>
							<option value="Room">Phòng trọ</option>
						</select>
					</div>
				</div>
				<div class="clearBoth"></div>
				<div class="col-md-6 row-block">
					<div class="col-md-4 txt-label">Trạng thái thanh toán</div>
					<div class="col-md-8">
						@*<input class="form-control width100" type="text" name="TrangThaiThanhToanFilter" />*@
						<select class="form-control" name="TrangThaiThanhToanFilter">
							<option value="">Tất cả</option>
							<option value="false">Chưa được xác nhận</option>
							<option value="true">Đã được xác nhận</option>
						</select>
					</div>
				</div>

				<div class="col-md-12 center" style=" margin-top:20px;">
					<button id="btnSearch" type="submit" class="btn btn-labeled btn-primary btn-sm">
						<span class="btn-label">
							<i class="glyphicon glyphicon-search"></i>
						</span>
						Tìm kiếm
					</button>
					<a href="/OrderInfoArea/OrderInfo/ExportExcel" class="btn btn-labeled btn-success btn-sm"><span class='btn-label'><i class='glyphicon glyphicon-download'></i></span> Xuất Excel</a>
					<a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger btn-sm">
						<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
						Đóng
					</a>
				</div>
			</div>

		}
	</div>
</div>
<script>
	$(".txt-select2").select2();
	$(".txt-picker").datepicker({
		dateFormat: 'dd/mm/yy',
		changeMonth: false,
		changeYear: false, yearRange: "-50:+20",
		showWeek: false, weekHeader: "Tuần",
		language: 'vi-VN',
		prevText: '<i class="fa fa-chevron-left"></i>',
		nextText: '<i class="fa fa-chevron-right"></i>',
	});
</script>


