@{
	ViewBag.Title = "Quản lý thông tin giao dịch";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Quản lý thông tin giao dịch";
	ViewBag.PageName = "Thông tin Quản lý thông tin giao dịch";
	ViewBag.ModuleCode = "OrderInfo_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.OrderInfoArea.Models
@using Nami.Service.Constant

@model DetailVM
@section ActionBarRight{
	<a href="/OrderInfoArea/OrderInfo/Index" class="btn btn-primary btn-sm">Quay lại</a>
}
<div class="tabbable">
	<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4" style="text-align:center">
		<li class="active">
			<a data-toggle="tab" href="#PhanAnhInfo" aria-expanded="true">Thông tin giao dịch</a>
		</li>
		<li class="">
			<a data-toggle="tab" href="#GiaiTrinh" aria-expanded="false">Lịch sử giải trình</a>
		</li>
	</ul>
</div>

<div class="tab-content">
	<div id="PhanAnhInfo" class="tab-pane active">
		<div class="row">
			<div class="col-sm-12">
				<table class="table-info table100">
					<tr><td class="labelData">Id giao dịch</td><td colspan="3">@Model.objInfo.Id</td></tr>
					<tr><td class="labelData">Số tiền</td><td colspan="3" class="txt-number">@Model.objInfo.Amount</td></tr>
					<tr><td class="labelData">Nội dung giao dịch</td><td colspan="3">@Model.objInfo.OrderDescription</td></tr>
					<tr><td class="labelData">Mã ngân hàng</td><td colspan="3">@Model.objInfo.BankCodeName</td></tr>
					<tr><td class="labelData">Loại giao dịch</td><td colspan="3" style="color:@Model.objInfo.OrderTypeBGColor">@Model.objInfo.OrderTypeName</td></tr>
					<tr>
						<td class="labelData">Nhà trọ/khu trọ/phòng trọ</td>
						<td colspan="3">
							@if (!string.IsNullOrEmpty(Model.objInfo.UrlItem))
							{
								<a href="@Model.objInfo.UrlItem">@Model.objInfo.ItemName</a>
							}
						</td>
					</tr>
					<tr><td class="labelData">Loại</td><td colspan="3">@Model.objInfo.ItemTypeName</td></tr>
					<tr>
						<td class="labelData">Trạng thái thanh toán</td>
						<td colspan="3">
							@if (Model.objInfo.TrangThaiThanhToan == true)
							{
								<span class="green">Đã được xác nhận</span>
							}
							else
							{
								<span class="green">Chưa được xác nhân</span>
							}
						</td>
					</tr>

				</table>
			</div>
		</div>
	</div>


	<div id="GiaiTrinh" class="tab-pane">
		<div class="GiaiTrinhDetail">
			<div class="row" style="margin: 0px;">
				<div class="col-sm-6">
					@{
						if (Model.objGiaiTrinh != null)
						{
							if (Model.objGiaiTrinh.Count != 0)
							{
								foreach (var item in Model.objGiaiTrinh)
								{
									if (item.TypeHoSoGiaiTrinh == AccountTypeConstant.BussinessUser)
									{
										<div class="col-sm-11 GiaiTrinhListItemTextAdmin">
											<b>@item.NameHoSoGiaiTrinh (@String.Format("{0:g}", item.NgayGiaiTrinh))</b>
											@Html.Raw(item.GiaiTrinhComment)
											@if (item.ListFileAttackPhanAnh != null && item.ListFileAttackPhanAnh.Any())
											{
												<ul>
													@foreach (var fatc in item.ListFileAttackPhanAnh)
													{
														<li><a href="/@fatc.FileUrlGiaiTrinhPhanAnh" download><i class="fa fa-paperclip"></i>&nbsp;@Path.GetFileName(fatc.FileUrlGiaiTrinhPhanAnh)</a></li>
													}
												</ul>
											}
										</div>
										<div class="col-sm-1"></div>
									}
									else
									{
										<div class="col-sm-1"></div>
										<div class="col-sm-11 GiaiTrinhListItemTextEndUser">
											<b>@item.NameHoSoGiaiTrinh (@String.Format("{0:g}", item.NgayGiaiTrinh))</b>
											@Html.Raw(item.GiaiTrinhComment)
											@if (item.ListFileAttackPhanAnh != null && item.ListFileAttackPhanAnh.Any())
											{
												<ul>
													@foreach (var fatc in item.ListFileAttackPhanAnh)
													{
														<li><a href="/@fatc.FileUrlGiaiTrinhPhanAnh" download><i class="fa fa-paperclip"></i>&nbsp;@Path.GetFileName(fatc.FileUrlGiaiTrinhPhanAnh)</a></li>
													}
												</ul>
											}
										</div>
									}
								}
							}
							else
							{
								<div>Không có thông tin</div>
							}
						}
						else
						{
							<div>Không có thông tin</div>
						}
					}
				</div>
				<div class="col-sm-6">
					<div class="form-horizontal container-fluid comment">
						@using (Ajax.BeginForm("GiaiTrinhVuViec", "OrderInfo", new { @area = "OrderInfoArea" }, new AjaxOptions()
						{
							HttpMethod = "POST",
							OnFailure = "GiaiTrinhFalse",
							OnSuccess = "AjaxDone",
						}, new { id = "commentsform", enctype = "multipart/form-data" }))
						{
							<input type="hidden" name="id" value="@Model.objInfo.Id" />
							<input type="hidden" name="PhanAnhType" value="@ItemTypeConstant.Order" />
							<div class="row">

								<div class="col-sm-12 margin-bottom-12">
									<textarea class="form-control commentInput" cols="1" id="objComment_Comments" name="Comments" placeholder="Giải trình..." rows="1" style="overflow-y:hidden;"></textarea>
								</div>
								<div class="col-sm-12">
									<label>Tệp tin đính kèm</label>
									<input type="file" name="file" class="form-control" onchange="InputFile()" multiple>
									@*@Html.ValidationMessageFor(m => m.file, "", new { @class = "text-danger" })*@
									<p class="messageNote">Tệp tin đính kèm định dạng png, jpg, jpeg, doc, docx, pdf</p>
									<div>
										<button class="btn btn-primary giaitrinh-btn">
											<i class="fa fa-paper-plane"></i><p style="display: inline-block ">&nbsp;Gửi giải trình</p>
										</button>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						}

					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div class="well well-sm">
	<div class="createTime">
		<h6>Khởi tạo lúc: <b>@Model.objInfo.CreatedDate</b>, bởi <a>@Model.objInfo.CreatedBy</a></h6>
	</div>
	<div class="updateTime">
		<h6>Thay đổi lần cuối lúc: <b>@Model.objInfo.UpdatedDate</b>, bởi <a>@Model.objInfo.UpdatedBy</a></h6>
	</div>
</div>

<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });

	function AjaxDone(result) {
		if (result.Status) {
			location.reload();
		} else {
			NotiError(result.Message);
		}
	}
</script>
@Scripts.Render("~/bundles/jqueryval")
