@{
	ViewBag.Title = "Quản lý thông tin giao dịch";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý thông tin giao dịch";
	ViewBag.PageName = "Danh sách thông tin giao dịch";
	ViewBag.ModuleCode = "OrderInfo_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.OrderInfoService.Dto;
@using Nami.Service.Constant;
@model PageListResultBO<OrderInfoDto>
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
	<a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
		Tìm kiếm
	</a>

	@*<a href="javascript:void(0)" onclick="CreateAction('/OrderInfoArea/OrderInfo/Create')" class="btn btn-primary btn-sm">Thêm mới</a>*@
}
@Html.Partial("_SearchPartial")

<div id="tbl-OrderInfo" class="hntbl-cover table-scroll">
	<div class="table-wrap">
		<table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="fixed-side"></th>
					<th class="fixed-side">#</th>
					<th class="fixed-side">Thao tác</th>
					<th>Id giao dịch</th>
					<th>Số tiền</th>
					<th>Nội dung giao dịch</th>
					<th>Mã ngân hàng</th>
					@*<th>Trạng thái</th>*@
					<th>Loại giao dịch</th>
					<th>Nhà trọ/khu trọ/phòng trọ</th>
					<th>Loại</th>
					<th>Trạng thái thanh toán</th>
					<th>Ngày tạo</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

@section scripts{
	<script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-OrderInfo";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50 fixed-side",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },

                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center fixed-side",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
						   result += "<li><a href='/OrderInfoArea/OrderInfo/Detail/" + data.Id + "'   title = 'Thông tin chi tiết'><i class='glyphicon glyphicon-user'> </i> Thông tin chi tiết</a> </li>";
                           //result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/OrderInfoArea/OrderInfo/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           //result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/OrderInfoArea/OrderInfo/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },
				{
					isSort:true,
					nameModel:'Id',
					content: function (data) {
					return data.Id
				}
				},
				{
					isSort:true,
					nameModel:'Amount',
					content: function (data) {
						return formatMoney(data.Amount) + " VNĐ"
				}
				},
				{
					isSort:true,
					nameModel:'OrderDescription',
					content: function (data) {
					return data.OrderDescription
				}
				},
				{
					isSort:true,
					nameModel:'BankCode',
					content: function (data) {
						return data.BankCodeName
				}
				},
				//{
				//	isSort:true,
				//	nameModel:'Status',
				//	content: function (data) {
				//	return data.Status
				//}
				//},
				{
					isSort:true,
					nameModel:'OrderType',
					content: function (data) {
						return "<span class='label' style='background-color:" + data.OrderTypeBGColor + "'>" + ShowMessageIfEmpty(data.OrderTypeName) + "</span>"
				}
				},
				{
					isSort:true,
					nameModel:'IdItem',
					content: function (data) {
						var str = "";
						str = "<a href='" + data.UrlItem + "'>" + data.ItemName + "</a>";
						return str
				}
				},
				{
					isSort:true,
					nameModel:'ItemType',
					content: function (data) {
					return data.ItemTypeName
				}
				},
				{
					isSort:true,
					nameModel:'TrangThaiThanhToan',
					content: function (data) {
						var str = "";
						if (data.TrangThaiThanhToan == true) {
							str += "<span class='green'>Đã được xác nhận</span>";
						} else if (data.TrangThaiThanhToan == false) {
							str += "<span class='red'>Chưa được xác nhận</span>";
						}
						return str
				}
				},
				{
					isSort: true,
					nameModel: 'CreatedDate',
					content: function (data) {
						return ToDateTime(data.CreatedDate)
					}
				},
            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/OrderInfoArea/OrderInfo/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-OrderInfo").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
	</script>
}