@{
    ViewBag.Title = "Công thức";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Công thức";
    ViewBag.PageName = "Thông tin Công thức";
    ViewBag.ModuleCode = "CongThuc_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.CongThucArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/CongThucArea/CongThuc/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Tên công thức</td><td>@Model.objInfo.CongThucName</td></tr>
<tr><td>Mã dịch vụ</td><td>@Model.objInfo.DichVuCode</td></tr>
<tr><td>Mô tả</td><td>@Model.objInfo.Description</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
