@{
	ViewBag.Title = "Quản lý tin tức";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Quản lý tin tức";
	ViewBag.PageName = "Thông tin Quản lý tin tức";
	ViewBag.ModuleCode = "QLTinTuc_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.QLTinTucArea.Models

@model DetailVM
@section ActionBarRight{
	<a href="/QLTinTucArea/QLTinTuc/Index" class="btn btn-primary btn-sm">Quay lại</a>
}
<style>
	td img {
		height: 200px;
		width: 400px;
	}
</style>
<div class="row">
	<div class="col-sm-12">
		<table class="table-info table100" style="width:100%;table-layout: fixed;">
			<tr><td class="labelData" style="width: 100px;">Đường dẫn ảnh</td><td><img src="/@Model.objInfo.ImageLink" onerror="this.src = '/assets/images/avatardefault.png'" width="100px"></td></tr>
			<tr><td class="labelData" style="width: 100px;">Tiêu đề</td><td>@Model.objInfo.Name</td></tr>
			<tr><td class="labelData" style="width: 100px;">Tiêu đề</td><td>@Model.objInfo.NamePhu</td></tr>
			<tr><td class="labelData" style="width: 100px;">Chủ đề</td><td>@Model.objInfo.ChuDeName</td></tr>
			<tr><td class="labelData" style="width: 100px;">Tác giả</td><td>@Model.objInfo.Author</td></tr>
			<tr>
				<td class="labelData" style="width: 100px;">Trạng thái</td>
				<td>
					@if (Model.objInfo.Status == true)
					{
						<span class="green">Được phép hiển thị</span>
					}
					else if (Model.objInfo.Status == false)
					{
						<span class="red">Không được phép hiển thị</span>
					}
				</td>
			</tr>
			<tr>
				<td class="labelData" style="width: 100px;">Nội dung</td>
				<td>
					@Html.Raw(HttpUtility.HtmlDecode(Model.objInfo.Description))
				</td>
			</tr>
		</table>
	</div>

</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
