@{
    ViewBag.Title = "Quản lý tin tức";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý tin tức";
    ViewBag.PageName = "Danh sách tin tức";
    ViewBag.ModuleCode = "QLTinTuc_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.QLTinTucService.Dto;
@model PageListResultBO<QLTinTucDto>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>

    <a href="javascript:void(0)" onclick="CreateAction('/QLTinTucArea/QLTinTuc/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-QLTinTuc" class="hntbl-cover table-scroll">
	<div class="table-wrap">
    <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
			<tr>
				<th class="fixed-side"></th>
				<th class="fixed-side">#</th>
				<th class="fixed-side">Thao tác</th>
				<th>Hình ảnh</th>
				<th>Tiêu đề</th>
				<th>Tiêu đề phụ</th>
				<th>Chủ đề</th>
				@*<th>Nội dung</th>*@
				<th>Trạng thái</th>
				<th>Tác giả</th>
			</tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-QLTinTuc";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50 fixed-side",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center fixed-side",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
                           result += "<li><a href='/QLTinTucArea/QLTinTuc/Detail/" + data.Id + "'   title = 'Thông tin chi tiết'><i class='glyphicon glyphicon-user'> </i> Thông tin chi tiết</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/QLTinTucArea/QLTinTuc/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/QLTinTucArea/QLTinTuc/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },
				{
					isSort:true,
					nameModel:'ImageLink',
					content: function (data) {
						var str = "";
						str += "<img src='/" + data.ImageLink + "' class='imageGridNhanSu' onerror=\"this.src = '/assets/images/avatardefault.png'\" />";
						return str
				}
				},
				{
					isSort:true,
					nameModel:'Name',
					content: function (data) {
						var str = "";
						str += data.Name;
						if (data.IsHot == true) {
							str += " <img src='\\Uploads\\CommonIcons\\hottintuc.gif' style='width:28px !important;height:16px' />"
						}
						return str
				}
				},
				{
					isSort:true,
					nameModel:'NamePhu',
					content: function (data) {
					return data.NamePhu
				}
				},
				{
					isSort: true,
					nameModel: 'ChuDeId',
					content: function (data) {
						return data.ChuDeName
					}
				},
				//{
				//	isSort:true,
				//	nameModel:'Description',
				//	content: function (data) {
				//	return data.Description
				//}
				//},
				{
					isSort:true,
					nameModel:'Status',
					content: function (data) {
						var str = "";
						if (data.Status == true) {
							str += "<span class='green'>Được phép hiển thị</span>";
						} else {
							str += "<span class='red'>Không được phép hiển thị</span>"
						}
						return str
				}
				},
				{
					isSort:true,
					nameModel:'Author',
					content: function (data) {
					return data.Author
				}
				},


            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/QLTinTucArea/QLTinTuc/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-QLTinTuc").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
    </script>
}