@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.XAArea.Models

@model EditVM
@{ 

}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "XA", new { @area = "XAArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editXAForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật Xã/Phường</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
 			@Html.HiddenFor(x=>x.Id)
				<div class="form-group">
				<label class="control-label col-sm-4">Mã xã </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.MaXa, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.MaXa, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tên xã <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.TenXa, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.TenXa, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Loại <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Loai, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Loai, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tọa độ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Huyện <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.HuyenId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.HuyenId, "", new { @class = "text-danger" })
				</div>
				</div>

 

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
