@{
    ViewBag.Title = "Xã/Phường";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Xã/Phường";
    ViewBag.PageName = "Thông tin Xã/Phường";
    ViewBag.ModuleCode = "XA_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.XAArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/XAArea/XA/Index')" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Mã xã</td><td>@Model.objInfo.MaXa</td></tr>
<tr><td>Tên xã</td><td>@Model.objInfo.TenXa</td></tr>
<tr><td>Loại</td><td>@Model.objInfo.Loai</td></tr>
<tr><td>Tọa độ</td><td>@Model.objInfo.Location</td></tr>
<tr><td>Huyện</td><td>@Model.objInfo.HuyenId</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
