@{
    var Huyen = ViewBag.Huyen as HUYEN;
    ViewBag.Title = "Xã/Phường";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Xã/Phường - " + Huyen.TenHuyen;
    ViewBag.PageName = "Danh sách Xã/Phường";
    ViewBag.ModuleCode = "XA_Index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.XAService.Dto;
@using CommonHelper.String;
@model PageListResultBO<XADto>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem)).ToString().Base64Encode();
}

@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>
    <a href="/HuyenArea/Huyen/Index/@Huyen.TinhId" class="btn btn-primary btn-sm">Quay lại</a>
    <a href="javascript:void(0)" onclick="CreateAction('/XAArea/XA/Create/@Huyen.TinhId')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-XA" class="hntbl-cover">
    <div class="hntbl-cover-tableScroll">
        <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Mã xã</th>
                    <th>Tên xã</th>
                    <th>Loại</th>
                    <th>Tọa độ</th>

                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

    @section scripts{
        <script>
        var lstData = eval(chuyendoidata("@lstData"));
        var moduleTableSelector="#tbl-XA";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
				{
					isSort:true,
					nameModel:'MaXa',
					content: function (data) {
					return ShowMessageIfEmpty(data.MaXa)
				}
				},
				{
					isSort:true,
					nameModel:'TenXa',
					content: function (data) {
					return ToStrong(data.TenXa)
				}
				},
				{
					isSort:true,
					nameModel:'Loai',
					content: function (data) {
					return data.Loai
				}
				},
				{
					isSort:true,
					nameModel:'Location',
					content: function (data) {
					return data.Location
				}
				},
                   {
                       isSort:false,
                       nameModel:"",
					   tdClass:"center dropdowntt",
                       content: function (data) {
						   var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu dropdown-menu-left">`;
                           result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/XAArea/XA/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/XAArea/XA/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/XAArea/XA/getData',
                    type: 'post',
                    cache: false,
                    data:{"huyenId":@Huyen.Id,"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-XA").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
        </script>
    }
