﻿@using Nami.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Đăng nhập hệ thống";
}


<div class="row">
    <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12 col-lg-offset-2 col-lg-8 wrap-login-form">
        <div class=" col-xs-12 col-sm-12 col-md-7 row login-form-brand">
            <a href="/">
                <div id="logo-brand">
                </div>
            </a>

            <div id="logo-content">
                <div class="title">
                    <p>HỆ THỐNG QUẢN LÝ PHÒNG TRỌ CHO THUÊ<p>
                    <h3>No 04 LK 100,Cổng Đồng, La Khê, Hà Đông, Hà Nội</h3>
                </div>
                <div class="diachi row">
                    <div class="col-xs-6 fax-number align-right">
                        <p><span>Tel:</span> 0344.681.886</p>
						<p><span>Fax:</span> 0344.681.886</p>
                    </div>
                    <div class="col-xs-6 align-left">
                        <p><span>Email:</span> <a href="mailto:minh.nt@mrental.com.vn">minh.nt@mrental.com.vn</a></p>
                        <p><span>Website:</span> <a href="http://www.mrental.com.vn">www.mrental.com.vn</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 row login-form-form" style="margin: 0 auto">
            <div class="col-xs-12">
                <section id="loginForm">

                    @using (Html.BeginForm("Login", "AccountAdmin", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h2>ĐĂNG NHẬP HỆ THỐNG</h2>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control " })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control " })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    &nbsp;&nbsp;
                                    @Html.LabelFor(m => m.RememberMe)
                                    <span class="checkmark"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="submit">
                                    <input type="submit" value="Đăng nhập" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                
                        @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@
                    }
                </section>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}