﻿@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.RoleArea.Models;

@model RoleViewModel.RoleEditViewModel

<div class="modal-dialog">
    @using (Ajax.BeginForm("Save", "Role", new { @area = "RoleArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "form--edit-role" }))
    {
        @Html.AntiForgeryToken()
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">
                        @(Model.Id > 0 ? "CẬp NHẬT VAI TRÒ" : "THÊM MỚI VAI TRÒ")
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type='hidden' name='Id' value='@Model.Id' />
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="Name">
                            Tên vai trò <span class="red">*</span>
                        </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="Code">
                            Mã vai trò <span class="red">*</span>
                        </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">
                    Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Đóng
                </button>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
