﻿@using Nami.Web.Areas.RoleArea.Models
@model RoleViewModel.RoleOperationConfigViewModel
@{
    ViewBag.Title = "Quản lý thao tác";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý vai trò";
    ViewBag.PageName = "Phân quyền vai trò";

    var TinhDropdown = ViewBag.TinhDropdown as List<SelectListItem>;
}
@section ActionBarRight{
    <a href="/RoleArea/Role/Index" class="btn btn-primary btn-sm">Quay lại</a>
}
<style>
    .panel-body {
        padding: 0;
    }

    .table {
        margin-bottom: 0;
    }
</style>
<div id="accordion" class="accordion-style1 panel-group">
    <div class="form-horizontal">
        @using (Ajax.BeginForm("SaveConfigureProvince", "Role", new { @area = "RoleArea" }, new AjaxOptions()
        {
            HttpMethod = "POST",
            OnFailure = "AjaxFormError",
            OnSuccess = "AjaxFormSuccess",
        }, new { id = "form--config-role" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="ROLE_ID" value="@Model.ConfigureData.RoleId" />
            int rowIndex = 0;

            int index = 0;
            <table class="table table-bordered table-striped table-hover">
                <thead>

                    <tr>
                        <th>STT</th>
                        <th>Chức năng</th>
                        <th>Tỉnh</th>
                        <th>Huyện</th>
                        <th>Xã</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var module in Model.ConfigureData.GroupModules)
                    {
                    <tr>
                        <td class="width50px">@(++index)</td>
                        <td>@module.Name</td>
                        <td>@Html.DropDownList("tinh", TinhDropdown, new { @class = "form-control" })</td>
                        <td>@Html.DropDownList("tinh", TinhDropdown, new { @class = "form-control" })</td>
                        <td>@Html.DropDownList("tinh", TinhDropdown, new { @class = "form-control" })</td>
                    </tr>
                    }
                </tbody>
            </table>



            <div class="clearfix"></div>
            <center>
                <button class="btn btn-primary">
                    <i class="fa fa-save"></i>&nbsp;Lưu lại
                </button>
            </center>
        }
    </div>
</div>

@section scripts{
    <script>
        function AfterSussessActionAjaxform() {

        }

        $("input.checkAll").change(function () {

            var check = $(this).prop("checked");
            $(this).parents("table").find("input.checkItem").each(function () {
                $(this).prop("checked", check);
            })
        })
    </script>
}