﻿
@using Nami.Web.Models;
@model BuildingInfoViewModel
@{
	var dientichphong = Model.objInfo.ChieuDaiRoom * Model.objInfo.ChieuRongRoom;
}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" onclick="CloseDetailBuilding()">&times;</button>
			<div class="center">
				<h4 class="modal-title">Thông tin nhà/tòa nhà trọ</h4>
			</div>
		</div>
		<div class="modal-body">
			<div class="tabbable">
				<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
					<li class="active">
						<a data-toggle="tab" href="#CompanyInfo" aria-expanded="true">Thông tin khu trọ/nhà trọ</a>
					</li>
				</ul>
				<div class="tab-content">

					<div id="CompanyInfo" class="tab-pane active">
						<table class="table-info table100">
							<tr>
								<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin hồ sơ khu trọ/nhà trọ</strong></td>
							</tr>
							<tr>
								<td class="labelData">Tên khu trọ/nhà trọ</td>
								<td>@Model.objInfo.BuildingsName</td>
								@*<td colspan="2" rowspan="5">
									<div id='mapdetail' style='width: 350px; height: 200px;'></div>
								</td>*@
							</tr>
							<tr><td class="labelData">Tầng</td><td>@Model.objInfo.Floor</td></tr>
							<tr><td class="labelData">Phòng</td><td>@Model.objInfo.NumberOfRoom</td></tr>
							<tr><td class="labelData">Diện tích (1 phòng)</td><td>@dientichphong</td></tr>
							<tr><td class="labelData">Số lượng người có thể chứa (1 phòng)</td><td>@Model.objInfo.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @Model.objInfo.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i></td></tr>
							<tr>
								<td class="labelData">Ảnh phòng</td>
								<td colspan="3">
									@if (Model.imageList.Any())
									{
										<ul class="ace-thumbnails clearfix">
											@foreach (var item in Model.imageList)
											{
												<li>
													<a href="/@item.ImageUrl" data-rel="colorbox">
														<img width="150" height="150" alt="150x150" src="/@item.ImageUrl" onerror="this.src = '/assets/images/notfoundimage.png'" />
														<div class="text">
															<div class="inner">Xem chi tiết</div>
														</div>
													</a>
												</li>
											}
										</ul>
									}
									else
									{
										<i>Không có dữ liệu ảnh</i>
									}
								</td>
							</tr>
							<tr>
								<td class="labelData">Mô tả</td>
								<td colspan="3">
									@Model.objInfo.Description
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="well well-sm">
				<div class="createTime">
					<h6>Khởi tạo lúc: <b>@Model.objInfo.CreatedDate</b>, bởi <a>@Model.objInfo.CreatedBy</a></h6>
				</div>
				<div class="updateTime">
					<h6>Thay đổi lần cuối lúc: <b>@Model.objInfo.UpdatedDate</b>, bởi <a>@Model.objInfo.UpdatedBy</a></h6>
				</div>
			</div>
		</div>

		<div class="modal-footer center">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal" onclick="CloseDetailBuilding()">Đóng</button>
		</div>
	</div>
</div>
<script>
	@*map.resize();
mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'mapdetail',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.resize();

	function MapModal() {
		$('#MasterModal').modal();
	}

	function MapResize() {
		map.resize();
	}
	$('#MasterModal').on('shown.bs.modal', function () {
		map.resize();
	});
	var geocoder = new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		marker: {
			color: 'red',
			draggable: true
		},
		mapboxgl: mapboxgl
	});
	$(document).ready(function (e) {
	if ('@Model.objInfo.Latitude' != null && '@Model.objInfo.Latitude' != "" && '@Model.objInfo.Longitude' != null && '@Model.objInfo.Longitude' != "") {
	var lat = parseFloat(('@Model.objInfo.Latitude').replace(",", "."));
	var lng = parseFloat(('@Model.objInfo.Longitude').replace(",", "."));
	map.setCenter({ lng: lng, lat: lat });
	map.setZoom(8);
	geocoder.mapMarker = new mapboxgl.Marker({
	color: 'orange',
	draggable: true
	})
	.setLngLat([lng, lat])
	.addTo(map);
	}
	})
	map.addControl(geocoder, 'top-left');
	map.addControl(new mapboxgl.NavigationControl(), 'top-left');
	$(".mapboxgl-ctrl-geocoder--input").attr("placeholder", "Tìm kiếm");*@
</script>
<script type="text/javascript">
	jQuery(function ($) {
		var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition: true,
			scalePhotos: true,
			scrolling: false,
			previous: '<i class="ace-icon fa fa-arrow-left" ></i>',
			next: '<i class="ace-icon fa fa-arrow-right" ></i> ',
			close: '&times;',
			current: '{current} of {total}',
			maxWidth: '600px',
			maxHeight: '400px',
			onOpen: function () {
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed: function () {
				document.body.style.overflow = $overflow;
			},
			onComplete: function () {
				$.colorbox.resize();
			}
		};

		$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);

	})
</script>