﻿
@{
	ViewBag.Title = "Tìm kiếm nhà/phòng/tòa nhà trọ";
	Layout = "~/Views/Shared/_LayoutSearchGuest.cshtml";
	ViewBag.Description = "Tìm kiếm nhà/phòng/tòa nhà trọ";
	ViewBag.KeyWord = "Tìm kiếm nhà/phòng/tòa nhà trọ";
}
@using Nami.Web.Models;
@using Nami.Service.Constant;
@using Newtonsoft.Json;
@model HomeSearchModels
@{
	var dataMap = Html.Raw(JsonConvert.SerializeObject(Model.ListBuilding));
	var dataMapRoom = Html.Raw(JsonConvert.SerializeObject(Model.ListRoom));
	var dropdownListTinhId = ViewBag.dropdownListTinhId as List<SelectListItem>;
	var dropdownListHuyenId = ViewBag.dropdownListHuyenId as List<SelectListItem>;
	var dropdownListXaId = ViewBag.dropdownListXaId as List<SelectListItem>;
	var dropdownListBuilding = ViewBag.dropdownListBuilding as List<SelectListItem>;
}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link href="~/assets/css/colorbox.min.css" rel="stylesheet" />
<script src="~/assets/js/jquery.colorbox.min.js"></script>
<style>
	#map {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}
</style>
<div class="">
	<div class="column">
		<div class="portlet">
			@*<div class="portlet-header blue darken-3 py-2 my-3 white-text collapseButton dropdown-text" data-toggle="collapse"
				 href="#feeds">Tìm kiếm&nbsp;<i class="fa fa-caret-down  ml-2"></i></div>*@
			<div class="portlet-content collapse in" id="feeds">
				@using (Html.BeginForm("Index", "SearchGuest", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()
				<div class="row">
					<div class="col-sm-2">
						<span>Tỉnh</span>
						@Html.DropDownListFor(m => m.TinhId, dropdownListTinhId, "Tỉnh/Thành phố", new { @class = "form-control", @placeholder = "Tỉnh" })
					</div>
					<div class="col-sm-2">
						<span>Huyện</span>
						@Html.DropDownListFor(m => m.HuyenId, dropdownListHuyenId, "Huyện/Quận", new { @class = "form-control", @placeholder = "Huyện" })
					</div>
					<div class="col-sm-2">
						<span>Xã</span>
						@Html.DropDownListFor(m => m.XaId, dropdownListXaId, "Xã/Phường", new { @class = "form-control", @placeholder = "Xã" })
					</div>
					<div class="col-sm-2">
						<span>Giá phòng từ</span>
						@Html.TextBoxFor(m => m.MoneyFrom, new { @class = "form-control", @placeholder = "Giá phòng từ" })
					</div>
					<div class="col-sm-2">
						<span>Giá phòng đến</span>
						@Html.TextBoxFor(m => m.MoneyTo, new { @class = "form-control", @placeholder = "Giá phòng đến" })
					</div>
					<div class="col-sm-2">
						<span>Loại nhà thuê</span>
						@Html.DropDownListFor(m => m.HomeTypeId, dropdownListBuilding, new { @class = "form-control", @placeholder = "Chọn loại nhà" })
					</div>
					@*<div class="col-sm-2">
						<span>Trọng số tỉnh</span>
						@Html.TextBoxFor(m => m.TrongSoTinh, new { @class = "form-control", @placeholder = "Trọng số tỉnh" })
					</div>
					<div class="col-sm-2">
						<span>Trọng số huyện</span>
						@Html.TextBoxFor(m => m.TrongSoHuyen, new { @class = "form-control", @placeholder = "Trọng số huyện" })
					</div>
					<div class="col-sm-2">
						<span>Trọng số xã</span>
						@Html.TextBoxFor(m => m.TrongSoXa, new { @class = "form-control", @placeholder = "Trọng số xã" })
					</div>
					<div class="col-sm-2">
						<span>Trọng số giá</span>
						@Html.TextBoxFor(m => m.TrongSoGia, new { @class = "form-control", @placeholder = "Trọng số giá" })
					</div>
					<div class="col-sm-2">
						<span>Lấy các huyện lân cận</span>
						<input type="checkbox" name="HuyenArea" value="true" id="HuyenArea"><br />
						<span>Lấy các xã lân cận</span>
						<input type="checkbox" name="XaArea" value="true"id="XaArea">
					</div>*@
					<div class="col-sm-12" style="text-align: center;">
						<br />
						<button type="submit" class="btn btn-sm btn-info" id="submit"><span>Tìm kiếm</span></button>
					</div>
				</div>
				}
			</div>
		</div>
		<div class="portlet">
			@*<div class="portlet-header blue darken-3 py-2 my-3 white-text collapseButton dropdown-text" data-toggle="collapse"
				 href="#news">Kết quả&nbsp;<i class="fa fa-caret-down  ml-2"></i></div>*@
			<div class="portlet-content collapse in " id="news">
				<div id="ItemSearchArea">
					@if (Model.HomeTypeId == BuildingTypeConstant.Building)
					{
						if (Model.ListBuilding != null && Model.ListBuilding.Any())
						{
							<div id="DetailBuilding"></div>
							<div class="row">
								<div class="col-sm-9"><h2>@Model.ListBuilding.Count() nhà/tòa nhà trọ</h2></div>
								<div onclick="ShowMap()" class="col-sm-3" style="height:63px;"><span style="left: 65px;position: absolute;bottom: 10px;">Hiển thị bản đồ: </span> <input type="checkbox" checked data-toggle="toggle" id="MapShow" data-on="Mở" data-off="Đóng"></div>
								<div class="row col-sm-12">
									<div class="col-sm-6" id="ItemSearchItem" style="padding:10px 25px;">
										@foreach (var item in Model.ListBuilding)
										{
											var NumberOfRoom = item.NumberOfRoom * item.NumberOfRoom;
											var ItemDetail = "ItemDetail" + item.Id;
											<div class="row ItemSearchItem @ItemDetail" onclick="OpenDetailBuilding('@item.Id')" onmouseover="HoverBuildingItem('@item.Id')" onmouseout="NotHoverBuildingItem('@item.Id')">
												<div class="col-sm-4">
													@if (item.ListFileActtackment != null && item.ListFileActtackment.Any())
													{
														<img src="~/@item.ListFileActtackment.FirstOrDefault().ImageUrl" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
													}
													else
													{
														<img src="/assets/images/notfoundimage.png" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
													}
												</div>
												<div class="col-sm-8">
													<div><h4><b>@item.BuildingsName</b></h4></div>
													<div>
														<span class="ItemSearchItemText">@item.Floor tầng · @NumberOfRoom phòng</span><br />
														<span class="ItemSearchItemText">@item.NumberOfPeoperPerRoomAdult người lớn · @item.NumberOfPeoperPerRoomKid trẻ con</span><br />
														<span><b>@string.Format("{0:C}", item.Price)/tháng</b></span><br />
														@*<span>@item.XaItemInfo.TenXa, @item.HuyenItemInfo.TenHuyen, @item.TinhItemInfo.TenTinh, Việt Nam</span>*@
													</div>
													<div class="star-rating d-inline-block"><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg> @item.Id</div>
												</div>
											</div>
										}
									</div>
									<div class="col-sm-6" id="ItemSearchItemInfoTable" style="padding: 0px;">
										@{
											var MinTinh = new double();
											var MinHuyen = new double();
											var MinXa = new double();
											var MinGia = new double();
										}
										<div><h5><b>Bảng 1: Thông tin về khoảng cách của các tòa nhà/khu nhà so với yêu cầu của khách hàng</b></h5></div>
										<div class="table-wrap">
											<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th>#</th>
														<th>Tên tòa nhà/khu nhà</th>
														<th>Tỉnh/Thành phố</th>
														<th>Quận/Huyện</th>
														<th>Xã/Phường</th>
														<th>Giá</th>
													</tr>
												</thead>
												<tbody>
													@if (Model.ListBuilding != null && Model.ListBuilding.Any())
													{
														var countItem = 0;
														foreach (var item in Model.ListBuilding)
														{
															countItem = countItem + 1;
															<tr>
																<td>@countItem</td>
																<td><b>@item.BuildingsName</b></td>
																<td>@string.Format("{0:0.00}", Convert.ToDouble(item.DistanceTinh)) km</td>
																<td>@string.Format("{0:0.00}", Convert.ToDouble(item.DistanceHuyen) / 1000) km</td>
																<td>@string.Format("{0:0.00}", Convert.ToDouble(item.DistanceXa) / 1000) km</td>
																<td>@string.Format("{0:C}", item.Price)/tháng</td>
															</tr>
														}
													}
													else
													{
														<tr>
															<td colspan="7">Không có dữ liệu</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
										<div><h5><b>Bảng 2: Chuẩn hóa</b></h5></div>
										<div><h6><b>Công thức</b></h6></div>
										<div class="table-wrap">
											<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th>#</th>
														<th>Tên tòa nhà/khu nhà</th>
														<th>Tỉnh/Thành phố</th>
														<th>Quận/Huyện</th>
														<th>Xã/Phường</th>
														<th>Giá</th>
													</tr>
												</thead>
												<tbody>
													@if (Model.ListBuilding != null && Model.ListBuilding.Any())
													{
														var countItem = 0;
														var DistanceTinhSum = new double();
														var DistanceHuyenSum = new double();
														var DistanceXaSum = new double();
														var Gia = new double();
														foreach (var item in Model.ListBuilding)
														{
															DistanceTinhSum += Convert.ToDouble(item.DistanceTinh) * Convert.ToDouble(item.DistanceTinh);
															DistanceHuyenSum += Convert.ToDouble(item.DistanceHuyen) * Convert.ToDouble(item.DistanceHuyen);
															DistanceXaSum += Convert.ToDouble(item.DistanceXa) * Convert.ToDouble(item.DistanceXa);
															Gia += Convert.ToDouble(item.Price) * Convert.ToDouble(item.Price);
														}
														foreach (var item in Model.ListBuilding)
														{
															countItem = countItem + 1;
															var TinhCal = Convert.ToDouble(item.DistanceTinh) / Math.Sqrt(DistanceTinhSum);
															var HuyenCal = Convert.ToDouble(item.DistanceHuyen) / Math.Sqrt(DistanceHuyenSum);
															var XaCal = Convert.ToDouble(item.DistanceXa) / Math.Sqrt(DistanceXaSum);
															var GiaCal = Convert.ToDouble(item.Price) / Math.Sqrt(Gia);
															<tr>
																<td>@countItem</td>
																<td><b>@item.BuildingsName</b></td>
																<td>@string.Format("{0:0.00000}", TinhCal)</td>
																<td>@string.Format("{0:0.00000}", HuyenCal)</td>
																<td>@string.Format("{0:0.00000}", XaCal)</td>
																<td>@string.Format("{0:0.00000}", GiaCal)</td>
															</tr>
														}
													}
													else
													{
														<tr>
															<td colspan="7">Không có dữ liệu</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
										<div><h5><b>Bảng 3: Chuẩn hóa có trọng số (tỉnh/tp: @Model.TrongSoTinh,huyện/q:@Model.TrongSoHuyen,xã/p:@Model.TrongSoXa,giá:@Model.TrongSoGia)</b></h5></div>
										<div><h6><b>Công thức</b></h6></div>
										<div class="table-wrap">
											<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th>#</th>
														<th>Tên tòa nhà/khu nhà</th>
														<th>Tỉnh/Thành phố</th>
														<th>Quận/Huyện</th>
														<th>Xã/Phường</th>
														<th>Giá</th>
													</tr>
												</thead>
												<tbody>
													@if (Model.ListBuilding != null && Model.ListBuilding.Any())
													{
														var countItem = 0;
														var DistanceTinhSum = new double();
														var DistanceHuyenSum = new double();
														var DistanceXaSum = new double();
														var Gia = new double();
														var TinhArray = new List<double>();
														var HuyenArray = new List<double>();
														var XaArray = new List<double>();
														var GiaArray = new List<double>();
														foreach (var item in Model.ListBuilding)
														{
															DistanceTinhSum += Convert.ToDouble(item.DistanceTinh) * Convert.ToDouble(item.DistanceTinh);
															DistanceHuyenSum += Convert.ToDouble(item.DistanceHuyen) * Convert.ToDouble(item.DistanceHuyen);
															DistanceXaSum += Convert.ToDouble(item.DistanceXa) * Convert.ToDouble(item.DistanceXa);
															Gia += Convert.ToDouble(item.Price) * Convert.ToDouble(item.Price);
														}
														foreach (var item in Model.ListBuilding)
														{
															countItem = countItem + 1;
															var TinhCal = (Convert.ToDouble(item.DistanceTinh) / Math.Sqrt(DistanceTinhSum)) * 0.5;
															var HuyenCal = (Convert.ToDouble(item.DistanceHuyen) / Math.Sqrt(DistanceHuyenSum)) * 0.1;
															var XaCal = (Convert.ToDouble(item.DistanceXa) / Math.Sqrt(DistanceXaSum)) * 0.1;
															var GiaCal = (Convert.ToDouble(item.Price) / Math.Sqrt(Gia)) * 0.3;
															TinhArray.Add(TinhCal);
															HuyenArray.Add(HuyenCal);
															XaArray.Add(XaCal);
															GiaArray.Add(GiaCal);
															<tr>
																<td>@countItem</td>
																<td><b>@item.BuildingsName</b></td>
																<td>@string.Format("{0:0.00000}", TinhCal)</td>
																<td>@string.Format("{0:0.00000}", HuyenCal)</td>
																<td>@string.Format("{0:0.00000}", XaCal)</td>
																<td>@string.Format("{0:0.00000}", GiaCal)</td>
															</tr>
														}
														if (TinhArray != null && TinhArray.Any() && HuyenArray != null && HuyenArray.Any() && XaArray != null && XaArray.Any())
														{
															MinTinh = TinhArray.Min();
															MinHuyen = HuyenArray.Min();
															MinXa = XaArray.Min();
															MinGia = GiaArray.Min();
														}
													}
													else
													{
														<tr>
															<td colspan="7">Không có dữ liệu</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
										<div><h5><b>Bộ giá trị trong bảng nhỏ nhất</b></h5></div>
										<div><h5><b>A*(@string.Format("{0:0.00000}", MinTinh);@string.Format("{0:0.00000}", MinHuyen);@string.Format("{0:0.00000}", MinXa);@string.Format("{0:0.00000}", MinGia))</b></h5></div>
										<div><h5><b>Tính khoảng các tới giá trị tốt nhất A* tính theo bảng tính theo bảng 3:</b></h5></div>
										<div class="table-wrap">
											<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th>#</th>
														<th>Tên tòa nhà/khu nhà</th>
														<th>S*</th>
													</tr>
												</thead>
												<tbody>
													@if (Model.ListBuilding != null && Model.ListBuilding.Any())
													{
														var countItem = 0;
														var DistanceTinhSum = new double();
														var DistanceHuyenSum = new double();
														var DistanceXaSum = new double();
														var Gia = new double();
														foreach (var item in Model.ListBuilding)
														{
															DistanceTinhSum += Convert.ToDouble(item.DistanceTinh) * Convert.ToDouble(item.DistanceTinh);
															DistanceHuyenSum += Convert.ToDouble(item.DistanceHuyen) * Convert.ToDouble(item.DistanceHuyen);
															DistanceXaSum += Convert.ToDouble(item.DistanceXa) * Convert.ToDouble(item.DistanceXa);
															Gia += Convert.ToDouble(item.Price) * Convert.ToDouble(item.Price);
														}
														foreach (var item in Model.ListBuilding)
														{
															countItem = countItem + 1;
															var TinhCal = (Convert.ToDouble(item.DistanceTinh) / Math.Sqrt(DistanceTinhSum)) * 0.5;
															var HuyenCal = (Convert.ToDouble(item.DistanceHuyen) / Math.Sqrt(DistanceHuyenSum)) * 0.1;
															var XaCal = (Convert.ToDouble(item.DistanceXa) / Math.Sqrt(DistanceXaSum)) * 0.1;
															var GiaCal = (Convert.ToDouble(item.Price) / Math.Sqrt(Gia)) * 0.3;
															//var TinhS = Math.Sqrt(Math.Pow((MinTinh - TinhCal), 2) + (Math.Pow((MinHuyen - HuyenCal), 2)) + (Math.Pow((MinXa - XaCal), 2)) + (Math.Pow((MinGia - GiaCal), 2)));
															var TinhS = Math.Sqrt(Math.Pow((MinTinh - TinhCal), 2) + (Math.Pow((MinHuyen - HuyenCal), 2)) + (Math.Pow((MinXa - XaCal), 2)));
															<tr>
																<td>@countItem</td>
																<td><b>@item.BuildingsName</b></td>
																<td>@string.Format("{0:0.0000000000}", TinhS)</td>
															</tr>
														}
													}
													else
													{
														<tr>
															<td colspan="7">Không có dữ liệu</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-sm-6" id="ItemSearchItemInfoMapBuilding">
										<div id='map' style='width: 98%; height: 500px;'></div>
									</div>
								</div>
							</div>
						}
						else
						{
							<div class="row">
								<div class="col-sm-9"><h2>@Model.ListBuilding.Count() nhà/tòa nhà trọ</h2></div>
								<div class="col-sm-3">
								</div>
								<div class="col-sm-12"><h4>Không có dữ liệu</h4></div>
							</div>
						}

					}
					else if (Model.HomeTypeId == BuildingTypeConstant.Room)
					{
						if (Model.ListRoom != null && Model.ListRoom.Any())
						{
							<div id="DetailRoom"></div>
							<div class="row">
								<div class="col-sm-9"><h2>@Model.ListRoom.Count() phòng trọ</h2></div>
								<div onclick="ShowMap()" class="col-sm-3" style="height:63px;"><span style="left: 65px;position: absolute;bottom: 10px;">Hiển thị bản đồ: </span> <input type="checkbox" checked data-toggle="toggle" id="MapShow" data-on="Mở" data-off="Đóng"></div>
								<div class="row col-sm-12">
									<div class="col-sm-6" id="ItemSearchItem" style="padding:10px 25px;">
										@foreach (var item in Model.ListRoom)
										{
											var ItemDetail = "ItemDetailRoom" + item.Id;
											<div class="row ItemSearchItem @ItemDetail" onclick="OpenDetailRoom('@item.Id')" onmouseover="HoverRoomItem('@item.Id')" onmouseout="NotHoverRoomItem('@item.Id')">
												<div class="col-sm-4">
													@if (item.ListFileActtackment != null && item.ListFileActtackment.Any())
													{
														<img src="~/@item.ListFileActtackment.FirstOrDefault().ImageUrl" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
													}
													else
													{
														<img src="/assets/images/notfoundimage.png" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
													}
												</div>
												<div class="col-sm-8">
													<div><h4><b>@item.RoomName</b></h4></div>
													<div>
														<span class="ItemSearchItemText">@item.Floor tầng </span><br />
														<span class="ItemSearchItemText">@item.NumberOfPeoperPerRoomAdult người lớn · @item.NumberOfPeoperPerRoomKid trẻ con</span><br />
														<span><b>@string.Format("{0:C}", item.Price)/tháng</b></span><br />
														<span>@item.XaItemInfo.TenXa, @item.HuyenItemInfo.TenHuyen, @item.TinhItemInfo.TenTinh, Việt Nam</span>
													</div>
													<div class="star-rating d-inline-block"><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg> @item.Id</div>
												</div>
											</div>
										}
									</div>
									<div class="col-sm-6" id="ItemSearchItemInfoTable" style="padding: 0px;">
										@{
											var MinTinh = new double();
											var MinHuyen = new double();
											var MinXa = new double();
											var MinGia = new double();
										}
										<div><h5><b>Bảng 1: Thông tin về khoảng cách của các phòng trọ so với yêu cầu của khách hàng</b></h5></div>
										<div class="table-wrap">
											<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th>#</th>
														<th>Tên phòng trọ</th>
														<th>Tỉnh/Thành phố</th>
														<th>Quận/Huyện</th>
														<th>Xã/Phường</th>
														<th>Giá</th>
													</tr>
												</thead>
												<tbody>
													@if (Model.ListRoom != null && Model.ListRoom.Any())
													{
														var countItem = 0;
														foreach (var item in Model.ListRoom)
														{
															countItem = countItem + 1;
															<tr>
																<td>@countItem</td>
																<td><b>@item.RoomName</b></td>
																<td>@string.Format("{0:0.00}", Convert.ToDouble(item.DistanceTinh)) km</td>
																<td>@string.Format("{0:0.00}", Convert.ToDouble(item.DistanceHuyen) / 1000) km</td>
																<td>@string.Format("{0:0.00}", Convert.ToDouble(item.DistanceXa) / 1000) km</td>
																<td>@string.Format("{0:C}", item.Price)/tháng</td>
															</tr>
														}
													}
													else
													{
														<tr>
															<td colspan="7">Không có dữ liệu</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
										<div><h5><b>Bảng 2: Chuẩn hóa</b></h5></div>
										<div><h6><b>Công thức</b></h6></div>
										<div class="table-wrap">
											<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th>#</th>
														<th>Tên phòng trọ</th>
														<th>Tỉnh/Thành phố</th>
														<th>Quận/Huyện</th>
														<th>Xã/Phường</th>
														<th>Giá</th>
													</tr>
												</thead>
												<tbody>
													@if (Model.ListRoom != null && Model.ListRoom.Any())
													{
														var countItem = 0;
														var DistanceTinhSum = new double();
														var DistanceHuyenSum = new double();
														var DistanceXaSum = new double();
														var Gia = new double();
														foreach (var item in Model.ListRoom)
														{
															DistanceTinhSum += Convert.ToDouble(item.DistanceTinh) * Convert.ToDouble(item.DistanceTinh);
															DistanceHuyenSum += Convert.ToDouble(item.DistanceHuyen) * Convert.ToDouble(item.DistanceHuyen);
															DistanceXaSum += Convert.ToDouble(item.DistanceXa) * Convert.ToDouble(item.DistanceXa);
															Gia += Convert.ToDouble(item.Price) * Convert.ToDouble(item.Price);
														}
														foreach (var item in Model.ListRoom)
														{
															countItem = countItem + 1;
															var TinhCal = Convert.ToDouble(item.DistanceTinh) / Math.Sqrt(DistanceTinhSum);
															var HuyenCal = Convert.ToDouble(item.DistanceHuyen) / Math.Sqrt(DistanceHuyenSum);
															var XaCal = Convert.ToDouble(item.DistanceXa) / Math.Sqrt(DistanceXaSum);
															var GiaCal = Convert.ToDouble(item.Price) / Math.Sqrt(Gia);
															<tr>
																<td>@countItem</td>
																<td><b>@item.RoomName</b></td>
																<td>@string.Format("{0:0.00000}", TinhCal)</td>
																<td>@string.Format("{0:0.00000}", HuyenCal)</td>
																<td>@string.Format("{0:0.00000}", XaCal)</td>
																<td>@string.Format("{0:0.00000}", GiaCal)</td>
															</tr>
														}
													}
													else
													{
														<tr>
															<td colspan="7">Không có dữ liệu</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
										<div><h5><b>Bảng 3: Chuẩn hóa có trọng số (tỉnh/tp: @Model.TrongSoTinh,huyện/q:@Model.TrongSoHuyen,xã/p:@Model.TrongSoXa,giá:@Model.TrongSoGia)</b></h5></div>
										<div><h6><b>Công thức</b></h6></div>
										<div class="table-wrap">
											<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th>#</th>
														<th>Tên phòng trọ</th>
														<th>Tỉnh/Thành phố</th>
														<th>Quận/Huyện</th>
														<th>Xã/Phường</th>
														<th>Giá</th>
													</tr>
												</thead>
												<tbody>
													@if (Model.ListRoom != null && Model.ListRoom.Any())
													{
														var countItem = 0;
														var DistanceTinhSum = new double();
														var DistanceHuyenSum = new double();
														var DistanceXaSum = new double();
														var Gia = new double();
														var TinhArray = new List<double>();
														var HuyenArray = new List<double>();
														var XaArray = new List<double>();
														var GiaArray = new List<double>();
														foreach (var item in Model.ListRoom)
														{
															DistanceTinhSum += Convert.ToDouble(item.DistanceTinh) * Convert.ToDouble(item.DistanceTinh);
															DistanceHuyenSum += Convert.ToDouble(item.DistanceHuyen) * Convert.ToDouble(item.DistanceHuyen);
															DistanceXaSum += Convert.ToDouble(item.DistanceXa) * Convert.ToDouble(item.DistanceXa);
															Gia += Convert.ToDouble(item.Price) * Convert.ToDouble(item.Price);
														}
														foreach (var item in Model.ListRoom)
														{
															countItem = countItem + 1;
															var TinhCal = (Convert.ToDouble(item.DistanceTinh) / Math.Sqrt(DistanceTinhSum)) * 0.5;
															var HuyenCal = (Convert.ToDouble(item.DistanceHuyen) / Math.Sqrt(DistanceHuyenSum)) * 0.1;
															var XaCal = (Convert.ToDouble(item.DistanceXa) / Math.Sqrt(DistanceXaSum)) * 0.1;
															var GiaCal = (Convert.ToDouble(item.Price) / Math.Sqrt(Gia)) * 0.3;
															TinhArray.Add(TinhCal);
															HuyenArray.Add(HuyenCal);
															XaArray.Add(XaCal);
															GiaArray.Add(GiaCal);
															<tr>
																<td>@countItem</td>
																<td><b>@item.RoomName</b></td>
																<td>@string.Format("{0:0.00000}", TinhCal)</td>
																<td>@string.Format("{0:0.00000}", HuyenCal)</td>
																<td>@string.Format("{0:0.00000}", XaCal)</td>
																<td>@string.Format("{0:0.00000}", GiaCal)</td>
															</tr>
														}
														if (TinhArray != null && TinhArray.Any() && HuyenArray != null && HuyenArray.Any() && XaArray != null && XaArray.Any())
														{
															MinTinh = TinhArray.Min();
															MinHuyen = HuyenArray.Min();
															MinXa = XaArray.Min();
															MinGia = GiaArray.Min();
														}
													}
													else
													{
														<tr>
															<td colspan="7">Không có dữ liệu</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
										<div><h5><b>Bộ giá trị trong bảng nhỏ nhất</b></h5></div>
										<div><h5><b>A*(@string.Format("{0:0.00000}", MinTinh);@string.Format("{0:0.00000}", MinHuyen);@string.Format("{0:0.00000}", MinXa);@string.Format("{0:0.00000}", MinGia))</b></h5></div>
										<div><h5><b>Tính khoảng các tới giá trị tốt nhất A* tính theo bảng tính theo bảng 3:</b></h5></div>
										<div class="table-wrap">
											<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
												<thead>
													<tr>
														<th>#</th>
														<th>Tên phòng trọ</th>
														<th>S*</th>
													</tr>
												</thead>
												<tbody>
													@if (Model.ListRoom != null && Model.ListRoom.Any())
													{
														var countItem = 0;
														var DistanceTinhSum = new double();
														var DistanceHuyenSum = new double();
														var DistanceXaSum = new double();
														var Gia = new double();
														foreach (var item in Model.ListRoom)
														{
															DistanceTinhSum += Convert.ToDouble(item.DistanceTinh) * Convert.ToDouble(item.DistanceTinh);
															DistanceHuyenSum += Convert.ToDouble(item.DistanceHuyen) * Convert.ToDouble(item.DistanceHuyen);
															DistanceXaSum += Convert.ToDouble(item.DistanceXa) * Convert.ToDouble(item.DistanceXa);
															Gia += Convert.ToDouble(item.Price) * Convert.ToDouble(item.Price);
														}
														foreach (var item in Model.ListRoom)
														{
															countItem = countItem + 1;
															var TinhCal = (Convert.ToDouble(item.DistanceTinh) / Math.Sqrt(DistanceTinhSum)) * 0.5;
															var HuyenCal = (Convert.ToDouble(item.DistanceHuyen) / Math.Sqrt(DistanceHuyenSum)) * 0.1;
															var XaCal = (Convert.ToDouble(item.DistanceXa) / Math.Sqrt(DistanceXaSum)) * 0.1;
															var GiaCal = (Convert.ToDouble(item.Price) / Math.Sqrt(Gia)) * 0.3;
															//var TinhS = Math.Sqrt(Math.Pow((MinTinh - TinhCal), 2) + (Math.Pow((MinHuyen - HuyenCal), 2)) + (Math.Pow((MinXa - XaCal), 2)) + (Math.Pow((MinGia - GiaCal), 2)));
															var TinhS = Math.Sqrt(Math.Pow((MinTinh - TinhCal), 2) + (Math.Pow((MinHuyen - HuyenCal), 2)) + (Math.Pow((MinXa - XaCal), 2)));
															<tr>
																<td>@countItem</td>
																<td><b>@item.RoomName</b></td>
																<td>@string.Format("{0:0.0000000000}", TinhS)</td>
															</tr>
														}
													}
													else
													{
														<tr>
															<td colspan="7">Không có dữ liệu</td>
														</tr>
													}
												</tbody>
											</table>
										</div>
									</div>
									<div class="col-sm-6" id="ItemSearchItemInfoMapRoom">
										<div id='mapRoom' style='width: 98%; height: 500px;'></div>
									</div>
								</div>
							</div>
						}
						else
						{
							<div class="row">
								<div class="col-sm-9"><h2>@Model.ListRoom.Count() nhà/tòa nhà trọ</h2></div>
								<div class="col-sm-3">
									<div class="col-sm-12"><h4>Không có dữ liệu</h4></div>
								</div>
							</div>
						}
					}
					<div id='mapRoom' style='display:none'></div>
					<div id='map' style='display:none'></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	if ('@Model.HuyenArea' == 'False') {
		$('#HuyenArea').prop('checked', true);
	}
	if ('@Model.XaArea' == 'False') {
		$('#XaArea').prop('checked', true);
	}
	$("#TinhId").on("change", function () {
		var type = $(this).val();
		renderDropdownList('/SearchGuest/GetHuyenDropdownOfTinh/' + type, 'HuyenId', 'Huyện/Quận');
		$('#HuyenId').val('').change();
	});

	$("#HuyenId").on("change", function () {
		var type = $(this).val();
		renderDropdownList('/SearchGuest/GetXaDropdownOfHuyen/' + type, 'XaId', 'Xã/Phường');
		$('#XaId').val('').change();
	});
	$(".column").sortable({
		connectWith: ".column",
		handle: ".portlet-header",
		cancel: ".portlet-toggle",
		placeholder: "drop-placeholder"
	});

	$('.portlet-header').on('click', function (e) {
		if ($(e.target).children().last().hasClass('fa-caret-down')) {
			$(e.target).children().last().removeClass('fa-caret-down').addClass('fa-caret-up');
		} else if ($(e.target).children().last().hasClass('fa-caret-up')) {
			$(e.target).children().last().removeClass('fa-caret-up').addClass('fa-caret-down');
		}
	});
	function OpenDetailBuilding(id) {
		AjaxCall('/SearchGuest/DetailSearchBuilding/' + id, 'get', null, function (rs) {
			$('#DetailBuilding').html(rs)
			$('.modal-dialog').css("display", "block")
		})
	}

	function CloseDetailBuilding() {
		$('#DetailBuilding').html('')
		$('.modal-dialog').css("display", "none")
	}

	function OpenDetailRoom(id) {
		AjaxCall('/SearchGuest/DetailSearchRoom/' + id, 'get', null, function (rs) {
			$('#DetailRoom').html(rs)
			$('.modal-dialog').css("display", "block")
		})
	}

	function CloseDetailRoom() {
		$('#DetailRoom').html('')
		$('.modal-dialog').css("display", "none")
	}

	function HoverBuildingItem(id) {
		var ItemDetail = ".ItemDetail" + id;
		if ($(ItemDetail).is(':hover') == true) {
			$(ItemDetail).css("background-color", "#ecf0f1");
			$(ItemDetail).css("cursor", "pointer");
		}
	}
	function NotHoverBuildingItem(id) {
		var ItemDetail = ".ItemDetail" + id;
		$(ItemDetail).css("background-color", "white");
	}


	function HoverRoomItem(id) {
		var ItemDetail = ".ItemDetailRoom" + id;
		if ($(ItemDetail).is(':hover') == true) {
			$(ItemDetail).css("background-color", "#ecf0f1");
			$(ItemDetail).css("cursor", "pointer");
		}
	}
	function NotHoverRoomItem(id) {
		var ItemDetail = ".ItemDetailRoom" + id;
		$(ItemDetail).css("background-color", "white");
	}

	$('#MapShow').bootstrapToggle('off');
	$('#ItemSearchItemInfoMapBuilding').hide()
	$('#ItemSearchItemInfoMapRoom').hide()
	var dataMap = eval('@dataMap');
	var dataMapRoom = eval('@dataMapRoom');

	mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	var mapRoom = new mapboxgl.Map({
		container: 'mapRoom',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.addControl(new mapboxgl.NavigationControl());
	mapRoom.addControl(new mapboxgl.NavigationControl());
	var dataProvince = {
		"type": "FeatureCollection",
		"features": []
	};
	var dataProvinceRoom = {
		"type": "FeatureCollection",
		"features": []
	};
	if (dataMap != null) {
		for (var i = 0; i < dataMap.length; i++) {
			dataProvince.features[i] = {
				"type": "Feature",
				"properties": {
					"message": dataMap[i].BuildingsName,
					"description": "<strong style='color:#428BCA;'>" + dataMap[i].BuildingsName + "</strong><br/><span><b>Thông tin:</b> " + dataMap[i].Description + "</span>" + "<br/><span><b>Địa chỉ:</b> " + dataMap[i].Address + "</span>",
				},
				"geometry": {
					"type": "Point",
					"coordinates": [dataMap[i].Longitude, dataMap[i].Latitude]
				}
			}
		}
	}
	if (dataMapRoom != null) {
		for (var i = 0; i < dataMapRoom.length; i++) {
			dataProvinceRoom.features[i] = {
				"type": "Feature",
				"properties": {
					"message": dataMapRoom[i].RoomName,
					"description": "<strong style='color:#428BCA;'>" + dataMapRoom[i].RoomName + "</strong><br/><span><b>Thông tin:</b> " + dataMapRoom[i].Description + "</span>" + "<br/><span><b>Địa chỉ:</b> " + dataMapRoom[i].Address + "</span>",
				},
				"geometry": {
					"type": "Point",
					"coordinates": [dataMapRoom[i].Longitude, dataMapRoom[i].Latitude]
				}
			}
		}
	}

	map.on('load', function () {
		map.loadImage('/Content/MapIcon/universityround.png', function (error, image) {
			map.addImage('BuildingIcon', image);
		});
		map.addSource("places", {
			"type": "geojson",
			"data": dataProvince
		});
		map.addLayer({
			"id": "poi-labels",
			"type": "symbol",
			"source": "places",
			"layout": {
				"text-field": ["get", "message"],
				"text-size": 10,
				"text-variable-anchor": ["top", "bottom", "left", "right"],
				"text-radial-offset": 0.5,
				"text-justify": "auto",
				"icon-image": "BuildingIcon",
				"icon-size": 0.4,
				"text-max-width": 8,
			},
			"paint": {
				"text-color": "#c0392b"
			}
		});
	});
	mapRoom.on('load', function () {
		mapRoom.loadImage('/Content/MapIcon/universityround.png', function (error, image) {
			mapRoom.addImage('BuildingIcon', image);
		});
		mapRoom.addSource("placesRoom", {
			"type": "geojson",
			"data": dataProvinceRoom
		});
		mapRoom.addLayer({
			"id": "poi-labelsRoom",
			"type": "symbol",
			"source": "placesRoom",
			"layout": {
				"text-field": ["get", "message"],
				"text-size": 10,
				"text-variable-anchor": ["top", "bottom", "left", "right"],
				"text-radial-offset": 0.5,
				"text-justify": "auto",
				"icon-image": "BuildingIcon",
				"icon-size": 0.4,
				"text-max-width": 8,
			},
			"paint": {
				"text-color": "#c0392b"
			}
		});
	});

	map.on('click', 'poi-labels', function (e) {
		var coordinates = e.features[0].geometry.coordinates;
		var description = e.features[0].properties.description;
		while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
			coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
		}
		map.flyTo({
			center: coordinates,
			zoom: 8
		});
		new mapboxgl.Popup()
			.setLngLat(coordinates)
			.setHTML(description)
			.addTo(map);
	});

	mapRoom.on('click', 'poi-labelsRoom', function (e) {
		var coordinates = e.features[0].geometry.coordinates;
		var description = e.features[0].properties.description;
		while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
			coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
		}
		mapRoom.flyTo({
			center: coordinates,
			zoom: 8
		});
		new mapboxgl.Popup()
			.setLngLat(coordinates)
			.setHTML(description)
			.addTo(mapRoom);
	});
	function ShowMap() {
		if ($('#MapShow').prop('checked') == false) {
			if ('@Model.HomeTypeId' == '@BuildingTypeConstant.Building') {
				$('#ItemSearchItemInfoMapBuilding').show()
				$('#ItemSearchItemInfoTable').hide()
				$('.mapboxgl-ctrl-top-right').hide()
				$('.mapboxgl-ctrl-bottom-left').hide()
				$('.mapboxgl-ctrl-bottom-right').hide()
				map.resize()
			}
			if ('@Model.HomeTypeId' == '@BuildingTypeConstant.Room') {
				$('#ItemSearchItemInfoMapRoom').show()
				$('#ItemSearchItemInfoTable').hide()
				$('.mapboxgl-ctrl-top-right').hide()
				$('.mapboxgl-ctrl-bottom-left').hide()
				$('.mapboxgl-ctrl-bottom-right').hide()
				mapRoom.resize()
			}
		} else {
			if ('@Model.HomeTypeId' == '@BuildingTypeConstant.Building') {
				$('#ItemSearchItemInfoMapBuilding').hide()
				$('#ItemSearchItemInfoTable').show()
				$('.mapboxgl-ctrl-top-right').show()
				$('.mapboxgl-ctrl-bottom-left').show()
				$('.mapboxgl-ctrl-bottom-right').show()
			}
			if ('@Model.HomeTypeId' == '@BuildingTypeConstant.Room') {
				$('#ItemSearchItemInfoMapRoom').hide()
				$('#ItemSearchItemInfoTable').show()
				$('.mapboxgl-ctrl-top-right').show()
				$('.mapboxgl-ctrl-bottom-left').show()
				$('.mapboxgl-ctrl-bottom-right').show()
			}
		}
	}
</script>