@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.QLHopDongArea.Models
@using Nami.Service.Constant;

@model CreateVM
@{
	var dropdownlistAgreementType = ViewBag.dropdownlistAgreementType as List<SelectListItem>;
	var dropdownlistItemId = new List<SelectListItem>();
	var dropdownlistUserId = new List<SelectListItem>();
}

<div class="modal-dialog" style="width: 70%">
	@using (Ajax.BeginForm("Create", "QLHopDong", new { @area = "QLHopDongArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "createQLHopDongForm", autocomplete = "off", enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">Tạo mới Quản lý hợp đồng</h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-4">Loại đối tượng </label>
						<div class="col-sm-8">
							<select class="form-control ItemType" name="ItemType" id="ItemType">
								<option value="">--Chọn loại đối tượng--</option>
								<option value="Building">Tòa nhà/Khu trọ</option>
								<option value="Room">Phòng trọ</option>
							</select>
							@Html.ValidationMessageFor(m => m.ItemType, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Đối tượng làm hồ sơ <span>*</span></label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.ItemId, dropdownlistItemId, "--Chọn đối tượng làm hợp đồng--", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.ItemId, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Loại hợp đồng <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.AgreementCode, dropdownlistAgreementType, "--Chọn loại hợp đồng--", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.AgreementCode, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group UserIdArea">
						<label class="control-label col-sm-4">Người đăng ký làm hợp đồng</label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.UserId, dropdownlistUserId, "--Chọn người đăng ký làm hợp đồng--", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Tên người đại diện <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.RepresenterName, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.RepresenterName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Tiền đặt cọc </label>
						<div class="col-sm-8">
							<input type="number" step="1" min="0" name="DepositsMoney" class="form-control DepositsMoney" id="DepositsMoney" />
							@Html.ValidationMessageFor(m => m.DepositsMoney, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Ngày bắt đầu <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.DatePickerFor(m => m.DateStart, "autoclose=true", "todayBtn=true", "todayHighlight=true")
							@Html.ValidationMessageFor(m => m.DateStart, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Ngày kết thúc <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.DatePickerFor(m => m.DateEnd, "autoclose=true", "todayBtn=true", "todayHighlight=true")
							@Html.ValidationMessageFor(m => m.DateEnd, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Thời hạn hợp đồng</label>
						<div class="col-sm-8">
							<span id="ThoiHanHopDong"></span>
							<input type="hidden" name="NumberYear" class="form-control NumberYear" id="NumberYear" />
							<input type="hidden" name="NumberMonth" class="form-control NumberMonth" id="NumberMonth" />
							<input type="hidden" name="NumberDay" class="form-control PayPerMonth" id="NumberDay" />
						</div>
					</div>
					<div class="form-group" id="SoNgayTinhLaMotThang">
						<label class="control-label col-sm-4">Số ngày tính là một tháng trong hợp đồng <span class="red">*</span></label>
						<div class="col-sm-8">
							<input type="number" step="1" min="0" max="31" name="SoNgayTinhLaMotThang" class="form-control SoNgayTinhLaMotThang" id="SoNgayTinhLaMotThang" />
							@Html.ValidationMessageFor(m => m.SoNgayTinhLaMotThang, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Ngày thu tiền hàng tháng <span class="red">*</span></label>
						<div class="col-sm-8">
							<input type="number" step="1" min="0" max="31" name="NgayThuTienHangThang" class="form-control NgayThuTienHangThang" id="NgayThuTienHangThang" />
							@Html.ValidationMessageFor(m => m.NgayThuTienHangThang, "", new { @class = "text-danger" })
							<br />
							<i style="color:#34495e;">(Những ngày 28,29,30,31 đều sẽ được mặc đình là ngày cuối cùng của những tháng thiếu ngày như tháng 2)</i>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Chi phí hàng tháng <span class="red">*</span></label>
						<div class="col-sm-8">
							<input type="number" step="1" min="0" name="PayPerMonth" class="form-control PayPerMonth" id="PayPerMonth" />
							@Html.ValidationMessageFor(m => m.PayPerMonth, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Hợp đồng bản mềm đính kèm <br /><i class="red">(Vui lòng tải lên định dạng pdf)</i></label>
						<div class="col-sm-8">
							<input type="file" name="file" class="file form-control" id="file" multiple />
							@Html.ValidationMessageFor(m => m.file, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Ghi chú </label>
						<div class="col-sm-8">
							@Html.TextAreaFor(m => m.Note, 4, 3, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary">Hoàn thành</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>

<script>
	$("#SoNgayTinhLaMotThang").hide();
	$(".UserIdArea").hide();
	$("#AgreementCode").select2();

	$("#AgreementCode").on("change", function () {
		var type = $(this).val();
		if (type == '@AgreementTypeConstant.VisitorInSys') {
			$(".UserIdArea").show();
			renderDropdownList('/QLHopDongArea/QLHopDong/GetDropDownDKLamHopDong/' + $("#ItemId").val(), 'UserId', '--Chọn người đăng ký làm hợp đồng');
			$('#UserId').val('').change();
			$("#UserId").select2();
		} else {
			$(".UserIdArea").hide();
			$("#UserId").val("");
		}
		//renderDropdownList('/BuildingsInfoArea/BuildingsInfo/GetHuyenDropdownOfTinh/' + type, 'HuyenCode', '--Chọn quận/huyện--');
		//$('#HuyenCode').val('').change();
	});

	$('#ItemType').change(function () {
		var ItemType = $("#ItemType").val();
		$("#PayPerMonth").val("");
		renderDropdownList("/QLHopDongArea/QLHopDong/GetDropDownItemType?ItemType=" + ItemType + "", "ItemId", "--Chọn đối tượng làm hợp đồng--");
	})

	$('#ItemId').change(function () {
		var ItemId = $("#ItemId").val();
		var ItemType = $("#ItemType").val();
		$("#PayPerMonth").val("");
		if (ItemId != null && ItemId != "") {
			AjaxCall("/QLHopDongArea/QLHopDong/GetPriceDetail", 'get', { "ItemId": ItemId, "ItemType": ItemType }, function (rs) {
				if (rs) {
					if (rs != null) {
						$('#PayPerMonth').val(rs);
					}
				}
			});
		}
	})

	$('#DateStart').change(function () {
		$("#SoNgayTinhLaMotThang").hide();
		var DateStartVal = $('#DateStart').datepicker('getDate');
		if (DateStartVal.getDate() > 1) {
			//$("#SoNgayTinhLaMotThang").show();
		}
	});
	$('#DateEnd').change(function () {
		$("#SoNgayTinhLaMotThang").hide();
		if ($('#DateStart').val() != "" && $('#DateStart').val() != null && $('#DateEnd').val() != "" && $('#DateEnd').val() != null) {
			var DateStartVal = $('#DateStart').datepicker('getDate');
			var DateEndVal = $('#DateEnd').datepicker('getDate');
			var oneDay = 24 * 60 * 60 * 1000;
			if (DateStartVal.getTime() < DateEndVal.getTime()) {
				//if (DateStartVal.getMonth() != DateEndVal.getMonth()) {
				//	var months;
				//	months = (DateEndVal.getFullYear() - DateStartVal.getFullYear()) * 12;
				//	months -= DateEndVal.getMonth();
				//	months += DateEndVal.getMonth();
				//	console.log(months);
				//} else if (DateStartVal.getMonth() == DateEndVal.getMonth()) {
				//	var diffDays = Math.round(Math.abs((DateStartVal - DateEndVal) / oneDay)) + 1;
				//	console.log(diffDays);
				//}
				getAge(DateStartVal, DateEndVal);
				if (DateStartVal.getDate() > 1) {
					//$("#SoNgayTinhLaMotThang").show();
				}
			} else {
				NotiError("Lỗi", "Vui lòng chọn ngày bắt đầu nhỏ hơn ngày kết thúc");
			}
		} else {
			NotiError("Lỗi", "Vui lòng chọn cả ngày bắt đầu và ngày kết thúc");
		}
	})
	function getAge(startDate, endDate) {
		var diff = endDate - startDate
		var age = new Date(new Date("0000-01-01").getTime() + diff)
		var years = age.getFullYear()
		var months = age.getMonth()
		var days = age.getDate() - 1
		console.log(years, "years", months, "months", days, "days")
		//return (years + "years " + months + "months" + days + "days")
		var ThoiHanHopDongString = years + " năm, " + months + " tháng, " + days + " ngày";
		console.log(ThoiHanHopDongString);
		$("#ThoiHanHopDong").html(ThoiHanHopDongString);
		$("#NumberYear").val(years);
		$("#NumberMonth").val(months);
		$("#NumberDay").val(days);
	}
</script>
@Scripts.Render("~/bundles/jqueryval")
