@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.QLHopDongArea.Models

@model EditVM
@{ 

}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "QLHopDong", new { @area = "QLHopDongArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editQLHopDongForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật Quản lý hợp đồng</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
 			@Html.HiddenFor(x=>x.Id)
				<div class="form-group">
				<label class="control-label col-sm-4">Id hồ sơ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.ItemId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ItemId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Loại hồ sơ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.ItemType, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ItemType, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Loại hợp đồng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.AgreementCode, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.AgreementCode, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Người đại diện </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.RepresenterName, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.RepresenterName, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tiền đặt cọc </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.DepositsMoney, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DepositsMoney, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Thời hạn hợp đồng tháng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Month, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Month, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Thời hạn hợp đồng ngày </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Ngay, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Ngay, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ngày bắt đầu </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.DateStart, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DateStart, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ngày kết thúc </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.DateEnd, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DateEnd, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Chi phí hàng tháng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.PayPerMonth, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.PayPerMonth, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ghi chú </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
				</div>
				</div>

 

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
