<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
    <div class="well SearchBox">

        @using (Ajax.BeginForm("searchData", "QLHopDong", new { Area = "QLHopDongArea" },
            new AjaxOptions()
            {
                HttpMethod = "POST",
                OnFailure = "AjaxFormError",
                OnSuccess = "AjaxSearchSuccess",
            }, new { }))
        {
            @Html.AntiForgeryToken()
        <div class="row row-block">
		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Id hồ sơ</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="ItemIdFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Loại hồ sơ</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="ItemTypeFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Loại hợp đồng</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="AgreementCodeFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Người đại diện</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="RepresenterNameFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Tiền đặt cọc</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="DepositsMoneyFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Thời hạn hợp đồng tháng</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="MonthFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Thời hạn hợp đồng ngày</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="NgayFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Ngày bắt đầu</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="DateStartFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Ngày kết thúc</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="DateEndFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Chi phí hàng tháng</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="PayPerMonthFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Ghi chú</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="NoteFilter" />
			</div>
		</div>


            <div class="col-md-12 center" style=" margin-top:20px;">
                <button id="btnSearch" type="submit" class="btn btn-labeled btn-primary btn-sm">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    Tìm kiếm
                </button>

                <a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger btn-sm">
                    <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
                    Đóng
                </a>
            </div>
        </div>

        }
    </div>
</div>


