@{
	ViewBag.Title = "Quản lý hợp đồng";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Quản lý hợp đồng";
	ViewBag.PageName = "Danh sách Quản lý hợp đồng";
	ViewBag.ModuleCode = "QLHopDong_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.QLHopDongService.Dto;
@model PageListResultBO<QLHopDongDto>
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
	<a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
		Tìm kiếm
	</a>

	<a href="javascript:void(0)" onclick="CreateAction('/QLHopDongArea/QLHopDong/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-QLHopDong" class="hntbl-cover table-scroll">
	<div class="table-wrap">
		<table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="fixed-side"></th>
					<th class="fixed-side">#</th>

					<th class="fixed-side">Thao tác</th>
					<th>Đối tượng làm hợp đồng</th>
					<th>Loại đối tượng</th>
					<th>Loại hợp đồng</th>
					<th>Người đại diện</th>
					<th>Tiền đặt cọc</th>
					<th>Thời hạn hợp đồng</th>
					<th>Ngày bắt đầu</th>
					<th>Ngày kết thúc</th>
					<th>Chi phí hàng tháng</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

@section scripts{
	<script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-QLHopDong";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50 fixed-side",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },

                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center fixed-side",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
						   result += "<li><a href='/QLHopDongArea/QLHopDong/Detail?id=" + data.Id + "'   title = 'Thông tin chi tiết'><i class='glyphicon glyphicon-user'> </i> Thông tin chi tiết</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/QLHopDongArea/QLHopDong/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/QLHopDongArea/QLHopDong/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },
				{
					isSort:true,
					nameModel:'ItemId',
					content: function (data) {
						var str = "";
						str += "<a href='" + data.ItemUrl + "'>" + data.ItemName+"</a>"
						return str
				}
				},
				{
					isSort:true,
					nameModel:'ItemType',
					content: function (data) {
					return data.ItemTypeName
				}
				},
				{
					isSort:true,
					nameModel:'AgreementCode',
					content: function (data) {
					return data.AgreementCodeName
				}
				},
				{
					isSort:true,
					nameModel:'RepresenterName',
					content: function (data) {
					return data.RepresenterName
				}
				},
				{
					isSort:true,
					nameModel:'DepositsMoney',
					content: function (data) {
						return formatMoney(data.DepositsMoney)
				}
				},
				{
					isSort:true,
					nameModel:'Month',
					content: function (data) {
					return data.Month
				}
				},
				{
					isSort:true,
					nameModel:'DateStart',
					content: function (data) {
					return ToDate(data.DateStart)
				}
				},
				{
					isSort:true,
					nameModel:'DateEnd',
					content: function (data) {
					return ToDate(data.DateEnd)
				}
				},
				{
					isSort:true,
					nameModel:'PayPerMonth',
					content: function (data) {
						return formatMoney(data.PayPerMonth)
				}
				},
            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/QLHopDongArea/QLHopDong/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-QLHopDong").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
	</script>
}