@{
    ViewBag.Title = "Quản lý dự án";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Quản lý dự án";
    ViewBag.PageName = "Thông tin Quản lý dự án";
    ViewBag.ModuleCode = "QuanLyPROJECT_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.QuanLyPROJECTArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/QuanLyPROJECTArea/QuanLyPROJECT/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Tên dự án</td><td>@Model.objInfo.TenDuAn</td></tr>
<tr><td>Id dự án</td><td>@Model.objInfo.DuAnId</td></tr>
<tr><td>Id tỉnh</td><td>@Model.objInfo.TinhId</td></tr>
<tr><td>Id Huyện</td><td>@Model.objInfo.HuyenId</td></tr>
<tr><td>Vị trí</td><td>@Model.objInfo.Location</td></tr>
<tr><td>Kinh độ</td><td>@Model.objInfo.Longitude</td></tr>
<tr><td>Vĩ độ</td><td>@Model.objInfo.Latitude</td></tr>
<tr><td></td><td>@Model.objInfo.IsDelete</td></tr>
<tr><td></td><td>@Model.objInfo.DeleteTime</td></tr>
<tr><td></td><td>@Model.objInfo.DeleteId</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedID</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedBy</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedID</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
