@{
    ViewBag.Title = "Tỉnh/Thành phố";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Tỉnh/Thành phố";
    ViewBag.PageName = "Thông tin Tỉnh/Thành phố";
    ViewBag.ModuleCode = "TINH_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.TINHArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/TINHArea/TINH/Index')" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Mã tỉnh</td><td>@Model.objInfo.MaTinh</td></tr>
<tr><td>Tên tỉnh</td><td>@Model.objInfo.TenTinh</td></tr>
<tr><td>Loại</td><td>@Model.objInfo.Loai</td></tr>

           </table>
     </div>
    
</div>

<script>

[{ContentInitSelect2}]


</script>
@Scripts.Render("~/bundles/jqueryval")
