@{
	ViewBag.Title = "Tỉnh/Thành phố";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Tỉnh/Thành phố";
	ViewBag.PageName = "Danh sách Tỉnh/Thành phố";
	ViewBag.ModuleCode = "TINH_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.TINHService.Dto;
@model PageListResultBO<TINHDto>
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
	@*<a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
			Tìm kiếm
		</a>*@
	<a href="javascript:void(0)" onclick="CreateAction('/TINHArea/TINH/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
	<a href="javascript:void(0)" onclick="ConvertTinh2Data()" class="btn btn-primary btn-sm">Chuyển đổi thông tin tỉnh 2</a>
	<a href="javascript:void(0)" onclick="ConvertHuyen2Data()" class="btn btn-primary btn-sm">Chuyển đổi thông tin huyện 2</a>
	<a href="javascript:void(0)" onclick="ConvertXa2Data()" class="btn btn-primary btn-sm">Chuyển đổi thông tin xã 2</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-TINH" class="hntbl-cover">
	<div class="hntbl-cover-tableScroll">
		<table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th></th>
					<th>#</th>
					<th>Tác vụ</th>
					<th>Mã tỉnh</th>
					<th>Tên tỉnh</th>
					<th>Loại</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

@section scripts{
	<script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-TINH";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
				},

				{
					isSort: false,
					nameModel: "",
					tdClass: "center dropdowntt",
					content: function (data) {
						var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu dropdown-menu-left">`;
						result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/TINHArea/TINH/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
						result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/TINHArea/TINH/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
						result += "<li><a href='/HuyenArea/Huyen/index/" + data.Id + "'  title = 'Các huyện trực thuộc'><i class=' glyphicon glyphicon-cog' > </i> Quản lý huyện</a></li>";
						result += "</ul></div>";
						return result;
					}
				},
				{
					isSort:true,
					nameModel:'MaTinh',
					content: function (data) {
                        return ShowMessageIfEmpty(data.MaTinh)
				}
				},
				{
					isSort:true,
					nameModel:'TenTinh',
					content: function (data) {
					return ToStrong(data.TenTinh)
				}
				},
				{
					isSort:true,
					nameModel:'Loai',
					content: function (data) {
					return data.Loai
				}
				},


            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/TINHArea/TINH/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-TINH").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar: '<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
			}
		function ConvertTinh2Data() {
			$.confirm({
				title: "Xác nhận thao tác",
				content: "Bạn chắc chắn convert dữ liệu!",
				draggable: false,
				theme: 'material',
				buttons: {
					confirm: {
						btnClass: 'btn-primary',
						text: "Xác nhận",
						action: function () {
							AjaxCall('/TINHArea/TINH/UpdateDateTinh2', 'post', null, function (rs) {
								if (rs) {
									NotiSuccess("Thành công", "Convert dữ liệu tỉnh thành công");
									location.reload();
								} else {
									NotiError("Lỗi", "Không convert được dữ liệu tỉnh");
								}

							})
						}
					},
					cancel: {
						text: "Đóng",
						action: function () {

						}
					}
				}
			});
		}

		function ConvertHuyen2Data() {
			$.confirm({
				title: "Xác nhận thao tác",
				content: "Bạn chắc chắn convert dữ liệu!",
				draggable: false,
				theme: 'material',
				buttons: {
					confirm: {
						btnClass: 'btn-primary',
						text: "Xác nhận",
						action: function () {
							AjaxCall('/TINHArea/TINH/UpdateHuyen2', 'post', null, function (rs) {
								if (rs) {
									NotiSuccess("Thành công", "Convert dữ liệu huyện thành công");
									location.reload();
								} else {
									NotiError("Lỗi", "Không convert được dữ liệu huyện");
								}

							})
						}
					},
					cancel: {
						text: "Đóng",
						action: function () {

						}
					}
				}
			});
		}
		
		function ConvertXa2Data() {
			$.confirm({
				title: "Xác nhận thao tác",
				content: "Bạn chắc chắn convert dữ liệu!",
				draggable: false,
				theme: 'material',
				buttons: {
					confirm: {
						btnClass: 'btn-primary',
						text: "Xác nhận",
						action: function () {
							AjaxCall('/TINHArea/TINH/UpdateXa2', 'post', null, function (rs) {
								if (rs) {
									NotiSuccess("Thành công", "Convert dữ liệu xã thành công");
									location.reload();
								} else {
									NotiError("Lỗi", "Không convert được dữ liệu xã");
								}

							})
						}
					},
					cancel: {
						text: "Đóng",
						action: function () {

						}
					}
				}
			});
		}
        pagefunction();
	</script>
}
