@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.FileDinhKemArea.Models

@model EditVM
@{ 

}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "FileDinhKem", new { @area = "FileDinhKemArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editFileDinhKemForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật File đính kèm</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
 			@Html.HiddenFor(x=>x.Id)
				<div class="form-group">
				<label class="control-label col-sm-4">Id Đối tượng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.IdItem, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.IdItem, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Loại đối tượng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.TypeItem, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.TypeItem, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">ĐƯớng dẫn file </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-danger" })
				</div>
				</div>

 

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
