@{
    ViewBag.Title = "File đính kèm";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý File đính kèm";
    ViewBag.PageName = "Thông tin File đính kèm";
    ViewBag.ModuleCode = "FileDinhKem_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.FileDinhKemArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/FileDinhKemArea/FileDinhKem/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id Đối tượng</td><td>@Model.objInfo.IdItem</td></tr>
<tr><td>Loại đối tượng</td><td>@Model.objInfo.TypeItem</td></tr>
<tr><td>ĐƯớng dẫn file</td><td>@Model.objInfo.ImageUrl</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
