@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.QuanLyDuAnArea.Models

@model EditVM
@{ #line 5 "D:\HeThongQuanLyPhongTro\Nami.Web\Areas\QuanLyDuAnArea\Views\QuanLyDuAn\_EditPartial.cshtml"
				/**/

}
<div class="modal-dialog">
	@using (Ajax.BeginForm("Edit", "QuanLyDuAn", new { @area = "QuanLyDuAnArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "editQuanLyDuAnForm" }))
	{
		@Html.AntiForgeryToken()
		//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">Cập nhật Quản lý dự án</h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					@Html.HiddenFor(x => x.Id)
					<div class="form-group">
						<label class="control-label col-sm-4">Tên dự án <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.TenDuAn, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.TenDuAn, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Id dự án </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.DuAnId, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.DuAnId, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Id tỉnh </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.TinhId, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.TinhId, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Id huyện </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.HuyenId, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.HuyenId, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Vị trí </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Kinh độ </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Longitude, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Vĩ độ </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Latitude, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Đường dẫn ảnh dự án </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary">Hoàn thành</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>
<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
