@{
    ViewBag.Title = "Quản lý dự án";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý dự án";
    ViewBag.PageName = "Danh sách dự án";
    ViewBag.ModuleCode = "QuanLyDuAn_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.QuanLyDuAnService.Dto;
@model PageListResultBO<QuanLyDuAnDto>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>

    <a href="javascript:void(0)" onclick="CreateAction('/QuanLyDuAnArea/QuanLyDuAn/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-QuanLyDuAn" class="hntbl-cover table-scroll">
	<div class="table-wrap">
    <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
			<tr>
				<th class="fixed-side"></th>
				<th class="fixed-side">#</th>

				<th class="fixed-side">Thao tác</th>
				<th>Ảnh dự án</th>
				<th>Tên dự án</th>
				<th>Id dự án</th>
				<th>Id tỉnh</th>
				<th>Id huyện</th>
				<th>Vị trí</th>
				<th>Kinh độ</th>
				<th>Vĩ độ</th>

			</tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-QuanLyDuAn";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50 fixed-side",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },

                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center fixed-side",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
                           result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/QuanLyDuAnArea/QuanLyDuAn/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/QuanLyDuAnArea/QuanLyDuAn/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
				},
				{
					isSort: true,
					nameModel: 'ImageUrl',
					content: function (data) {
						var str = "";
						str += "<img src='" + data.ImageUrl + "' class='imageGridNhanSu' onerror=\"this.src = '/assets/images/notfoundimage.png'\" />";
						return str
					}
				},
				{
					isSort:true,
					nameModel:'TenDuAn',
					content: function (data) {
					return data.TenDuAn
				}
				},
				{
					isSort:true,
					nameModel:'DuAnId',
					content: function (data) {
					return data.DuAnId
				}
				},
				{
					isSort:true,
					nameModel:'TinhId',
					content: function (data) {
					return data.TinhId
				}
				},
				{
					isSort:true,
					nameModel:'HuyenId',
					content: function (data) {
					return data.HuyenId
				}
				},
				{
					isSort:true,
					nameModel:'Location',
					content: function (data) {
					return data.Location
				}
				},
				{
					isSort:true,
					nameModel:'Longitude',
					content: function (data) {
					return data.Longitude
				}
				},
				{
					isSort:true,
					nameModel:'Latitude',
					content: function (data) {
					return data.Latitude
				}
				},


            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/QuanLyDuAnArea/QuanLyDuAn/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-QuanLyDuAn").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
    </script>
}