﻿@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.DmNhomDanhmucArea.Models

@model EditVM

<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "DmNhomDanhmuc", new { @area = "DmNhomDanhmucArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật nhóm danh mục</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <input type='hidden' name='Id' value='@Model.Id' />
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tên nhóm <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.GroupName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Mã nhóm </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.GroupCode, new { @class = "form-control toUpper" })
                            @Html.ValidationMessageFor(m => m.GroupCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
@Scripts.Render("~/bundles/jqueryval")
