﻿@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Models;

@model RegisterViewModel

<div class="form2">
	<div class="form3">
		<div class="form-toggle"></div>
		<div class="form-toggle2" onclick="CloseRegisterAccount()"></div>

		@using (Html.BeginForm("LoginAccount", "Account", FormMethod.Post, new { id = "loginaccount" }))
		{
			@Html.AntiForgeryToken()
			<div class="form-panel one">
				<div class="form-header">
					<h1>Đăng nhập tài khoản</h1>
				</div>
				<div class="form-content">
					<form>
						<div class="form-group">
							@Html.LabelFor(m => m.UserName, new { @class = "control-label" })<br />
							@Html.TextBoxFor(m => m.UserName, new { @class = "form-control " })<br />
							@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.Password, new { @class = "control-label" })
							@Html.PasswordFor(m => m.Password, new { @class = "form-control " })
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							<label class="form-remember">
								<input type="checkbox" />Ghi nhớ đăng nhập
							</label><a class="form-recovery" href="#">Quên mật khẩu?</a>
						</div>
						<div class="form-group">
							<button type="submit">Đăng nhập</button>
						</div>
					</form>
				</div>
			</div>
		}
		@*@Html.Partial("~/Views/Account/_LoginAccountPartial.cshtml")*@
		@using (Html.BeginForm("RegisterAccount", "Account", FormMethod.Post, new { id = "registeraccount" }))
		{
			@Html.AntiForgeryToken()
			<div class="form-panel two">
				<div class="form-header">
					<h1>Đăng ký tài khoản</h1>
				</div>
				<div class="form-content">
					<form>
						<div class="form-group">
							@Html.LabelFor(m => m.UserName, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.UserName, new { @class = "form-control " })
							@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.Password, new { @class = "control-label" })
							@Html.PasswordFor(m => m.Password, new { @class = "form-control " })
							@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
							@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control " })
							@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.Email, new { @class = "control-label" })
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control " })
							@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
						</div>
						<div class="form-group">
							<button type="submit">ĐĂNG KÝ</button>
						</div>
					</form>
				</div>
			</div>
		}
	</div>
</div>
@*</div>
	</div>*@
<style>
	html {
		width: 100%;
		height: 100%;
	}

	body {
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		color: rgba(0, 0, 0, 0.6);
		font-family: "Roboto", sans-serif;
		font-size: 14px;
		line-height: 1.6em;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.overlay, .form-panel.one:before {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		background: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;
	}

	.form3 {
		z-index: 15;
		position: relative;
		background: #FFFFFF;
		width: 600px;
		border-radius: 4px;
		box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
		box-sizing: border-box;
		margin: 100px auto 10px;
		overflow: hidden;
	}

	.form-toggle {
		z-index: 10;
		position: absolute;
		top: 60px;
		right: 60px;
		background: #FFFFFF;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translate(0, -25%) scale(0);
		transform: translate(0, -25%) scale(0);
		opacity: 0;
		cursor: pointer;
		transition: all 0.3s ease;
	}

		.form-toggle:before, .form-toggle:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 4px;
			background: #4285F4;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}

		.form-toggle:before {
			-webkit-transform: translate(-50%, -50%) rotate(45deg);
			transform: translate(-50%, -50%) rotate(45deg);
		}

		.form-toggle:after {
			-webkit-transform: translate(-50%, -50%) rotate(-45deg);
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		.form-toggle.visible {
			-webkit-transform: translate(0, -25%) scale(1);
			transform: translate(0, -25%) scale(1);
			opacity: 1;
		}

	.form-toggle2 {
		z-index: 10;
		position: absolute;
		top: 60px;
		right: 60px;
		background: #4285F4;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		-webkit-transform-origin: center;
		transform-origin: center;
		-webkit-transform: translate(0, -25%) scale(0);
		transform: translate(0, -25%) scale(0);
		opacity: 0;
		cursor: pointer;
		transition: all 0.3s ease;
	}

		.form-toggle2:before, .form-toggle2:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 30px;
			height: 4px;
			background: #FFFFFF;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}

		.form-toggle2:before {
			-webkit-transform: translate(-50%, -50%) rotate(45deg);
			transform: translate(-50%, -50%) rotate(45deg);
		}

		.form-toggle2:after {
			-webkit-transform: translate(-50%, -50%) rotate(-45deg);
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		.form-toggle2.visible {
			-webkit-transform: translate(0, -25%) scale(1);
			transform: translate(0, -25%) scale(1);
			opacity: 1;
		}

	.form-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 0 20px;
	}

		.form-group:last-child {
			margin: 0;
		}

		.form-group label {
			display: block;
			/*margin: 0 0 10px;*/
			color: rgba(0, 0, 0, 0.6);
			font-size: 12px;
			font-weight: 500;
			line-height: 1.6;
			text-transform: uppercase;
			letter-spacing: .2em;
			width: 30%;
			display: flex;
			align-items: center;
		}

	.two .form-group label {
		color: #FFFFFF;
	}

	.form-group input {
		outline: none;
		display: block;
		background: rgba(0, 0, 0, 0.1);
		width: 100%;
		border: 0;
		border-radius: 4px;
		box-sizing: border-box;
		padding: 12px 20px;
		color: rgba(0, 0, 0, 0.6);
		font-family: inherit;
		font-size: inherit;
		font-weight: 500;
		line-height: inherit;
		transition: 0.3s ease;
	}

		.form-group input:focus {
			color: rgba(0, 0, 0, 0.8);
		}

	.two .form-group input {
		color: #FFFFFF;
	}

		.two .form-group input:focus {
			color: #FFFFFF;
		}

	.form-group button {
		outline: none;
		background: #4285F4;
		width: 100%;
		border: 0;
		border-radius: 4px;
		padding: 12px 20px;
		color: #FFFFFF;
		font-family: inherit;
		font-size: inherit;
		font-weight: 500;
		line-height: inherit;
		text-transform: uppercase;
		cursor: pointer;
	}

	.two .form-group button {
		background: #FFFFFF;
		color: #4285F4;
	}

	.form-group .form-remember {
		font-size: 12px;
		font-weight: 400;
		letter-spacing: 0;
		text-transform: none;
	}

		.form-group .form-remember input[type='checkbox'] {
			display: inline-block;
			width: auto;
			margin: 0 10px 0 0;
		}

	.form-group .form-recovery {
		color: #4285F4;
		font-size: 12px;
		text-decoration: none;
	}

	.form-panel {
		padding: 60px calc(5% + 60px) 60px 60px;
		box-sizing: border-box;
	}

		.form-panel.one:before {
			content: '';
			display: block;
			opacity: 0;
			visibility: hidden;
			transition: 0.3s ease;
		}

		.form-panel.one.hidden:before {
			display: block;
			opacity: 1;
			visibility: visible;
		}

		.form-panel.two {
			z-index: 5;
			position: absolute;
			top: 0;
			left: 95%;
			background: #4285F4;
			width: 100%;
			min-height: 100%;
			padding: 60px calc(10% + 60px) 60px 60px;
			transition: 0.3s ease;
			cursor: pointer;
		}

			.form-panel.two:before, .form-panel.two:after {
				content: '';
				display: block;
				position: absolute;
				top: 60px;
				left: 1.5%;
				background: rgba(255, 255, 255, 0.2);
				height: 30px;
				width: 2px;
				transition: 0.3s ease;
			}

			.form-panel.two:after {
				left: 3%;
			}

			.form-panel.two:hover {
				left: 93%;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
			}

				.form-panel.two:hover:before, .form-panel.two:hover:after {
					opacity: 0;
				}

			.form-panel.two.active {
				left: 10%;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
				cursor: default;
			}

				.form-panel.two.active:before, .form-panel.two.active:after {
					opacity: 0;
				}

	.form-header {
		margin: 0 0 40px;
	}

		.form-header h1 {
			padding: 4px 0;
			color: #4285F4;
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
		}

	.two .form-header h1 {
		position: relative;
		z-index: 40;
		color: #FFFFFF;
	}

	.pen-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 600px;
		margin: 20px auto 100px;
	}

		.pen-footer a {
			color: #FFFFFF;
			font-size: 12px;
			text-decoration: none;
			text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
		}

			.pen-footer a .material-icons {
				width: 12px;
				margin: 0 5px;
				vertical-align: middle;
				font-size: 12px;
			}

	.cp-fab {
		background: #FFFFFF !important;
		color: #4285F4 !important;
	}
</style>
@*<script>$(document).ready(function () {
		var panelOne = $('.form-panel.two').height(),
			panelTwo = $('.form-panel.two')[0].scrollHeight;

		$('.form-panel.two').not('.form-panel.two.active').on('click', function (e) {
			e.preventDefault();

			$('.form-toggle').addClass('visible');
			$('.form-panel.one').addClass('hidden');
			$('.form-panel.two').addClass('active');
			$('.form').animate({
				'height': panelTwo
			}, 200);
		});

		$('.form-toggle').on('click', function (e) {
			e.preventDefault();
			$(this).removeClass('visible');
			$('.form-panel.one').removeClass('hidden');
			$('.form-panel.two').removeClass('active');
			$('.form').animate({
				'height': panelOne
			}, 200);
		});
	});</script>*@
