﻿@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Models;

@model RegisterViewModel
@*width: 40%;
	/* text-align: center; */
	/* justify-items: center; */
	position: absolute;
	left: 50%;
	margin-left: -20%;*@
<style>

	/* The Modal (background) */
	.modal {
		display: block; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
		z-index: 100000;
	}

	/* Modal Content */
	.modal-content {
		background-color: #fefefe;
		margin: auto;
		padding: 20px;
		border: 1px solid #888;
		width: 30%;
	}

	/* The Close Button */
	.close {
		color: #aaaaaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

		.close:hover,
		.close:focus {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}
	input {
		color: black !important;
	}
	.maxWidth100 {
		max-width: 100%;
	}
</style>
@using (Html.BeginForm("RegisterAccount", "Account", FormMethod.Post, new { id = "registeraccount" }))
{
	@Html.AntiForgeryToken()
	<div id="myModal" class="modal">
		<div class="modal-content">
			<div class="modal-header" style="padding: 0px;color:#3498db;text-align: center;">
				<h1 style="margin:0px;">
					<span style="font-family: Tahoma;">ĐĂNG KÝ</span>
					<span class="close" style="margin-bottom: 10px;" onclick="CloseRegisterAccount()">&times;</span>
				</h1>
			</div>
			<form>
				<div class="form-group" style="font-family: Tahoma;">
					@Html.LabelFor(m => m.UserName, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.UserName, new { @class = "form-control maxWidth100" })
					@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
				</div>
				<div class="form-group" style="font-family: Tahoma;">
					@Html.LabelFor(m => m.Password, new { @class = "control-label" })
					@Html.PasswordFor(m => m.Password, new { @class = "form-control maxWidth100" })
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>
				<div class="form-group" style="font-family: Tahoma;">
					@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control maxWidth100" })
					@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
				</div>
				<div class="form-group" style="font-family: Tahoma;">
					@Html.LabelFor(m => m.Email, new { @class = "control-label" })
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control maxWidth100" })
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-sm btn-primary" style="width: 100%;font-family: Tahoma;">Đăng ký</button>
				</div>
			</form>
		</div>
	</div>
}
