﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@{
    ViewBag.Title = "Quản lý thông tin người dùng";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var controller_name = this.ViewContext.RouteData.Values["action"].ToString();
    var alerts = ViewBag.ConmmentViewModel as List<ConmmentViewModel>;
    ViewBag.PageHeader = "Sửa đổi mật khẩu đăng nhập";

}
@model Nami.Web.Models.ChangePasswordViewModel
@using BotDetect.Web.Mvc;
@using Nami.Web;
@section HeadIncludes {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
}
<div class="form-horizontal">
    <div>

        @using (Html.BeginForm("EndUserChangePassword", "Manage", FormMethod.Post, new { id = "EndUserChangePasswordForm", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
            <div class="">
                <div class="form-horizontal ">
                    <div class="form-group col-sm-6">
                        <label class="control-label col-sm-4">Mật khẩu cũ <span style="color:red">*</span></label>
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control required" })
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearBoth"></div>
                    <div class="form-group  col-sm-6">
                        <label class="control-label col-sm-4">Mật khẩu mới <span style="color:red">*</span></label>
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control required" })
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group  col-sm-6">
                        <label class="control-label col-sm-4">Nhập lại mật khẩu mới <span style="color:red">*</span></label>
                        <div class="col-sm-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control required" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearBoth"></div>

                    @{MvcCaptcha changePasswordUserCaptcha = CaptchaHelper.ChangePasswordUserCaptcha();}

                    @if (!changePasswordUserCaptcha.IsSolved)
                    {

                    <div class="form-group col-sm-6">
                        <label class="control-label col-sm-4" for="CaptchaCode">Nhập mã xác nhận <span style="color:red">*</span></label>

                        <div class="col-sm-8">
                            @Html.TextBox("CaptchaCode", null, new { @class = "form-control captchaVal" })
                            @Html.ValidationMessage("CaptchaCode", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="clearBoth"></div>
                    <div class="form-group col-sm-6">
                        <div class="col-md-offset-4 col-sm-8">
                            @Html.Captcha(changePasswordUserCaptcha)
                        </div>
                    </div>
                    }
                    <div class="clearBoth"></div>

                    <div class="col-sm-12">
                        <center>
                            <button type="submit" class="btn btn-primary btn-md"><i class="glyphicon glyphicon-send"></i> Chỉnh sửa</button>
                        </center>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
@if (!string.IsNullOrEmpty(ViewBag.Temp))
{
    <div class="alert-wrapper" style="margin-top: 50px;">
        <div class="alert alert-success">
            <strong>@ViewBag.Temp</strong>
        </div>
    </div>
}
<input id="controller-name" type="hidden" value="@controller_name" />

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/captcha.validate.js")
<script>
    $("#EndUserChangePasswordForm").submit(function () {
        $("#CaptchaCode").Captcha.ReloadImage();
    })
</script>
