@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.ServicesInfoArea.Models

@model CreateVM
@{
	var dropdownListDonVi = ViewBag.dropdownListDonVi as List<SelectListItem>;
}

<div class="modal-dialog">
	@using (Ajax.BeginForm("Create", "ServicesInfo", new { @area = "ServicesInfoArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "createServicesInfoForm" }))
	{
		@Html.AntiForgeryToken()
		//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">Tạo mới Dịch vụ</h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-4">Tên dịch vụ </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.ServicesName, new { @class = "form-control", @placeholder = "Nhập tên dịch vụ"})
							@Html.ValidationMessageFor(m => m.ServicesName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Đơn giá </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Price, new { @class = "form-control", @placeholder = "0" })
							@Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Đơn vị </label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.UnitsCode, dropdownListDonVi,"--Chọn đơn vị--", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.UnitsCode, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Mô tả </label>
						<div class="col-sm-8">
							@Html.TextAreaFor(m => m.Description,4,3, new { @class = "form-control", @placeholder = "Nhập mô tả" })
							@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary">Hoàn thành</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>

<script>




</script>
@Scripts.Render("~/bundles/jqueryval")
