@{
    ViewBag.Title = "Dịch vụ";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Dịch vụ";
    ViewBag.PageName = "Thông tin Dịch vụ";
    ViewBag.ModuleCode = "ServicesInfo_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.ServicesInfoArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/ServicesInfoArea/ServicesInfo/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Tên dịch vụ</td><td>@Model.objInfo.ServicesName</td></tr>
<tr><td>Đơn giá</td><td>@Model.objInfo.Price</td></tr>
<tr><td>Mã đơn vị</td><td>@Model.objInfo.UnitsCode</td></tr>
<tr><td>Mô tả</td><td>@Model.objInfo.Description</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
