@{
	ViewBag.Title = "Dịch vụ";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Dịch vụ";
	ViewBag.PageName = "Danh sách Dịch vụ";
	ViewBag.ModuleCode = "QLKhuTro_Service";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.ServicesInfoService.Dto;
@model PageListResultBO<ServicesInfoDto>
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
	<a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
		Tìm kiếm
	</a>
	<a href="javascript:void(0)" onclick="CreateAction('/ServicesInfoArea/ServicesInfo/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-ServicesInfo" class="hntbl-cover">
	<table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th></th>
				<th>#</th>
				<th class="width130"></th>
				<th>Tên dịch vụ</th>
				<th>Đơn giá</th>
				<th>Đơn vị</th>
				<th>Mô tả</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

@section scripts{
	<script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-ServicesInfo";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
				},
				{
					isSort: false,
					nameModel: "",
					tdClass: "center buttonBox centerBox",
					content: function (data) {
						var result = '';
						result += "<div class='editButton'><a href='javascript:void(0)' onclick='EditAction(\"/ServicesInfoArea/ServicesInfo/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='fa fa-pencil'> </i></a></div>";
						result += "<div class='deleteButton'> <a href='javascript:void(0)' onclick='DeleteAction(\"/ServicesInfoArea/ServicesInfo/Delete/" + data.Id + "\")' title='Xóa'><i class='fa fa-trash-o' style='color:red'> </i></a></div >";
						return result;
					}
				},
				{
					isSort:true,
					nameModel:'ServicesName',
					content: function (data) {
					return data.ServicesName
				}
				},
				{
					isSort:true,
					nameModel:'Price',
					content: function (data) {
						if (data.Price != null) {
							return numeral(data.Price).format('0,0') + "đ"
						}
				}
				},
				{
					isSort:true,
					nameModel:'UnitsCode',
					content: function (data) {
						return data.UnitsCodeName
				}
				},
				{
					isSort:true,
					nameModel:'Description',
					content: function (data) {
					return data.Description
				}
				},

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/ServicesInfoArea/ServicesInfo/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-ServicesInfo").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
	</script>
}