@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.HUYENArea.Models

@model EditVM
@{

}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "HUYEN", new { @area = "HUYENArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editHUYENForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật Quận/Huyện</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(m => m.TinhId)
                    <div class="form-group">
                        <label class="control-label col-sm-4">Mã Huyện </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.MaHuyen, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MaHuyen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Tên  <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.TenHuyen, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TenHuyen, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Loại <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Loai, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Loai, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Vị trí </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Location, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
