@{
    ViewBag.Title = "Quận/Huyện";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Quận/Huyện";
    ViewBag.PageName = "Thông tin Quận/Huyện";
    ViewBag.ModuleCode = "HUYEN_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.HUYENArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/HUYENArea/HUYEN/Index')" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
    <div class="col-sm-12">
        <table class="table-info">

            <tr><td>Mã Huyện</td><td>@Model.objInfo.MaHuyen</td></tr>
            <tr><td>Tên </td><td>@Model.objInfo.TenHuyen</td></tr>
            <tr><td>Loại</td><td>@Model.objInfo.Loai</td></tr>
            <tr><td>Vị trí</td><td>@Model.objInfo.Location</td></tr>
            <tr><td>Tỉnh</td><td>@Model.objInfo.TinhId</td></tr>

        </table>
    </div>

</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
