﻿
@{
    ViewBag.Title = "Quản lý dữ liệu danh mục";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý dữ liệu danh mục";
}
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Web.Areas.DmDulieuDanhmucArea.Models;
@model IndexVM
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.Data.ListItem));
}

<style>
    .action-icon {
        margin-right: 5px;
    }

    .toUpper {
        text-transform: uppercase;
    }
</style>


@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>
    <a href="javascript:void(0)" onclick="CreateAction('/DmDulieuDanhmucArea/DmDulieuDanhmuc/Create/@Model.GroupId')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-DM_DulieuDanhmuc" class="hntbl-cover">
    <div class="hntbl-cover-tableScroll">
        <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
					<th class="width130"></th>
                    <th>Tên</th>
                    <th>Mã</th>
                    <th>Thứ tự hiển thị</th>
                    <th>Mô tả</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

    @section scripts{
        <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-DM_DulieuDanhmuc";
        function pagefunction(){
            var conf = [
                {
					tdClass: "center width50",
                    isSort: false,
                    isCounter: true,
                    nameModel: "",
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
				},
				{
					isSort: false,
					nameModel: "",
					tdClass: "center buttonBox centerBox",
					content: function (data) {
						var result = "<div class='btn-group' style='display:flex; justify-content:center;'>";
						result += "<div class='editButton'><a href='javascript:void(0)' onclick='EditAction(\"/DmDulieuDanhmucArea/DmDulieuDanhmuc/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='fa fa-pencil'> </i></a></div>";
						result += "<div class='deleteButton'> <a href='javascript:void(0)' onclick='onDelete(\"/DmDulieuDanhmucArea/DmDulieuDanhmuc/Delete/" + data.Id + "\")' title='Xóa'><i class='fa fa-trash-o' style='color:red'> </i></a></div >";
						result += "</div>";
						return result;
					}
				},
                {
                    isSort: true,
                    nameModel: 'Name',
                    content: function (data) {
                        return data.Name
                    }
                },
                {
                    isSort: true,
                    nameModel: 'Code',
                    content: function (data) {
                        return data.Code
                    }
                },
                {
                    isSort: true,
                    nameModel: 'Priority',
                    content: function (data) {
                        return data.Priority
                    }
                },
                {
                    isSort: false,
                    nameModel: 'Note',
                    content: function (data) {
                        return data.Note
                    }
                },
            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/DmDulieuDanhmucArea/DmDulieuDanhmuc/GetData',
                    type: 'post',
                    cache: false,
                    data: { "indexPage": page, "sortQuery": sortQuery, "pageSize": pageSize,"groupid":@Model.GroupId},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData = $(moduleTableSelector).NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.Data.TotalPage,
                recordCount: @Model.Data.Count,
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
        </script>
    }
