@{
    ViewBag.Title = "Quản lý đăng ký làm hợp đồng";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Quản lý đăng ký làm hợp đồng";
    ViewBag.PageName = "Thông tin Quản lý đăng ký làm hợp đồng";
    ViewBag.ModuleCode = "QLHopDongDangKy_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.QLHopDongDangKyArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/QLHopDongDangKyArea/QLHopDongDangKy/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id đối tượng</td><td>@Model.objInfo.ItemId</td></tr>
<tr><td>Loại đối tượng</td><td>@Model.objInfo.ItemType</td></tr>
<tr><td>Id người đăng ký</td><td>@Model.objInfo.UserIdDangKy</td></tr>
<tr><td></td><td>@Model.objInfo.IsDelete</td></tr>
<tr><td></td><td>@Model.objInfo.DeleteTime</td></tr>
<tr><td></td><td>@Model.objInfo.DeleteId</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedID</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedBy</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedID</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
