@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.RentersInfoImageArea.Models

@model CreateVM
@{

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "RentersInfoImage", new { @area = "RentersInfoImageArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createRentersInfoImageForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới File ảnh khách thuê</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-sm-4">Id khách thuê </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.RentersId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.RentersId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Loại khách thuê </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.RentersType, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.RentersType, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Đường dẫn ảnh </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ImageUrl, "", new { @class = "text-danger" })
				</div>
				</div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>




</script>
@Scripts.Render("~/bundles/jqueryval")
