@{
    ViewBag.Title = "File ảnh khách thuê";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý File ảnh khách thuê";
    ViewBag.PageName = "Thông tin File ảnh khách thuê";
    ViewBag.ModuleCode = "RentersInfoImage_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.RentersInfoImageArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/RentersInfoImageArea/RentersInfoImage/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id khách thuê</td><td>@Model.objInfo.RentersId</td></tr>
<tr><td>Loại khách thuê</td><td>@Model.objInfo.RentersType</td></tr>
<tr><td>Đường dẫn ảnh</td><td>@Model.objInfo.ImageUrl</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
