@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.QLTuVanArea.Models

@model CreateVM
@{
	var dropdownlistChuDe = ViewBag.dropdownlistChuDe as List<SelectListItem>;
	var dropdownlistCauHoi = ViewBag.dropdownlistCauHoi as List<SelectListItem>;
}

<div class="modal-dialog" style="width: 70vw;">
	@using (Ajax.BeginForm("Create", "QLTuVan", new { @area = "QLTuVanArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "createQLTuVanForm", autocomplete = "off", enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">Tạo mới thông tin tư vấn</h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-4">Đường dẫn ảnh </label>
						<div class="col-sm-8">
							<input type="file" name="file" id="file" class="form-control" />
							@Html.ValidationMessageFor(m => m.file, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Chủ đề <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.ChuDeId, dropdownlistChuDe, "--Chọn chủ đề--", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.ChuDeId, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Tiêu đề <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Tiêu đề phụ </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.NamePhu, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.NamePhu, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Tác giả <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Author, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Trạng thái <span class="red">*</span></label>
						<div class="col-sm-8">
							<label><input type="checkbox" value="true" name="Status" id="Status" /></label>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Câu hỏi <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.IdCauHoi, dropdownlistCauHoi, "--Chọn câu hỏi--", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.IdCauHoi, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Nội dung </label>
						<div class="col-sm-8">
							@Html.TextAreaFor(m => m.Description,4,3, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary">Hoàn thành</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>

<script>

	$("#ChuDeId").select2();
	$("#IdCauHoi").select2();

	CKEDITOR.replace('Description', {
		customConfig: '/assets/ckeditor/custom/ckeditor_config.js'
	});
</script>
@Scripts.Render("~/bundles/jqueryval")
