﻿@using Nami.Web.Areas.DepartmentArea.Models;

@model CreateVM
@{
    var DepartmentDropdownData = ViewBag.ListDepartment as List<SelectListItem>;
    var TinhDropdownData = ViewBag.ListTinh as List<SelectListItem>;
    var ListRole = ViewBag.ListRole as List<SelectListItem>;
    DepartmentDropdownData.Add(new SelectListItem() { Text = "--Chọn phòng ban--", Value = "", Selected = false });
    ListRole.Add(new SelectListItem() { Text = "--Chọn vai trò--", Value = "", Selected = true });
}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "Department", new { @area = "DepartmentArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Thêm mới phòng ban</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Thuộc phòng ban <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.DropDownList("Parent_Id", DepartmentDropdownData, new { @class = "form-control", @disabled = "disabled" })
                            @Html.HiddenFor(m => m.ParentId)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tên <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Mã <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control toUpper" })
                            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tỉnh quản lý </label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.Province, TinhDropdownData, new { @class = "form-control", @multiple = "multiple" })
                            @Html.ValidationMessageFor(m => m.Province, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Vai trò mặc định <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.DropDownListFor(m => m.DefaultRole, ListRole, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.DefaultRole, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
<script>
    $("#Province").select2();
    $("#DefaultRole").select2();
</script>
@Scripts.Render("~/bundles/jqueryval")
