@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.QLHopDongItemArea.Models

@model CreateVM
@{

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "QLHopDongItem", new { @area = "QLHopDongItemArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createQLHopDongItemForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới Quản lý chi tiết hợp đồng</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-sm-4">Id hợp đồng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.IdQLHopDong, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.IdQLHopDong, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tháng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Thang, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Thang, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ngày bắt đầu </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.StartDate, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ngày kết thúc </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.EndDate, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tiền đặt cọc </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.DepositsMoney, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DepositsMoney, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tiền phải trả hàng tháng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.TienPhaiTraHangThang, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.TienPhaiTraHangThang, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tiền tháng này </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.TienThangNay, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.TienThangNay, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ngày phải trả tiền hàng tháng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.PayDate, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.PayDate, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ghi chú </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
				</div>
				</div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>




</script>
@Scripts.Render("~/bundles/jqueryval")
