<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
    <div class="well SearchBox">

        @using (Ajax.BeginForm("searchData", "QLHopDongItem", new { Area = "QLHopDongItemArea" },
            new AjaxOptions()
            {
                HttpMethod = "POST",
                OnFailure = "AjaxFormError",
                OnSuccess = "AjaxSearchSuccess",
            }, new { }))
        {
            @Html.AntiForgeryToken()
        <div class="row row-block">
		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Id hợp đồng</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="IdQLHopDongFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Tháng</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="ThangFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Ngày bắt đầu</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="StartDateFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Ngày kết thúc</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="EndDateFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Tiền đặt cọc</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="DepositsMoneyFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Tiền phải trả hàng tháng</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="TienPhaiTraHangThangFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Tiền tháng này</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="TienThangNayFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Ngày phải trả tiền hàng tháng</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="PayDateFilter" />
			</div>
		</div>

		<div class="col-md-6 row-block">
			<div class="col-md-4 txt-label">Ghi chú</div>
			<div class="col-md-8">
				<input class="form-control width100" type="text" name="NoteFilter" />
			</div>
		</div>


            <div class="col-md-12 center" style=" margin-top:20px;">
                <button id="btnSearch" type="submit" class="btn btn-labeled btn-primary btn-sm">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-search"></i>
                    </span>
                    Tìm kiếm
                </button>

                <a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger btn-sm">
                    <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
                    Đóng
                </a>
            </div>
        </div>

        }
    </div>
</div>


