@{
    ViewBag.Title = "Quản lý chi tiết hợp đồng";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Quản lý chi tiết hợp đồng";
    ViewBag.PageName = "Thông tin Quản lý chi tiết hợp đồng";
    ViewBag.ModuleCode = "QLHopDongItem_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.QLHopDongItemArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/QLHopDongItemArea/QLHopDongItem/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id hợp đồng</td><td>@Model.objInfo.IdQLHopDong</td></tr>
<tr><td>Tháng</td><td>@Model.objInfo.Thang</td></tr>
<tr><td>Ngày bắt đầu</td><td>@Model.objInfo.StartDate</td></tr>
<tr><td>Ngày kết thúc</td><td>@Model.objInfo.EndDate</td></tr>
<tr><td>Tiền đặt cọc</td><td>@Model.objInfo.DepositsMoney</td></tr>
<tr><td>Tiền phải trả hàng tháng</td><td>@Model.objInfo.TienPhaiTraHangThang</td></tr>
<tr><td>Tiền tháng này</td><td>@Model.objInfo.TienThangNay</td></tr>
<tr><td>Ngày phải trả tiền hàng tháng</td><td>@Model.objInfo.PayDate</td></tr>
<tr><td>Ghi chú</td><td>@Model.objInfo.Note</td></tr>
<tr><td></td><td>@Model.objInfo.IsDelete</td></tr>
<tr><td></td><td>@Model.objInfo.DeleteTime</td></tr>
<tr><td></td><td>@Model.objInfo.DeleteId</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td></td><td>@Model.objInfo.CreatedID</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedBy</td></tr>
<tr><td></td><td>@Model.objInfo.UpdatedID</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
