@{
    ViewBag.Title = "Quản lý chi tiết hợp đồng";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Quản lý chi tiết hợp đồng";
    ViewBag.PageName = "Danh sách Quản lý chi tiết hợp đồng";
    ViewBag.ModuleCode = "QLHopDongItem_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.QLHopDongItemService.Dto;
@model PageListResultBO<QLHopDongItemDto>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>

    <a href="javascript:void(0)" onclick="CreateAction('/QLHopDongItemArea/QLHopDongItem/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-QLHopDongItem" class="hntbl-cover table-scroll">
	<div class="table-wrap">
    <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="fixed-side"></th>
                <th class="fixed-side">#</th>

                <th class="fixed-side">Thao tác</th>
				<th>Id hợp đồng</th>
				<th>Tháng</th>
				<th>Ngày bắt đầu</th>
				<th>Ngày kết thúc</th>
				<th>Tiền đặt cọc</th>
				<th>Tiền phải trả hàng tháng</th>
				<th>Tiền tháng này</th>
				<th>Ngày phải trả tiền hàng tháng</th>
				<th>Ghi chú</th>

            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-QLHopDongItem";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50 fixed-side",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },

                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center fixed-side",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
                           result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/QLHopDongItemArea/QLHopDongItem/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/QLHopDongItemArea/QLHopDongItem/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },
				{
					isSort:true,
					nameModel:'IdQLHopDong',
					content: function (data) {
					return data.IdQLHopDong
				}
				},
				{
					isSort:true,
					nameModel:'Thang',
					content: function (data) {
					return data.Thang
				}
				},
				{
					isSort:true,
					nameModel:'StartDate',
					content: function (data) {
					return ToDate(data.StartDate)
				}
				},
				{
					isSort:true,
					nameModel:'EndDate',
					content: function (data) {
					return ToDate(data.EndDate)
				}
				},
				{
					isSort:true,
					nameModel:'DepositsMoney',
					content: function (data) {
					return data.DepositsMoney
				}
				},
				{
					isSort:true,
					nameModel:'TienPhaiTraHangThang',
					content: function (data) {
					return data.TienPhaiTraHangThang
				}
				},
				{
					isSort:true,
					nameModel:'TienThangNay',
					content: function (data) {
					return data.TienThangNay
				}
				},
				{
					isSort:true,
					nameModel:'PayDate',
					content: function (data) {
					return ToDate(data.PayDate)
				}
				},
				{
					isSort:true,
					nameModel:'Note',
					content: function (data) {
					return data.Note
				}
				},


            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/QLHopDongItemArea/QLHopDongItem/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-QLHopDongItem").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
    </script>
}