﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@{
	ViewBag.Title = "Quản lý thông tin người dùng";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Sửa đổi tài khoản cá nhân";
	ViewBag.HelpButton = true;
	var msg = TempData["Msg"];
	var success = ViewBag.success;
}
@model Nami.Web.Models.EndUserAccountViewModel
@using BotDetect.Web.Mvc;
@using Nami.Web;
@section HeadIncludes {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
}
<div class="form-horizontal">
    <div>
        @using (Html.BeginForm("Account", "EndUserInfo", FormMethod.Post, new { id = "EditUserInfomationForm", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken();
		<div>
			<div class="form-horizontal ">
				<div class="form-group  col-sm-6">
					<label class="control-label col-sm-4">Tên hiển thị <span style="color:red">*</span></label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.FullName, new { @class = "form-control required" })
						@Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group  col-sm-6">
					<label class="control-label col-sm-4">Điện thoại <span style="color:red">*</span></label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control required" })
						@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="form-group  col-sm-6">
					<label class="control-label col-sm-4">Địa chỉ <span style="color:red">*</span></label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.Address, new { @class = "form-control required" })
						@Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="clearfix"></div>

				<div class="form-group  col-sm-6">
					<label class="control-label col-sm-4">Ảnh đại diện</label>
					<div class="col-sm-8">
						<input type="file" id="upavatar" class="form-control Valid show-file" name="file">
					</div>
				</div>

				<div class="clearBoth"></div>
				<div class="col-sm-6">
					<center>
						<button type="submit" class="btn btn-primary btn-md"><i class="glyphicon glyphicon-send"></i> Chỉnh sửa</button>
					</center>
				</div>
			</div>
		</div>
        }
    </div>
</div>

@*@Scripts.Render("~/Scripts/captcha.validate.js")*@
<script>
    $(document).ready(function () {
        if ('@msg' == '1') {
            NotiSuccess("Thành công", "Cập nhật thông tin thành công!");
        }
    })
    $("#EditUserInfomationForm").submit(function () {
        $("#CaptchaCode").Captcha.ReloadImage();
    })
</script>
