﻿@using Nami.Web.Models;
@using Nami.Service.Constant;
@model EndUserInfoViewModel
<div class="box-image" data-step="1" data-intro="Thông tin hồ sơ của khách hàng">
	<div class="row text-center pd0">
		<div class="end-user-avatar-wrap">
			<img src="/@Model.AppUser.Avatar" onerror="this.src = '/assets/images/avatars/userNew.png'" class="end-user-avatar img-cover" />
		</div>
	</div>
	<h4 style="text-align: center ;">@Model.AppUser.FullName</h4>
	<div class="text-center" id="user-status">

		<script>
						//$('#user-status').append(EndUserStatus(Model.Personal.Status))
		</script>
	</div>
	<div class="text-center" id="user-status">
		<span>(Khách hàng)</span>
	</div>
	<ul class="nav" style="text-align:center; margin-top:10px;">
		<li style="width: 100%;" class="menuChucNang">Menu chức năng</li>
	</ul>
</div>
<nav class="navbar navbar-light bg-light end-user-nav-wrap pd0" data-step="2" data-intro="Thanh Menu các chức năng của hệ thống">
	<div class="container-fluid" style="padding:0!important">
		<ul class="nav end-user-nav" style="text-align:center">
			<li class="end-user-nav-li" id="EndUserPersonalInfo">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-home" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor" href="~/EndUserInfo" id="TrangChinh">
						Trang chính
					</a>
				</div>
			</li>
			@*<li class="end-user-nav-li li-parrent" id="Infomation">
			<div class="aside-menu">
				<div class="icon-menu-sub">
					<i class="fa fa-bell-o" aria-hidden="true"></i>
				</div>
				<a class="li-parrent-anchor" href="~/EndUserInfo/Infomation">
					Hồ sơ cá nhân
				</a>
			</div>
		</li>*@
			<li class="end-user-nav-li li-parrent" id="Agreement">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-file-o" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor">
						Quản lý hợp đồng
						<i class="fa fa-angle-down arrow"></i>
					</a>
				</div>
				<ul class="submenu">
					<li class="end-user-nav-li" id="CreateDangKyHopDong"><a href="~/EndUserPersonalInfo/CreateDangKyHopDong">Tạo mới đăng ký làm hợp đồng</a></li>
					<li class="end-user-nav-li" id="IndexHopDong"><a href="~/EndUserPersonalInfo/IndexHopDong">Tất cả hợp đồng đã ký</a></li>
					<li class="end-user-nav-li" id="IndexMessage"><a href="~/EndUserPersonalInfo/IndexMessage">Trao đổi thông tin, trò chuyện với chủ nhà</a></li>
					@*<li class="end-user-nav-li" id="IndexAgreement"><a href="~/EndUserPersonalInfo/IndexAgreement">Tất cả hợp đồng</a></li>*@
					@*<li class="end-user-nav-li" id="CreateAgreement"><a href="~/EndUserPersonalInfo/CreateAgreement">Tạo mới hợp đồng</a></li>*@
				</ul>
			</li>
			<li class="end-user-nav-li li-parrent" id="RoomBuilding">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-building" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor">
						Quản lý nhà/phòng trọ
						<i class="fa fa-angle-down arrow"></i>
					</a>
				</div>
				<ul class="submenu">
					@*<li class="end-user-nav-li" id="IndexRoomBuilding"><a href="~/EndUserPersonalInfo/IndexRoomBuilding">Tất cả nhà/phòng trọ</a></li>*@
					<li class="end-user-nav-li" id="CreateXemNha"><a href="~/EndUserPersonalInfo/CreateXemNha">Tạo mới đăng ký xem nhà/phòng trọ</a></li>
					<li class="end-user-nav-li" id="IndexXemNha"><a href="~/EndUserPersonalInfo/IndexXemNha">Danh sách xem nhà/phòng trọ</a></li>
					<li class="end-user-nav-li" id="IndexRoomBuilding"><a href="~/EndUserPersonalInfo/IndexRoomBuilding">Danh sách nhà/phòng trọ đã đăng ký làm hợp đồng</a></li>
				</ul>
			</li>
			<li class="end-user-nav-li li-parrent" id="OrderInfo">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-building" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor">
						Quản lý thông tin giao dịch
						<i class="fa fa-angle-down arrow"></i>
					</a>
				</div>
				<ul class="submenu">
					<li class="end-user-nav-li" id="IndexOrder"><a href="~/EndUserPersonalInfo/IndexOrder">Danh sách giao dịch</a></li>
				</ul>
			</li>
			@*<li class="end-user-nav-li" id="IndexMessage">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-comments" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor" href="~/EndUserPersonalInfo/IndexMessage" id="chat">
						Quản lý trao đổi thông tin
					</a>
				</div>
			</li>*@
			<li class="end-user-nav-li li-parrent">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor">
						Thông tin tài khoản
						<i class="fa fa-angle-down arrow"></i>
					</a>
				</div>


				<ul class="submenu">
					<li class="end-user-nav-li" id="Account"><a href="~/EndUserInfo/Account">Chỉnh sửa thông tin tài khoản</a></li>
					<li class="end-user-nav-li" id="EndUserChangePassword"><a href="~/Manage/EndUserChangePassword">Đổi mật khẩu</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>