﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@{
	ViewBag.Title = "Quản lý thông tin người dùng";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	//var alerts = ViewBag.ConmmentViewModel as List<ConmmentViewModel>;
	ViewBag.PageHeader = "Thông tin tài khoản";
	//var statusName = ConstantExtension.GetName<PersonalInfoStatusConstant>(Model.Personal.Status.ToString());
}
@model EndUserInfoViewModel
@section ActionTopRight{
	<a href="/EndUserInfo/EditUserInfomationPersonal" class="btn btn-primary btn-sm">Sửa thông tin cá nhân</a>
}

<div class="form-horizontal ">
	<div class="bs-tab">
		<ul class="nav nav-tabs" id="myTab">
			<li class="nav-item active">
				<a href="#personalInfo" class="nav-link" data-toggle="tab" aria-expanded="true">Thông tin hồ sơ</a>
			</li>
			<li class="nav-item">
				<a href="#doc" class="nav-link" data-toggle="tab">File đính kèm</a>
			</li>

			<li class="nav-item">
				<a href="#log" class="nav-link" data-toggle="tab">Nhật ký</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane in active" id="personalInfo">
				<table class="table-info table100">
					<tbody>
						<tr>
							<td class="labelData">Họ và tên</td>
							<td>
								@Model.AppUser.FullName
							</td>

							<td class="labelData">Ngày sinh</td>
							<td>
								@Model.AppUser.BirthDay
							</td>
						</tr>
						@*<tr>
							<td class="labelData">Mã số thuế</td>
							<td>
								@Model.AppUser.UserName
							</td>

							<td class="labelData">Chứng minh nhân dân</td>
								<td>
									@Model.Personal.NumberId
								</td>
						</tr>*@
						@*<tr>
								<td class="labelData">Ngày cấp</td>
								<td>
									@Model.Personal.NumberDate
								</td>

								<td class="labelData">Nơi cấp</td>
								<td>
									@Model.Personal.NumberAddress
								</td>
							</tr>
							<tr>
								<td class="labelData">Số điện thoại</td>
								<td>
									@Model.Personal.Phone
								</td>

								<td class="labelData">Fax</td>
								<td>
									@Model.Personal.Fax
								</td>
							</tr>
							<tr>
								<td class="labelData">Địa chỉ</td>
								<td colspan="3">
									@Model.Personal.Address
								</td>
							</tr>
							<tr>
								<td class="labelData">Trạng thái</td>
								<td>@statusName</td>
								<td class="labelData">Quốc gia</td>
								<td>@Model.Personal.QuocGiaName</td>

							</tr>
							<tr>
								<td class="labelData">Tỉnh</td>
								<td>@(Model.Personal.TinhId_TINHObj != null ? Model.Personal.TinhId_TINHObj.TenTinh : "")</td>
								<td class="labelData">Huyện</td>
								<td>@Model.Personal.HuyenId</td>
							</tr>
							<tr>
								<td class="labelData">Xã</td>
								<td>@Model.Personal.XaId</td>

							</tr>*@
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="doc">
				<h4 class="mt-2">Không có</h4>
			</div>

			<div class="tab-pane fade" id="log">
				<div class="row">
					@*@foreach (var item in Model.historys)
					{
						<div class="col-sm-12">
							<div class="profile-user-info profile-user-info-striped">
								<div class="profile-info-row">
									<div class="profile-info-value">
										<span class="editable" id="username"> @item.CreatedDate.ToUniversalTime(): <b>@item.UpdatedBy</b></span>
										@item.StatusEnd

										Tài khoản cá nhân
										@{
											if (item.Comment == null || item.Comment == "")
											{

											}
											else
											{
												<br /><b class="log-noi-dung">Nội dung:</b>
												<div class="log-noi-dung">@Html.Raw(HttpUtility.HtmlDecode(@item.Comment))</div>
											}
										}
										@{
											if (item.Note == null || item.Note == "")
											{

											}
											else
											{
												<br /><b class="log-noi-dung">Ghi chú:</b> @item.Note
											}
										}
									</div>
								</div>
							</div>
						</div>
					}*@
				</div>
			</div>
		</div>
	</div>
</div>
<script>
    $().ready(function () {
        var controller_name = $("#controller-name").val();
        if (controller_name == "") {
            $("#Index").addClass('active');
        } else {
            $("#" + controller_name).addClass('active');
        }
    });

</script>