﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@{
	ViewBag.Title = "Quản lý thông tin người dùng";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	//var alerts = ViewBag.ConmmentViewModel as List<ConmmentViewModel>;
	ViewBag.PageHeader = "Tất cả thông báo";
	ViewBag.HelpButton = true;

}
@model Nami.Web.Models.EndUserNotificationViewModel
@using BotDetect.Web.Mvc;
@using Nami.Web;
@section HeadIncludes {
	<link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
		  rel="stylesheet" type="text/css" />
}
<div class="no-float end-user-content">
	<div class="form-horizontal">
		<div id="notification-wrapper">
			@foreach (var message in Model.NotiList.ListItem)
			{
				if (!message.IsRead)
				{
					<a href="@message.Link" name="@message.Id" class="itemNotification seen">
						<div class="xdl-notification-item" style="background-color:#f6f6f6;">
							<div class="col-auto xdl-noti-avatar">
								<img src="~/Content/EndUser/img/notification.png" />

							</div>
							<div class="col xdl-noti-content">
								<div class="color-text-grey noti-content">

									@Html.Raw(message.Message)

								</div>
								<div class="clearBoth"></div>
								<div>
									<p class="timestamp color-text-lightgrey">
										<div class="">
											<i class="glyphicon glyphicon-time"></i> @string.Format("{0:dd/MM/yyyy HH:mm}", message.CreatedDate)

										</div>

										<span class="pull-right chuaxem-message">
											@string.Format("Chưa xem", message.IsRead)
										</span>
									</p>
								</div>
							</div>
						</div>
					</a>
				}
				else
				{
					<a href="@message.Link" name="@message.Id" class="itemNotification seen">
						<div class="xdl-notification-item">
							<div class="col-auto xdl-noti-avatar">
								<img src="~/Content/EndUser/img/notification.png" />
							</div>
							<div class="col xdl-noti-content">
								<div class="color-text-grey noti-content">
									@Html.Raw(message.Message)
								</div>
								<div class="clearBoth"></div>
								<div>
									<p class="timestamp color-text-lightgrey">
										<div class="time-message">

											<i class="glyphicon glyphicon-time"></i> @string.Format("{0:dd/MM/yyyy HH:mm}", message.CreatedDate)

										</div>
										<span class="pull-right isRead-message">
											@string.Format("Đã xem", message.IsRead)
										</span>

									</p>
								</div>
							</div>
						</div>
					</a>
				}
			}
		</div>
	</div>
</div>
@Scripts.Render("~/Scripts/captcha.validate.js")
@if (Model.NotiList.TotalPage > 1)
{
	<div class="notification-btn-wrapper">
		<button type="button" class="btn btn-primary" id="loadmore">Xem thêm</button>
	</div>
}
<script>
    $().ready(function () {
        var global_index = 1;
        $("#loadmore").on("click", function () {
            global_index++;
            var index = global_index;
            $.ajax({
                url: '/EndUserInfo/getNotification',
                type: 'post',
                cache: false,
                data: { "pageindex": ++index, "amount": 15 },
                success: function (data) {

                    var result = data;
                    //if (data.ListItem.length != 0) {
                    //    for (var i = 0; i < data.ListItem.length; i++) {
                    //        if (!data.ListItem[i].IsRead) {
                    //            result += "<a href=\"" + data.ListItem[i].Link  + "\" name=\""+ data.ListItem[i].Id +"\" class=\"itemNotification seen\">";
                    //            result += "<div class=\"xdl-notification-item\">";
                    //            result += "<div class=\"col-auto xdl-noti-avatar\">";
                    //            result += "<img src=\"/Content/EndUser/img/envelope.png\" />";
                    //            result += "</div>";
                    //            result += "<div class=\"col xdl-noti-content\">";
                    //            result += "<div class=\"color-text-grey noti-content\">" + data.ListItem[i].Message + "</div>"
                    //            result += "<p class=\"timestamp color-text-lightgrey\"><i class=\"glyphicon glyphicon-time\"></i> " + ToDateTime(data.ListItem[i].CreatedDate) + "</p>";
                    //            result += "</div>";
                    //            result += "</div>";
                    //            result += "</a>";
                    //        }
                    //        else {
                    //            result += "<a href=\"" + data.ListItem[i].Link  + "\" name=\""+ data.ListItem[i].Id +"\" class=\"itemNotification seen\">";
                    //            result += "<div class=\"xdl-notification-item\">";
                    //            result += "<div class=\"col-auto xdl-noti-avatar\">";
                    //            result += "<img src=\"/Content/EndUser/img/emailread.png\" />";
                    //            result += "</div>";
                    //            result += "<div class=\"col xdl-noti-content\">";
                    //            result += "<div class=\"color-text-grey noti-content\">" + data.ListItem[i].Message + "</div>"
                    //            result += "<p class=\"timestamp color-text-lightgrey\"><i class=\"glyphicon glyphicon-time\"></i> " + ToDateTime(data.ListItem[i].CreatedDate) + "</p>";
                    //            result += "</div>";
                    //            result += "</div>";
                    //            result += "</a>";
                    //        }
                    //    }
                    //}
                    $("#notification-wrapper").append(result);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });
    });


    $().ready(function () {
        $('.itemNotification').click(function(e) {
            var noti_id = $(this).attr('name');
            var href = $(this).attr('href');

            $.ajax({
                url: '/EndUserInfo/AjaxCloseNoti',
                type: 'post',
                data: { "noti_id": noti_id },
                success: function () {
                    //window.location.href('http://www.google.com');
                },
                error: function (err) {
                    CommonJS.alert(xhr.responseText);
                }
            });
        });
    });
</script>
