@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.BannerQuangCaoArea.Models

@model CreateVM
@{
	var dropViTriHienThi = ViewBag.dropViTriHienThi as List<SelectListItem>;
}

<div class="modal-dialog">
	@using (Ajax.BeginForm("Create", "BannerQuangCao", new { @area = "BannerQuangCaoArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "createBannerQuangCaoForm", autocomplete = "off", enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">Tạo mới thông tin quảng cáo</h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-4">Đường dẫn </label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.LinkUrl, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.LinkUrl, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Đường dẫn ảnh </label>
						<div class="col-sm-8">
							<input type="file" name="file" id="file" class="form-control" />
							@Html.ValidationMessageFor(m => m.file, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Vị trí hiển thị <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.ViTriHienThi, dropViTriHienThi, "--Chọn vị trí hiển thị--", new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.ViTriHienThi, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Trạng thái <span class="red">*</span></label>
						<div class="col-sm-8">
							<label><input type="checkbox" value="true" name="Status" id="Status" /></label>
						</div>
						@*<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
						</div>*@
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Tên  <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Mô tả <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextAreaFor(m => m.Description,4,3, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary">Hoàn thành</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>

<script>
	$("#ViTriHienThi").select2();



</script>
@Scripts.Render("~/bundles/jqueryval")
