@{
	/**/

	ViewBag.Title = "Quản lý quảng cáo";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Quản lý quảng cáo";
	ViewBag.PageName = "Thông tin Quản lý quảng cáo";
	ViewBag.ModuleCode = "BannerQuangCao_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.BannerQuangCaoArea.Models

@model DetailVM
@section ActionBarRight{
	<a href="/BannerQuangCaoArea/BannerQuangCao/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
	<div class="col-sm-12">
		<table class="table-info table100" style="width:100%">
			<tr><td class="labelData">Đường dẫn ảnh</td><td><img src="/@Model.objInfo.ImageLink" onerror="this.src = '/assets/images/avatardefault.png'" width="100px"></td></tr>
			<tr><td class="labelData">Đường dẫn</td><td><a href="@Model.objInfo.LinkUrl">@Model.objInfo.LinkUrl</a></td></tr>
			<tr><td class="labelData">Vị trí hiển thị</td><td><span class='label' style='background-color:@Model.objInfo.ViTriHienThiBGColor'>@Model.objInfo.ViTriHienThiName</span></td></tr>
			<tr>
				<td class="labelData">Trạng thái</td>
				<td>
					@if (Model.objInfo.Status == true)
					{
						<span class="green">Được phép hiển thị</span>
					}
					else if (Model.objInfo.Status == false)
					{
						<span class="red">Không được phép hiển thị</span>
					}
				</td>
			</tr>
			<tr><td class="labelData">Tên </td><td>@Model.objInfo.Name</td></tr>
			<tr><td class="labelData">Mô tả</td><td>@Model.objInfo.Description</td></tr>
		</table>
	</div>

</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
