﻿@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.BuildingsInfoArea.Models
@using Newtonsoft.Json;
@using Nami.Service.Constant;
@using CommonHelper.String;
@model DetailVM
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="center">
				<h4 class="modal-title">Thông tin khu trọ/nhà trọ</h4>
			</div>
		</div>
		<div class="modal-body">
			<div class="tabbable">
				<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
					<li class="active">
						<a data-toggle="tab" href="#CompanyInfo" aria-expanded="true">Thông tin khu trọ/nhà trọ</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#listRoom" aria-expanded="false">Danh sách phòng trọ (nếu có)</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#listAgreement" aria-expanded="false">Danh sách hợp đồng</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#history" aria-expanded="false">Lịch sử thay đổi</a>
					</li>
				</ul>
				<div class="tab-content">

					<div id="CompanyInfo" class="tab-pane active">
						<table class="table-info table100">
							<tr>
								<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin cơ bản</strong></td>
							</tr>
							<tr>
								<td class="labelData">Tên khu/tòa nhà</td>
								<td>@Model.objInfo.BuildingsName</td>
								<td colspan="2" rowspan="5">
									<div id='map' style='width: 350px; height: 300px;'></div>
								</td>
							</tr>
							<tr><td class="labelData">Mục đích sử dụng</td><td>@Model.objInfo.MucDichSuDungName</td></tr>
							<tr><td class="labelData">Diện tích</td><td class="txt-number">@Model.objInfo.DienTich (m2)</td></tr>
							<tr><td class="labelData">Giá</td><td class="txt-number">@Model.objInfo.Price (VNĐ)</td></tr>
							@if (Model.objInfo.IsCreateRoom == true)
							{
								<tr><td class="labelData">Số phòng mỗi tầng</td><td>@Model.objInfo.NumberOfRoom</td></tr>
							}
							<tr><td class="labelData">Số lượng người ở</td><td>@Model.objInfo.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @Model.objInfo.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i></td></tr>
							<tr><td class="labelData">Địa chỉ</td><td colspan="3">@Model.objInfo.Address</td></tr>
							<tr>
								<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin mô tả</strong></td>
							</tr>
							<tr>
								<td colspan="4">
									@Model.objInfo.Description
								</td>
							</tr>
							<tr>
								<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin khác</strong></td>
							</tr>
							<tr><td class="labelData">Hướng nhà</td><td>@Model.objInfo.HuongNhaName</td><td class="labelData">Hướng ban công</td><td>@Model.objInfo.HuongBanCongName</td></tr>
							<tr><td class="labelData">Số tầng</td><td>@Model.objInfo.Floor</td><td class="labelData">Số phòng ngủ</td><td>@Model.objInfo.SoPhongNgu</td></tr>
							<tr><td class="labelData">Số toilet</td><td>@Model.objInfo.SoToiLet</td></tr>
							<tr><td class="labelData">Thông tin pháp lý</td><td colspan="3">@Model.objInfo.ThongTinPhapLy</td></tr>
							<tr>
								<td class="labelData labelDataTitle" colspan="4"><strong>Hình ảnh</strong></td>
							</tr>
							<tr>
								<td colspan="4">
									@if (Model.imageList.Any())
									{
										<ul class="ace-thumbnails clearfix">
											@foreach (var item in Model.imageList)
											{
												<li>
													<a href="/@item.ImageUrl" data-rel="colorbox">
														<img width="150" height="150" alt="150x150" src="/@item.ImageUrl" onerror="this.src = '/assets/images/notfoundimage.png'" />
														<div class="text">
															<div class="inner">Xem chi tiết</div>
														</div>
													</a>
												</li>
											}
										</ul>
									}
									else
									{
										<i>Không có dữ liệu ảnh</i>
									}
								</td>
							</tr>
							<tr>
								<td class="labelData labelDataTitle" colspan="4"><strong>Liên hệ</strong></td>
							</tr>
							<tr><td class="labelData">Tên liên hệ</td><td colspan="3">@Model.objInfo.TenLienHe</td></tr>
							<tr><td class="labelData">Địa chỉ liên hệ</td><td colspan="3">@Model.objInfo.DiaChiLienHe</td></tr>
							<tr><td class="labelData">Điện thoại</td><td colspan="3">@Model.objInfo.DienThoai</td></tr>
							<tr><td class="labelData">Di động</td><td colspan="3">@Model.objInfo.DiDong</td></tr>
							<tr><td class="labelData">Email</td><td colspan="3">@Model.objInfo.Email</td></tr>
						</table>
					</div>
					@*<div id="mohinh" class="tab-pane">
							<div class="firstBuldingDisplay">
								<div class="firstBuldingDisplayFloor">
									<div id="myCarousel" class="carousel slide" data-ride="carousel">
										<ol class="carousel-indicators">
											@for (int i = 0; i < Model.objInfo.Floor; i++)
											{
												<li data-target="#myCarousel" data-slide-to="@i"></li>
											}
										</ol>
										<div class="carousel-inner">
											@for (int f = 0; f < Model.objInfo.Floor; f++)
											{
												var floor = f + 1;
												if (f == 0)
												{
													<div class="item active">
														<div class="firstBuldingDisplayText">
															<span><b>Tầng @floor</b></span>
														</div>
														@foreach (var item in Model.ListRoom)
														{
															if (item.Floor == floor)
															{
																var dientichPhong = item.ChieuDaiRoom * item.ChieuRongRoom;
																<a style="cursor: pointer" onclick="FixedRightAction_4('/RoomInfoArea/RoomInfo/DetailPopup/@item.Id')">
																	<div class="blockRoom floor-@floor">
																		<b>
																			<span>
																				@item.RoomName
																			</span>
																		</b>
																		<span style="text-align: left;">Diện tích: @dientichPhong (m2) </span>
																		<span style="text-align: left;">Số người: @item.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @item.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i> </span>
																	</div>
																</a>
															}
														}
													</div>
												}
												else
												{
													<div class="item">
														<div class="firstBuldingDisplayText">
															<span><b>Tầng @floor</b></span>
														</div>
														@foreach (var item in Model.ListRoom)
														{
															if (item.Floor == floor)
															{
																var dientichPhong = item.ChieuDaiRoom * item.ChieuRongRoom;
																<a style="cursor: pointer" onclick="FixedRightAction_4('/RoomInfoArea/RoomInfo/DetailPopup/@item.Id')">
																	<div class="blockRoom floor-@floor">
																		<b>
																			<span>
																				@item.RoomName
																			</span>
																		</b>
																		<span style="text-align: left;">Diện tích: @dientichPhong (m2) </span>
																		<span style="text-align: left;">Số người: @item.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @item.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i> </span>
																	</div>
																</a>
																//}
															}
													</div>
												}
											}
										</div><!-- Left and right controls -->
										<a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background-image: none;">
											<span class="glyphicon glyphicon-chevron-left"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="right carousel-control" href="#myCarousel" data-slide="next" style="background-image: none;">
											<span class="glyphicon glyphicon-chevron-right"></span>
											<span class="sr-only">Next</span>
										</a>
									</div>
								</div>
							</div>
						</div>*@

					@*<div id="fileAttack" class="tab-pane">
							<div id="tbl-fileAttack" class="hntbl-cover table-scroll">
								<div class="table-wrap">
									<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Tên tệp tin/Mô tả</th>
												<th>Người đăng tệp tin</th>
												<th>Ngày đăng tệp tin</th>
												<th>Tải xuống</th>
											</tr>
										</thead>
										@if (Model.AppFileAttack != null && Model.AppFileAttack.Count != 0)
										{
											var countItem = 0;
											foreach (var item in Model.AppFileAttack)
											{
												countItem = countItem + 1;
												<tr>
													<td>@countItem</td>
													<td><b>@item.Name</b><br />(@item.Note)</td>
													<td>@item.CreatedBy</td>
													<td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
													<td><a href="/@item.FileName.StandardPath()" download=""><i class="glyphicon glyphicon-paperclip"></i> Tải xuống</a></td>
												</tr>
											}
										}
										else
										{
											<tr>
												<td colspan="5">Không có dữ liệu</td>
											</tr>
										}
									</table>
								</div>
							</div>
						</div>*@

					<div id="history" class="tab-pane">
						<div id="tbl-history" class="hntbl-cover">
							<div class="row">
								@if (Model.historys != null && Model.historys.Any())
								{
									<table class="table">
										@foreach (var item in Model.historys)
										{
											<tr class="col-sm-12 log-noi-dung">
												<td class="col-sm-4 seperated-cell">

													@if (item.userInfo != null)
													{
														<img class='nav-user-photo smallSize' src='/@item.userInfo.Avatar' onerror='this.src ="/assets/images/avatars/userNew.png"' title='@item.CreatedBy' />
													}
													else
													{
														<img class='nav-user-photo smallSize' src='/assets/images/avatars/userNew.png' title='@item.CreatedBy' />

													}

													<div class="inline pull-right pdl10">
														<div class="boldText">@item.CreatedBy</div>
														<i class="fa fa-calendar" aria-hidden="true"></i> Ngày @string.Format("{0:dd/MM/yyyy}", item.CreatedDate)
														<div><i class="fa fa-clock-o" aria-hidden="true"></i> Lúc @string.Format("{0:HH:mm:ss}", item.CreatedDate)</div>
													</div>
												</td>
												<td class="col-sm-8 seperated-cell">

													<div class="boldText"><i class="fa fa-angle-double-left" aria-hidden="true"></i> @item.HistoryContent <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
													@if (!string.IsNullOrEmpty(item.Comment))
													{
														<div><i class="fa fa-newspaper-o" aria-hidden="true"></i> Nội dung: </div>
														<div>@Html.Raw(HttpUtility.HtmlDecode(item.Comment))</div>
													}
												</td>
											</tr>
										}
									</table>
								}
								else
								{
									<div style="padding-left:20px;">Không có dữ liệu</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="well well-sm">
				<div class="createTime">
					<h6>Khởi tạo lúc: <b>@Model.objInfo.CreatedDate</b>, bởi <a>@Model.objInfo.CreatedBy</a></h6>
				</div>
				<div class="updateTime">
					<h6>Thay đổi lần cuối lúc: <b>@Model.objInfo.UpdatedDate</b>, bởi <a>@Model.objInfo.UpdatedBy</a></h6>
				</div>
			</div>
		</div>
		<div class="modal-footer center">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Đóng</button>
		</div>
	</div>
</div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.resize();

	function MapModal() {
		$('#MasterModal').modal();
	}

	function MapResize() {
		map.resize();
	}
	$('#MasterModal').on('shown.bs.modal', function () {
		map.resize();
	});
	var geocoder = new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		marker: {
			color: 'red',
			draggable: true
		},
		mapboxgl: mapboxgl
	});
	$(document).ready(function (e) {
	if ('@Model.objInfo.Latitude' != null && '@Model.objInfo.Latitude' != "" && '@Model.objInfo.Longitude' != null && '@Model.objInfo.Longitude' != "") {
			var lat = parseFloat(('@Model.objInfo.Latitude').replace(",", "."));
			var lng = parseFloat(('@Model.objInfo.Longitude').replace(",", "."));
			map.setCenter({ lng: lng, lat: lat });
			map.setZoom(8);
			geocoder.mapMarker = new mapboxgl.Marker({
				color: 'orange',
				draggable: true
			})
				.setLngLat([lng, lat])
				.addTo(map);
		}
	})
	map.addControl(geocoder, 'top-left');
	map.addControl(new mapboxgl.NavigationControl(), 'top-left');
	$(".mapboxgl-ctrl-geocoder--input").attr("placeholder", "Tìm kiếm");
</script>
<script type="text/javascript">
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
	jQuery(function ($) {
		var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition: true,
			scalePhotos: true,
			scrolling: false,
			previous: '<i class="ace-icon fa fa-arrow-left" ></i>',
			next: '<i class="ace-icon fa fa-arrow-right" ></i> ',
			close: '&times;',
			current: '{current} of {total}',
			maxWidth: '600px',
			maxHeight: '400px',
			onOpen: function () {
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed: function () {
				document.body.style.overflow = $overflow;
			},
			onComplete: function () {
				$.colorbox.resize();
			}
		};

		$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);

	})
			@*for (var i = 0; i < @Model.objInfo.Floor; i++) {
				var randomColor = getRandomColor();
				var idclobk = ".floor-" + i;
				$(idclobk).css("background-color", randomColor);
			}
			if ((@Model.objInfo.NumberOfRoom <= 4)) {
				$(".blockRoom").css("width", "50%");
			}
			else if ((@Model.objInfo.NumberOfRoom == 5 || @Model.objInfo.NumberOfRoom == 6 || @Model.objInfo.NumberOfRoom == 9)) {
				$(".blockRoom").css("width", "33.33%");
			}
			else if ((@Model.objInfo.NumberOfRoom == 7 || @Model.objInfo.NumberOfRoom == 8 || (@Model.objInfo.NumberOfRoom >= 10 && @Model.objInfo.NumberOfRoom <= 12) || @Model.objInfo.NumberOfRoom == 16)) {
				$(".blockRoom").css("width", "25%");
			}
			else if (((@Model.objInfo.NumberOfRoom >= 13 && @Model.objInfo.NumberOfRoom <= 15))) {
				$(".blockRoom").css("width", "20%");
			}*@
</script>
@Scripts.Render("~/bundles/jqueryval")
