@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.BuildingsInfoArea.Models

@model EditVM
@{ 
}
<style>
	body {
		margin: 0;
		padding: 0;
	}

	#map {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%
	}
</style>
<div class="modal-dialog"style="width: 80%;">
	@using (Ajax.BeginForm("Edit", "BuildingsInfo", new { @area = "BuildingsInfoArea" }, new AjaxOptions()
{
	HttpMethod = "POST",
	OnFailure = "AjaxFormError",
	OnSuccess = "AjaxFormSuccess",
}, new { id = "editBuildingsInfoForm" }))
		{
			@Html.AntiForgeryToken()
			//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="center">
						<h4 class="modal-title">Cập nhật Nhà trọ</h4>
					</div>
				</div>
				<div class="modal-body row">
					<div class="col-sm-6">
						<div class="form-horizontal row">
							<input type="hidden" name="longtitude" class="form-control longtitude" />
							<input type="hidden" name="latitude" class="form-control latitude" />
							@*@Html.HiddenFor(m=>m.Longitude)
							@Html.HiddenFor(m=>m.Latitude)*@
							<div class="col-sm-12">
								<div class="form-group">
									<label class="control-label col-sm-2">Tên khu/Tòa nhà <span class="red">*</span></label>
									<div class="col-sm-10">
										@Html.TextBoxFor(m => m.BuildingsName, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.BuildingsName, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label class="control-label col-sm-2">Địa chỉ <span class="red">*</span></label>
									<div class="col-sm-10">
										@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label col-sm-4">Số lượng phòng trên một tầng <span class="red">*</span></label>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.NumberOfRoom, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.NumberOfRoom, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label col-sm-4">Số tầng của tòa nhà <span class="red">*</span></label>
									<div class="col-sm-8">
										@Html.TextBoxFor(m => m.Floor, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Floor, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label col-sm-4">Kích thước cơ bản của một phòng m2 <span class="red">*</span></label>
									<div class="col-sm-4">
										@Html.TextBoxFor(m => m.ChieuDaiRoom, new { @class = "form-control", @placeholder = "Chiều dài" })
										@Html.ValidationMessageFor(m => m.ChieuDaiRoom, "", new { @class = "text-danger" })
									</div>
									<div class="col-sm-4">
										@Html.TextBoxFor(m => m.ChieuRongRoom, new { @class = "form-control", @placeholder = "Chiều rộng" })
										@Html.ValidationMessageFor(m => m.ChieuRongRoom, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label col-sm-4">Số lượng người trung bình trong 1 phòng <span class="red">*</span></label>
									<div class="col-sm-4">
										@Html.TextBoxFor(m => m.NumberOfPeoperPerRoomAdult, new { @class = "form-control", @placeholder = "Số người lớn" })
										@Html.ValidationMessageFor(m => m.NumberOfPeoperPerRoomAdult, "", new { @class = "text-danger" })
									</div>
									<div class="col-sm-4">
										@Html.TextBoxFor(m => m.NumberOfPeoperPerRoomKid, new { @class = "form-control", @placeholder = "Số trẻ con" })
										@Html.ValidationMessageFor(m => m.NumberOfPeoperPerRoomKid, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-12">
								<div class="form-group">
									<label class="control-label col-sm-2">Mô tả </label>
									<div class="col-sm-10">
										@Html.TextAreaFor(m => m.Description, 4, 3, new { @class = "form-control" })
										@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
							@*<div class="form-group">
					<label class="control-label col-sm-4">Mã nhóm dịch vụ </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.ServicesCode, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.ServicesCode, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Nhập điện nước từ </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.InputWaterElectricFrom, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.InputWaterElectricFrom, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Nhập điện nước đến </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.InputWaterElectricTo, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.InputWaterElectricTo, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Xuất hóa đơn từ </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.BillsFrom, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.BillsFrom, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Xuất hóa đơn đến </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.BillsTo, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.BillsTo, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Ngày thu tiền từ </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.CollectionMoneyFrom, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.CollectionMoneyFrom, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Ngày thu tiền đến </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.CollectionMoneyTo, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.CollectionMoneyTo, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Hết hạn hợp đồng từ </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.EndOfConstractFrom, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.EndOfConstractFrom, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Hết hạn hợp đồng đến </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.EndOfConstractTo, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.EndOfConstractTo, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Mã tỉnh </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.TinhCode, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.TinhCode, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Mã xã </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.XaCode, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.XaCode, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Mã huyện </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.HuyenCode, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.HuyenCode, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-4">Mã quốc gia </label>
					<div class="col-sm-8">
						@Html.TextBoxFor(m => m.QuocGiaCode, new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.QuocGiaCode, "", new { @class = "text-danger" })
					</div>
				</div>*@

						</div>
					</div>
					<div class="col-sm-6">
						<div id='map' style='width: 93%; height: 421px;'></div>
					</div>
				</div>
				<div class="modal-footer center">
					<button type="submit" class="btn btn-primary" onclick="SavePosition()">Hoàn thành</button>

					<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		}
</div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.resize();

	function MapModal() {
		$('#MasterModal').modal();
	}

	function MapResize() {
		map.resize();
	}
	$('#MasterModal').on('shown.bs.modal', function () {
		map.resize();
	});
	var geocoder = new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		marker: {
			color: 'red',
			draggable: true
		},
		mapboxgl: mapboxgl
	});
	$(document).ready(function (e) {
	if ('@Model.Latitude' != null && '@Model.Latitude' != "" && '@Model.Longitude' != null && '@Model.Longitude' != "") {
			var lat = parseFloat(('@Model.Latitude').replace(",", "."));
			var lng = parseFloat(('@Model.Longitude').replace(",", "."));
			map.setCenter({ lng: lng, lat: lat });
			map.setZoom(8);
			geocoder.mapMarker = new mapboxgl.Marker({
				color: 'orange',
				draggable: true
			})
				.setLngLat([lng, lat])
				.addTo(map);
		}
	})
	map.addControl(geocoder, 'top-left');
	map.addControl(new mapboxgl.NavigationControl(), 'top-left');
	$(".mapboxgl-ctrl-geocoder--input").attr("placeholder", "Tìm kiếm");
	map.on('click', function (e) {
		if (geocoder.mapMarker != null) {
			geocoder.mapMarker.setLngLat([e.lngLat.lng, e.lngLat.lat]);
		} else {
			geocoder.mapMarker = new mapboxgl.Marker({
				color: 'red',
				draggable: true
			})
				.setLngLat([e.lngLat.lng, e.lngLat.lat])
				.addTo(map);
		}
	});
	function SavePosition() {
		var lat = geocoder.mapMarker._lngLat.lat;
		var lng = geocoder.mapMarker._lngLat.lng;
		$('.latitude').val(lat)
		$('.longtitude').val(lng)
	}
</script>
@Scripts.Render("~/bundles/jqueryval")
