﻿@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using Nami.Web.Areas.BuildingsInfoArea.Models

@model RequestStatusVM

<div class="modal-dialog">
	@using (Ajax.BeginForm("RequestStatus", "BuildingsInfo", new { @area = "BuildingsInfoArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "createForm" }))
	{
		@Html.AntiForgeryToken()
		//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
		<!-- Modal content-->
		@Html.HiddenFor(m => m.IdItem, new { @class = "form-control" })
		@Html.HiddenFor(m => m.Status, new { @class = "form-control" })
		@Html.HiddenFor(m => m.StatusBegin, new { @class = "form-control" })
		<input type="hidden" value="@Model.IdItem" class="id" name="id" />
		<input type="hidden" value="@Model.Status" class="status" name="status" />
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">@ViewBag.StatusClick</h4>

				</div>
			</div>
			<div class="modal-body">
				<div class="form-group website-request-update">
					@{
						if (Model.QLBuildingsInfo != null)
						{
							if (!string.IsNullOrEmpty(Model.QLBuildingsInfo.BuildingsName))
							{
								<div>
									<b>Tên tòa nhà</b>
									<i style="font-size:16px;">@Model.QLBuildingsInfo.BuildingsName</i><br />
								</div>
							}
						}
					}
				</div>
				<div class="row container-fluid">
					<div class="col-xs-12">
						<div class="form-horizontal">
							<div class="form-group">
								<label class="control-label ">Nội dung<span class="red">*</span></label>
								<div class="">
									<textarea cols="4" rows="3" class="Comment" name="Comment"></textarea>
									@Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary" id="submit">Hoàn thành</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>
<script>
	@*CKEDITOR.replace('Comment', {
		htmlEncodeOutput: true,
		customConfig: '/assets/ckeditor/custom/ckeditor_config.js'});
	$("#createForm").submit(function () {
		for (instance in CKEDITOR.instances) {
			CKEDITOR.instances[instance].updateElement();
		}
	})*@
</script>
@Scripts.Render("~/bundles/jqueryval")