@using Nami.Service.Constant
@using Nami.Service.Common
@{
	var droplistStatus = SessionManager.GetValue("droplistStatus") as List<SelectListItem>;

}
<div id="collapseDiv" class="panel-collapse collapse" aria-expanded="false" role="tabpanel">
	<div class="well SearchBox">

		@using (Ajax.BeginForm("searchData", "BuildingsInfo", new { Area = "BuildingsInfoArea" },
			new AjaxOptions()
			{
				HttpMethod = "POST",
				OnFailure = "AjaxFormError",
				OnSuccess = "AjaxSearchSuccess",
			}, new { }))
		{
			@Html.AntiForgeryToken()
		<div class="row row-block">
			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Tên khu/Tòa nhà</div>
				<div class="col-md-8">
					<input class="form-control width100" type="text" name="BuildingsNameFilter" />
				</div>
			</div>

			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Địa chỉ</div>
				<div class="col-md-8">
					<input class="form-control width100" type="text" name="AddressFilter" />
				</div>
			</div>
			<div class="clearBoth"></div>

			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Diện tích</div>
				<div class="col-md-4">
					<input class="form-control width100" type="number" step="1" min="0" name="DienTichFilterFrom" placeholder="Từ" />
				</div>
				<div class="col-md-4">
					<input class="form-control width100" type="number" step="1" min="0" name="DienTichFilterTo" placeholder="Đến" />
				</div>
			</div>

			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Số người lớn</div>
				<div class="col-md-4">
					<input class="form-control width100" type="number" step="1" min="0" name="NumberOfPeoperPerRoomAdultFilterFrom" placeholder="Từ" />
				</div>
				<div class="col-md-4">
					<input class="form-control width100" type="number" step="1" min="0" name="NumberOfPeoperPerRoomAdultFilterTo" placeholder="Đến" />
				</div>
			</div>
			<div class="clearBoth"></div>


			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Số trẻ em</div>
				<div class="col-md-4">
					<input class="form-control width100" type="number" step="1" min="0" name="NumberOfPeoperPerRoomKidFilterFrom" placeholder="Từ" />
				</div>
				<div class="col-md-4">
					<input class="form-control width100" type="number" step="1" min="0" name="NumberOfPeoperPerRoomKidFilterTo" placeholder="Đến" />
				</div>
			</div>

			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Giá</div>
				<div class="col-md-4">
					<input class="form-control width100" type="number" step="1" min="0" name="PriceFilterFrom" placeholder="Từ" />
				</div>
				<div class="col-md-4">
					<input class="form-control width100" type="number" step="1" min="0" name="PriceFilterTo" placeholder="Đến" />
				</div>
			</div>
			<div class="clearBoth"></div>

			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Trạng thái</div>
				<div class="col-md-8">
					@Html.DropDownList("StatusFilter", droplistStatus, "--Tất cả--", new { @class = "txt-select2" })
				</div>
			</div>

			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Trạng thái đăng tin</div>
				<div class="col-md-8">
					<select class="form-control" name="TrangThaiDangTinFilter">
						<option value="all">Tất cả</option>
						<option value="notdang">Chưa được đăng tin</option>
						<option value="false">Hết hạn đăng tin</option>
						<option value="true">Đã đưuọc đăng tin</option>
					</select>
				</div>
			</div>
			<div class="clearBoth"></div>

			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Ngày tạo</div>
				<div class="col-md-4">
					<input type="text" class="form-control width100 txt-picker" name="CreatedDateFromFilter" />
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control width100 txt-picker" name="CreatedDateToFilter" />
				</div>
			</div>

			<div class="col-md-6 row-block">
				<div class="col-md-4 txt-label">Ngày sửa</div>
				<div class="col-md-4">
					<input type="text" class="form-control width100 txt-picker" name="UpdatedDateFromFilter" />
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control width100 txt-picker" name="UpdatedDateToFilter" />
				</div>
			</div>


			<div class="col-md-12 center" style=" margin-top:20px;">
				<button id="btnSearch" type="submit" class="btn btn-labeled btn-primary btn-sm">
					<span class="btn-label">
						<i class="glyphicon glyphicon-search"></i>
					</span>
					Tìm kiếm
				</button>

				<a aria-expanded="false" href="#collapseDiv" data-toggle="collapse" role="button" class="btn btn-labeled btn-danger btn-sm">
					<span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>
					Đóng
				</a>
			</div>
		</div>

		}
	</div>
</div>



<script>
	$(".txt-select2").select2();
	$(".txt-picker").datepicker({
		dateFormat: 'dd/mm/yy',
		changeMonth: false,
		changeYear: false, yearRange: "-50:+20",
		showWeek: false, weekHeader: "Tuần",
		language: 'vi-VN',
		prevText: '<i class="fa fa-chevron-left"></i>',
		nextText: '<i class="fa fa-chevron-right"></i>',
	});
</script>