﻿@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.BuildingsInfoArea.Models
@using Nami.Service.Constant;
@model ThanhToanVM
@{
	var ListBanhCode = ViewBag.ListBanhCode as List<SelectListItem>;
}
<div class="modal-dialog">
	@using (Ajax.BeginForm("ThanhToanPhiDangTin", "BuildingsInfo", new { @area = "BuildingsInfoArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "createPaymentInfoForm" }))
	{
		@Html.AntiForgeryToken()
		//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
		<!-- Modal content-->
		@Html.HiddenFor(m => m.OrderType)
		@Html.HiddenFor(m => m.IdItem)
		@Html.HiddenFor(m => m.ItemType)
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">Tạo mới yêu cầu thanh toán</h4>
				</div>
			</div>
			<div class="modal-body row">
				<div class="form-horizontal row">
					<div class="col-sm-12">
						<div class="form-group">
							@if (Model.ItemType == ItemTypeConstant.Building)
							{
								<label class="control-label col-sm-2">Tên khu/Tòa nhà <span class="red">*</span></label>
							}
							else if (Model.ItemType == ItemTypeConstant.Room)
							{
								<label class="control-label col-sm-2">Tên phòng trọ<span class="red">*</span></label>
							}
							<div class="col-sm-10">
								<span><b>@Model.ItemName</b></span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Phí đăng tin <span class="red">*</span></label>
							<div class="col-sm-10">
								<span class="txt-number">@Model.PhiDichVuTheoNgay</span><span> VNĐ/Ngày</span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Ngày bắt đầu <span class="red">*</span></label>
							<div class="col-sm-10">
								@Html.DatePickerFor(m => m.StartDate, "autoclose=true", "todayBtn=true", "todayHighlight=true")
								@Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Ngày kết thúc <span class="red">*</span></label>
							<div class="col-sm-10">
								@Html.DatePickerFor(m => m.EndDate, "autoclose=true", "todayBtn=true", "todayHighlight=true")
								@Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Số tiền <span class="red">*</span></label>
							<div class="col-sm-10">
								@*@Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })*@
								<span id="AmountArea" class="txt-number"></span><span id="DayArea"></span>
								<input name="Amount" class="Amount form-control" id="Amount" value="0" min="0" step="10000" max="5000000000" type="hidden" />
								@Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					@*<div class="col-sm-12">
							<div class="form-group">
								<label class="control-label col-sm-2">Nội dung thanh toán <span class="red">*</span></label>
								<div class="col-sm-10">
									@Html.TextBoxFor(m => m.OrderDescription, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.OrderDescription, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>*@
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Ngân hàng </label>
							<div class="col-sm-10">
								@Html.DropDownListFor(m => m.BankCode, ListBanhCode, "--Chọn ngân hàng--", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.BankCode, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Ngôn ngữ <span class="red">*</span></label>
							<div class="col-sm-10">
								<select class="form-control" name="Locale">
									<option value="vn">Tiếng Việt</option>
									<option value="en">English</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer center">
				<button type="button" class="btn btn-warning" onclick="CalAmount()">Tính số tiền cần thanh toán</button>

				<button type="button" class="btn btn-primary" onclick="ThanhToanFunc()">Thanh toán</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>

<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
	$("#BankCode").select2();
	function ThanhToanFunc() {
		if ($('#StartDate').val() != "" && $('#StartDate').val() != null && $('#EndDate').val() != "" && $('#EndDate').val() != null) {
			var StartDateVal = $('#StartDate').datepicker('getDate');
			var EndDateVal = $('#EndDate').datepicker('getDate');
			var oneDay = 24 * 60 * 60 * 1000;
			var diffDays = Math.round(Math.abs((StartDateVal - EndDateVal) / oneDay)) + 1;
			if (StartDateVal.getTime() < EndDateVal.getTime()) {
				var TotalMoney = '@Model.PhiDichVuTheoNgay' * diffDays;
				console.log(TotalMoney, $("#Amount").val());
				//if (TotalMoney != $("#Amount").val()) {
				//	NotiError("Lỗi", "Vui lòng tính lại số tiền cần thanh toán");
				//} else {
					$("#createPaymentInfoForm").submit();
				//}
			} else {
				NotiError("Lỗi", "Vui lòng chọn ngày bắt đầu nhỏ hơn ngày kết thúc");
			}
		} else {
			NotiError("Lỗi", "Vui lòng chọn cả ngày bắt đầu và ngày kết thúc");
		}
	}
	function CalAmount() {
		if ($('#StartDate').val() != "" && $('#StartDate').val() != null && $('#EndDate').val() != "" && $('#EndDate').val() != null) {
			var StartDateVal = $('#StartDate').datepicker('getDate');
			var EndDateVal = $('#EndDate').datepicker('getDate');
			var oneDay = 24 * 60 * 60 * 1000;
			var diffDays = Math.round(Math.abs((StartDateVal - EndDateVal) / oneDay));
			if (StartDateVal.getTime() < EndDateVal.getTime()) {
				var TotalMoney = '@Model.PhiDichVuTheoNgay' * diffDays;
				$("#DayArea").html(diffDays + " ngày");
				$("#AmountArea").html(TotalMoney + " VNĐ/ ");
				$("#Amount").val(TotalMoney);
			} else {
				NotiError("Lỗi", "Vui lòng chọn ngày bắt đầu lơn hơn ngày kết thúc");
			}
		} else {
			NotiError("Lỗi", "Vui lòng chọn cả ngày bắt đầu và ngày kết thúc");
		}
	}
	function AjaxFormSuccess(rs) {
		if (rs != null) {
			console.log(rs);
			location.href = rs;
		}
	}
</script>
@Scripts.Render("~/bundles/jqueryval")
