﻿@{
	/**/

	ViewBag.Title = "Nhà trọ";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Nhà trọ";
	ViewBag.PageName = "Cập nhật thông tin nhà trọ";
	ViewBag.ModuleCode = "QLKhuTro_edit";

}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.BuildingsInfoArea.Models

<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
@model EditVM
@{
	var dropdownListQuocGia = ViewBag.dropdownListQuocGia as List<SelectListItem>;
	var dropdownListTinh = ViewBag.dropdownListTinh as List<SelectListItem>;
	var dropdownListHuyen = ViewBag.dropdownListHuyen as List<SelectListItem>;
	var dropdownListXa = ViewBag.dropdownListXa as List<SelectListItem>;
	var dropdownListStreet = ViewBag.dropdownListStreet as List<SelectListItem>;
	var dropdownListDuAn = ViewBag.dropdownListDuAn as List<SelectListItem>;
	var dropdownListHuongNha = ViewBag.dropdownListHuongNha as List<SelectListItem>;
	var dropdownListHuongBanCong = ViewBag.dropdownListHuongBanCong as List<SelectListItem>;
	var dropdownListMucDichSuDung = ViewBag.dropdownListMucDichSuDung as List<SelectListItem>;
}
@section ActionBarRight{
	<a href="/BuildingsInfoArea/BuildingsInfo/Index" class="btn btn-primary btn-sm"><i class="fa fa-chevron-left"></i> Quay lại</a>
}

@using (Html.BeginForm("EditRedirect", "BuildingsInfo", new { @area = "BuildingsInfoArea" }, FormMethod.Post, new { id = "editBuildingsInfoForm", autocomplete = "off", enctype = "multipart/form-data" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m=>m.Id)
	<div class="row">
		<div class="col-sm-12">
			<div class="form-horizontal">
				<div class="col-sm-12 center">
					<span><i class="red">(**) Vui lòng nhập chính xác trường thông tin do những trường thông tin này hiển thị cho người thuê</i></span>
					<span><i class="red">(*) Vui lòng nhập những trường thông tin yêu cầu</i></span>
				</div>
				<div class="clearBoth"></div>
				<div class="boxFormHeader">
					<h4><span class="formHeader">1.Thông tin cơ bản</span></h4>
				</div>
				<div class="clearBoth"></div>
				<div class="col-sm-12">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Tên khu/Tòa nhà <span class="red">**</span></label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.BuildingsName, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.BuildingsName, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Mục đích sử dụng <span class="red">**</span></label>
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.MucDichSuDung, dropdownListMucDichSuDung, "--Chọn mục đích sử dụng--", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.MucDichSuDung, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Tỉnh/Thành phố <span class="red">*</span></label>
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.TinhCode, dropdownListTinh, "--Chọn tỉnh/thành phố--", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.TinhCode, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Quận/Huyện <span class="red">*</span></label>
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.HuyenCode, dropdownListHuyen, "--Chọn quận/huyện--", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.HuyenCode, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Phường/Xã </label>
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.XaCode, dropdownListXa, "--Chọn phường/xã--", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.XaCode, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Đường/Phố </label>
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.StreetCode, dropdownListStreet, "--Chọn đường/phố--", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.StreetCode, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Dự án </label>
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.DuAnId, dropdownListDuAn, "--Chọn dự án--", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.DuAnId, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Diện tích <span class="red">**</span></label>
							<div class="col-sm-7">
								<input type="number" min="0" max="500000" step="1" name="DienTich" class="DienTich form-control" id="DienTich" value="@Model.DienTich" />
								@Html.ValidationMessageFor(m => m.DienTich, "", new { @class = "text-danger" })
							</div>
							<div class="col-sm-1">
								<span>m2</span>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Giá <span class="red">**</span></label>
							<div class="col-sm-7">
								<input type="number" min="0" step="1" name="Price" class="Price form-control" id="Price" value="@Model.Price"/>
								@Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
							</div>
							<div class="col-sm-1">
								<span>VNĐ</span>
							</div>
						</div>
					</div>
					@*<div class="clearBoth"></div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-4">Có tạo phòng theo tòa nhà </label>
								<div class="col-sm-8">
									<input type="checkbox" value="true" name="IsCreateRoom" class="IsCreateRoom" id="IsCreateRoom" onclick="IsCreateRoomF()" />
									@Html.ValidationMessageFor(m => m.IsCreateRoom, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div id="numberroom">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label col-sm-4">Số phòng mỗi tầng </label>
									<div class="col-sm-8">
										<input type="number" min="0" step="1" name="NumberOfRoom" class="NumberOfRoom" id="NumberOfRoom" />
										@Html.ValidationMessageFor(m => m.NumberOfRoom, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="control-label col-sm-4">Diện tích mỗi phòng </label>
									<div class="col-sm-8">
										<input type="number" min="0" max="500000" step="0.1" name="DienTichMoiPhong" class="DienTichMoiPhong form-control" id="DienTichMoiPhong" />
										@Html.ValidationMessageFor(m => m.DienTichMoiPhong, "", new { @class = "text-danger" })
									</div>
								</div>
							</div>
						</div>*@
					<div class="clearBoth"></div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Số người lớn <span class="red">**</span></label>
							<div class="col-sm-8">
								<input type="number" min="0" step="1" name="NumberOfPeoperPerRoomAdult" class="NumberOfPeoperPerRoomAdult" id="NumberOfPeoperPerRoomAdult" value="@Model.NumberOfPeoperPerRoomAdult" />
								@Html.ValidationMessageFor(m => m.NumberOfPeoperPerRoomAdult, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Số trẻ con <span class="red">**</span></label>
							<div class="col-sm-8">
								<input type="number" min="0" step="1" name="NumberOfPeoperPerRoomKid" class="NumberOfPeoperPerRoomKid" id="NumberOfPeoperPerRoomKid" value="@Model.NumberOfPeoperPerRoomKid" />
								@Html.ValidationMessageFor(m => m.NumberOfPeoperPerRoomKid, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Địa chỉ <span class="red">**</span></label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="boxFormHeader">
						<h4><span class="formHeader">2.Thông tin mô tả</span></h4>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-8">
						<div class="form-group">
							<div class="col-sm-12">
								@Html.TextAreaFor(m => m.Description, 5, 6, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<i class="fa fa-arrow-right"></i>
						<span>Giới thiệu chung về bất động sản của bạn. Ví dụ: Khu nhà có vị trí thuận lợi: Gần công viên, gần trường học ... Tổng diện tích 52m2, đường đi ô tô vào tận cửa.</span>
					</div>
					<div class="clearBoth"></div>
					<div class="boxFormHeader">
						<h4><span class="formHeader">3.Vị trí trên bản đồ</span></h4>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-12">
						<input type="hidden" name="longtitude" class="form-control longtitude" value="@Model.Longitude" />
						<input type="hidden" name="latitude" class="form-control latitude" value="@Model.Latitude" />
						@Html.ValidationMessageFor(m => m.ToaDoViTri, "", new { @class = "text-danger" })
						<div id='map' style='width: 100%; height: 500px;'></div>
					</div>
					<div class="clearBoth"></div>
					<div class="boxFormHeader">
						<h4><span class="formHeader">4.Thông tin khác</span></h4>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Hướng nhà <span class="red">**</span></label>
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.HuongNha, dropdownListHuongNha, "KNĐ", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.HuongNha, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Hướng ban công <span class="red">**</span></label>
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.HuongBanCong, dropdownListHuongBanCong, "KNĐ", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.HuongBanCong, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Số tầng <span class="red">**</span></label>
							<div class="col-sm-8">
								<input type="number" min="0" max="100" step="1" name="Floor" class="Floor form-control" id="Floor" value="@Model.Floor" />
								@Html.ValidationMessageFor(m => m.Floor, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Số phòng ngủ <span class="red">**</span></label>
							<div class="col-sm-8">
								<input type="number" min="0" max="100" step="1" name="SoPhongNgu" class="SoPhongNgu form-control" id="SoPhongNgu" value="@Model.SoPhongNgu" />
								@Html.ValidationMessageFor(m => m.SoPhongNgu, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-6">
						<div class="form-group">
							<label class="control-label col-sm-4">Số toilet <span class="red">**</span></label>
							<div class="col-sm-8">
								<input type="number" min="0" max="100" step="1" name="SoToiLet" class="SoToiLet form-control" id="SoToiLet" value="@Model.SoToiLet" />
								@Html.ValidationMessageFor(m => m.SoToiLet, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Nội thất <span class="red">**</span></label>
							<div class="col-sm-8">
								@Html.TextAreaFor(m => m.NoiThat, 5, 6, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.NoiThat, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Thông tin pháp lý <span class="red">**</span></label>
							<div class="col-sm-8">
								@Html.TextAreaFor(m => m.ThongTinPhapLy, 4, 3, new { @class = "form-control", @placeholder = "Ví dụ: Đã có sổ hồng. Đã được phê duyệt quyết định đầu tư..." })
								@Html.ValidationMessageFor(m => m.ThongTinPhapLy, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="boxFormHeader">
						<h4><span class="formHeader">5.Hình ảnh</span></h4>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="file" name="file" class="file form-control" id="file" multiple />
								@Html.ValidationMessageFor(m => m.file, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div class="boxFormHeader">
						<h4><span class="formHeader">6.Liên hệ</span></h4>
					</div>
					<div class="clearBoth"></div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Tên liên hệ <span class="red">**</span></label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.TenLienHe, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.TenLienHe, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Địa chỉ liên hệ <span class="red">**</span></label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.DiaChiLienHe, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.DiaChiLienHe, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Điện thoại <span class="red">**</span></label>
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.DienThoai, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.DienThoai, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Di động <span class="red">*</span></label>
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.DiDong, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.DiDong, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="form-group">
							<label class="control-label col-sm-2">Email <span class="red">**</span></label>
							<div class="col-sm-6">
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 center">
			<button type="submit" class="btn btn-primary" onclick="SavePosition()">Lưu</button>
		</div>
	</div>
}

@section scripts{
	<script type="text/javascript">
		if ('@Model.DienTich' != null && '@Model.DienTich' != "" && '@Model.DienTich' != 0) {
			var dienTichConvert = parseFloat('@Model.DienTich');
			$('#DienTich').val(dienTichConvert);
		}
		if ('@Model.Price' != null && '@Model.Price' != "" && '@Model.Price' != 0) {
			var dienTichConvert = parseFloat('@Model.Price');
			$('#Price').val(dienTichConvert);
		}
		$('#MucDichSuDung').select2();
		$('#HuyenCode').select2();
		$('#XaCode').select2();
		$('#TinhCode').select2();
		$('#StreetCode').select2();
		$('#DuAnId').select2();
		$('#numberroom').hide();
		$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
		$("#TinhCode").on("change", function () {
			var type = $(this).val();
			renderDropdownList('/BuildingsInfoArea/BuildingsInfo/GetHuyenDropdownOfTinh/' + type, 'HuyenCode', '--Chọn quận/huyện--');
			$('#HuyenCode').val('').change();
		});

		$("#HuyenCode").on("change", function () {
			var type = $(this).val();
			renderDropdownList('/BuildingsInfoArea/BuildingsInfo/GetXaDropdownOfHuyen/' + type, 'XaCode', '--Chọn xã/phường--');
			$('#XaCode').val('').change();

			renderDropdownList('/BuildingsInfoArea/BuildingsInfo/GetXaDropdownOfStreet/' + type, 'StreetCode', '--Chọn đường/phố--');
			$('#StreetCode').val('').change();

			renderDropdownList('/BuildingsInfoArea/BuildingsInfo/GetXaDropdownOfDuAn/' + type, 'DuAnId', '--Chọn dự án--');
			$('#DuAnId').val('').change();
		});




		//function IsCreateRoomF() {
		//	if ($('#IsCreateRoom').prop("checked") == true) {
		//		$('#numberroom').show();
		//	} else {
		//		$('#numberroom').hide();
		//	}
		//}
		mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
			center: [106.4332513, 16.5397358],
			zoom: 5
		});
		map.resize();
		var geocoder = new MapboxGeocoder({
			accessToken: mapboxgl.accessToken,
			marker: {
				color: 'orange',
				draggable: true
			},
			mapboxgl: mapboxgl
		});
		$(document).ready(function (e) {
	if ('@Model.Latitude' != null && '@Model.Latitude' != "" && '@Model.Longitude' != null && '@Model.Longitude' != "") {
			var lat = parseFloat(('@Model.Latitude').replace(",", "."));
			var lng = parseFloat(('@Model.Longitude').replace(",", "."));
			map.setCenter({ lng: lng, lat: lat });
			map.setZoom(8);
			geocoder.mapMarker = new mapboxgl.Marker({
				color: 'orange',
				draggable: true
			})
				.setLngLat([lng, lat])
				.addTo(map);
		}
	})
		map.addControl(geocoder, 'top-left');
		map.addControl(new mapboxgl.NavigationControl(), 'top-left');
		$(".mapboxgl-ctrl-geocoder--input").attr("placeholder", "Tìm kiếm");
		map.on('click', function (e) {
			if (geocoder.mapMarker != null) {
				geocoder.mapMarker.setLngLat([e.lngLat.lng, e.lngLat.lat]);
			} else {
				geocoder.mapMarker = new mapboxgl.Marker({
					color: 'orange',
					draggable: true
				})
					.setLngLat([e.lngLat.lng, e.lngLat.lat])
					.addTo(map);
			}
		});
		function SavePosition() {
			var lat = geocoder.mapMarker._lngLat.lat;
			var lng = geocoder.mapMarker._lngLat.lng;
			$('.latitude').val(lat)
			$('.longtitude').val(lng)

			var $form = $('#editBuildingsInfoForm');
			$.validator.unobtrusive.parse($form);
			$form.validate();
			if ($form.valid()) {
				if ($(".latitude").val() != null && $(".longtitude").val() != "" && $(".latitude").val() != null && $(".longtitude").val() != "") {
					var callBack = function () {
						$('#createQLTinBaiForm').submit();
					}
					onConfirmCall(callBack, 'Xác nhận thêm thông tin tòa nhà', 'Bạn có muốn lưu không?');
				} else {
					NotiError("Lỗi", "Vui lòng chọn tọa độ trên bản đồ");
				}
			}
		}
	</script>
}
@Scripts.Render("~/bundles/jqueryval")