@{
	ViewBag.Title = "Nhà trọ";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Nhà trọ";
	ViewBag.PageName = "Danh sách Nhà trọ";
	ViewBag.ModuleCode = "QLKhuTro_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.BuildingsInfoService.Dto;
@using Nami.Web.Areas.BuildingsInfoArea.Models;
@using Nami.Service.Constant;
@using Nami.Web.Core;
@using CommonHelper.String;
@model IndexVM
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.objInfo.ListItem));
	var lstFunc = Html.Raw(JsonConvert.SerializeObject(StatusProvider.getConfigByTypeItem(ItemTypeConstant.Building)));
	//var numberofkid = new int?();
	//var numberofadult = new int?();
	//var chieudai = new int?();
	//var chieurong = new int?();
	//var numberofroom = new int?();

	//if (Model.firstBuldings != null)
	//{
	//	chieudai = Model.firstBuldings.ChieuDaiRoom * Model.firstBuldings.NumberOfRoom * Model.firstBuldings.Floor;
	//	chieurong = Model.firstBuldings.ChieuRongRoom * Model.firstBuldings.NumberOfRoom * Model.firstBuldings.Floor;
	//	numberofadult = Model.firstBuldings.NumberOfPeoperPerRoomAdult * Model.firstBuldings.NumberOfRoom;
	//	numberofkid = Model.firstBuldings.NumberOfPeoperPerRoomKid * Model.firstBuldings.NumberOfRoom;
	//	numberofroom = Model.firstBuldings.NumberOfRoom * Model.firstBuldings.Floor;
	//	var dientich = chieudai * chieurong;
	//}
}



@section ActionBarRight{
	<a href="/BuildingsInfoArea/BuildingsInfo/CreateRedirect" class="btn btn-primary btn-sm">Thêm mới</a>
}

<meta name='viewport' content='initial-scale =1,maximum-scale =1,user-scalable =no' />
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
@*@if (Model.firstBuldings != null)
	{
		<div class="firstBulding row">
			<div class="col-sm-4">
				<div class="firstBuldingInfo">
					<span>
						<b>Tên tòa nhà/khu nhà:</b>
						@Model.firstBuldings.BuildingsName
					</span>
					<span>
						<b>Diện tích ở của tòa nhà/khu nhà:</b>
						@chieudai (m) x @chieurong (m)
					</span>
					<span>
						<b>Số lượng phòng:</b>
						@numberofroom <i class="fa fa-home"></i>
					</span>
					<span>
						<b>Số lượng tầng:</b>
						@Model.firstBuldings.Floor <i class="fa fa-bars"></i>
					</span>
					<span>
						<b>Số lượng người ở:</b>
						@numberofadult <i class="fa fa-male"></i> x @numberofkid <i class="fa fa-child"></i>
					</span>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="firstBuldingDisplay">
					<div class="firstBuldingDisplayFloor">
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
								@for (int i = 0; i < Model.firstBuldings.Floor; i++)
								{
									<li data-target="#myCarousel" data-slide-to="@i"></li>
								}
							</ol>
							<div class="carousel-inner">
								@for (int f = 0; f < Model.firstBuldings.Floor; f++)
								{
									var floor = f + 1;
									if (f == 0)
									{
										<div class="item active">
											<div class="firstBuldingDisplayText">
												<span><b>Tầng @floor</b></span>
											</div>
											@foreach (var item in Model.firstBuldings.ListRoomOfBuilding)
											{
												if (item.Floor == floor)
												{
													var dientichPhong = item.ChieuDaiRoom * item.ChieuRongRoom;
													<a style="cursor: pointer" onclick="FixedRightAction_4('/RoomInfoArea/RoomInfo/DetailPopup/@item.Id')">
														<div class="blockRoom floor-@floor">
															<b>
																<span>
																	@item.RoomName
																</span>
															</b>
															<span style="text-align: left;">Diện tích: @dientichPhong (m2) </span>
															<span style="text-align: left;">Số người: @item.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @item.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i> </span>
														</div>
													</a>
												}
											}
										</div>
									}
									else
									{
										<div class="item">
											<div class="firstBuldingDisplayText">
												<span><b>Tầng @floor</b></span>
											</div>
											@foreach (var item in Model.firstBuldings.ListRoomOfBuilding)
											{
												if (item.Floor == floor)
												{
													var dientichPhong = item.ChieuDaiRoom * item.ChieuRongRoom;
													<a style="cursor: pointer" onclick="FixedRightAction_4('/RoomInfoArea/RoomInfo/DetailPopup/@item.Id')">
														<div class="blockRoom floor-@floor">
															<b>
																<span>
																	@item.RoomName
																</span>
															</b>
															<span style="text-align: left;">Diện tích: @dientichPhong (m2) </span>
															<span style="text-align: left;">Số người: @item.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @item.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i> </span>
														</div>
													</a>
												}
											}
										</div>
									}
								}
							</div><!-- Left and right controls -->
							<a class="left carousel-control" href="#myCarousel" data-slide="prev" style="background-image: none;">
								<span class="glyphicon glyphicon-chevron-left"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next" style="background-image: none;">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}*@
@Html.Partial("_SearchPartial")
<div id="tbl-BuildingsInfo" class="hntbl-cover">
	<table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th></th>
				<th>#</th>
				@*<th class="width130">Tác vụ</th>*@
				<th>Tác vụ</th>
				<th>Tên khu/Tòa nhà</th>
				<th>Địa chỉ</th>
				<th>Diện tích</th>
				<th>Số lượng người ở<br />(Mong muốn)</th>
				<th>Giá</th>
				<th>Trạng thái</th>
				<th>Trạng thái đăng tin</th>
				<th>Ngày tạo</th>
				<th>Ngày sửa</th>
				@*<th>Mô tả</th>*@
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

@section scripts{
	<script>
			@*for (var i = 0; i < @Model.firstBuldings.Floor; i++) {
				var randomColor = getRandomColor();
				var idclobk = ".floor-" + i;
				$(idclobk).css("background-color", randomColor);
			}
			if ((@Model.firstBuldings.NumberOfRoom <= 4)) {
				$(".blockRoom").css("width", "50%");
			}
			else if ((@Model.firstBuldings.NumberOfRoom == 5 || @Model.firstBuldings.NumberOfRoom == 6 || @Model.firstBuldings.NumberOfRoom == 9)) {
				$(".blockRoom").css("width", "33.33%");
			}
			else if ((@Model.firstBuldings.NumberOfRoom == 7 || @Model.firstBuldings.NumberOfRoom == 8 || (@Model.firstBuldings.NumberOfRoom >= 10 && @Model.firstBuldings.NumberOfRoom <= 12) || @Model.firstBuldings.NumberOfRoom == 16)) {
				$(".blockRoom").css("width", "25%");
			}
			else if (((@Model.firstBuldings.NumberOfRoom >= 13 && @Model.firstBuldings.NumberOfRoom <= 15))) {
				$(".blockRoom").css("width", "20%");
			}*@
        var lstData = eval(@lstData);
		var lstFunc = eval(@lstFunc);
        var moduleTableSelector="#tbl-BuildingsInfo";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
				},
				{
					isSort: false,
					nameModel: "",
					//tdClass: "center buttonBox centerBox",
					tdClass: "center fixed-side",
					content: function (data) {
						var listFunc = GetActionOfStatus(lstFunc, data.Status);
						//var result = '';
						//result += "<div class='editButton'><a href='javascript:void(0)' onclick='EditAction(\"/BuildingsInfoArea/BuildingsInfo/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='fa fa-pencil'> </i></a></div>";
						//result += "<div class='detailButton'><a href='javascript:void(0)' onclick='FixedRightAction_6(\"/BuildingsInfoArea/BuildingsInfo/DetailPopup/" + data.Id + "\")'   title = 'Thông tin chi tiết'><i class='fa fa-user'> </i></a></div>";
						//result += "<div class='deleteButton'> <a href='javascript:void(0)' onclick='DeleteAction(\"/BuildingsInfoArea/BuildingsInfo/Delete/" + data.Id + "\")' title='Xóa'><i class='fa fa-trash-o' style='color:red'> </i></a></div >";
						//return result;
						var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>
                               <ul class="dropdown-menu">`;
						result += "<li><a href='/BuildingsInfoArea/BuildingsInfo/Detail/" + data.Id + "'   title = 'Thông tin chi tiết'><i class='glyphicon glyphicon-user'> </i> Thông tin chi tiết</a> </li>";

						if (data.Status != '@ItemStatusConstant.DuocPheDuyet' || data.StatusTin != true) {
							if (listFunc != null) {
								for (var i = 0; i < listFunc.statusRefers.length; i++) {
									if (HasRole(listFunc.statusRefers[i].Code)) {
										result += "<li>" + getLink(listFunc.statusRefers[i], "", [data.Id]) + "</li>";
									}
								}
							}
						} else if (data.Status == '@ItemStatusConstant.DuocPheDuyet' && data.StatusTin == true) {
							
						}
						if (data.IsHetHanDangTin == true) {
							result += "<li>" + LinkRoleFunc("CreateAction(\"/BuildingsInfoArea/BuildingsInfo/ThanhToanPhiDangTin?id=" + data.Id + "\")", "<i class='glyphicon glyphicon-credit-card blue-color'> </i> Gia hạn phí đăng tin", "QLKhuTro_ThanhToan", "", "Gia hạn đăng tin") + "</li>";
						}
						result += "</ul></div>";
						return result;
					}
				},
				{
					isSort:true,
					nameModel:'BuildingsName',
					content: function (data) {
						var str = '';
						//str += '<b><a href="javascript:void(0)" onclick="FixedRightAction_6(\'/BuildingsInfoArea/BuildingsInfo/DetailPopup/' + data.Id + '\')">' + ShowMessageIfEmpty(data.BuildingsName) + '</a></b><br/>' + '- Diện tích: ' + ShowMessageIfEmpty(data.ChieuDaiRoom) + 'x' + ShowMessageIfEmpty(data.ChieuRongRoom) + ' (m2)<br/>' + '- Số người: ' + ShowMessageIfEmpty(data.NumberOfPeoperPerRoomAdult) + ' (<i class="fa fa-male"></i>)x' + ShowMessageIfEmpty(data.NumberOfPeoperPerRoomKid) + ' (<i class="fa fa-child"></i>)<br/>' + '- Số phòng: ' + ShowMessageIfEmpty(data.NumberOfRoom) +' (<i class="fa fa-home"></i>)<br/>'
						str += '<b><a href="javascript:void(0)" onclick="FixedRightAction_6(\'/BuildingsInfoArea/BuildingsInfo/DetailPopup/' + data.Id + '\')">' + ShowMessageIfEmpty(data.BuildingsName) + '</a></b>';
						//if (data.Longitude != null && data.Longitude != '' && data.Latitude != null && data.Latitude != '') {
						//	str += "<span class='label' style='background-color:#3498db'>Đã gắn vị trí bản đồ</span>"
						//} else {
						//	str += "<span class='label' style='background-color:#34495e'>Chưa gắn vị trí bản đồ</span>"
						//}
						if (data.IsHetHanDangTin == true) {
							str += "<br/><span class='red'>Hết hạn đăng tin</span>"
						}
						return str;
					}
				},
				{
					isSort:true,
					nameModel:'Address',
					content: function (data) {
						var str = '';
						str += '<b>' + ShowMessageIfEmpty(data.Address) + '</b><br/>'
						return str;
				}
				},
				{
					isSort: true,
					nameModel: 'DienTich',
					content: function (data) {
						var str = '';
						str += '<b>' + ShowMessageIfEmpty(data.DienTich) + ' (m2)</b><br/>'
						return str;
					}
				},
				{
					isSort: false,
					nameModel: 'Address',
					content: function (data) {
						var str = '';
						str += ShowMessageIfEmpty(data.NumberOfPeoperPerRoomAdult) + ' <i class="fa fa-male"></i>(Người lớn) x' + ShowMessageIfEmpty(data.NumberOfPeoperPerRoomKid) + ' <i class="fa fa-child"></i>(Trẻ con)'
						return str;
					}
				},
				{
					isSort: true,
					nameModel: 'Price',
					content: function (data) {
						var str = '';
						str += '<b>' + ShowMessageIfEmpty(formatMoney(data.Price)) + ' (VNĐ)</b><br/>'
						return str;
					}
				},
				{
					isSort: true,
					nameModel: 'Status',
					content: function (data) {
						return "<span class='label' style='background-color:" + data.StatusBGColor + "'>" + ShowMessageIfEmpty(data.StatusName) + "</span>"
					}
				},
				{
					isSort: true,
					nameModel: 'StatusTin',
					content: function (data) {
						var str = "";
						if (data.StatusTin == true) {
							str += "<span class='green'>Đã được đăng tin</span>";
							str += "<br/>(" + ToDate(data.StartDate) + "-" + ToDate(data.EndDate)+")";
						} else if (data.StatusTin == false) {
							str += "<span class='red'>Hết hạn đăng tin</span>";
							str += "<br/>(" + ToDate(data.StartDate) + "-" + ToDate(data.EndDate) + ")";
						} else {
							str += "<span class='red'>Chưa được đăng tin</span>";
						}
						return str;
					}
				},
				{
					isSort: true,
					nameModel: 'CreatedDate',
					content: function (data) {
						return ToDate(data.CreatedDate);
					}
				},
				{
					isSort: true,
					nameModel: 'UpdatedDate',
					content: function (data) {
						return ToDate(data.UpdatedDate);
					}
				},
				//{
				//	isSort:true,
				//	nameModel:'Description',
				//	content: function (data) {
				//		return ShowMessageIfEmpty(data.Description)
				//}
				//},


            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/BuildingsInfoArea/BuildingsInfo/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-BuildingsInfo").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.objInfo.TotalPage,
                recordCount: @Model.objInfo.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
	</script>
}