@{
    ViewBag.Title = "Cấu hình công thức";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Cấu hình công thức";
    ViewBag.PageName = "Thông tin Cấu hình công thức";
    ViewBag.ModuleCode = "CauHinhCongThuc_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.CauHinhCongThucArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/CauHinhCongThucArea/CauHinhCongThuc/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id Công thức</td><td>@Model.objInfo.CongThucId</td></tr>
<tr><td>Tên định mức</td><td>@Model.objInfo.DinhMucName</td></tr>
<tr><td>Số đầu</td><td>@Model.objInfo.SoDau</td></tr>
<tr><td>Số cuối</td><td>@Model.objInfo.SoCuoi</td></tr>
<tr><td>Giá</td><td>@Model.objInfo.Price</td></tr>
<tr><td>Mô tả</td><td>@Model.objInfo.Description</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
