@{
    ViewBag.Title = "Cấu hình công thức";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Cấu hình công thức";
    ViewBag.PageName = "Danh sách Cấu hình công thức";
    ViewBag.ModuleCode = "CauHinhCongThuc_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.CauHinhCongThucService.Dto;
@model PageListResultBO<CauHinhCongThucDto>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>
    <a href="javascript:void(0)" onclick="CreateAction('/CauHinhCongThucArea/CauHinhCongThuc/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-CauHinhCongThuc" class="hntbl-cover">
    <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
				<th>Id Công thức</th>
				<th>Tên định mức</th>
				<th>Số đầu</th>
				<th>Số cuối</th>
				<th>Giá</th>
				<th>Mô tả</th>

                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-CauHinhCongThuc";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
				{
					isSort:true,
					nameModel:'CongThucId',
					content: function (data) {
					return data.CongThucId
				}
				},
				{
					isSort:true,
					nameModel:'DinhMucName',
					content: function (data) {
					return data.DinhMucName
				}
				},
				{
					isSort:true,
					nameModel:'SoDau',
					content: function (data) {
					return data.SoDau
				}
				},
				{
					isSort:true,
					nameModel:'SoCuoi',
					content: function (data) {
					return data.SoCuoi
				}
				},
				{
					isSort:true,
					nameModel:'Price',
					content: function (data) {
					return data.Price
				}
				},
				{
					isSort:true,
					nameModel:'Description',
					content: function (data) {
					return data.Description
				}
				},

                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
                           result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/CauHinhCongThucArea/CauHinhCongThuc/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/CauHinhCongThucArea/CauHinhCongThuc/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/CauHinhCongThucArea/CauHinhCongThuc/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-CauHinhCongThuc").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
    </script>
}