@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.DepositsInfoArea.Models

@model EditVM
@{ 

}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "DepositsInfo", new { @area = "DepositsInfoArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editDepositsInfoForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật Đặt cọc</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
 			@Html.HiddenFor(x=>x.Id)
				<div class="form-group">
				<label class="control-label col-sm-4">Id khu trọ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.BuildingsId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.BuildingsId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Id phòng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.RoomsId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.RoomsId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Id khách thuê </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.RentersId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.RentersId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ngày đặt cọc </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.DepositDate, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DepositDate, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ngày hết hạn <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.ExpirationDate, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ExpirationDate, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tiền đặt cọc </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.DepositsMoney, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DepositsMoney, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ghi chú </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
				</div>
				</div>

 

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
