@{
    ViewBag.Title = "Đặt cọc";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Đặt cọc";
    ViewBag.PageName = "Thông tin Đặt cọc";
    ViewBag.ModuleCode = "DepositsInfo_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.DepositsInfoArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/DepositsInfoArea/DepositsInfo/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id khu trọ</td><td>@Model.objInfo.BuildingsId</td></tr>
<tr><td>Id phòng</td><td>@Model.objInfo.RoomsId</td></tr>
<tr><td>Id khách thuê</td><td>@Model.objInfo.RentersId</td></tr>
<tr><td>Ngày đặt cọc</td><td>@Model.objInfo.DepositDate</td></tr>
<tr><td>Ngày hết hạn</td><td>@Model.objInfo.ExpirationDate</td></tr>
<tr><td>Tiền đặt cọc</td><td>@Model.objInfo.DepositsMoney</td></tr>
<tr><td>Ghi chú</td><td>@Model.objInfo.Note</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
