﻿@{
	ViewBag.Title = "Quản lý thông tin chung hệ thống";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý thông tin chung hệ thống";
	ViewBag.PageName = "Thông tin hệ thống";
	ViewBag.ModuleCode = "QLThongTinChungHeThong_index";
}
@using Nami.Web.Areas.QuanLyThongTinChungHeThongArea.Models;
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@model ThongTinVM

@{
	var dropdownListBuilding = ViewBag.dropdownListBuilding as List<SelectListItem>;
	var dropdownListHouseByType = new List<SelectListItem>();
}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<style>
	.searchBoxInfo {
		background-color: #2d353c;
		border-radius: 4px;
		border: 2px solid #2d353c;
		height: 75px;
		padding: 10px;
		margin-right: 20px;
	}

	.resultSearchBox {
		background-color: #2d353c;
		border-radius: 4px;
		border: 2px solid #2d353c;
		height: 75px;
		padding: 10px;
		display: none;
	}

	.boxInfoBulding, .boxInfoRoom, .boxInfoContact, .boxInfoRenter {
		border-radius: 4px;
		height: 75px;
		padding: 10px;
		display: none;
		width: 22.7%;
		/*height: 130px;*/
		height: 83px;
	}

	.viewTable {
		background-color: #2d353c;
		border-radius: 4px;
		border: 2px solid #2d353c;
		height: 350px;
		padding: 10px;
		/*overflow-y: scroll;*/
		width: 27%;
		display: none;
	}

	.viewTableChild {
		height: 255px;
		overflow-y: scroll;
	}

	.map {
		background-color: #2d353c;
		border-radius: 4px;
		border: 2px solid #2d353c;
		height: 350px;
		padding: 10px;
		width: 37.6%;
		/*display: none;*/
	}

	.viewInfo {
		background-color: #2d353c;
		border-radius: 4px;
		border: 2px solid #2d353c;
		height: 350px;
		padding: 10px;
		width: 54%;
		display: none;
	}

	.boxInfoBulding {
		background-color: #009688;
		border: 2px solid #009688;
	}

	.boxInfoRoom {
		background-color: #2196f3 !important;
		border: 2px solid #2196f3 !important;
	}

	.boxInfoContact {
		background-color: #3f51b5 !important;
		border: 2px solid #3f51b5 !important;
	}

	.boxInfoRenter {
		background-color: #95a5a6;
		border: 2px solid #95a5a6;
	}
</style>
<div class="col-sm-12" style="padding: 0px;margin-top: 10px;">
	<div class="col-sm-7 bg-dark card" style="padding-left: 0px;padding: 15px 5px;">
		<div class="col-sm-7">
			<div class="mb-3 text-grey">
				<b>TỔNG THU NHẬP THÁNG NÀY</b>
				<span class="ml-2">
					<i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Total sales" data-placement="top" data-content="Net sales (gross sales minus discounts and returns) plus taxes and shipping. Includes orders from all sales channels." data-original-title="" title=""></i>
				</span>
			</div>
			<div class="d-flex mb-1">
				<h2 class="mb-0" style="color:white;">
					$<span data-animation="number" data-value="64559.25">
						@*	@Model.TongThuNhapThangHienTai*@
						45.000.300,56
					</span>
				</h2>
			</div>
			<div class="mb-3 text-grey">
				<i class="fa fa-caret-up"></i> <span data-animation="number" data-value="33.21">12.01</span>% so với tháng trước
			</div>
			<hr class="bg-white-transparent-2">
			<div class="row text-truncate">
				<!-- begin col-6 -->
				<div class="col-sm-6">
					<div class="f-s-12 text-grey" style="text-overflow: ellipsis;white-space: pre-wrap;">Tổng số tòa/khu nhà đã thuê</div>
					<div class="f-s-18 m-b-5 f-w-600 p-b-1" data-animation="number" data-value="1568" style="color:white;">3</div>
					<div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
						<div class="progress-bar progress-bar-striped rounded-right bg-teal" data-animation="width" data-value="55%" style="width: 55%;"></div>
					</div>
				</div>
				<!-- end col-6 -->
				<!-- begin col-6 -->
				<div class="col-sm-6">
					<div class="f-s-12 text-grey" style="text-overflow: ellipsis;white-space: pre-wrap;">Tổng số phòng trọ đã thuê</div>
					<div class="f-s-18 m-b-5 f-w-600 p-b-1" data-animation="number" data-value="41.20" style="color:white;">5</div>
					<div class="progress progress-xs rounded-lg bg-dark-darker m-b-5">
						<div class="progress-bar progress-bar-striped rounded-right" data-animation="width" data-value="55%" style="width: 55%;"></div>
					</div>
				</div>
				<!-- end col-6 -->
			</div>
		</div>
		<div class="col-sm-5 align-items-center d-flex justify-content-center" style="
    position: absolute;
    right: 15px;
    top: 3px;
">
			<img src="/assets/images/admindashboard.svg" height="200px" class="d-none d-lg-block">
		</div>
	</div>
	<div class="col-sm-2 bg-dark card" style="padding-left: 0px;padding: 15px 15px;margin-left:10px;">
		<!-- begin title -->
		<div class="mb-3 text-grey">
			<b class="mb-3">PHÍ ĐĂNG TIN</b>
			<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Conversion Rate" data-placement="top" data-content="Percentage of sessions that resulted in orders from total number of sessions." data-original-title="" title=""></i></span>
		</div>
		<!-- end title -->
		<!-- begin conversion-rate -->
		<div class="d-flex align-items-center mb-1">
			<h2 class="text-white mb-0" style="color: white;"><span data-animation="number" data-value="2.19">2.19</span>%</h2>
		</div>
		<div class="mb-4 text-grey">
			<i class="fa fa-caret-down"></i> <span data-animation="number" data-value="0.50">0.50</span>% so với tháng trước
		</div>
	</div>
	<div class="col-sm-2 bg-dark card" style="padding-left: 0px;padding: 15px 15px;margin-left:10px;">
		<div class="card-body">
			<!-- begin title -->
			<div class="mb-3 text-grey">
				<b class="mb-3">LƯỢT TRUY CẬP</b>
				<span class="ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Store Sessions" data-placement="top" data-content="Number of sessions on your online store. A session is a period of continuous activity from a visitor." data-original-title="" title=""></i></span>
			</div>
			<!-- end title -->
			<!-- begin store-session -->
			<div class="d-flex align-items-center mb-1">
				<h2 class="text-white mb-0"><span data-animation="number" data-value="70719" style="color: white;">20</span></h2>
				<div class="ml-auto" style="position: relative;top: 5px;
    left: 5px;">
					<div id="store-session-sparkline" style="min-height: 28px;">
						<div id="apexcharts65e8ffuu" class="apexcharts-canvas apexcharts65e8ffuu light" style="width: 120px; height: 28px;">
							<svg id="SvgjsSvg1318" width="100" height="28" xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" class="apexcharts-svg" xmlns:data="ApexChartsNS" transform="translate(0, 0)" style="background: transparent;"><g id="SvgjsG1320" class="apexcharts-inner apexcharts-graphical" transform="translate(0, 0)"><defs id="SvgjsDefs1319"><clipPath id="gridRectMask65e8ffuu"><rect id="SvgjsRect1325" width="123" height="31" x="-1.5" y="-1.5" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><clipPath id="gridRectMarkerMask65e8ffuu"><rect id="SvgjsRect1326" width="122" height="30" x="-1" y="-1" rx="0" ry="0" fill="#ffffff" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect></clipPath><linearGradient id="SvgjsLinearGradient1332" x1="0" y1="1" x2="1" y2="1"><stop id="SvgjsStop1333" stop-opacity="1" stop-color="#00acac" offset="0"></stop><stop id="SvgjsStop1334" stop-opacity="1" stop-color="#348fe2" offset="0.5"></stop><stop id="SvgjsStop1335" stop-opacity="1" stop-color="#5ac8fa" offset="1"></stop></linearGradient></defs><line id="SvgjsLine1324" x1="79.5" y1="0" x2="79.5" y2="28" stroke="#b6b6b6" stroke-dasharray="3" class="apexcharts-xcrosshairs" x="79.5" y="0" width="1" height="28" fill="#b1b9c4" filter="none" fill-opacity="0.9" stroke-width="1"></line><g id="SvgjsG1337" class="apexcharts-xaxis" transform="translate(0, 0)"><g id="SvgjsG1338" class="apexcharts-xaxis-texts-g" transform="translate(0, 1.875)"></g></g><g id="SvgjsG1341" class="apexcharts-grid"><g id="SvgjsG1342" class="apexcharts-gridlines-horizontal" style="display: none;"><line id="SvgjsLine1344" x1="0" y1="0" x2="120" y2="0" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1345" x1="0" y1="7" x2="120" y2="7" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1346" x1="0" y1="14" x2="120" y2="14" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1347" x1="0" y1="21" x2="120" y2="21" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line><line id="SvgjsLine1348" x1="0" y1="28" x2="120" y2="28" stroke="#e0e0e0" stroke-dasharray="0" class="apexcharts-gridline"></line></g><g id="SvgjsG1343" class="apexcharts-gridlines-vertical" style="display: none;"></g><line id="SvgjsLine1350" x1="0" y1="28" x2="120" y2="28" stroke="transparent" stroke-dasharray="0"></line><line id="SvgjsLine1349" x1="0" y1="1" x2="0" y2="28" stroke="transparent" stroke-dasharray="0"></line></g><g id="SvgjsG1328" class="apexcharts-line-series apexcharts-plot-series"><g id="SvgjsG1329" class="apexcharts-series" seriesName="seriesx1" data:longestSeries="true" rel="1" data:realIndex="0"><path id="SvgjsPath1336" d="M 0 11.158000000000001C 7 11.158000000000001 13 9.124499999999998 20 9.124499999999998C 27 9.124499999999998 33 23.4115 40 23.4115C 47 23.4115 53 25.081 60 25.081C 67 25.081 73 15.358000000000004 80 15.358000000000004C 87 15.358000000000004 93 9.800000000000004 100 9.800000000000004C 107 9.800000000000004 113 1.5504999999999995 120 1.5504999999999995" fill="none" fill-opacity="1" stroke="url(#SvgjsLinearGradient1332)" stroke-opacity="1" stroke-linecap="butt" stroke-width="3" stroke-dasharray="0" class="apexcharts-line" index="0" clip-path="url(#gridRectMask65e8ffuu)" pathTo="M 0 11.158000000000001C 7 11.158000000000001 13 9.124499999999998 20 9.124499999999998C 27 9.124499999999998 33 23.4115 40 23.4115C 47 23.4115 53 25.081 60 25.081C 67 25.081 73 15.358000000000004 80 15.358000000000004C 87 15.358000000000004 93 9.800000000000004 100 9.800000000000004C 107 9.800000000000004 113 1.5504999999999995 120 1.5504999999999995" pathFrom="M -1 49L -1 49L 20 49L 40 49L 60 49L 80 49L 100 49L 120 49"></path><g id="SvgjsG1330" class="apexcharts-series-markers-wrap"><g class="apexcharts-series-markers"><circle id="SvgjsCircle1356" r="0" cx="80" cy="15.358000000000004" class="apexcharts-marker w5d3da6p3 no-pointer-events" stroke="#ffffff" fill="#008ffb" fill-opacity="1" stroke-width="2" stroke-opacity="0.9" default-marker-size="0"></circle></g></g></g><g id="SvgjsG1331" class="apexcharts-datalabels"></g></g><line id="SvgjsLine1351" x1="0" y1="0" x2="120" y2="0" stroke="#b6b6b6" stroke-dasharray="0" stroke-width="1" class="apexcharts-ycrosshairs"></line><line id="SvgjsLine1352" x1="0" y1="0" x2="120" y2="0" stroke-dasharray="0" stroke-width="0" class="apexcharts-ycrosshairs-hidden"></line><g id="SvgjsG1353" class="apexcharts-yaxis-annotations"></g><g id="SvgjsG1354" class="apexcharts-xaxis-annotations"></g><g id="SvgjsG1355" class="apexcharts-point-annotations"></g></g><rect id="SvgjsRect1323" width="0" height="0" x="0" y="0" rx="0" ry="0" fill="#fefefe" opacity="1" stroke-width="0" stroke="none" stroke-dasharray="0"></rect><g id="SvgjsG1339" class="apexcharts-yaxis" rel="0" transform="translate(-21, 0)"><g id="SvgjsG1340" class="apexcharts-yaxis-texts-g"></g></g></svg><div class="apexcharts-legend"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- end store-session -->
			<!-- begin percentage -->
			<div class="mb-4 text-grey" style="
    margin-bottom: 20px;
">
				<i class="fa fa-caret-up"></i> <span data-animation="number" data-value="9.5">5</span>% so với tuần trước
			</div>
			<!-- end percentage -->
			<!-- begin info-row -->
			<div class="d-flex mb-2">
				<div class="d-flex align-items-center" style="color:white">
					<i class="fa fa-circle text-teal f-s-8 mr-2"></i>
					Mobile
				</div>
				<div class="d-flex align-items-center ml-auto">
					<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="25.7">0.5</span>%</div>
					<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="53210" style="color:white">10</span></div>
				</div>
			</div>
			<!-- end info-row -->
			<!-- begin info-row -->
			<div class="d-flex mb-2">
				<div class="d-flex align-items-center" style="color:white">
					<i class="fa fa-circle text-blue f-s-8 mr-2"></i>
					Desktop
				</div>
				<div class="d-flex align-items-center ml-auto">
					<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="16.0">0.4</span>%</div>
					<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="11959" style="color:white">8</span></div>
				</div>
			</div>
			<!-- end info-row -->
			<!-- begin info-row -->
			<div class="d-flex">
				<div class="d-flex align-items-center" style="color:white">
					<i class="fa fa-circle text-aqua f-s-8 mr-2"></i>
					Tablet
				</div>
				<div class="d-flex align-items-center ml-auto">
					<div class="text-grey f-s-11"><i class="fa fa-caret-up"></i> <span data-animation="number" data-value="7.9">0.1</span>%</div>
					<div class="width-50 text-right pl-2 f-w-600"><span data-animation="number" data-value="5545" style="color:white">2</span></div>
				</div>
			</div>
			<!-- end info-row -->
		</div>
	</div>
</div>


<div class="searchBoxInfo col-sm-9" style="margin-top: 10px;">
	<span><b class="text-grey">NHẬP CÁC TRƯỜNG THÔNG TIN CẦN HIỂN THỊ THÔNG TIN</b></span><br />
	<div class="col-sm-4" style="padding-left: 0px;">
		@Html.DropDownList("HouseType", dropdownListBuilding, "Tất cả", new { @class = "form-control" })
	</div>
	<div class="col-sm-4" style="padding-left: 0px;">
		@Html.DropDownList("IdHouse", dropdownListHouseByType, "--Chọn nhà--", new { @class = "form-control" })
	</div>
	<div class="col-sm-4" style="padding-left: 0px;"><a class="btn btn-sm btn-primary" onclick="Search()" style="width:100%;border-radius: 4px;">Hiển thị thông tin</a></div>
</div>
<div class="resultSearchBox col-sm-2" style="margin-top: 10px;">
	<span><b class="SoLuongKetQuaTimKiemDuoc" style="font-size: 20px;color:white;"></b></span>
</div>

<div class="col-sm-12" style="padding: 0px;margin-top: 10px;display: flex;">
	<div class="boxInfoBulding widget widget-stats" style="margin-right: 10px;">
		<div class="stats-icon stats-icon-lg"><i class="fa fa-building fa-fw"></i></div>
		<div class="stats-content">
			<div class="stats-title">TÒA NHÀ/KHU NHÀ</div>
			<div class="stats-number totalBulding"></div>
			@*<div class="stats-progress progress">
					<div class="progress-bar" style="width: 70.1%;"></div>
				</div>
				<div class="stats-desc">Better than last week (70.1%)</div>*@
		</div>
	</div>
	<div class="boxInfoRoom widget widget-stats" style="margin-right: 10px;">
		<div class="stats-icon stats-icon-lg"><i class="fa fa-home fa-fw"></i></div>
		<div class="stats-content">
			<div class="stats-title">PHÒNG TRỌ</div>
			<div class="stats-number totalRoom"></div>
		</div>
	</div>
	<div class="boxInfoContact widget widget-stats" style="margin-right: 10px;">
		<div class="stats-icon stats-icon-lg"><i class="fa fa-file-text fa-fw"></i></div>
		<div class="stats-content">
			<div class="stats-title">HỢP ĐỒNG ĐÃ KÝ</div>
			<div class="stats-number totalContact"></div>
		</div>
	</div>
	<div class="boxInfoRenter widget widget-stats" style="margin-right: 10px;">
		<div class="stats-icon stats-icon-lg"><i class="fa fa-users fa-fw"></i></div>
		<div class="stats-content">
			<div class="stats-title">KHÁCH THUÊ</div>
			<div class="stats-number totalRenter"></div>
		</div>
	</div>
</div>
<div class="col-sm-12" style="padding: 0px;margin-top: 10px;display: flex;">
	<div class="viewTable viewTableBuilding" style="margin-right: 10px;">
		<div class="card-body" style="background: no-repeat bottom right; background-image: url(/assets/images/buildingImage.jpg);     background-size: 40% 100%;
    border-radius: 4px;
">
			<div class="mb-3 text-grey">
				<b>TÒA NHÀ/KHU NHÀ</b>
				<span class="text-grey ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Sales by social source" data-placement="top" data-content="Total online store sales that came from a social referrer source." data-original-title="" title=""></i></span>
			</div>
			<h3 class="m-b-10"><span data-animation="number" data-value="0" class="numberBuilding" style="color:white;">0</span></h3>
		</div>
		<div class="viewTableChild widget-list widget-list-rounded inverse-mode viewTableChildBuilding">
		</div>
	</div>
	<div class="viewTable viewTableRoom" style="margin-right: 10px;">
		<div class="card-body" style="background: no-repeat bottom right; background-image: url(/assets/images/roomImage.jpg);     background-size: 40% 100%;
    border-radius: 4px;
">
			<div class="mb-3 text-grey">
				<b>PHÒNG TRỌ</b>
				<span class="text-grey ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Sales by social source" data-placement="top" data-content="Total online store sales that came from a social referrer source." data-original-title="" title=""></i></span>
			</div>
			<h3 class="m-b-10"><span data-animation="number" data-value="0" class="numberRoom" style="color:white;">0</span></h3>
		</div>
		<div class="viewTableChild widget-list widget-list-rounded inverse-mode viewTableChildRoom">
		</div>
	</div>
	<div class="viewInfo" style="margin-right: 10px;">
	</div>
	<div class="map" style="padding: 10px;">
		<div class="card-body">
			<div class="mb-3 text-grey">
				<b>BẢN ĐỒ</b>
				<span class="text-grey ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Sales by social source" data-placement="top" data-content="Total online store sales that came from a social referrer source." data-original-title="" title=""></i></span>
			</div>
		</div>
		<div id='map' style='width: 100%; height: 93%;'></div>
	</div>
</div>

<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.resize();
	$('#HouseType').change(function () {
		var HouseType = $("#HouseType").val();
		if (HouseType != null) {
			renderDropdownList("/QuanLyThongTinChungHeThongArea/QuanLyThongTinChungHeThong/GetDropListHouseByType?HouseType=" + HouseType + "", "IdHouse", "--Chọn nhà--");
		}
	});

	function Search() {
		var HouseType = $("#HouseType").val();
		var IdHouse = $("#IdHouse").val();
		$('.resultSearchBox').css("display", "none");
		$('.boxInfoBulding').css("display", "none");
		$('.boxInfoRoom').css("display", "none");
		$('.boxInfoContact').css("display", "none");
		$('.boxInfoRenter').css("display", "none");
		$('.viewTableBuilding').css("display", "none");
		$('.viewTableRoom').css("display", "none");
		$('.viewInfo').css("display", "none");
		AjaxCall("/QuanLyThongTinChungHeThongArea/QuanLyThongTinChungHeThong/GetDataSearch", 'post', { "HouseType": HouseType, "IdHouse": IdHouse }, function (rs) {
			var totalRenter = 0;
			var totalContact = 0;
			if (rs) {
				console.log(rs);
				if (HouseType == "") {
					var totalResult = rs.listBuilding.length + rs.listRoom.length;
					resultNumberBox(totalResult);
					CountBuilding(rs.listBuilding.length);
					CountRoom(rs.listRoom.length);
					for (var i = 0; i < rs.listBuilding.length; i++) {
						var data = rs.listBuilding[i];
						DisplayListBuilding(data);
						if (data.NumberOfPeoperPerRoomAdult != null || data.NumberOfPeoperPerRoomKid != null) {
							if (data.NumberOfRoom != null && data.NumberOfRoom > 0) {
								if (data.NumberOfPeoperPerRoomAdult != null) {
									totalRenter = data.NumberOfPeoperPerRoomAdult * data.NumberOfRoom;
								}
								else if (data.NumberOfPeoperPerRoomKid != null) {
									totalRenter = data.NumberOfPeoperPerRoomKid * data.NumberOfRoom;
								} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
									totalRenter = (data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid) * data.NumberOfRoom;
								}
							} else {
								if (data.NumberOfPeoperPerRoomAdult != null) {
									totalRenter = data.NumberOfPeoperPerRoomAdult;
								}
								else if (data.NumberOfPeoperPerRoomKid != null) {
									totalRenter = data.NumberOfPeoperPerRoomKid;
								} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
									totalRenter = data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid;
								}
							}
						}
					}
					for (var i = 0; i < rs.listRoom.length; i++) {
						var data = rs.listRoom[i];
						DisplayListRoom(data);
						if ((data.NumberOfPeoperPerRoomAdult != null || data.NumberOfPeoperPerRoomKid != null) && data.BuildingsId == null) {
							if (data.NumberOfRoom != null && data.NumberOfRoom > 0) {
								if (data.NumberOfPeoperPerRoomAdult != null) {
									totalRenter = data.NumberOfPeoperPerRoomAdult;
								}
								else if (data.NumberOfPeoperPerRoomKid != null) {
									totalRenter = data.NumberOfPeoperPerRoomKid;
								} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
									totalRenter = (data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid);
								}
							} else {
								if (data.NumberOfPeoperPerRoomAdult != null) {
									totalRenter = data.NumberOfPeoperPerRoomAdult;
								}
								else if (data.NumberOfPeoperPerRoomKid != null) {
									totalRenter = data.NumberOfPeoperPerRoomKid;
								} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
									totalRenter = data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid;
								}
							}
						}
					}
					$('.numberBuilding').html(rs.listBuilding.length);
					$('.numberRoom').html(rs.listRoom.length);
					$('.viewTableBuilding').css("display", "block");
					$('.viewTableRoom').css("display", "block");
					CountContact(totalContact);
					CountRenter(totalRenter);
				}
				else if (HouseType == "@ItemTypeConstant.Building") {
					if (IdHouse != null && IdHouse != "") {
						if (rs.IsBuilding == true) {
							var data = rs.BuildingInfo;
							DisplayBuildingInfo(data);
							if (data.NumberOfPeoperPerRoomAdult != null || data.NumberOfPeoperPerRoomKid != null) {
								if (data.NumberOfRoom != null && data.NumberOfRoom > 0) {
									if (data.NumberOfPeoperPerRoomAdult != null) {
										totalRenter = data.NumberOfPeoperPerRoomAdult * data.NumberOfRoom;
									}
									else if (data.NumberOfPeoperPerRoomKid != null) {
										totalRenter = data.NumberOfPeoperPerRoomKid * data.NumberOfRoom;
									} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
										totalRenter = (data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid) * data.NumberOfRoom;
									}
								} else {
									if (data.NumberOfPeoperPerRoomAdult != null) {
										totalRenter = data.NumberOfPeoperPerRoomAdult;
									}
									else if (data.NumberOfPeoperPerRoomKid != null) {
										totalRenter = data.NumberOfPeoperPerRoomKid;
									} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
										totalRenter = data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid;
									}
								}
							}
							$('.viewInfo').css("display", "block");
						}
						CountRenter(totalRenter);
					}
					else {
						var totalResult = rs.length;
						resultNumberBox(totalResult);
						CountBuilding(totalResult);
						for (var i = 0; i < rs.length; i++) {
							var data = rs[i];
							DisplayListBuilding(data);
							if (data.NumberOfPeoperPerRoomAdult != null || data.NumberOfPeoperPerRoomKid != null) {
								if (data.NumberOfRoom != null && data.NumberOfRoom > 0) {
									if (data.NumberOfPeoperPerRoomAdult != null) {
										totalRenter = data.NumberOfPeoperPerRoomAdult * data.NumberOfRoom;
									}
									else if (data.NumberOfPeoperPerRoomKid != null) {
										totalRenter = data.NumberOfPeoperPerRoomKid * data.NumberOfRoom;
									} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
										totalRenter = (data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid) * data.NumberOfRoom;
									}
								} else {
									if (data.NumberOfPeoperPerRoomAdult != null) {
										totalRenter = data.NumberOfPeoperPerRoomAdult;
									}
									else if (data.NumberOfPeoperPerRoomKid != null) {
										totalRenter = data.NumberOfPeoperPerRoomKid;
									} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
										totalRenter = data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid;
									}
								}
							}
						}
						$('.numberBuilding').html(rs.length);
						$('.viewTableBuilding').css("display", "block");
						CountContact(totalContact);
						CountRenter(totalRenter);
					}
				}
				else if (HouseType == "@ItemTypeConstant.Room") {
					if (IdHouse != null && IdHouse != "") {
						if (rs.IsRoom == true) {
							var data = rs.RoomInfo;
							DisplayRoomInfo(data);
							if (data.NumberOfPeoperPerRoomAdult != null || data.NumberOfPeoperPerRoomKid != null) {
									if (data.NumberOfPeoperPerRoomAdult != null) {
										totalRenter = data.NumberOfPeoperPerRoomAdult;
									}
									else if (data.NumberOfPeoperPerRoomKid != null) {
										totalRenter = data.NumberOfPeoperPerRoomKid;
									} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
										totalRenter = data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid;
									}
							}
							$('.viewInfo').css("display", "block");
						}
						CountRenter(totalRenter);
					}
					else {
						var totalResult = rs.length;
						resultNumberBox(totalResult);
						CountRoom(totalResult);
						for (var i = 0; i < rs.length; i++) {
							var data = rs[i];
							DisplayListRoom(data);
							if (data.NumberOfPeoperPerRoomAdult != null || data.NumberOfPeoperPerRoomKid != null) {
								if (data.NumberOfPeoperPerRoomAdult != null) {
									totalRenter = data.NumberOfPeoperPerRoomAdult;
								}
								else if (data.NumberOfPeoperPerRoomKid != null) {
									totalRenter = data.NumberOfPeoperPerRoomKid;
								} else if (data.NumberOfPeoperPerRoomAdult != null && data.NumberOfPeoperPerRoomKid != null){
									totalRenter = data.NumberOfPeoperPerRoomAdult + data.NumberOfPeoperPerRoomKid;
								}
							}
						}
						$('.numberRoom').html(rs.length);
						$('.viewTableRoom').css("display", "block");
						CountContact(totalContact);
						CountRenter(totalRenter);
					}
				}
			}
		});
	}

	function resultNumberBox(number) {
		$('.SoLuongKetQuaTimKiemDuoc').html(number + " kết quả");
		$('.resultSearchBox').css("display", "block");
	}
	function CountBuilding(number) {
		$('.totalBulding').html(number);
		$('.boxInfoBulding').css("display", "block");
	}
	function CountRoom(number) {
		$('.totalRoom').html(number);
		$('.boxInfoRoom').css("display", "block");
	}
	function CountContact(number) {
		$('.totalContact').html(number);
		$('.boxInfoContact').css("display", "block");
	}
	function CountRenter(number) {
		$('.totalRenter').html(number);
		$('.boxInfoRenter').css("display", "block");
	}
	function DisplayListBuilding(data) {
		var html = `
			<a href='javascript:void(0)' onclick="FixedRightAction_6('/BuildingsInfoArea/BuildingsInfo/DetailPopup/${data.Id}')" class="widget-list-item">
				<div class="widget-list-media icon">
					<i class="fa fa-building bg-indigo text-white"></i>
				</div>
				<div class="widget-list-content">
					<div class="widget-list-title">
						<b>${data.BuildingsName}</b>
						<br/>
						<span>Địa chỉ: ${data.Address}</span>
					</div>
				</div>
				<div class="widget-list-action text-nowrap text-grey">`;
		if (data.Price != null && data.Price != "") {
			html += `$<span data-animation="number" data-value="${data.Price}">${data.Price}/m</span>`;
		} else {
			html += `$<span data-animation="number" data-value="0">0/m</span>`;
		}
		html += `</div>
			</a>`;
		$(".viewTableChildBuilding").append(html);
	}
	function DisplayListRoom(data) {
		var html = `
			<a href='javascript:void(0)' onclick="FixedRightAction_6('/RoomInfoArea/RoomInfo/DetailPopup/${data.Id}')" class="widget-list-item">
				<div class="widget-list-media icon">
					<i class="fa fa-home bg-red text-white"></i>
				</div>
				<div class="widget-list-content">
					<div class="widget-list-title">
						<b>${data.RoomName}</b>
						<br/>
						<span>Địa chỉ: ${data.Address}</span>
					</div>
				</div>
				<div class="widget-list-action text-nowrap text-grey">`;
		if (data.Price != null && data.Price != "") {
			html += `$<span data-animation="number" data-value="${data.Price}">${data.Price}/m</span>`;
		} else {
			html += `$<span data-animation="number" data-value="0">0/m</span>`;
		}
		html += `</div>
			</a>`;
		$(".viewTableChildRoom").append(html);
	}

	function DisplayBuildingInfo(data) {
		var html = `
			<div class="card-body" style="">
				<div class="mb-3 text-grey">
					<b>TÒA NHÀ/KHU TRỌ</b>
					<span class="text-grey ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Sales by social source" data-placement="top" data-content="Total online store sales that came from a social referrer source." data-original-title="" title=""></i></span>
				</div>
				<h3 class="m-b-10"><span data-animation="number" data-value="0" class="numberRoom" style="color:white;">Tên nhà</span></h3>
				<div class="col-sm-5" style="padding:0xp;">
					<img src="/assets/images/buildingImage.jpg" height="150" />
				</div>
				<div class="col-sm-7"style="color:white;">
					<b>${data.BuildingsName}</b>
					<br/>
					<span>Địa chỉ: ${data.Address}</span>
					<br/>
					<span>Tầng: ${data.Floor}</span>
					<br/>
					<span>Số phòng: ${data.NumberOfRoom}</span>
					<br/>
					<span>Số lượng người có thể chứa (1 phòng): ${data.NumberOfPeoperPerRoomAdult} <i class="fa fa-male"></i> x ${data.NumberOfPeoperPerRoomKid} <i class="fa fa-child"></i></span>
					<br/>
					<span>Mô tả: ${data.Description}</span>
					<br/>
					<a href='javascript:void(0)' onclick="FixedRightAction_6('/BuildingsInfoArea/BuildingsInfo/DetailPopup/${data.Id}')"><i class="text-grey">Xem chi tiết</i></a>
				</div>
			</div>`;
		$(".viewInfo").html(html);
	}
	function DisplayRoomInfo(data) {
		var html = `
			<div class="card-body" style="">
				<div class="mb-3 text-grey">
					<b>PHÒNG TRỌ</b>
					<span class="text-grey ml-2"><i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Sales by social source" data-placement="top" data-content="Total online store sales that came from a social referrer source." data-original-title="" title=""></i></span>
				</div>
				<h3 class="m-b-10"><span data-animation="number" data-value="0" class="numberRoom" style="color:white;">Tên nhà</span></h3>
				<div class="col-sm-5" style="padding:0xp;">
					<img src="/assets/images/roomImage.jpg" height="150" />
				</div>
				<div class="col-sm-7"style="color:white;">
					<b>${data.RoomName}</b>
					<br/>
					<span>Địa chỉ: ${data.Address}</span>
					<br/>
					<span>Tầng: ${data.Floor}</span>
					<br/>
					<span>Số phòng: ${data.NumberOfRoom}</span>
					<br/>
					<span>Số lượng người có thể chứa (1 phòng): ${data.NumberOfPeoperPerRoomAdult} <i class="fa fa-male"></i> x ${data.NumberOfPeoperPerRoomKid} <i class="fa fa-child"></i></span>
					<br/>
					<span>Giá phòng: ${data.Price}</span>
					<br/>
					<a href='javascript:void(0)' onclick="FixedRightAction_6('/RoomInfoArea/RoomInfo/DetailPopup/${data.Id}')"><i class="text-grey">Xem chi tiết</i></a>
				</div>
			</div>`;
		$(".viewInfo").html(html);
	}

	function DisplayMap(data) {

	}
</script>