﻿@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.RoomInfoArea.Models
@using Newtonsoft.Json;
@using Nami.Service.Constant;
@using CommonHelper.String;
@model DetailVM
@{
	var dientichphong = Model.objInfo.ChieuDaiRoom * Model.objInfo.ChieuRongRoom;
}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="center">
				<h4 class="modal-title">Thông tin phòng trọ</h4>
			</div>
		</div>
		<div class="modal-body">
			<div class="tabbable">
				<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
					<li class="active">
						<a data-toggle="tab" href="#CompanyInfo" aria-expanded="true">Thông tin phòng trọ</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#mohinh" aria-expanded="false">Sơ đồ phòng</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#fileAttack" aria-expanded="false">Danh sách hợp đồng</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#history" aria-expanded="false">Lịch sử thay đổi</a>
					</li>
				</ul>
				<div class="tab-content">

					<div id="CompanyInfo" class="tab-pane active">
						<table class="table-info table100">
							<tr><td class="labelData labelDataTitle" colspan="4"><strong>Thông tin hồ sơ Phòng trọ</strong></td></tr>
							<tr>
								<td class="labelData">Tên phòng trọ</td>
								<td>@Model.objInfo.RoomName</td>
								<td colspan="2" rowspan="5">
									<div id='map' style='width: 350px; height: 300px;'></div>
								</td>
							</tr>
							<tr><td class="labelData">Tầng</td><td>@Model.objInfo.Floor</td></tr>
							<tr><td class="labelData">Diện tích phòng</td><td>@dientichphong</td></tr>
							<tr><td class="labelData">Số lượng người có thể chứa</td><td>@Model.objInfo.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @Model.objInfo.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i></td></tr>
							<tr><td class="labelData">Giá phòng</td><td>@Model.objInfo.Price</td></tr>
							<tr>
								<td class="labelData">Ảnh phòng</td>
								<td colspan="3">
									@if (Model.imageList.Any())
									{
										<ul class="ace-thumbnails clearfix">
											@foreach (var item in Model.imageList)
											{
												<li>
													<a href="/@item.ImageUrl" data-rel="colorbox">
														<img width="150" height="150" alt="150x150" src="/@item.ImageUrl" onerror="this.src = '/assets/images/notfoundimage.png'" />
														<div class="text">
															<div class="inner">Xem chi tiết</div>
														</div>
													</a>
												</li>
											}
										</ul>
									}
									else
									{
										<i>Không có dữ liệu ảnh</i>
									}
								</td>
							</tr>
						</table>
					</div>

					<div id="mohinh" class="tab-pane">
						<ul class="ace-thumbnails clearfix">
							<li>
								<a href="~/assets/images/roomimage/roomimage.jpg" data-rel="colorbox">
									<img width="150" height="150" alt="150x150" src="~/assets/images/roomimage/roomimage.jpg" onerror="this.src = '/assets/images/notfoundimage.png'" />
									<div class="text">
										<div class="inner">Xem chi tiết</div>
									</div>
								</a>
							</li>
						</ul>
					</div>
					@*<div id="fileAttack" class="tab-pane">
							<div id="tbl-fileAttack" class="hntbl-cover table-scroll">
								<div class="table-wrap">
									<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Tên tệp tin/Mô tả</th>
												<th>Người đăng tệp tin</th>
												<th>Ngày đăng tệp tin</th>
												<th>Tải xuống</th>
											</tr>
										</thead>
										@if (Model.AppFileAttack != null && Model.AppFileAttack.Count != 0)
										{
											var countItem = 0;
											foreach (var item in Model.AppFileAttack)
											{
												countItem = countItem + 1;
												<tr>
													<td>@countItem</td>
													<td><b>@item.Name</b><br />(@item.Note)</td>
													<td>@item.CreatedBy</td>
													<td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
													<td><a href="/@item.FileName.StandardPath()" download=""><i class="glyphicon glyphicon-paperclip"></i> Tải xuống</a></td>
												</tr>
											}
										}
										else
										{
											<tr>
												<td colspan="5">Không có dữ liệu</td>
											</tr>
										}
									</table>
								</div>
							</div>
						</div>*@

					@*<div id="history" class="tab-pane">
							<div id="tbl-history" class="hntbl-cover">
								<div class="row">
									@if (Model.historys != null && Model.historys.Count == 0)
									{
										<div style="padding-left:20px;">Không có dữ liệu</div>
									}
									else
									{
										<table class="table">
											@foreach (var item in Model.historys)
											{
												<tr class="col-sm-12 log-noi-dung">
													<td class="col-sm-4 seperated-cell">

														@if (item.userInfo != null)
														{
															<img class='nav-user-photo smallSize' src='/@item.userInfo.Avatar' onerror='this.src ="/assets/images/avatars/userNew.png"' title='@item.CreatedBy' />
														}
														else
														{
															<img class='nav-user-photo smallSize' src='/assets/images/avatars/userNew.png' title='@item.CreatedBy' />

														}

														<div class="inline pull-right pdl10">
															<div class="boldText">@item.CreatedBy</div>
															<i class="fa fa-calendar" aria-hidden="true"></i> Ngày @string.Format("{0:dd/MM/yyyy}", item.CreatedDate)
															<div><i class="fa fa-clock-o" aria-hidden="true"></i> Lúc @string.Format("{0:HH:mm:ss}", item.CreatedDate)</div>
														</div>
													</td>
													<td class="col-sm-8 seperated-cell">

														<div class="boldText"><i class="fa fa-angle-double-left" aria-hidden="true"></i> @item.HistoryContent <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
														@if (!string.IsNullOrEmpty(item.Comment))
														{
															<div><i class="fa fa-newspaper-o" aria-hidden="true"></i> Nội dung: </div>
															<div>@Html.Raw(HttpUtility.HtmlDecode(item.Comment))</div>
														}
													</td>
												</tr>
											}
										</table>
									}
								</div>
							</div>
						</div>*@
				</div>
			</div>
			<div class="well well-sm">
				<div class="createTime">
					<h6>Khởi tạo lúc: <b>@Model.objInfo.CreatedDate</b>, bởi <a>@Model.objInfo.CreatedBy</a></h6>
				</div>
				<div class="updateTime">
					<h6>Thay đổi lần cuối lúc: <b>@Model.objInfo.UpdatedDate</b>, bởi <a>@Model.objInfo.UpdatedBy</a></h6>
				</div>
			</div>
		</div>
		<div class="modal-footer center">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Đóng</button>
		</div>
	</div>
</div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.resize();

	function MapModal() {
		$('#MasterModal').modal();
	}

	function MapResize() {
		map.resize();
	}
	$('#MasterModal').on('shown.bs.modal', function () {
		map.resize();
	});
	var geocoder = new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		marker: {
			color: 'red',
			draggable: true
		},
		mapboxgl: mapboxgl
	});
	$(document).ready(function (e) {
	if ('@Model.objInfo.Latitude' != null && '@Model.objInfo.Latitude' != "" && '@Model.objInfo.Longitude' != null && '@Model.objInfo.Longitude' != "") {
			var lat = parseFloat(('@Model.objInfo.Latitude').replace(",", "."));
			var lng = parseFloat(('@Model.objInfo.Longitude').replace(",", "."));
			map.setCenter({ lng: lng, lat: lat });
			map.setZoom(8);
			geocoder.mapMarker = new mapboxgl.Marker({
				color: 'orange',
				draggable: true
			})
				.setLngLat([lng, lat])
				.addTo(map);
		}
	})
	map.addControl(geocoder, 'top-left');
	map.addControl(new mapboxgl.NavigationControl(), 'top-left');
	$(".mapboxgl-ctrl-geocoder--input").attr("placeholder", "Tìm kiếm");
</script>
<script type="text/javascript">
	jQuery(function ($) {
		var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition: true,
			scalePhotos: true,
			scrolling: false,
			previous: '<i class="ace-icon fa fa-arrow-left" ></i>',
			next: '<i class="ace-icon fa fa-arrow-right" ></i> ',
			close: '&times;',
			current: '{current} of {total}',
			maxWidth: '600px',
			maxHeight: '400px',
			onOpen: function () {
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed: function () {
				document.body.style.overflow = $overflow;
			},
			onComplete: function () {
				$.colorbox.resize();
			}
		};

		$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);

	})
</script>
@Scripts.Render("~/bundles/jqueryval")
