@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.RoomInfoArea.Models

@model EditVM
@{
	var dropdownlistBuilding = ViewBag.dropdownlistBuilding as List<SelectListItem>;
}
<style>
	body {
		margin: 0;
		padding: 0;
	}

	#map {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%
	}
</style>
<div class="modal-dialog" style="width: 80%;">
	@using (Ajax.BeginForm("Edit", "RoomInfo", new { @area = "RoomInfoArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "editRoomInfoForm" }))
	{
		@Html.AntiForgeryToken()
		//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">Tạo mới Phòng</h4>
				</div>
			</div>
			<div class="modal-body row">
				<div class="col-sm-6">
					<div class="form-horizontal row">
						<input type="hidden" name="longtitude" class="form-control longtitude" />
						<input type="hidden" name="latitude" class="form-control latitude" />
						<div class="form-group col-sm-6">
							<label class="control-label col-sm-4">Khu trọ </label>
							<div class="col-sm-8">
								@Html.DropDownListFor(m => m.BuildingsId, dropdownlistBuilding, "--Chọn tòa nhà/khu nhà--", new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.BuildingsId, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group col-sm-6">
							<label class="control-label col-sm-4">Tầng <span class="red">*</span></label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.Floor, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Floor, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group col-sm-12">
							<label class="control-label col-sm-2">Tên phòng <span class="red">*</span></label>
							<div class="col-sm-10">
								@Html.TextBoxFor(m => m.RoomName, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.RoomName, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="form-group col-sm-6">
							<label class="control-label col-sm-4">Đơn giá (VNĐ) <span class="red">*</span></label>
							<div class="col-sm-8">
								@Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-4">Kích thước m2 <span class="red">*</span></label>
								<div class="col-sm-4">
									@Html.TextBoxFor(m => m.ChieuDaiRoom, new { @class = "form-control", @placeholder = "Chiều dài" })
									@Html.ValidationMessageFor(m => m.ChieuDaiRoom, "", new { @class = "text-danger" })
								</div>
								<div class="col-sm-4">
									@Html.TextBoxFor(m => m.ChieuRongRoom, new { @class = "form-control", @placeholder = "Chiều rộng" })
									@Html.ValidationMessageFor(m => m.ChieuRongRoom, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-4">Số người <span class="red">*</span></label>
								<div class="col-sm-4">
									@Html.TextBoxFor(m => m.NumberOfPeoperPerRoomAdult, new { @class = "form-control", @placeholder = "Số người lớn" })
									@Html.ValidationMessageFor(m => m.NumberOfPeoperPerRoomAdult, "", new { @class = "text-danger" })
								</div>
								<div class="col-sm-4">
									@Html.TextBoxFor(m => m.NumberOfPeoperPerRoomKid, new { @class = "form-control", @placeholder = "Số trẻ con" })
									@Html.ValidationMessageFor(m => m.NumberOfPeoperPerRoomKid, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-12">
							<div class="form-group">
								<label class="control-label col-sm-2">Mô tả </label>
								<div class="col-sm-10">
									@Html.TextAreaFor(m => m.Description, 4, 3, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						@*<div class="form-group">
								<label class="control-label col-sm-4">Mã Tỉnh </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.TinhCode, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.TinhCode, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4">Mã Xã </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.XaCode, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.XaCode, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4">Mã Huyện </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.HuyenCode, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.HuyenCode, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4">Mã quốc gia </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.QuocGiaCode, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.QuocGiaCode, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4">Địa chỉ </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4">Mã nhóm dịch vụ </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.ServicesCode, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.ServicesCode, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4"> </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.InputWaterElectricFrom, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.InputWaterElectricFrom, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4"> </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.InputWaterElectricTo, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.InputWaterElectricTo, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4"> </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.BillsFrom, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.BillsFrom, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4"> </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.BillsTo, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.BillsTo, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4"> </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.CollectionMoneyFrom, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.CollectionMoneyFrom, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4"> </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.CollectionMoneyTo, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.CollectionMoneyTo, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4"> </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.EndOfConstractFrom, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.EndOfConstractFrom, "", new { @class = "text-danger" })
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4"> </label>
								<div class="col-sm-8">
									@Html.TextBoxFor(m => m.EndOfConstractTo, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.EndOfConstractTo, "", new { @class = "text-danger" })
								</div>
							</div>*@

					</div>
				</div>
				<div class="col-sm-6">
					<div id='map' style='width: 93%; height: 330px;'></div>
				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary" onclick="SavePosition()">Hoàn thành</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.resize();

	function MapModal() {
		$('#MasterModal').modal();
	}

	function MapResize() {
		map.resize();
	}
	$('#MasterModal').on('shown.bs.modal', function () {
		map.resize();
	});
	var geocoder = new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		marker: {
			color: 'red',
			draggable: true
		},
		mapboxgl: mapboxgl
	});
	$(document).ready(function (e) {
	if ('@Model.Latitude' != null && '@Model.Latitude' != "" && '@Model.Longitude' != null && '@Model.Longitude' != "") {
			var lat = parseFloat(('@Model.Latitude').replace(",", "."));
			var lng = parseFloat(('@Model.Longitude').replace(",", "."));
			map.setCenter({ lng: lng, lat: lat });
			map.setZoom(8);
			geocoder.mapMarker = new mapboxgl.Marker({
				color: 'orange',
				draggable: true
			})
				.setLngLat([lng, lat])
				.addTo(map);
		}
	})
	map.addControl(geocoder, 'top-left');
	map.addControl(new mapboxgl.NavigationControl(), 'top-left');
	$(".mapboxgl-ctrl-geocoder--input").attr("placeholder", "Tìm kiếm");
	map.on('click', function (e) {
		if (geocoder.mapMarker != null) {
			geocoder.mapMarker.setLngLat([e.lngLat.lng, e.lngLat.lat]);
		} else {
			geocoder.mapMarker = new mapboxgl.Marker({
				color: 'red',
				draggable: true
			})
				.setLngLat([e.lngLat.lng, e.lngLat.lat])
				.addTo(map);
		}
	});
	function SavePosition() {
		var lat = geocoder.mapMarker._lngLat.lat;
		var lng = geocoder.mapMarker._lngLat.lng;
		$('.latitude').val(lat)
		$('.longtitude').val(lng)
	}
</script>
@Scripts.Render("~/bundles/jqueryval")
