@{
	ViewBag.Title = "Phòng";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Phòng";
	ViewBag.PageName = "Danh sách Phòng";
	ViewBag.ModuleCode = "QLKhuTro_Room";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.RoomInfoService.Dto;
@model PageListResultBO<RoomInfoDto>
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}
<meta name='viewport' content='initial-scale =1,maximum-scale =1,user-scalable =no' />
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<style>
	#form1 {
		float: left;
		margin-right: 5px;
	}
</style>

@section ActionBarRight{
	<a href="javascript:void(0)" onclick="CreateAction('/RoomInfoArea/RoomInfo/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
	@using (Ajax.BeginForm("searchData", "RoomInfo", new { Area = "RoomInfoArea" },
			new AjaxOptions()
			{
				HttpMethod = "POST",
				OnFailure = "AjaxFormError",
				OnSuccess = "AjaxSearchSuccess",
			}, new { }))
	{
		@Html.AntiForgeryToken()
		<div class="" style="display: flex;">
			<select class="form-control" name="BuildingsNameFilter" style="margin-right:8px;">
				<option value="-1">--Chọn tòa nhà--</option>
				@{
					var dropdownlistBuilding = SessionManager.GetValue("dropdownlistBuilding") as List<SelectListItem>;
				}

				<option value="-2">Chọn phòng</option>
				@foreach (var item in dropdownlistBuilding)
				{
					<option value="@item.Value">@item.Text</option>
				}
			</select>
			<button id="btnSearch" type="submit" class="btn btn-labeled btn-primary btn-sm">
				<span class="btn-label">
					<i class="glyphicon glyphicon-search"></i>
				</span>
			</button>
		</div>

	}
}
@Html.Partial("_SearchPartial")

<div id="tbl-RoomInfo" class="hntbl-cover">
	<table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th></th>
				<th>#</th>
				@*<th class="width130">Tác vụ</th>*@
				<th>Tác vụ</th>
				<th>Phòng</th>
				<th>Thông tin phòng</th>
				<th>Đơn giá</th>
				<th>Mô tả</th>
				@*<th>Mã Tỉnh</th>
					<th>Mã Xã</th>
					<th>Mã Huyện</th>
					<th>Mã quốc gia</th>
					<th>Địa chỉ</th>
					<th>Mã nhóm dịch vụ</th>*@
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

@section scripts{
	<script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-RoomInfo";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
				},
				{
					isSort: false,
					nameModel: "",
					tdClass: "center buttonBox centerBox",
					content: function (data) {
						//var result = ``;
						//result += "<div class='editButton'><a href='javascript:void(0)' onclick='EditAction(\"/RoomInfoArea/RoomInfo/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='fa fa-pencil'> </i></a></div>";
						//result += "<div class='detailButton'><a href='javascript:void(0)' onclick='FixedRightAction_6(\"/RoomInfoArea/RoomInfo/DetailPopup/" + data.Id + "\")'   title = 'Thông tin chi tiết'><i class='fa fa-user'> </i></a></div>";
						//result += "<div class='deleteButton'><a href='javascript:void(0)' onclick='DeleteAction(\"/RoomInfoArea/RoomInfo/Delete/" + data.Id + "\")'  title = 'Xóa'><i class='fa fa-trash-o' style='color:red'> </i></a></div >";
						//return result;
						var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>
                               <ul class="dropdown-menu">`;
						result += "<li><a href='/RoomInfoArea/RoomInfo/Detail/" + data.Id + "'   title = 'Thông tin chi tiết'><i class='glyphicon glyphicon-user'> </i> Thông tin chi tiết</a> </li>";
						result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/RoomInfoArea/RoomInfo/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
						result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/RoomInfoArea/RoomInfo/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
						result += "</ul></div>";
						return result;
					}
				},
				{
					isSort:true,
					nameModel:'RoomName',
					content: function (data) {
						var str = '';
						str+= '<b>' + ShowMessageIfEmpty(data.RoomName) + '</b><br/><i>(K.trọ/P.trọ: <b>' + ShowMessageIfEmpty(data.BuildingsIdName) + ' </b>)</i><br/>'
						if (data.Longitude != null && data.Longitude != '' && data.Latitude != null && data.Latitude != '') {
							str += "<span class='label' style='background-color:#3498db'>Đã gắn vị trí bản đồ</span>"
						} else {
							str += "<span class='label' style='background-color:#34495e'>Chưa gắn vị trí bản đồ</span>"
						}
						return str;
				}
				},
				{
					isSort: false,
					nameModel:'RoomInfo',
					content: function (data) {
						var str = '';
						str += '<b>Tầng: ' + ShowMessageIfEmpty(data.Floor) + '</b><br/>'
						str += '- Diện tích: ' + ShowMessageIfEmpty(data.ChieuDaiRoom) + 'x' + ShowMessageIfEmpty(data.ChieuRongRoom) + ' (m2)<br/>' + '- Số người(' + ((data.NumberOfPersonPerRoom != null) ? data.NumberOfPersonPerRoom:"") +') :'+ ShowMessageIfEmpty(data.NumberOfPeoperPerRoomAdult) + ' (<i class="fa fa-male"></i>)x' + ShowMessageIfEmpty(data.NumberOfPeoperPerRoomKid) + ' (<i class="fa fa-child"></i>)<br/>'
						return str
				}
				},
				{
					isSort:true,
					nameModel:'Price',
					content: function (data) {
						return '<b>' + ShowMessageIfEmpty(data.Price) + ' VNĐ</b><br/>- Ngày đăng: ' + ShowMessageIfEmpty(ToDate(data.CreatedDate))
				}
				},
				{
					isSort: true,
					nameModel: 'Description',
					content: function (data) {
						return ShowMessageIfEmpty(data.Description)
					}
				},
            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/RoomInfoArea/RoomInfo/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-RoomInfo").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
	</script>
}