﻿@using Nami.Web.Areas.DashboardArea.Models
@model DetailVM

@{
	ViewBag.Title = "Trang chủ";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Trang chủ";
	ViewBag.PageName = "Thống kê nhanh";
}
<style>
	.liststatus__dashboard_box__content {
		display: flex;
		padding-bottom: 10px;
		border-bottom: 1px solid #d5d5d5;
		margin-bottom: 10px;
	}

		.liststatus__dashboard_box__content:last-child {
			border-bottom: none;
		}

	.liststatus__dashboard_box__content_item {
		width: 30px;
	}

		.liststatus__dashboard_box__content_item:first-child {
			flex-grow: 1;
			line-height: 1.5;
		}

		.liststatus__dashboard_box__content_item:last-child {
			text-align: right;
		}

	.liststatus__dashboard_box__content_item {
		margin-bottom: 0;
	}

	.liststatus__dashboard_box__content h5 {
		font-size: 13px !important;
		margin: 0 !important;
	}

	.liststatus__dashboard__title {
		padding: 10px 20px;
		background-color: #2679B5;
		color: #fff;
		margin-bottom: 20px;
		cursor: pointer;
	}

		.liststatus__dashboard__title h4 {
			margin: 0;
		}

			.liststatus__dashboard__title h4 i {
				float: right;
			}
</style>

<body>
	@*<a class="btn btn-sm btn-info" onclick="TestNoti()">Test Notification</a>*@
	<div class="container no-padding">
		<div class="row">
			<div class="col-sm-8 thongke__dashboard">
				<div class="col-sm-6" style="padding: 3px 3px 3px 3px;">
					<div class="infobox infobox-blue" style="width:100%;">
						<div class="infobox-icon">
							<i class="ace-icon fa fa-building"></i>
						</div>

						<div class="infobox-data">
							<span class="infobox-data-number">10</span>
							<div class="infobox-content">Tổng số khu trọ</div>
						</div>

						<div class="stat stat-success">1 <i class="fa fa-building"></i></div>
					</div>
				</div>
				<div class="col-sm-6" style="padding: 3px 3px 3px 3px;">
					<div class="infobox infobox-blue" style="width:100%;">
						<div class="infobox-icon">
							<i class="ace-icon fa fa-home"></i>
						</div>

						<div class="infobox-data">
							<span class="infobox-data-number">30</span>
							<div class="infobox-content">Tổng số phòng trọ</div>
						</div>

						<div class="stat stat-important">1 <i class="fa fa-home"></i></div>
					</div>
				</div>
				<div class="col-sm-6" style="padding: 3px 3px 3px 3px;">
					<div class="infobox infobox-pink" style="width:100%;">
						<div class="infobox-icon">
							<i class="ace-icon fa fa-users"></i>
						</div>

						<div class="infobox-data">
							<span class="infobox-data-number">15</span>
							<div class="infobox-content">Tổng số khách thuê</div>
						</div>

						<div class="stat stat-success">3 <i class="fa fa-users"></i> ( 2 <i class="fa fa-male"></i>, 1 <i class="fa fa-child"></i> )</div>
					</div>
				</div>
				<div class="col-sm-6" style="padding: 3px 3px 3px 3px;">
					<div class="infobox infobox-red" style="width:100%;">
						<div class="infobox-icon">
							<i class="ace-icon fa fa-file"></i>
						</div>

						<div class="infobox-data">
							<span class="infobox-data-number">10</span>
							<div class="infobox-content">Tổng số hợp đồng</div>
						</div>

						<div class="stat stat-success">1 <i class="fa fa-file"></i></div>
					</div>
				</div>
				<div class="col-sm-6" style="padding: 3px 3px 3px 3px;">
					<div class="infobox infobox-green" style="width:100%;">
						<div class="infobox-icon">
							<i class="ace-icon fa fa-home"></i>
						</div>

						<div class="infobox-data">
							<span class="infobox-data-number">10</span>
							<div class="infobox-content">Tổng số phòng đang thuê</div>
						</div>

						@*<div class="stat stat-success">8%</div>*@
					</div>
				</div>
				<div class="col-sm-6" style="padding: 3px 3px 3px 3px;">
					<div class="infobox infobox-green" style="width:100%;">
						<div class="infobox-icon">
							<i class="ace-icon fa fa-home"></i>
						</div>

						<div class="infobox-data">
							<span class="infobox-data-number">20</span>
							<div class="infobox-content">Tống số phòng chưa thuê</div>
						</div>

						@*<div class="stat stat-success">8%</div>*@
					</div>
				</div>
				<div class="col-sm-6" style="padding: 3px 3px 3px 3px;">
					<div class="infobox infobox-green" style="width:100%;">
						<div class="infobox-icon">
							<i class="ace-icon fa fa-object-group"></i>
						</div>

						<div class="infobox-data">
							<span class="infobox-data-number">54</span>
							<div class="infobox-content">Tổng số thiết bị</div>
						</div>

						<div class="stat stat-important">5 <i class="fa fa-chain-broken"></i></div>
					</div>
				</div>
				<div class="col-sm-6" style="padding: 3px 3px 3px 3px;">
					<div class="infobox infobox-green" style="width:100%;">
						<div class="infobox-icon">
							<i class="ace-icon fa fa-credit-card-alt"></i>
						</div>

						<div class="infobox-data">
							<span class="infobox-data-number">15.650.500 VNĐ</span>
							<div class="infobox-content">Tổng số tiền thuê tháng @String.Format("{0:MM}", DateTime.Now)</div>
						</div>

						<div class="stat stat-success">8%</div>
					</div>
				</div>
			</div>

			<div class="col-sm-4 row">
				<div class="container-fluid title-bar">
					<i class="fa fa-bell col-sm-2 bell-icon"></i>
					<h4 class="col-sm-10 noti-title"><b>Thông báo của bạn</b></h4>
				</div>
				<div class="noti-container">
					@if (!Model.ObjNoti.ListItem.Any())
					{
						<div class="form-control" style="border-radius: 5px;">
							Không có thông báo nào
						</div>
					}
					else
					{
						foreach (var message in Model.ObjNoti.ListItem)
						{
							if (message.IsRead)
							{
								<a href="/NotificationArea/Notification/ReadNotification/@message.Id" class="itemNotification seen">
									<div class="container-fluid">
										<div class="col-sm-2">
											<i class="fa fa-user user-icon"></i>
										</div>
										<div class="col-sm-10">
											<div class="row" style="margin-left:0px">
												<p class="msg-text">@Html.Raw(message.Message)</p>
												<p class="createdDate">@message.CreatedDate</p>
											</div>
										</div>
									</div>
								</a>
							}
							else
							{
								<a href="/NotificationArea/Notification/ReadNotification/@message.Id" class="itemNotification unseen">
									<div class="container-fluid">
										<div class="col-sm-2">
											<i class="fa fa-user user-icon"></i>
										</div>
										<div class="col-sm-10">
											<div class="row" style="margin-left:0px">
												<p class="msg-text">@Html.Raw(message.Message)</p>
												<p class="createdDate">@message.CreatedDate</p>
											</div>
										</div>
									</div>
								</a>
							}
						}

					}
				</div>
			</div>

		</div>
		<div class="col-sm-4" style="padding: 3px">
			<canvas id="myChart2" width="400" height="200"></canvas>
			<canvas id="myChart3" width="400" height="200"></canvas>
		</div>
		<div class="col-sm-8" style="padding: 3px">
			<canvas id="myChart" width="400" height="200"></canvas>
		</div>
	</div>

</body>
<script>
	function TestNoti() {
		$.confirm({
			title: "Xác nhận thao tác",
			content: "Bạn gửi thông báo này?",
			draggable: false,
			theme: 'material',
			buttons: {
				confirm: {
					btnClass: 'btn-primary',
					text: "Xác nhận",
					action: function () {

						var url = "/DashboardArea/Dashboard/TestNoti/";
						AjaxCall(url, 'post', null, function (rs) {
							if (rs.Status) {
								NotiSuccess("Thành công", "Test Noti Success");
							} else {
								NotiError("Lỗi xử lý", rs.Message);
							}
						})

					}
				},
				cancel: {
					text: "Đóng",
					action: function () {

					}
				}
			}
		});
	}
	$('.statistics-card').hover(function () {
		$(this).css("cursor", "pointer");
	})
	var ctx = document.getElementById('myChart').getContext('2d');
	var ctx2 = document.getElementById('myChart2').getContext('2d');
	var ctx3 = document.getElementById('myChart3').getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'line',
		data: {
			labels: ['Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
			datasets: [{
				label: 'Số lượng khách đăng ký thuê nhà trọ quý 4 (người)',
				data: [2, 6, 5],
				backgroundColor: [
					'rgba(52, 152, 219,0.2)',
					'rgba(52, 152, 219,0.2)',
					'rgba(52, 152, 219,0.2)',
				],
				borderColor: [
					'rgba(41, 128, 185,1.0)',
					'rgba(41, 128, 185,1.0)',
					'rgba(41, 128, 185,1.0)'
				],
				borderWidth: 1
			},
			{
				label: 'Số lượng người đăng ký xem nhà trọ quý 4 (người)',
				data: [0, 2, 1],
				backgroundColor: [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(255, 206, 86, 0.2)'
				],
				borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)'
				],
				borderWidth: 1
			}],
		},
		options: {
			scales: {
				yAxes: [{
					ticks: {
						beginAtZero: true
					}
				}]
			}
		}
	});
	var myChart2 = new Chart(ctx2, {
		type: 'doughnut',
		labels: 'asdsad',
		data: {
			labels: ['Quý 1', 'Quý 2', 'Quý 3', 'Quý 4'],
			datasets: [{
				label: 'Doanh thu theo quý (VNĐ)',
				data: [20000000, 35000000, 50000000],
				backgroundColor: [
					'rgba(46, 204, 113,1.0)',
					'rgba(149, 165, 166,1.0)',
					'rgba(155, 89, 182,1.0)',
				],
				borderColor: [
					'rgba(46, 204, 113,1.0)',
					'rgba(149, 165, 166,1.0)',
					'rgba(155, 89, 182,1.0)'
				],
			}],
		},
		options: {
			legend: {
				position: 'left',
				labels: {
					generateLabels: function (chart) {
						var data = chart.data;
						var legends = Array.isArray(data.datasets) ? data.datasets.map(function (dataset, i) {
							return {
								text: dataset.label,
								fillStyle: (!Array.isArray(dataset.backgroundColor) ? dataset.backgroundColor : dataset.backgroundColor[0]),
								hidden: !chart.isDatasetVisible(i),
								lineCap: dataset.borderCapStyle,
								lineDash: dataset.borderDash,
								lineDashOffset: dataset.borderDashOffset,
								lineJoin: dataset.borderJoinStyle,
								lineWidth: dataset.borderWidth,
								strokeStyle: dataset.borderColor,
								pointStyle: dataset.pointStyle,

								// Below is extra data used for toggling the datasets
								datasetIndex: i
							};
						}, this) : [];
						return legends;
					}
				}
			}
		}
	});
	var myChart2 = new Chart(ctx3, {
		type: 'horizontalBar',
		labels: 'asdsad',
		data: {
			labels: ['Hồ sơ đã ký', 'Hồ sơ chưa ký'],
			datasets: [{
				label: 'Hồ sơ xử lý tháng 11(hồ sơ)',
				data: [1, 2],
				backgroundColor: [
					'rgba(241, 196, 15,1.0)',
					'rgba(230, 126, 34,1.0)',
					'rgba(231, 76, 60,1.0)',
				],
				borderColor: [
					'rgba(241, 196, 15,1.0)',
					'rgba(230, 126, 34,1.0)',
					'rgba(231, 76, 60,1.0)',
				],
			}],
		},
		options: {
		}
	});
</script>




