﻿@using Nami.Web.Core
@model List<SearchLuceneDto>
@if (Model.Any())
{
    <div id="boxResultSearch">
        <div class="content">
            @foreach (var item in Model)
            {
                
                <a class="searchItem" href="@item.Link">

                    @if (item.Type.Contains("HoSoTaiKhoan"))
                    {

                        <span class="iconType"><i class="fa fa-user"></i></span>
                    }
                    else if (item.Type.Contains("HoSoWebsite"))
                    {
                        <span class="iconType"><i class="fa fa-globe"></i></span>
                    }
                    else if (item.Type.Contains("HoSoApp"))
                    {
                        <span class="iconType"><i class="fa fa-mobile"></i></span>
                    }
                    else
                    {
                        <span class="iconType"><i class="fa fa-leaf"></i></span>
                    }
                        <div class="contentText">
                            <div class="title">@item.Title</div>
                            <div class="description">@item.Description</div>
                        </div>
                    
                </a>
            }
        </div>
    </div>
}
