﻿
@{
    ViewBag.Title = "Tối ưu chỉ mục";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Tối ưu chỉ mục";
}
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Web.Areas.DmDulieuDanhmucArea.Models;


<style>
    .action-icon {
        margin-right: 5px;
    }

    .toUpper {
        text-transform: uppercase;
    }
</style>



   

<div >
    <h2>Tối ưu chỉ mục thành công</h2>
</div>

