﻿@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.UserArea.Models
<style>

</style>
@model CreateVM
@{
	var listDeparment = ViewBag.listDeparment as List<SelectListItem>;
	var listJobPosition = ViewBag.listJobPosition as List<SelectListItem>;
	var TinhDropdownData = ViewBag.ListTinh as List<SelectListItem>;
}

<div class="modal-dialog" id="demo">
    @using (Ajax.BeginForm("Create", "User", new { @area = "UserArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới tài khoản</h4>
                </div>
            </div>
            <div class="modal-body">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="control-label col-sm-4">Tài khoản <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Họ tên <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Email</label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Điện thoại</label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Ngày sinh <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.DatePickerFor(m => m.BirthDay, "autoclose=true", "todayBtn=true", "todayHighlight=true")
							@Html.ValidationMessageFor(m => m.BirthDay, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Giới tính <span class="red">*</span></label>
						<div class="col-sm-8">

							<label>
								<input type="radio" name="Gender" value="1" checked />Nam
							</label>
							<label>
								<input type="radio" name="Gender" value="2" />Nữ
							</label>

						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Địa chỉ</label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Phòng ban</label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.IdDepartment, listDeparment, "--Chọn phòng ban--", new { @class = "form-control select2" })
							@Html.ValidationMessageFor(m => m.IdDepartment, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Chức vụ</label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.IdChucVu, listJobPosition, "--Chọn chức vụ--", new { @class = "form-control select2" })
							@Html.ValidationMessageFor(m => m.IdChucVu, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-4">Tỉnh quản lý <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.DropDownListFor(m => m.Province, TinhDropdownData, new { @class = "form-control", @multiple = "multiple" })
							@Html.ValidationMessageFor(m => m.Province, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>

	$("#IdDepartment").select2();
	$("#IdChucVu").select2();
	$("#Province").select2();
        // validation
        //$('#my-form').validate({
        //    errorPlacement: function (error, element) {
        //        console.log("placement");
        //        if (element.is("select.chosen-select")) {
        //            console.log("placement for chosen");
        //            // placement for chosen
        //            element.next("div.chzn-container").append(error);
        //        } else {
        //            // standard placement
        //            error.insertAfter(element);
        //        }
        //    }
        //});

</script>
@Scripts.Render("~/bundles/jqueryval")
