﻿
@{
    /**/

    ViewBag.Title = "_EditAvatarPartial";
}
@using Nami.Web.Areas.UserArea.Models
@model DetailVM
<style>
    #anhdaidien {
        width: 180px;
        height: 200px;
    }
    .file_dinhkem{margin-bottom:30px}
    .note{color:red}
</style>
<div class="modal-dialog">
    @using (Html.BeginForm("EditAvatar", "User", new { area = "UserArea" }, FormMethod.Post, new { id = "EditfrmDangKyKhoaDaoTaoOffline", @enctype = "multipart/form-data" , @onsubmit = "document.location.reload(true)"}))
    {
        @Html.AntiForgeryToken()
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">
                        CẬP NHẬT ẢNH NGƯỜI DÙNG
                    </h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">

                    <div class="info_common">

                        <input type="hidden" name="ID" value="@Model.users.Id" />
                        <div style="text-align:center;">
                            <img id="anhdaidien" src="~/assets/@Model.users.Avatar" onerror="this.src = '/assets/images/avatars/userNew.png'" alt="ảnh đại diện" />
                        </div>

                    </div>
                    <hr/>
                    <div class="file_dinhkem">
                        <div class="title_info">
                            <div class="note">
                                <span>Định dạng: *.jpg, *.png </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <input type="file" id="upavatar" class="form-control Valid show-file" name="file">
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-success" id="btnFormSubmit">Hoàn thành</button>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

