﻿@using Nami.Web.Areas.UserArea.Models;
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using Nami.Service.AppUserService.Dto;

@model ResetPasswordVM
@{
}
<div class="modal-dialog" style="width: 400px;">
	@using (Ajax.BeginForm("ResetPasswordPartial", "User", new { @area = "UserArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "createForm" }))
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(m=>m.UserInfo.Id)
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">Reset Password</h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="UserInfoArea row">
					<div class="col-sm-6">
						<h4><b>Thông tin tài khoản</b></h4>
						<span><b>Họ và tên:</b> @Model.UserInfo.FullName</span><br />
						<span><b>Tên tài khoản:</b> @Model.UserInfo.UserName</span>
					</div>
					<div class="col-sm-6" style="text-align: right;">
						<img class='nav-user-photo' src='/@Model.UserInfo.Avatar' onerror='this.src ="/assets/images/avatars/userNew.png"' title='@Model.UserInfo.CreatedBy' style="width: 115px;    border-radius: 4px; height: 115px;"/>
					</div>
				</div>
				<div class="ResetPassArea row">
					<div class="col-sm-12">
						<h4><b>Đổi mật khẩu</b></h4>
						<div class="form-group">
							<label class="control-label ">Mật khẩu mới <span class="red">*</span></label>
							<div class="">
								@Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Nhập mật khẩu mới" })
								@Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary" id="submit">Hoàn thành</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>
<script>
</script>
@Scripts.Render("~/bundles/jqueryval")
