﻿
@{
	ViewBag.Title = "Cập nhật hồ sơ tài khoản";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý hồ sơ tài khoản";
	ViewBag.PageName = "Chi tiết hồ sơ tài khoản";

}

@using Nami.Web.Models
@using Nami.Service.Constant
@using Nami.Web.Areas.UserArea.Models
@model DetailVM

@section ActionBarRight{

	<a href="javascript:void(0)" onclick="history.back()" class="btn btn-primary btn-sm"><i class="fa fa-reply"></i> Quay lại</a>
}
@if (TempData["MessageError"] != null)
{
	<div class="alert alert-block alert-success">
		<button type="button" class="close" data-dismiss="alert">
			<i class="ace-icon fa fa-times"></i>
		</button>
		<p>
			<strong>
				<i class="ace-icon fa fa-check"></i>
				Có lỗi!
			</strong>
			@TempData["MessageError"]
		</p>
	</div>
}

<div id="user-profile-1" class="user-profile row">
	<div class="col-xs-12 col-sm-3 center">
		<div>
			<span class="profile-picture">
				<img id="avatar" class="editable img-responsive center-block" alt="Avatar" src="~/assets/@Model.users.Avatar" />				
			</span>

			<div class="space-4"></div>

			<div class="width-80 label label-info label-xlg arrowed-in arrowed-in-right">
				<div class="inline position-relative">
					<a href="#" class="user-title-label dropdown-toggle" data-toggle="dropdown">
						<i class="ace-icon fa fa-circle light-green"></i>
						&nbsp;
						<span class="white">@Model.users.UserName</span>
					</a>
				</div>
			</div>
		</div>

		<div class="space-6"></div>

		<div class="profile-contact-info">
			<div class="profile-contact-links align-left">
				<a href="#" class="btn btn-link">
					<i class="ace-icon fa fa-phone bigger-120 green"></i>
					@Model.users.PhoneNumber
				</a>
				<br />
				<a href="#" class="btn btn-link">
					<i class="ace-icon fa fa-envelope bigger-120 pink"></i>
					@Model.users.Email
				</a>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-sm-9">

		<div class="profile-user-info profile-user-info-striped">

			<div class="profile-info-row">
				<div class="profile-info-name"> Tài khoản </div>

				<div class="profile-info-value">
					<span class="editable">@Model.users.UserName</span>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name"> Tên đầy đủ </div>

				<div class="profile-info-value">
					<span class="editable">@Model.users.FullName</span>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name"> Giới tính </div>

				<div class="profile-info-value">

					<span class="editable">@(Model.users.Gender == 1 ? "Nam" : "Nữ")</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name"> Ngày sinh </div>

				<div class="profile-info-value">
					<span class="editable">@string.Format("{0:dd/MM/yyyy}", Model.users.BirthDay)</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name"> Điện thoại </div>

				<div class="profile-info-value">
					<span class="editable">@Model.users.PhoneNumber</span>
				</div>
			</div>

			<div class="profile-info-row">
				<div class="profile-info-name"> Email </div>

				<div class="profile-info-value">
					<span class="editable">@Model.users.Email</span>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name"> Phòng ban  </div>

				<div class="profile-info-value">
					<span class="editable">@Model.users.DepartmentName</span>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name"> Chức vụ </div>

				<div class="profile-info-value">
					<span class="editable">@ViewBag.job</span>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name"> Vai trò </div>

				<div class="profile-info-value">

					<span class="editable">
						@foreach (var item in Model.users.ListRoles)
						{
								@item.Name
						}
					</span>
				</div>
			</div>
			<div class="profile-info-row">
				<div class="profile-info-name"> Địa chỉ </div>

				<div class="profile-info-value">
					<span class="editable">@Model.users.Address</span>
				</div>
			</div>

		</div>
	</div>
</div>
@section scripts{
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		$('.chosen-select').chosen({ allow_single_deselect: true });
	</script>
}