
@using Nami.Web.Areas.UserArea.Models;
@model ImportVM
@{
	ViewBag.Title = "Nhập danh mục từ file Excel";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Quản lý người dùng";
	ViewBag.PageName = "Nhập dữ liệu Excel";
}
<style>
	.no-padding .dataTables_wrapper table, .no-padding > table {
		border: 1px solid #ddd !important;
	}

	.infoTable tr td {
		padding: 5px;
	}

	.infoTable tr th {
		padding: 5px;
		text-align: center;
	}

	.tableinfoData {
		width: 100%;
	}

		.tableinfoData tr td {
			padding: 5px;
		}
</style>

@section ActionBarRight{
	<a class="btn btn-primary btn-sm" href="/UserArea/User/Index">
		<i class="fa fa-reply"></i> <span>Quay lại</span>
	</a>
}

<div class="row nomargin" style="margin-top:10px;">

	@*<div class="header">Import Dữ liệu</div>*@
	@using (Html.BeginForm("CheckImport", "User", new { @area = "UserArea" }, FormMethod.Post, new { id = "formupload", @enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<div class="form-inline">
			<div class="col-sm-6">
				<table class="tableinfoData">
					<tr>
						<td>
							<label class="control-label ">Tệp nhập dữ liệu<span style="color:red;">*</span></label>
						</td>
						<td>
							<div class="form-group">
								<input type="file" name="fileImport" class="form-control Valid IsRequire" />
								<div class="note-error">
									<span class="error mes-note-error"></span>
								</div>
							</div>

						</td>
					</tr>
					<tr>
						<td><label class="control-label">Mẫu file Excel</label></td>
						<td><a href="@Model.PathTemplate" download class=" btn btn-success btn-sm"><i class="fa fa-download"></i> Tải xuống</a></td>
					</tr>
					<tr>
						<td></td>
						<td>

							<button type="button" class="btn btn-primary" onclick="uploadFile()">Nhập dữ liệu</button>

						</td>
					</tr>
				</table>

			</div>
			<div class="row nomargin form-horizontal">
				<table class="infoTable table-bordered">
					<caption class="center Bold">Cấu hình cột lấy thông tin</caption>
					<thead>
						<tr>
							<th>#</th>
							<th>Tên trường thông tin</th>
							<th>Cấu hình</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Dòng bắt đầu đọc</td>
							<td><input type="number" data-min="0" class="form-control required validateNumber" name="ROWSTART" value="2" /></td>
						</tr>
						<tr><td>1</td><td>Id cục quản lý thị trường</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="IdDepartment" value="1" /></td></tr>
						<tr><td>2</td><td>Tên tài khoản</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="UserName" value="2" /></td></tr>
						<tr><td>3</td><td>Họ tên</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="FullName" value="3" /></td></tr>
						<tr><td>4</td><td>Id Chức vụ</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="IdChucVu" value="4" /></td></tr>
						<tr><td>5</td><td>Sđt</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="PhoneNumber" value="5" /></td></tr>
						<tr><td>6</td><td>Email</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="Email" value="6" /></td></tr>
						<tr><td>7</td><td>Địa chỉ</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="Address" value="7" /></td></tr>
						<tr><td>8</td><td>Id Role</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="IdRole" value="8" /></td></tr>
						<tr><td>9</td><td>Tỉnh thành phố</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="ProvinceManagement" value="9" /></td></tr>
						@*<tr><td>25</td><td>Avatar</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="Avatar" value="24" /></td></tr>
							<tr><td>26</td><td>Detail</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="Detail" value="25" /></td></tr>
							<tr><td>27</td><td>Mobile</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="Mobile" value="26" /></td></tr>
							<tr><td>28</td><td>Yahoo</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="Yahoo" value="27" /></td></tr>
							<tr><td>29</td><td>Skype</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="Skype" value="28" /></td></tr>
							<tr><td>30</td><td>Facebook</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="Facebook" value="29" /></td></tr>
							<tr><td>31</td><td>TypeAccount</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="TypeAccount" value="30" /></td></tr>
							<tr><td>32</td><td>TypeOrganization</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="TypeOrganization" value="31" /></td></tr>
							<tr><td>33</td><td>IdChucVu</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="IdChucVu" value="32" /></td></tr>
							<tr><td>34</td><td>ProvinceManagement</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="ProvinceManagement" value="33" /></td></tr>
							<tr><td>35</td><td>PasswordHash</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="PasswordHash" value="34" /></td></tr>
							<tr><td>36</td><td>SecurityStamp</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="SecurityStamp" value="35" /></td></tr>
							<tr><td>37</td><td>IdDepartment</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="IdDepartment" value="36" /></td></tr>
							<tr><td>38</td><td>OrganizationId</td><td><input type="number" data-min="0" class="form-control required validateNumber" name="OrganizationId" value="37" /></td></tr>*@



					</tbody>

				</table>
			</div>

		</div>
	}
</div>


@section scripts{
	<script src="~/Scripts/ValidateHoanVu.js"></script>
	<script>
		$(".checkBoxControl").click(function () {
			var tbl = $(this).parents("table").first();
			if ($(this).prop("checked")) {
				tbl.find("input:checkbox.global_checkbox:unchecked").each(function () {
					$(this).prop("checked", true);
				})
			} else {
				tbl.find("input:checkbox.global_checkbox:checked").each(function () {
					$(this).prop("checked", false);
				})
			}
		})


		function uploadFile() {
			$("#block-dung").css("display", "none");
			$("#block-sai").css("display", "none");
			var valid = checkForm("formupload");
			if (valid) {
				$("#formupload").submit();
			} else {
				NotiError("Vui lòng kiểm tra lại thông tin");
			}
			return false;

		}

	</script>
}


