﻿
@{
	ViewBag.Title = "Quản lý tài khoản";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý người dùng";
	ViewBag.PageName = "Danh sách người dùng";
	ViewBag.ModuleCode = "QLTaiKhoan";

}
@using Nami.Model.IdentityEntities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.AppUserService.Dto;
@using Nami.Service.Constant;
@model PageListResultBO<UserDto>
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
	<a href="/UserArea/User/Import" class="btn btn-primary btn-sm">Import</a>
	<a href="javascript:void(0)" onclick="CreateAction('/UserArea/User/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-user" class="hntbl-cover">
	<div class="hntbl-cover-tableScroll">
		<table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th></th>
					<th>#</th>
					<th>Tác vụ</th>
					<th>Họ tên</th>
					<th>Tên tài khoản</th>
					@*<th>Phòng ban</th>
						<th>Chức vụ</th>*@
					<th>Email</th>
					<th>Điện thoại</th>
					<th>Ngày sinh</th>
					<th>Giới tính</th>
					<th>Địa chỉ</th>
					<th>Tỉnh/Thành phố</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

@section scripts{
	<script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-user";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
				},
				{
					isSort: false,
					nameModel: "",
					tdClass: "center dropdowntt",
					content: function (data) {
						var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
						result += '<li><a href="javascript:void(0)" onclick="CreateAction(\'/UserArea/User/ResetPasswordPartial/' + data.Id + '\')"   title = "Reset Password"><i class="glyphicon glyphicon-edit"> </i> Reset Password</a> </li>';
						result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/UserArea/User/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
						result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/UserArea/User/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa người dùng</a></li>";
						result += "<li><a href='javascript:void(0)' onclick='OpenModalAction(\"/UserArea/User/SetupRole/" + data.Id + "\")'  title = 'Thiết lập vai trò'><i class='fa fa-registered' > </i> Phân vai trò</a> </li>";
						if (data.IsLock == true) {
							result += "<li><a href='javascript:void(0)' onclick='LockUser(\"/UserArea/User/LockUser?id=" + data.Id + "&islock=false" + "\",false)'  title = 'Mở khóa tài khoản'><i class='fa fa-unlock-alt' style='color:green;' > </i> Mở khóa tài khoản</a> </li>";
						} else {
							result += "<li><a href='javascript:void(0)' onclick='LockUser(\"/UserArea/User/LockUser?id=" + data.Id + "&islock=true" + "\",true)'  title = 'Khóa tài khoản'><i class='fa fa-lock' style='color:red;' > </i> Khóa tài khoản</a> </li>";
						}
						result += "</ul></div>";
						return result;
					}
				},
                {
                    isSort:true,
                    nameModel:'FullName',
					content: function (data) {
						var result = "";
						for (var i = 0; i < data.ListRoles.length; i++) {
							result += '<b class="label label-warning">' + data.ListRoles[i].Name + '</b>' + '&nbsp;';
						}
						var str = "";
						if (data.TypeAccount != null && data.TypeAccount != "" && data.TypeAccount == '@AccountTypeConstant.NguoiDung') {
							result += '<b class="label label-primary">Người thuê nhà</b>' + '&nbsp;';
						}
						return data.FullName + "</br>" + result + str;
                    }
                },
                 {
                     isSort:true,
                     nameModel:'UserName',
					 content: function (data) {
						 var str = "";
						 str += "<a href='/UserArea/User/Detail/" + data.Id + "'> " + data.UserName + "</a><br/>";
						 if (data.IsLock == true) {
							 str += '<b class="label label-danger" style="background-color: #D15B47; color: white;">Bị khóa tài khoản</b>'
						 }
						 return str;
                     }
				},
				//{
				//	isSort: false,
				//	nameModel: '',
				//	content: function (data) {
				//		//return data.IdDepartment != null ? data.DepartmentName : "Chưa cập nhật";
				//		return ShowMessageIfEmpty(data.DepartmentName);
				//	}
				//},
    //            {
    //                isSort: false,
    //                nameModel: '',
    //                content: function (data) {
				//		return data.IdChucVuName;
    //                }
    //            },
                {
                    isSort: true,
                    nameModel: 'Email',
                    content: function (data) {
						return ShowMessageIfEmpty(data.Email)
                    }
                },
                {
                    isSort: true,
                    nameModel: 'PhoneNumber',
                    content: function (data) {
						return ShowMessageIfEmpty(data.PhoneNumber);
                    }
                },
                 {
                     isSort:true,
                     nameModel:'BirthDay',
                     content: function (data) {
                         return ToDate(data.BirthDay)
                     }
                 },
                 {
                     isSort:true,
                     nameModel:'Gender',
                     content: function (data) {

                         return data.Gender==1?"Nam":"Nữ";
                     }
                 },
                 {
                      isSort:false,
                      nameModel:"Address",
                      content: function (data) {
                          return ShowMessageIfEmpty(data.Address);
                      }
				},
				{
					isSort: false,
					nameModel: "TinhId",
					content: function (data) {
						return ShowMessageIfEmpty(data.ProvinceManagement);
					}
				},

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/UserArea/User/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,
                        });

                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-user").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar: '<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData: getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
		function LockUser(url, typeLock) {
			var content = "";
			var successstring = "";
			if (typeLock == true) {
				content = "Bạn chắc chắn muốn khóa tài khoản này?";
				successstring = "Khóa tào khoản thành công!";
			} else if (typeLock == false) {
				content = "Bạn chắc chắn muốn mở khóa tài khoản này?"
				successstring = "Mở khóa tào khoản thành công!";
			}
			$.confirm({
				title: "Xác nhận thao tác",
				content: content,
				draggable: false,
				theme: 'material',
				buttons: {
					confirm: {
						btnClass: 'btn-primary',
						text: "Xác nhận",
						action: function () {
							AjaxCall(url, 'post', null, function (rs) {
								if (rs.Status) {
									NotiSuccess("Thành công", successstring);
									AfterSussessActionAjaxform();
								} else {
									NotiError("Lỗi xử lý", rs.Message);
								}
							})
						}
					},
					cancel: {
						text: "Đóng",
						action: function () {

						}
					}
				}
			});
		}
        pagefunction();
	</script>
}
