﻿
@{
	ViewBag.Title = "Tin rao theo địa điểm";
	Layout = "~/Views/Shared/_LayoutTinTuc.cshtml";
}
@using Nami.Web.Models;
@using Nami.Service.Common
@model TinRaoViewModel
<div class="title-section">
	<h4 style="margin-bottom: 0px;
    color: gray;">
		Tin Rao Tòa Nhà/Khu Trọ
	</h4>
	<div class="form-search-webdetails search pull-right">
		<div class="navbar-form navbar-left Seacrh__form" role="search">
			<input type="search" name="" id="inputKeySearch" class="form-control" value="" required="required" title="" placeholder="Tìm kiếm ...">
			<button type="button" class="btn btn-default Seacrh__Button" onclick="GetDataResult(1)">
				<img src="/Content/EndUser/img/search.png" alt="">
			</button>
		</div>
	</div>
</div>
<div class="clearBoth"></div>
<div id="boxResultCOntent">
	@{Html.RenderPartial("PanigationTinRaoTheoDiaDiemBuildings", Model.TinRaoBuilding); }
</div>


<div class="title-section">
	<h4 style="margin-bottom: 0px;
    color: gray;">
		Tin Rao Phòng Trọ
	</h4>
	<div class="form-search-webdetails search pull-right">
		<div class="navbar-form navbar-left Seacrh__form" role="search">
			<input type="search" name="" id="inputKeySearchRoom" class="form-control" value="" required="required" title="" placeholder="Tìm kiếm ...">
			<button type="button" class="btn btn-default Seacrh__Button" onclick="GetDataResultRoom(1)">
				<img src="/Content/EndUser/img/search.png" alt="">
			</button>
		</div>
	</div>
</div>
<div class="clearBoth"></div>
<div id="boxResultCOntentRoom">
	@{Html.RenderPartial("PanigationTinRaoTheoDiaDiemRoom", Model.TinRaoRoom); }
</div>





<script>

    function GetDataResult(page) {
        var dataSearch = $("#inputKeySearch").val();
        $.ajax({
			url: '/NhaChoThueTheoDiaDiemVaDuAn/PanigationTinRaoTheoDiaDiemBuildings',
            type: 'post',
			data: { "KeySearch": dataSearch, "page": page,"tinhCode": '@Model.TinhCode'},
            success: function (result) {
                $("#boxResultCOntent").html(result);
            }
        });
    }
	$('#inputKeySearch').on("keypress", function (event) {
		var keycode = (event.keyCode ? event.keyCode : event.which);
		if (keycode == '13') {
			GetDataResult(1);
		}
		event.stopPropagation();
	});

	
	function GetDataResultRoom(page) {
		var dataSearch = $("#inputKeySearchRoom").val();
        $.ajax({
			url: '/NhaChoThueTheoDiaDiemVaDuAn/PanigationTinRaoTheoDiaDiemRoom',
            type: 'post',
			data: { "KeySearch": dataSearch, "page": page,"tinhCode": '@Model.TinhCode'},
            success: function (result) {
				$("#boxResultCOntentRoom").html(result);
            }
        });
    }
	$('#inputKeySearchRoom').on("keypress", function (event) {
		var keycode = (event.keyCode ? event.keyCode : event.which);
		if (keycode == '13') {
			GetDataResultRoom(1);
		}
		event.stopPropagation();
	});


</script>

