﻿@using Nami.Web.Core;
@using Nami.Service.BuildingsInfoService.Dto
@using Nami.Service.Common
@using CommonHelper.String

@model PageListResultBO<BuildingsInfoDto>

@foreach (var item in Model.ListItem)
{
	<div class="tin-tuc-index">
		<div class="tin-tuc-index-img">
			<img src="~/@((item.listFileAnh != null && item.listFileAnh.Any())?item.listFileAnh.FirstOrDefault().ImageUrl:"")" alt="@item.BuildingsName" onerror="this.src='/assets/images/notfoundimage.png'">
		</div>

		<div class="tin-tuc-index-content">
			<h3>
				<a href="/Home/DetailTinRao?ItemId=@item.Id&ItemType=Building" title="@item.BuildingsName">@item.BuildingsName</a>
			</h3>
			<span class="tin-tuc-date">
				<i class="fa fa-clock-o"></i> @string.Format("{0:dd/MM/yyyy HH:mm}", item.StartDate) - @string.Format("{0:dd/MM/yyyy HH:mm}", item.EndDate)<br />
				<i class="fa fa-credit-card "></i> <span class="txt-number">@item.Price</span><br />
				<i class="fa fa-square-o"></i> <span>@item.DienTich m2</span><br />
				<i class="fa fa-map-marker"></i> <span><a href="/ban-nha-rieng-dong-da" title="Bán nhà riêng tại Đống Đa">@item.HuyenName</a>, <a href="/ban-nha-rieng-ha-noi" title="Bán nhà riêng tại Hà Nội">@item.TinhName</a></span>
			</span>
			<div class="tin-tuc-content">@Html.Raw(HttpUtility.HtmlDecode(item.Description.GetSummary(190)))</div>
		</div>
	</div>
}
@if (Model.Count == 0)
{
	<p style="font-size:16px" class="text-danger text-center">Không có dữ liệu</p>
}
@if (Model.Count > 1)
{
	<div class="wrapper" style="height: 30px;">
		@Html.GenPage(Model.CurrentPage, Model.TotalPage, "GetDataResult")
	</div>
}

<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
</script>
