@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.DevicesInfoArea.Models

@model EditVM
@{ 

}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "DevicesInfo", new { @area = "DevicesInfoArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editDevicesInfoForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật Thiết bị</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
 			@Html.HiddenFor(x=>x.Id)
				<div class="form-group">
				<label class="control-label col-sm-4">Id khu trọ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.BuildingsId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.BuildingsId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Id phòng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.RoomsId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.RoomsId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tên thiết bị </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.DeviceName, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DeviceName, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Giá </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Giá bồi thường </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.CompensationPrice, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.CompensationPrice, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Trạng thái </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Đơn vị </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.UnitsCode, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.UnitsCode, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Mô tả </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Số lượng <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
				</div>
				</div>

 

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
