@{
    ViewBag.Title = "Thiết bị";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Thiết bị";
    ViewBag.PageName = "Thông tin Thiết bị";
    ViewBag.ModuleCode = "DevicesInfo_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.DevicesInfoArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/DevicesInfoArea/DevicesInfo/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id khu trọ</td><td>@Model.objInfo.BuildingsId</td></tr>
<tr><td>Id phòng</td><td>@Model.objInfo.RoomsId</td></tr>
<tr><td>Tên thiết bị</td><td>@Model.objInfo.DeviceName</td></tr>
<tr><td>Giá</td><td>@Model.objInfo.Price</td></tr>
<tr><td>Giá bồi thường</td><td>@Model.objInfo.CompensationPrice</td></tr>
<tr><td>Trạng thái</td><td>@Model.objInfo.Status</td></tr>
<tr><td>Đơn vị</td><td>@Model.objInfo.UnitsCode</td></tr>
<tr><td>Mô tả</td><td>@Model.objInfo.Description</td></tr>
<tr><td>Số lượng</td><td>@Model.objInfo.Quantity</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
