@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.RentersInfoArea.Models

@model CreateVM
@{

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "RentersInfo", new { @area = "RentersInfoArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createRentersInfoForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới Khách thuê</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-sm-4">Id khu trọ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.BuildingsId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.BuildingsId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tên khách thuê </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.RentersName, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.RentersName, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">SĐT </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Email </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ngày sinh </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Giới tính </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.SexCode, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.SexCode, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Số CMND/CCCD </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.NumberId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.NumberId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ngày cấp </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.NumberDate, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.NumberDate, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Nơi cấp </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.NumberAddress, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.NumberAddress, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Hộ khẩu </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.HoKhau, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.HoKhau, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Nghề nghiệp </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.JobCode, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.JobCode, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Nơi công tác </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.JobAddress, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.JobAddress, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Đăng ký tạm trú </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.DangKyTamTru, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.DangKyTamTru, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Ghi chú </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Note, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Họ tên bố (mẹ) </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.ParentName, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ParentName, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">SĐT liên hệ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.ParentPhone, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ParentPhone, "", new { @class = "text-danger" })
				</div>
				</div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>




</script>
@Scripts.Render("~/bundles/jqueryval")
