@{
    ViewBag.Title = "Khách thuê";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Khách thuê";
    ViewBag.PageName = "Thông tin Khách thuê";
    ViewBag.ModuleCode = "RentersInfo_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.RentersInfoArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/RentersInfoArea/RentersInfo/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id khu trọ</td><td>@Model.objInfo.BuildingsId</td></tr>
<tr><td>Tên khách thuê</td><td>@Model.objInfo.RentersName</td></tr>
<tr><td>SĐT</td><td>@Model.objInfo.Phone</td></tr>
<tr><td>Email</td><td>@Model.objInfo.Email</td></tr>
<tr><td>Ngày sinh</td><td>@Model.objInfo.DateOfBirth</td></tr>
<tr><td>Giới tính</td><td>@Model.objInfo.SexCode</td></tr>
<tr><td>Số CMND/CCCD</td><td>@Model.objInfo.NumberId</td></tr>
<tr><td>Ngày cấp</td><td>@Model.objInfo.NumberDate</td></tr>
<tr><td>Nơi cấp</td><td>@Model.objInfo.NumberAddress</td></tr>
<tr><td>Hộ khẩu</td><td>@Model.objInfo.HoKhau</td></tr>
<tr><td>Nghề nghiệp</td><td>@Model.objInfo.JobCode</td></tr>
<tr><td>Nơi công tác</td><td>@Model.objInfo.JobAddress</td></tr>
<tr><td>Đăng ký tạm trú</td><td>@Model.objInfo.DangKyTamTru</td></tr>
<tr><td>Ghi chú</td><td>@Model.objInfo.Note</td></tr>
<tr><td>Họ tên bố (mẹ)</td><td>@Model.objInfo.ParentName</td></tr>
<tr><td>SĐT liên hệ</td><td>@Model.objInfo.ParentPhone</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
