@{
    ViewBag.Title = "Khách thuê";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Khách thuê";
    ViewBag.PageName = "Danh sách Khách thuê";
    ViewBag.ModuleCode = "RentersInfo_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.RentersInfoService.Dto;
@model PageListResultBO<RentersInfoDto>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>
    <a href="javascript:void(0)" onclick="CreateAction('/RentersInfoArea/RentersInfo/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-RentersInfo" class="hntbl-cover">
    <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
				<th>Id khu trọ</th>
				<th>Tên khách thuê</th>
				<th>SĐT</th>
				<th>Email</th>
				<th>Ngày sinh</th>
				<th>Giới tính</th>
				<th>Số CMND/CCCD</th>
				<th>Ngày cấp</th>
				<th>Nơi cấp</th>
				<th>Hộ khẩu</th>
				<th>Nghề nghiệp</th>
				<th>Nơi công tác</th>
				<th>Đăng ký tạm trú</th>
				<th>Ghi chú</th>
				<th>Họ tên bố (mẹ)</th>
				<th>SĐT liên hệ</th>

                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-RentersInfo";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
				{
					isSort:true,
					nameModel:'BuildingsId',
					content: function (data) {
					return data.BuildingsId
				}
				},
				{
					isSort:true,
					nameModel:'RentersName',
					content: function (data) {
					return data.RentersName
				}
				},
				{
					isSort:true,
					nameModel:'Phone',
					content: function (data) {
					return data.Phone
				}
				},
				{
					isSort:true,
					nameModel:'Email',
					content: function (data) {
					return data.Email
				}
				},
				{
					isSort:true,
					nameModel:'DateOfBirth',
					content: function (data) {
					return ToDate(data.DateOfBirth)
				}
				},
				{
					isSort:true,
					nameModel:'SexCode',
					content: function (data) {
					return data.SexCode
				}
				},
				{
					isSort:true,
					nameModel:'NumberId',
					content: function (data) {
					return data.NumberId
				}
				},
				{
					isSort:true,
					nameModel:'NumberDate',
					content: function (data) {
					return ToDate(data.NumberDate)
				}
				},
				{
					isSort:true,
					nameModel:'NumberAddress',
					content: function (data) {
					return data.NumberAddress
				}
				},
				{
					isSort:true,
					nameModel:'HoKhau',
					content: function (data) {
					return data.HoKhau
				}
				},
				{
					isSort:true,
					nameModel:'JobCode',
					content: function (data) {
					return data.JobCode
				}
				},
				{
					isSort:true,
					nameModel:'JobAddress',
					content: function (data) {
					return data.JobAddress
				}
				},
				{
					isSort:true,
					nameModel:'DangKyTamTru',
					content: function (data) {
					return data.DangKyTamTru
				}
				},
				{
					isSort:true,
					nameModel:'Note',
					content: function (data) {
					return data.Note
				}
				},
				{
					isSort:true,
					nameModel:'ParentName',
					content: function (data) {
					return data.ParentName
				}
				},
				{
					isSort:true,
					nameModel:'ParentPhone',
					content: function (data) {
					return data.ParentPhone
				}
				},

                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
                           result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/RentersInfoArea/RentersInfo/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/RentersInfoArea/RentersInfo/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/RentersInfoArea/RentersInfo/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-RentersInfo").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
    </script>
}