﻿@using Nami.Web.Models;
@using Nami.Service.Constant;
@model TinTucViewModel
@{
	ViewBag.Title = Model.TuVanObj.Name;
	Layout = "~/Views/Shared/_LayoutTinTuc.cshtml";
}
<div style="font-family: Tahoma;">
	<h1 style="font-size: 17px;color:#055699;font-family: Tahoma;">[@Model.TuVanObj.ChuDeName] @Model.TuVanObj.Name</h1>
	<div style="color: #8f8f8f;margin-bottom: 10px;font-size: 12px;font-family: Tahoma;">@string.Format("{0:dd/MM/yyyy HH:mm}", Model.TuVanObj.UpdatedDate)</div>
	<div>
		<div style="font-size: 12px;text-decoration: none;font-family: Tahoma;">
			<strong>Cùng chủ đề: </strong>
			<a href="/kinh-nghiem-mua-ban-nha"> @Model.TuVanObj.ChuDeName </a>
		</div>
	</div>
	<div style="line-height: 180%;
    text-align: justify;
    text-decoration: none;
    margin-top: 10px;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    font-size: 14px;
	font-family: Tahoma;
    padding: 0 5px 0 0;">
		@Html.Raw(HttpUtility.HtmlDecode(Model.TuVanObj.Description))
		<p style="text-align: right;font-size: 14px;
    line-height: 180%;font-family: Tahoma;"><strong>@Model.TuVanObj.Author</strong></p>
</div>
<div class="othernews" style="display: block;
    overflow: hidden;
    margin-bottom: 10px;">
	<h6 class="normalblue" style="white-space: nowrap;float: left;color: #055699;line-height: 18px;
    font-size: 1em;
    font-weight: bold;font-family: Tahoma;margin: 4px 0px;">
		Tin tức khác
	</h6>
	<div class="otherline" style="width:85%;border-bottom: 1px dashed #ccc;
    float: right;
    line-height: 14px;margin-top: 0;    font-family: Tahoma;
    font-size: 12px;
    margin: 0;
    text-decoration: none;">
		&nbsp;
	</div>
	@if (Model.listTuVanTheoChuDe != null && Model.listTuVanTheoChuDe.Any())
	{
		foreach (var item in Model.listTuVanTheoChuDe)
		{
			<h3 class="normal">
				<a class="font-link-box-item iconlist" href="/Tu-Van/@item.SlugTitle" title="@item.Name">
					@item.Name
					<i>(@string.Format("{0:HH:mm dd/MM/yyyy }", item.UpdatedDate))</i>
				</a>
			</h3>
		}
	}
</div>
<div class="othernews">
	<a id="lnkNewOther" href="/Tu-Van-DS" style="cursor: pointer; text-decoration: underline; font-style: italic; color: #055699 !important;">Xem tiếp</a>
	<div class="otherline" style="width: calc(100% - 65px)">
		&nbsp;
	</div>
</div>
</div>


