﻿
@{
	ViewBag.Title = "Tin nổi bật";
	Layout = "~/Views/Shared/_LayoutTinTuc.cshtml";
}
@using Nami.Web.Models;
@using Nami.Service.Common
@model TinTucViewModel
<div class="title-section">
	<div class="form-search-webdetails search pull-right">
		<div class="navbar-form navbar-left Seacrh__form" role="search">
			<input type="search" name="" id="inputKeySearch" class="form-control" value="" required="required" title="" placeholder="Tìm kiếm ...">
			<button type="button" class="btn btn-default Seacrh__Button" onclick="GetDataResult(1)">
				<img src="/Content/EndUser/img/search.png" alt="">
			</button>
		</div>
	</div>
</div>
<div class="clearBoth"></div>



<div id="boxResultCOntent">

	@{Html.RenderPartial("PanigationNewsNoiBat", Model.TinTucs); }

</div>





<script>

    function GetDataResult(page) {
        var dataSearch = $("#inputKeySearch").val();
        $.ajax({
            url: '/TinTuc/PanigationNewsNoiBat',
            type: 'post',
            data: { "KeySearch": dataSearch, "page": page },
            success: function (result) {
                $("#boxResultCOntent").html(result);
            }
        });
    }

</script>
<script>
	$('#inputKeySearch').on("keypress", function (event) {
		var keycode = (event.keyCode ? event.keyCode : event.which);
		if (keycode == '13') {
			GetDataResult(1);
		}
		event.stopPropagation();
	});
</script>

