﻿@using Nami.Web.Core;
@using Nami.Service.QLTinTucService.Dto
@using Nami.Service.QLTuVanService.Dto
@using Nami.Service.Common
@using CommonHelper.String

@model PageListResultBO<QLTuVanDto>

@foreach (var item in Model.ListItem)
{
	<div class="tin-tuc-index">
		<div class="tin-tuc-index-img">
			<img src="~/@item.ImageLink.StandardPath()" alt="Alternate Text" onerror="this.src = '/assets/images/notfoundimage.png'">
		</div>

		<div class="tin-tuc-index-content">
			<h3>
				<a href="/Tu-Van/@item.SlugTitle" title="@item.Name">@item.Name</a>
			</h3>
			<span class="tin-tuc-date">
				<i class="fa fa-clock-o"></i> @string.Format("{0:dd/MM/yyyy HH:mm}", item.UpdatedDate)
			</span>
			<div class="tin-tuc-content">@Html.Raw(HttpUtility.HtmlDecode(item.Description.GetSummary(190)))</div>
		</div>
	</div>
}
@if (Model.Count == 0)
{
	<p style="font-size:16px" class="text-danger text-center">Không có dữ liệu</p>
}
@if (Model.Count > 1)
{
	<div class="wrapper">
		@Html.GenPage(Model.CurrentPage, Model.TotalPage, "GetDataResult")

	</div>
}

