﻿@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.ModuleArea.Models;

@model ModuleViewModel.ModuleEditViewModel

<div class="modal-dialog">
	@using (Ajax.BeginForm("Save", "Module", new { @area = "ModuleArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "form--edit-module", @enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">
						@(Model.Id > 0 ? "CẬP NHẬT CHỨC NĂNG" : "THÊM MỚI CHỨC NĂNG")
					</h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<input type='hidden' name='Id' value='@Model.Id' />
					<div class="form-group">
						<label class="control-label col-sm-3" for="Code">
							Mã chức năng <span class="red">*</span>
						</label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="Name">
							Tên chức năng <span class="red">*</span>
						</label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="Order">
							Thứ tự
						</label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Order, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Order, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">
							Trạng thái
						</label>
						<div class="col-sm-8">
							<div class="radio">
								<label>
									<input @(Model.IsShow == true ? "checked" : "") name="IsShow" type="radio" class="ace" value="true" />
									<span class="lbl">
										Hiển thị
									</span>
								</label>
							</div>

							<div class="radio">
								<label>
									<input @(Model.IsShow != true ? "checked" : "") name="IsShow" type="radio" class="ace" value="false" />
									<span class="lbl">
										Không hiển thị
									</span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="Icon">
							Icon <span class="red"></span>
						</label>
						<div class="col-sm-8">
							<input type="file" id="upavatar" class="form-control Valid show-file" name="file">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="Name">
							Class css <span class="red"></span>
						</label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.ClassCss, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.ClassCss, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="Name">
							Style css <span class="red"></span>
						</label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.StyleCss, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.StyleCss, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">
							Hiển thị trên Mobile
						</label>
						<div class="col-sm-8">
							<div class="radio">
								<label>
									<input @(Model.IsMobile == true ? "checked" : "") name="IsMobile" type="radio" class="ace" value="true" />
									<span class="lbl">
										Hiển thị
									</span>
								</label>
							</div>

							<div class="radio">
								<label>
									<input @(Model.IsMobile != true ? "checked" : "") name="IsMobile" type="radio" class="ace" value="false" />
									<span class="lbl">
										Không hiển thị
									</span>
								</label>
							</div>
						</div>
					</div>
					@*<div class="form-group">
							<label class="control-label col-sm-3" for="Name">
								Cho phép lọc theo địa phương <span class="red"></span>
							</label>
							<div class="col-sm-8">
								<input type="checkbox" value="true" name="AllowFilterScope" @(Model.AllowFilterScope.GetValueOrDefault() ? " checked" : "") />
								@Html.ValidationMessageFor(m => m.AllowFilterScope, "", new { @class = "text-danger" })
							</div>
						</div>*@

				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary">
					Cập nhật
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">
					Đóng
				</button>
			</div>
		</div>
	}
</div>
@Scripts.Render("~/bundles/jqueryval")
