﻿@{
	ViewBag.Title = "Quản lý chức năng";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý chức năng";
	ViewBag.PageName = "Danh sách chức năng";
	ViewBag.ModuleCode = "QLChucNang";

}
@using Nami.Model.Entities;
@using Nami.Model.IdentityEntities;
@using Newtonsoft.Json;
@using Nami.Web.Areas.ModuleArea.Models;

@model ModuleViewModel.ModuleIndexViewModel
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.GroupData.ListItem));
}
<link href="~/Content/Nami-table.css" rel="stylesheet" />
@section ActionBarRight{
	@*<a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
			Tìm kiếm
		</a>*@
	<a href="javascript:void(0)" onclick="CreateAction('/ModuleArea/Module/Edit')" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i> Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-module" class="hntbl-cover">
	<div class="hntbl-cover-tableScroll">
		<table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th></th>
					<th>#</th>
					<th>Tác vụ</th>
					<th>Mã chức năng</th>
					<th>Tên chức năng</th>
					<th>Thứ tự</th>
					<th>Trạng thái</th>
					<th>Phạm vi</th>
					<th>Icon</th>
					<th>Class Css</th>
					<th>Style Css</th>
					<th>Số thao tác</th>


				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

@section scripts{
	<script>
        var lstData = eval(@lstData);
        var moduleTableSelector = "#tbl-module";

        function pagefunction(){
            var conf=[
                {
                    tdClass:"center",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
                {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center",
                       content: function (data) {

                           return RenderDropdownAction("Thao tác", [
                               {
                                   text: "Chỉnh sửa",
                                   icon:"glyphicon glyphicon-edit text-primary",
                                   clickAction: "EditAction(\"/ModuleArea/Module/Edit/" + data.Id + "\")",
                                   linkAction:"javascript:void(0)",
                                   title:"Chỉnh sửa"
                               },
                               {
                                   text: "Xóa chức năng",
                                   icon: "glyphicon glyphicon-remove text-danger",
                                   clickAction: "DeleteAction(\"/ModuleArea/Module/Delete/" + data.Id + "\")",
                                   linkAction: "javascript:void(0)",
                                   title: "Xóa chức năng"
                               },
                               {
                                   text: "Quản lý thao tác",
                                   icon: "fa fa-cogs text-primary",
                                   linkAction: "/OperationArea/Operation/Index?moduleId=" + data.Id,
                                   title: "Quản lý thao tác"
                               }
                           ]);
                       }
                   },
                {
                    isSort: true,
                    nameModel: 'Code',
                    content: function (data) {
                        return "<span style='font-weight: bold'> " + data.Code+"</span>"
                    }
                },
                {
                    isSort:true,
                    nameModel:'Name',
                    content: function (data) {
                        return "<span style='font-weight: bold'> " + data.Name + "</span>"
                    }
                },
                 {
                     isSort:true,
                     nameModel:'Order',
                     content: function (data) {
                         return data.Order
                     }
                },
                {
                    isSort: true,
                    nameModel: 'IsShow',
                    content: function (data) {
                        var result = data.IsShow ? "<b class='text-success'>Hiển thị</b>" : "<b class='text-danger'>Không hiển thị</b>";
                        result += data.IsMobile ? " (<b class='text-success'>Hiển thị trên Mobile</b>)" : "";
                        return result;
                    }
                },
                {
                    isSort: true,
                    nameModel: 'AllowFilterScope',
                    content: function (data) {
                        return data.AllowFilterScope ? "<b class='text-success'>Có</b>" : "<b class='text-danger'>Không</b>";
                    }
                },
                {
                    isSort: true,
                    nameModel: 'Icon',
                    content: function (data) {
                        return data.Icon != null ? "<img src='/"+ data.Icon +"' style='width:50px' />" : "";
                    }
                },
                {
                    isSort: true,
                    nameModel: 'ClassCss',
                    content: function (data) {
                        return data.ClassCss
                    }
                },
                {
                    isSort: true,
                    nameModel: 'StyleCss',
                    content: function (data) {
                        return data.StyleCss
                    }
                },
                {
                    isSort: true,
                    nameModel: 'OperationQuantity',
                    content: function (data) {
                        return data.OperationQuantity;
                    }
                },

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/ModuleArea/Module/GetData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-module").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.GroupData.TotalPage,
                recordCount: @Model.GroupData.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData: getdatafunc,
                listItem: lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
	</script>
}
