﻿@{
	ViewBag.Title = "Nhà trọ";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý trả về thanh toán";
	ViewBag.PageName = "Thông tin trả về thanh toán";
	ViewBag.ModuleCode = "Payment_return";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.PaymentInfoArea.Models
@model ReturnVM

@section ActionBarRight{
	<a href="/OrderInfoArea/OrderInfo/Index" class="btn btn-primary btn-sm">Danh sách giao dịch</a>
}
<div class="row">
	<div class="col-xs-8 col-sm-6 pricing-box" style="margin-left: 20%;">
		<div class="widget-box @(Model.checkSignature == true ? (Model.vnp_ResponseCode == "00" ? "widget-color-green" : "widget-color-red3") : "widget-color-orange")">
			@if (Model.OrderInfoDtoModel != null)
			{
				<div class="widget-header">
					<h5 class="widget-title bigger lighter">Thanh toán @Model.OrderInfoDtoModel.OrderTypeName</h5>
				</div>

				<div class="widget-body">
					<div class="widget-main">
						<ul class="list-unstyled spaced2">
							<li>
								<i class="ace-icon fa fa-info"></i>
								<b>@Model.DisplayMsg</b>
							</li>

							<li>
								<i class="ace-icon fa fa-minus  green"></i>
								<b>Id giao dịch:</b> <a href="/OrderInfoArea/OrderInfo/Detail?id=@Model.OrderInfoDtoModel.Id">@Model.OrderInfoDtoModel.Id</a>
							</li>

							<li>
								<i class="ace-icon fa fa-minus  green"></i>
								<b>Nội dung giao dịch:</b> @Model.OrderInfoDtoModel.OrderDescription
							</li>

							<li>
								<i class="ace-icon fa fa-minus  green"></i>
								<b>Ngân hàng:</b> @Model.OrderInfoDtoModel.BankCodeName
							</li>

							<li>
								<i class="ace-icon fa fa-minus  green"></i>
								<b>Loại giao dịch: </b> <span style="color:@Model.OrderInfoDtoModel.OrderTypeBGColor">@Model.OrderInfoDtoModel.OrderTypeName</span>
							</li>

							<li>
								<i class="ace-icon fa fa-minus  green"></i>
								<b>Nhà trọ/khu trọ/phòng trọ: </b>

								@if (!string.IsNullOrEmpty(Model.OrderInfoDtoModel.UrlItem))
								{
									<a href="@Model.OrderInfoDtoModel.UrlItem">@Model.OrderInfoDtoModel.ItemName</a>
								}
							</li>
							<li>
								<i class="ace-icon fa fa-minus  green"></i>
								<b>Loại:</b> @Model.OrderInfoDtoModel.ItemTypeName
							</li>

							<li>
								<i class="ace-icon fa fa-minus  green"></i>
								<b>Trạng thái thanh toán: </b>
								@if (Model.OrderInfoDtoModel.TrangThaiThanhToan == true)
								{
									<span class="green">Đã được xác nhận</span>
								}
								else
								{
									<span class="red">Chưa được xác nhân</span>
								} 
							</li>
						</ul>

						<hr>
						<div class="price">
							VNĐ <span class="txt-number">@Model.OrderInfoDtoModel.Amount</span>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
</script>