﻿@using Nami.Service.Common

@model PageListResultBO<Nami.Model.Entities.Notification>



<a aria-haspopup="true" data-toggle="dropdown" class="nav-link tb-dropdown-link" aria-expanded="false">

	<div class="border-tb-icon">
		<i class="fa fa-bell-o icon-bell icon-bell-desk" aria-hidden="true"></i>
	</div>
	<div class="noti-number">
		@if (Model.Count >= 99)
		{
			<span>(99+)</span>
		}
		else {
			<span>(@Model.Count)</span>
		}
	</div>
</a>
<div tabindex="-1" role="menu" aria-hidden="true" id="notiarea" class="dropdown-menu-rounded dropdown-menu-lg rm-pointers dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 37px, 0px);">
	<div class="dropdown-menu-header cac-thong-bao-header">

		<div class="thong-bao-top">
			<p class="tb-top-title">
				Thông báo
			</p>
			<p class="tb-top-content">
				Bạn có <b>@Model.Count</b> thông báo chưa đọc
			</p>
		</div>
		<div class="thong-bao-mid">
			<ul class="boxNotification boxNoti-Edit">
				@foreach (var item in Model.ListItem)
				{
					<li>
						<a href="/EndUserNotification/ReadNotification/@item.Id">
							<div class="clearfix">
								<div class="pull-left" style="display:flex;">
									<i class="no-hover btn-pink fa fa-bell-o" style="font-size:20px;margin-top:10px;"></i>
									<div style="font-size:14px;padding-left:10px;">
										@Html.Raw(item.Message)
									</div>
								</div>
								@{
									var timeSpan = (TimeSpan)(DateTime.Now - item.CreatedDate);
									if (timeSpan.TotalMinutes < 2)
									{
										<small class="pull-right"><i>Vừa xong</i></small>
									}
									else if (timeSpan.TotalMinutes < 60)
									{
										<small class="pull-right"><i>@Math.Round(timeSpan.TotalMinutes) phút trước</i></small>
									}
									else if (timeSpan.TotalHours < 24)
									{
										<small class="pull-right"><i>@Math.Round(timeSpan.TotalHours) giờ trước</i></small>
									}
									else
									{
										<small class="pull-right"><i>@string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.CreatedDate) </i></small>
									}



								}


							</div>

						</a>
					</li>
				}

				@if (!Model.ListItem.Any())
				{
					<li>
						Không có thông báo!
					</li>

				}





			</ul>
		</div>
		<div class="thong-bao-bot">

			<p>
				<a href="/EndUserInfo/Notification">
					Xem tất cả
					<i class="ace-icon fa fa-arrow-right"></i>
				</a>

			</p>
		</div>


	</div>

</div>




