﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model EndUserPersonalCreateAgreementViewModel
@{
	/**/

	ViewBag.Title = "Tạo mới thông tin hợp đồng";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Tạo mới hợp đồng";
	ViewBag.HelpButton = false;
}
<!-- Add IntroJs styles -->
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
}
@{
	var dropdownListTinhId = ViewBag.dropdownListTinhId as List<SelectListItem>;
	var dropdownListHuyenId = ViewBag.dropdownListHuyenId as List<SelectListItem>;
	var dropdownListXaId = ViewBag.dropdownListXaId as List<SelectListItem>;
	var dropdownListBuilding = ViewBag.dropdownListBuilding as List<SelectListItem>;
}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
<link rel="stylesheet"
	  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
	  type="text/css" />
<style>
	#map {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}
</style>
<div class="">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Tạo mới hợp đồng của bạn! ">
		<div class="xdl-label">Tạo mới hợp đồng</div>
		<div class="scrollbar-2">

			<div class="column">
				<div class="portlet">
					<div class="portlet-header blue darken-3 py-2 my-3 white-text collapseButton dropdown-text" data-toggle="collapse"
						 href="#feeds" style="margin-bottom: 10px;background-color: #3498db;color: white;border-radius: 5px;font-size: 15px;font-weight: bold;">Tìm kiếm&nbsp;<i class="fa fa-caret-down  ml-2"></i></div>
					<div class="portlet-content collapse in" id="feeds">
						@using (Ajax.BeginForm("GetDataBuldingRoom", "EndUserPersonalInfo", new AjaxOptions()
						{
							HttpMethod = "POST",
							OnFailure = "AjaxFormError",
							OnSuccess = "GetDataSuccess",
						}, new { id = "createBuildingsInfoForm" }))
						{
							@Html.AntiForgeryToken()
							<div class="row" style="margin-left: 0px;margin-right: 0px;">
								<div class="col-sm-2">
									<span>Tỉnh</span>
									@Html.DropDownListFor(m => m.TinhId, dropdownListTinhId, "Tỉnh/Thành phố", new { @class = "form-control", @placeholder = "Tỉnh" })
								</div>
								<div class="col-sm-2">
									<span>Huyện</span>
									@Html.DropDownListFor(m => m.HuyenId, dropdownListHuyenId, "Huyện/Quận", new { @class = "form-control", @placeholder = "Huyện" })
								</div>
								<div class="col-sm-2">
									<span>Xã</span>
									@Html.DropDownListFor(m => m.XaId, dropdownListXaId, "Xã/Phường", new { @class = "form-control", @placeholder = "Xã" })
								</div>
								<div class="col-sm-2">
									<span>Giá phòng từ</span>
									@Html.TextBoxFor(m => m.MoneyFrom, new { @class = "form-control", @placeholder = "Giá phòng từ" })
								</div>
								<div class="col-sm-2">
									<span>Giá phòng đến</span>
									@Html.TextBoxFor(m => m.MoneyTo, new { @class = "form-control", @placeholder = "Giá phòng đến" })
								</div>
								<div class="col-sm-2">
									<span>Loại nhà thuê</span>
									@Html.DropDownListFor(m => m.HomeTypeId, dropdownListBuilding, new { @class = "form-control", @placeholder = "Chọn loại nhà" })
								</div>
								<div class="col-sm-12" style="text-align:center;margin-bottom: 10px;">
									<br />
									<button type="submit" class="btn btn-sm btn-info" id="submit"><span>Tìm kiếm</span></button>
								</div>
							</div>
						}
					</div>
				</div>
				<div class="portlet">
					<div class="portlet-header blue darken-3 py-2 my-3 white-text collapseButton dropdown-text" data-toggle="collapse"
						 href="#news" style="margin-bottom: 10px;background-color: #3498db;color: white;border-radius: 5px;font-size: 15px;font-weight: bold;">Kết quả&nbsp;<i class="fa fa-caret-down  ml-2"></i></div>
					<div class="portlet-content collapse in " id="news">
						<div id="ItemSearchArea">
							@if (Model.HomeTypeId == BuildingTypeConstant.Building)
							{
								if (Model.ListBuilding != null && Model.ListBuilding.Any())
								{
									<div id="DetailBuilding"></div>
									<div class="row">
										<div class="col-sm-9"><h2>@Model.ListBuilding.Count() nhà/tòa nhà trọ</h2></div>
										<div class="row col-sm-12">
											<div class="col-sm-6" id="ItemSearchItem" style="padding:10px 25px;">
												@foreach (var item in Model.ListBuilding)
												{
													var NumberOfRoom = item.NumberOfRoom * item.NumberOfRoom;
													var ItemDetail = "ItemDetail" + item.Id;
													<div class="row ItemSearchItem @ItemDetail" onclick="OpenDetailBuilding('@item.Id')" onmouseover="HoverBuildingItem('@item.Id')" onmouseout="NotHoverBuildingItem('@item.Id')">
														<div class="col-sm-4">
															@if (item.ListFileActtackment != null && item.ListFileActtackment.Any())
															{
																<img src="~/@item.ListFileActtackment.FirstOrDefault().ImageUrl" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
															}
															else
															{
																<img src="/assets/images/notfoundimage.png" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
															}
														</div>
														<div class="col-sm-8">
															<div><h4><b>@item.BuildingsName</b></h4></div>
															<div>
																<span class="ItemSearchItemText">@item.Floor tầng · @NumberOfRoom phòng</span><br />
																<span class="ItemSearchItemText">@item.NumberOfPeoperPerRoomAdult người lớn · @item.NumberOfPeoperPerRoomKid trẻ con</span><br />
																<span><b>@string.Format("{0:C}", item.Price)/tháng</b></span><br />
																<span>@item.XaItemInfo.TenXa, @item.HuyenItemInfo.TenHuyen, @item.TinhItemInfo.TenTinh, Việt Nam</span>
															</div>
															<div class="star-rating d-inline-block"><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg> @item.Id</div>
														</div>
													</div>
												}
											</div>
											<div class="col-sm-6" id="ItemSearchItemInfoMapBuilding">
												<div id='map' style='width: 98%; height: 500px;'></div>
											</div>
										</div>
									</div>
								}
								else
								{
									<div class="row">
										<div class="col-sm-9"><h2>@Model.ListBuilding.Count() nhà/tòa nhà trọ</h2></div>
										<div class="col-sm-3">
										</div>
										<div class="col-sm-12"><h4>Không có dữ liệu</h4></div>
									</div>
								}

							}
							else if (Model.HomeTypeId == BuildingTypeConstant.Room)
							{
								if (Model.ListRoom != null && Model.ListRoom.Any())
								{
									<div id="DetailRoom"></div>
									<div class="row">
										<div class="col-sm-9"><h2>@Model.ListRoom.Count() phòng trọ</h2></div>
										<div class="row col-sm-12">
											<div class="col-sm-6" id="ItemSearchItem" style="padding:10px 25px;">
												@foreach (var item in Model.ListRoom)
												{
													var ItemDetail = "ItemDetailRoom" + item.Id;
													<div class="row ItemSearchItem @ItemDetail" onclick="OpenDetailRoom('@item.Id')" onmouseover="HoverRoomItem('@item.Id')" onmouseout="NotHoverRoomItem('@item.Id')">
														<div class="col-sm-4">
															@if (item.ListFileActtackment != null && item.ListFileActtackment.Any())
															{
																<img src="~/@item.ListFileActtackment.FirstOrDefault().ImageUrl" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
															}
															else
															{
																<img src="/assets/images/notfoundimage.png" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
															}
														</div>
														<div class="col-sm-8">
															<div><h4><b>@item.RoomName</b></h4></div>
															<div>
																<span class="ItemSearchItemText">@item.Floor tầng </span><br />
																<span class="ItemSearchItemText">@item.NumberOfPeoperPerRoomAdult người lớn · @item.NumberOfPeoperPerRoomKid trẻ con</span><br />
																<span><b>@string.Format("{0:C}", item.Price)/tháng</b></span><br />
																<span>@item.XaItemInfo.TenXa, @item.HuyenItemInfo.TenHuyen, @item.TinhItemInfo.TenTinh, Việt Nam</span>
															</div>
															<div class="star-rating d-inline-block"><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg> @item.Id</div>
														</div>
													</div>
												}
											</div>

											<div class="col-sm-6" id="ItemSearchItemInfoMapRoom">
												<div id='mapRoom' style='width: 98%; height: 500px;'></div>
											</div>
										</div>
									</div>
								}
								else
								{
									<div class="row">
										<div class="col-sm-9"><h2>@Model.ListRoom.Count() nhà/tòa nhà trọ</h2></div>
										<div class="col-sm-3">
											<div class="col-sm-12"><h4>Không có dữ liệu</h4></div>
										</div>
									</div>
								}
							}
							<div id='mapRoom' style='display:none'></div>
							<div id='map' style='display:none'></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	function GetDataSuccess(rs) {
		console.log(rs);
		var dataMap = [];
		var dataMapRoom = [];
		var dataProvince = {
			"type": "FeatureCollection",
			"features": []
		};
		var dataProvinceRoom = {
			"type": "FeatureCollection",
			"features": []
		};
		if (rs.HomeTypeId == '@ItemTypeConstant.Building') {
			var str = "";
			if (rs.ListBuilding != null) {
				dataMap = rs.ListBuilding;
				if (dataMap != null) {
					for (var i = 0; i < dataMap.length; i++) {
						dataProvince.features[i] = {
							"type": "Feature",
							"properties": {
								"message": dataMap[i].BuildingsName,
								"description": "<strong style='color:#428BCA;'>" + dataMap[i].BuildingsName + "</strong><br/><span><b>Thông tin:</b> " + dataMap[i].Description + "</span>" + "<br/><span><b>Địa chỉ:</b> " + dataMap[i].Address + "</span>",
							},
							"geometry": {
								"type": "Point",
								"coordinates": [dataMap[i].Longitude, dataMap[i].Latitude]
							}
						}
					}
				}
				str += `
									<div id="DetailBuilding"></div>
									<div class="row">
										<div class="col-sm-9"><h2>${rs.ListBuilding.length} nhà/tòa nhà trọ</h2></div>
										<div class="row col-sm-12">
											<div class="col-sm-6" id="ItemSearchItem" style="padding:10px 25px;">`;
				for (var i = 0; i < rs.ListBuilding.length; i++) {
					var NumberOfRoom = rs.ListBuilding[i].NumberOfRoom * rs.ListBuilding[i].NumberOfRoom;
					var ItemDetail = "ItemDetail" + rs.ListBuilding[i].Id;
					str += `
													<div class="row ItemSearchItem ${ItemDetail}" onclick="OpenDetailBuilding('${rs.ListBuilding[i].Id}')" onmouseover="HoverBuildingItem('${rs.ListBuilding[i].Id}')" onmouseout="NotHoverBuildingItem('${rs.ListBuilding[i].Id}')">
														<div class="col-sm-4">
															<img src="/assets/images/notfoundimage.png" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
														</div>
														<div class="col-sm-8">
															<div><h4><b>${rs.ListBuilding[i].BuildingsName}</b></h4></div>
															<div>
																<span class="ItemSearchItemText">${rs.ListBuilding[i].Floor} tầng · ${NumberOfRoom} phòng</span><br />
																<span class="ItemSearchItemText">${rs.ListBuilding[i].NumberOfPeoperPerRoomAdult} người lớn · ${rs.ListBuilding[i].NumberOfPeoperPerRoomKid} trẻ con</span><br />
																<span><b>${rs.ListBuilding[i].Price}/tháng</b></span><br />
																<span>${rs.ListBuilding[i].XaItemInfo.TenXa}, ${rs.ListBuilding[i].HuyenItemInfo.TenHuyen}, ${rs.ListBuilding[i].TinhItemInfo.TenTinh}, Việt Nam</span>
															</div>
															<div class="star-rating d-inline-block"><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg> ${rs.ListBuilding[i].Id}</div>
														</div>
													</div>
											`
				}

				str += `
											</div><div class="col-sm-6" id="ItemSearchItemInfoMapBuilding">
												<div id='map' style='width: 98%; height: 500px;'></div>
							<div id='mapRoom' style='display:none'></div>
						</div></div></div>`
			} else {
				str += `
									<div class="row">
										<div class="col-sm-9"><h2>0 nhà/tòa nhà trọ</h2></div>
										<div class="col-sm-3">
										</div>
										<div class="col-sm-12"><h4>Không có dữ liệu</h4></div>
									</div>
				`;
			}
			$('#ItemSearchArea').html(str);
		}
		else if (rs.HomeTypeId == '@ItemTypeConstant.Room') {
			var str = "";
			if (rs.ListRoom != null) {
				dataMapRoom = rs.ListRoom;
				if (dataMapRoom != null) {
					for (var i = 0; i < dataMapRoom.length; i++) {
						dataProvinceRoom.features[i] = {
							"type": "Feature",
							"properties": {
								"message": dataMapRoom[i].RoomName,
								"description": "<strong style='color:#428BCA;'>" + dataMapRoom[i].RoomName + "</strong><br/><span><b>Thông tin:</b> " + dataMapRoom[i].Description + "</span>" + "<br/><span><b>Địa chỉ:</b> " + dataMapRoom[i].Address + "</span>",
							},
							"geometry": {
								"type": "Point",
								"coordinates": [dataMapRoom[i].Longitude, dataMapRoom[i].Latitude]
							}
						}
					}
				}
			str += `
									<div id="DetailRoom"></div>
									<div class="row">
										<div class="col-sm-9"><h2>${rs.ListRoom.length} phòng trọ</h2></div>
										<div class="row col-sm-12">
											<div class="col-sm-6" id="ItemSearchItem" style="padding:10px 25px;">
				`;
				for (var i = 0; i < rs.ListRoom.length; i++) {
					var ItemDetail = "ItemDetailRoom" + rs.ListRoom[i].Id;
					str += `
								<div class="row ItemSearchItem ${ItemDetail}" onclick="OpenDetailRoom('${rs.ListRoom[i].Id}')" onmouseover="HoverRoomItem('${rs.ListRoom[i].Id}')" onmouseout="NotHoverRoomItem('${rs.ListRoom[i].Id}')">
														<div class="col-sm-4">
																<img src="/assets/images/notfoundimage.png" onerror="this.src = '/assets/images/notfoundimage.png'" class="" alt="Ảnh tòa nhà" />
														</div>
														<div class="col-sm-8">
															<div><h4><b>${rs.ListRoom[i].RoomName}</b></h4></div>
															<div>
																<span class="ItemSearchItemText">${rs.ListRoom[i].Floor} tầng </span><br />
																<span class="ItemSearchItemText">${rs.ListRoom[i].NumberOfPeoperPerRoomAdult} người lớn · ${rs.ListRoom[i].NumberOfPeoperPerRoomKid} trẻ con</span><br />
																<span><b>${rs.ListRoom[i].Price}/tháng</b></span><br />
																<span>${rs.ListRoom[i].XaItemInfo.TenXa}, ${rs.ListRoom[i].HuyenItemInfo.TenHuyen}, ${rs.ListRoom[i].TinhItemInfo.TenTinh}, Việt Nam</span>
															</div>
															<div class="star-rating d-inline-block"><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg><svg version="1.1" viewBox="0 0 14 14" class="mr--3 svg-icon svg-fill" style="width: 14px; height: 14px;"><path fill="#ffb025" stroke="none" pid="0" d="M14 5.425c0 .13-.073.27-.219.424l-3.054 3.123.724 4.41c.005.042.008.1.008.177 0 .123-.03.228-.088.313a.292.292 0 0 1-.257.128.658.658 0 0 1-.336-.106L7 11.812l-3.778 2.082a.69.69 0 0 1-.336.106c-.118 0-.206-.043-.265-.128a.538.538 0 0 1-.089-.313 1.5 1.5 0 0 1 .017-.177l.724-4.41L.21 5.849C.07 5.69 0 5.549 0 5.425c0-.217.157-.353.471-.405l4.224-.644L6.588.362C6.694.12 6.832 0 7 0c.168 0 .306.12.412.362l1.893 4.014 4.224.644c.314.052.471.188.471.405z" _fill-rule="evenodd"></path></svg> ${rs.ListRoom[i].Id}</div>
														</div>
													</div>
					`;
				}
				str += `</div><div class="col-sm-6" id="ItemSearchItemInfoMapRoom">
												<div id='mapRoom' style='width: 98%; height: 500px;'></div>
							<div id='map' style='display:none'></div>
											</div>
										</div>
									</div>`;
			} else {
				str += `<div class="row">
										<div class="col-sm-9"><h2>0 phòng trọ</h2></div>
										<div class="col-sm-3">
											<div class="col-sm-12"><h4>Không có dữ liệu</h4></div>
										</div>
									</div>
				`
			}
			$('#ItemSearchArea').html(str);
		}


		mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
			center: [106.4332513, 16.5397358],
			zoom: 5
		});
		var mapRoom = new mapboxgl.Map({
			container: 'mapRoom',
			style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
			center: [106.4332513, 16.5397358],
			zoom: 5
		});
		map.addControl(new mapboxgl.NavigationControl());
		mapRoom.addControl(new mapboxgl.NavigationControl());
		
		var directions = new MapboxDirections({
			accessToken: mapboxgl.accessToken
		});
		var directionsRoom = new MapboxDirections({
			accessToken: mapboxgl.accessToken
		});
		map.addControl(directions, 'top-left');
		mapRoom.addControl(directionsRoom, 'top-left');
		$('.mapboxgl-ctrl-top-left').css('display', 'none')
		map.on('load', function () {
			map.loadImage('/Content/MapIcon/universityround.png', function (error, image) {
				map.addImage('BuildingIcon', image);
			});
			map.addSource("places", {
				"type": "geojson",
				"data": dataProvince
			});
			map.addLayer({
				"id": "poi-labels",
				"type": "symbol",
				"source": "places",
				"layout": {
					"text-field": ["get", "message"],
					"text-size": 10,
					"text-variable-anchor": ["top", "bottom", "left", "right"],
					"text-radial-offset": 0.5,
					"text-justify": "auto",
					"icon-image": "BuildingIcon",
					"icon-size": 0.4,
					"text-max-width": 8,
				},
				"paint": {
					"text-color": "#c0392b"
				}
			});
		});
		mapRoom.on('load', function () {
			mapRoom.loadImage('/Content/MapIcon/universityround.png', function (error, image) {
				mapRoom.addImage('BuildingIcon', image);
			});
			mapRoom.addSource("placesRoom", {
				"type": "geojson",
				"data": dataProvinceRoom
			});
			mapRoom.addLayer({
				"id": "poi-labelsRoom",
				"type": "symbol",
				"source": "placesRoom",
				"layout": {
					"text-field": ["get", "message"],
					"text-size": 10,
					"text-variable-anchor": ["top", "bottom", "left", "right"],
					"text-radial-offset": 0.5,
					"text-justify": "auto",
					"icon-image": "BuildingIcon",
					"icon-size": 0.4,
					"text-max-width": 8,
				},
				"paint": {
					"text-color": "#c0392b"
				}
			});
		});
		map.on('click', 'poi-labels', function (e) {
			var coordinates = e.features[0].geometry.coordinates;
			var description = e.features[0].properties.description;
			while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
				coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
			}
			map.flyTo({
				center: coordinates,
				zoom: 8
			});
			new mapboxgl.Popup()
				.setLngLat(coordinates)
				.setHTML(description)
				.addTo(map);
			if (navigator.geolocation) {
				setTimeout(function () {
					navigator.geolocation.getCurrentPosition(showPosition);
				}, 3000);
			} else {
				x.innerHTML = "Geolocation is not supported by this browser.";
			}
			directions.setDestination(coordinates);
			function showPosition(position) {
				console.log([position.coords.longitude, position.coords.latitude], coordinates, position);
				directions.setOrigin([position.coords.longitude, position.coords.latitude]);
			}
		});
		mapRoom.on('click', 'poi-labelsRoom', function (e) {
			var coordinates = e.features[0].geometry.coordinates;
			var description = e.features[0].properties.description;
			while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
				coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
			}
			mapRoom.flyTo({
				center: coordinates,
				zoom: 8
			});
			new mapboxgl.Popup()
				.setLngLat(coordinates)
				.setHTML(description)
				.addTo(mapRoom);
			if (navigator.geolocation) {
				setTimeout(function () {
					navigator.geolocation.getCurrentPosition(showPosition);
				}, 3000);
			} else {
				x.innerHTML = "Geolocation is not supported by this browser.";
			}
			directionsRoom.setDestination(coordinates);
			function showPosition(position) {
				console.log([position.coords.longitude, position.coords.latitude], coordinates, position);
				directionsRoom.setOrigin([position.coords.longitude, position.coords.latitude]);
			}
		});
	}
	$("#TinhId").on("change", function () {
		var type = $(this).val();
		renderDropdownList('/EndUserPersonalInfo/GetHuyenDropdownOfTinh/' + type, 'HuyenId', 'Huyện/Quận');
		$('#HuyenId').val('').change();
	});

	$("#HuyenId").on("change", function () {
		var type = $(this).val();
		renderDropdownList('/EndUserPersonalInfo/GetXaDropdownOfHuyen/' + type, 'XaId', 'Xã/Phường');
		$('#XaId').val('').change();
	});
	$(".column").sortable({
		connectWith: ".column",
		handle: ".portlet-header",
		cancel: ".portlet-toggle",
		placeholder: "drop-placeholder"
	});

	$('.portlet-header').on('click', function (e) {
		if ($(e.target).children().last().hasClass('fa-caret-down')) {
			$(e.target).children().last().removeClass('fa-caret-down').addClass('fa-caret-up');
		} else if ($(e.target).children().last().hasClass('fa-caret-up')) {
			$(e.target).children().last().removeClass('fa-caret-up').addClass('fa-caret-down');
		}
	});

	$('#Agreement').html(`
		<li class="end-user-nav-li li-parrent block" id="Agreement">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-file-o" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor">
						Quản lý hợp đồng
						<i class="fa fa-angle-down arrow"></i>
					</a>
				</div>
				<ul class="submenu">
					<li class="end-user-nav-li" id="IndexAgreement"><a href="/EndUserPersonalInfo/IndexAgreement" >Tất cả hợp đồng</a></li>
					<li class="end-user-nav-li" id="CreateAgreement" style="background-color: #3498db;"><a href="/EndUserPersonalInfo/CreateAgreement"style="color:white;">Tạo mới hợp đồng</a></li>
				</ul>
			</li>
	`)
	function OpenDetailBuilding(id) {
		AjaxCall('/EndUserPersonalInfo/DetailSearchBuilding/' + id, 'get', null, function (rs) {
			$('#DetailBuilding').html(rs)
			$('.modal-dialog').css("display", "block")
		})
	}

	function CloseDetailBuilding() {
		$('#DetailBuilding').html('')
		$('.modal-dialog').css("display", "none")
	}

	function OpenDetailRoom(id) {
		AjaxCall('/EndUserPersonalInfo/DetailSearchRoom/' + id, 'get', null, function (rs) {
			$('#DetailRoom').html(rs)
			$('.modal-dialog').css("display", "block")
		})
	}

	function CloseDetailRoom() {
		$('#DetailRoom').html('')
		$('.modal-dialog').css("display", "none")
	}

	function HoverBuildingItem(id) {
		var ItemDetail = ".ItemDetail" + id;
		if ($(ItemDetail).is(':hover') == true) {
			$(ItemDetail).css("background-color", "#ecf0f1");
			$(ItemDetail).css("cursor", "pointer");
		}
	}
	function NotHoverBuildingItem(id) {
		var ItemDetail = ".ItemDetail" + id;
		$(ItemDetail).css("background-color", "white");
	}


	function HoverRoomItem(id) {
		var ItemDetail = ".ItemDetailRoom" + id;
		if ($(ItemDetail).is(':hover') == true) {
			$(ItemDetail).css("background-color", "#ecf0f1");
			$(ItemDetail).css("cursor", "pointer");
		}
	}
	function NotHoverRoomItem(id) {
		var ItemDetail = ".ItemDetailRoom" + id;
		$(ItemDetail).css("background-color", "white");
	}

	$('#ItemSearchItemInfoMapBuilding').hide()
	$('#ItemSearchItemInfoMapRoom').hide()
</script>