﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model EndUserPersonalCreateAgreementViewModel
@{

	ViewBag.Title = "Tạo mới đăng ký làm hợp đồng";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Tạo mới đăng ký làm hợp đồng";
	ViewBag.HelpButton = false;
}
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
}
@{
	var dropdownListTinhId = ViewBag.dropdownListTinhId as List<SelectListItem>;
	var dropdownListHuyenId = ViewBag.dropdownListHuyenId as List<SelectListItem>;
	var dropdownListXaId = ViewBag.dropdownListXaId as List<SelectListItem>;
	var dropdownListBuilding = ViewBag.dropdownListBuilding as List<SelectListItem>;
}
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
<link rel="stylesheet"
	  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
	  type="text/css" />
<style>
	#map {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
	}
</style>
<div class="">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Tạo mới đăng ký làm hợp đồng! ">
		<div class="xdl-label">Tạo mới đăng ký làm hợp đồng</div>
		<div class="scrollbar-2">
			<div class="column">
				<div class="portlet">
					<div class="portlet-header blue darken-3 py-2 my-3 white-text collapseButton dropdown-text" data-toggle="collapse"
						 href="#feeds" style="margin-bottom: 10px;background-color: #3498db;color: white;border-radius: 5px;font-size: 15px;font-weight: bold;">Tìm kiếm&nbsp;<i class="fa fa-caret-down  ml-2"></i></div>
					<div class="portlet-content collapse in" id="feeds">
						@*@using (Ajax.BeginForm("GetDataBuilingAndRoom", "EndUserPersonalInfo", new AjaxOptions()
							{
								HttpMethod = "POST",
								OnFailure = "AjaxFormError",
								OnSuccess = "GetDataSuccess",
							}, new { id = "createBuildingsInfoForm" }))
							{
								@Html.AntiForgeryToken()
								<div class="row" style="margin-left: 0px;margin-right: 0px;">
									<div class="col-sm-4">
										<span>Tỉnh</span>
										@Html.DropDownListFor(m => m.TinhId, dropdownListTinhId, "Tỉnh/Thành phố", new { @class = "form-control", @placeholder = "Tỉnh" })
									</div>
									<div class="col-sm-4">
										<span>Huyện</span>
										@Html.DropDownListFor(m => m.HuyenId, dropdownListHuyenId, "Huyện/Quận", new { @class = "form-control", @placeholder = "Huyện" })
									</div>
									<div class="col-sm-4">
										<span>Xã</span>
										@Html.DropDownListFor(m => m.XaId, dropdownListXaId, "Xã/Phường", new { @class = "form-control", @placeholder = "Xã" })
									</div>
									<div class="col-sm-4">
										<span>Giá phòng từ</span>
										@Html.TextBoxFor(m => m.MoneyFrom, new { @class = "form-control", @placeholder = "Giá phòng từ" })
									</div>
									<div class="col-sm-4">
										<span>Giá phòng đến</span>
										@Html.TextBoxFor(m => m.MoneyTo, new { @class = "form-control", @placeholder = "Giá phòng đến" })
									</div>
									<div class="col-sm-4">
										<span>Loại nhà thuê</span>
										@Html.DropDownListFor(m => m.HomeTypeId, dropdownListBuilding, new { @class = "form-control", @placeholder = "Chọn loại nhà" })
									</div>
									<div class="col-sm-12" style="text-align:center;margin-bottom: 10px;">
										<br />
										<button type="submit" class="btn btn-sm btn-info" id="submit"><span>Tìm kiếm</span></button>
									</div>
								</div>
							}*@
						<div class="row" style="margin-left: 0px;margin-right: 0px;">
							<div class="col-sm-4">
								<span>Tỉnh</span>
								@Html.DropDownListFor(m => m.TinhId, dropdownListTinhId, "Tỉnh/Thành phố", new { @class = "form-control", @placeholder = "Tỉnh" })
							</div>
							<div class="col-sm-4">
								<span>Huyện</span>
								@Html.DropDownListFor(m => m.HuyenId, dropdownListHuyenId, "Huyện/Quận", new { @class = "form-control", @placeholder = "Huyện" })
							</div>
							<div class="col-sm-4">
								<span>Xã</span>
								@Html.DropDownListFor(m => m.XaId, dropdownListXaId, "Xã/Phường", new { @class = "form-control", @placeholder = "Xã" })
							</div>
							<div class="col-sm-4">
								<span>Giá phòng từ</span>
								@Html.TextBoxFor(m => m.MoneyFrom, new { @class = "form-control", @placeholder = "Giá phòng từ" })
							</div>
							<div class="col-sm-4">
								<span>Giá phòng đến</span>
								@Html.TextBoxFor(m => m.MoneyTo, new { @class = "form-control", @placeholder = "Giá phòng đến" })
							</div>
							<div class="col-sm-4">
								<span>Loại nhà thuê</span>
								@Html.DropDownListFor(m => m.HomeTypeId, dropdownListBuilding, new { @class = "form-control", @placeholder = "Chọn loại nhà" })
							</div>
							<div class="col-sm-12" style="text-align:center;margin-bottom: 10px;">
								<br />
								<button type="button" class="btn btn-sm btn-info" onclick="SearchData()"><span>Tìm kiếm</span></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="xdl-label">Kết quả tìm kiếm</div>
		<div id="resultSearchData">

		</div>
	</div>
</div>
<script>
	$('#TinhId').select2();
	$('#HuyenId').select2();
	$('#XaId').select2();
	$('#Agreement').html(`
		<li class="end-user-nav-li li-parrent block" id="Agreement">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-file-o" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor">
						Quản lý hợp đồng
						<i class="fa fa-angle-down arrow"></i>
					</a>
				</div>
				<ul class="submenu">
					<li class="end-user-nav-li" id="CreateDangKyHopDong" style="background-color: #3498db;"><a href="~/EndUserPersonalInfo/CreateDangKyHopDong"style="color:white;">Tạo mới đăng ký làm hợp đồng</a></li>
					<li class="end-user-nav-li" id="IndexHopDong"><a href="~/EndUserPersonalInfo/IndexHopDong">Tất cả hợp đồng đã ký</a></li>
					<li class="end-user-nav-li" id="IndexMessage"><a href="~/EndUserPersonalInfo/IndexMessage">Trao đổi thông tin, trò chuyện với chủ nhà</a></li>
				</ul>
			</li>
	`)
	function SearchData() {
		if ($("#TinhId").val() != null && $("#TinhId").val() != "") {
			if ($("#HomeTypeId").val() != null && $("#HomeTypeId").val() != "") {
				if ($("#HomeTypeId").val() == '@ItemTypeConstant.Building') {
					GetDataBuilding($("#TinhId").val(), $("#HuyenId").val(), $("#XaId").val(), $("#MoneyFrom").val(), $("#MoneyTo").val());
				}
				else if ($("#HomeTypeId").val() == '@ItemTypeConstant.Room') {
					GetDataRoom($("#TinhId").val(), $("#HuyenId").val(), $("#XaId").val(), $("#MoneyFrom").val(), $("#MoneyTo").val());
				}
			} else {
				NotiError("Lỗi", "Vui lòng loại nhà cho thuê cần tìm kiếm");
			}
		} else {
			NotiError("Lỗi","Vui lòng chọn tỉnh thành phố");
		}
	}
	function GetDataBuilding(TinhCode, HuyenCode, XaCode, MoneyFrom, MoneyTo) {
		AjaxCall("/EndUserPersonalInfo/GetBuildingData", "get", { TinhId: TinhCode, HuyenId: HuyenCode, XaId: XaCode, MoneyFrom: MoneyFrom, MoneyTo: MoneyTo}, function (rs) {
			$("#resultSearchData").html(rs);
        })
	}
	function GetDataRoom(TinhCode, HuyenCode, XaCode, MoneyFrom, MoneyTo) {
		AjaxCall("/EndUserPersonalInfo/GetRoomData", "get", { TinhId: TinhCode, HuyenId: HuyenCode, XaId: XaCode, MoneyFrom: MoneyFrom, MoneyTo: MoneyTo }, function (rs) {
			$("#resultSearchData").html(rs);
        })
	}
</script>