﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model DetailOrderVM
@{

	ViewBag.Title = "Thông tin giao dịch";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Thông tin giao dịch";
	ViewBag.HelpButton = false;
}
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
	<a onclick="BackButtonByParentUrl()" class="btn btn-primary btn-sm">Quay lại</a>
}
<div class="">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Thông tin chi tiết giao dịch">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				<li class="active">
					<a data-toggle="tab" href="#CompanyInfo" aria-expanded="true">Thông tin giao dịch</a>
				</li>
				<li class="">
					<a data-toggle="tab" href="#come" aria-expanded="false">Yêu cầu hỗ trợ</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="CompanyInfo" class="tab-pane active">
					<table class="table-info table100">
						<tr><td class="labelData">Id giao dịch</td><td colspan="3">@Model.objInfo.Id</td></tr>
						<tr><td class="labelData">Số tiền</td><td colspan="3" class="txt-number">@Model.objInfo.Amount</td></tr>
						<tr><td class="labelData">Nội dung giao dịch</td><td colspan="3">@Model.objInfo.OrderDescription</td></tr>
						<tr><td class="labelData">Mã ngân hàng</td><td colspan="3">@Model.objInfo.BankCodeName</td></tr>
						<tr><td class="labelData">Loại giao dịch</td><td colspan="3" style="color:@Model.objInfo.OrderTypeBGColor">@Model.objInfo.OrderTypeName</td></tr>
						<tr>
							<td class="labelData">Nhà trọ/khu trọ/phòng trọ</td>
							<td colspan="3">
								@if (!string.IsNullOrEmpty(Model.objInfo.UrlItem))
								{
									<a href="@Model.objInfo.UrlItem">@Model.objInfo.ItemName</a>
								}
							</td>
						</tr>
						<tr><td class="labelData">Loại</td><td colspan="3">@Model.objInfo.ItemTypeName</td></tr>
						<tr>
							<td class="labelData">Trạng thái thanh toán</td>
							<td colspan="3">
								@if (Model.objInfo.TrangThaiThanhToan == true)
								{
									<span class="green">Đã được xác nhận</span>
								}
								else
								{
									<span class="green">Chưa được xác nhân</span>
								}
							</td>
						</tr>
					</table>
				</div>
				<div id="come" class="tab-pane">
					<div class="row">
						<div class="col-sm-6 oldmessage">
							@foreach (var item in Model.GiaiTrinhList)
							{
								<div class="box-message-1">
									<div class="box-message-ava">
										@if (item.UserCreateInfo != null)
										{
											<img src="/@item.UserCreateInfo.Avatar" onerror="this.src = '/assets/images/avatars/userNew.png'" />
										}
										else
										{
											<img src="/assets/images/avatars/userNew.png" />
										}
									</div>
									<div class="box-message-content">
										<div class=" message-send-2">
											@Html.Raw(item.GiaiTrinhComment)

										</div>
										<span>
											<i class="fa fa-clock-o"></i>
											@string.Format("{0: dd/MM/yyyy HH:mm:ss}", item.NgayGiaiTrinh)

										</span>


										@foreach (var file in item.ListFileAttackPhanAnh)
										{
											<a href="/@file.FileUrlGiaiTrinhPhanAnh" download class="mess-link">
												<span class="glyphicon glyphicon-paperclip"></span> @Path.GetFileName(file.FileUrlGiaiTrinhPhanAnh)
											</a>
										}
									</div>

								</div>
								<div class="clearBoth"></div>
							}

						</div>
						<div class="col-sm-6">
							<div class="form-horizontal container-fluid comment">
								@using (Ajax.BeginForm("GiaiTrinhVuViec", "EndUserPersonalInfo", new AjaxOptions()
								{
									HttpMethod = "POST",
									OnFailure = "GiaiTrinhFalse",
									OnSuccess = "AjaxDone",
								}, new { id = "commentsform", enctype = "multipart/form-data" }))
								{
									<input type="hidden" name="id" value="@Model.objInfo.Id" />
									<input type="hidden" name="PhanAnhType" value="@ItemTypeConstant.Order" />
									<div class="row">

										<div class="col-sm-12 margin-bottom-12">
											<textarea class="form-control commentInput" cols="1" id="objComment_Comments" name="Comments" placeholder="Giải trình..." rows="1" style="overflow-y:hidden;"></textarea>
										</div>
										<div class="col-sm-12">
											<label>Tệp tin đính kèm</label>
											<input type="file" name="file" class="form-control" onchange="InputFile()" multiple>
											@*@Html.ValidationMessageFor(m => m.file, "", new { @class = "text-danger" })*@
											<p class="messageNote">Tệp tin đính kèm định dạng png, jpg, jpeg, doc, docx, pdf</p>
											<div>
												<button class="btn btn-primary giaitrinh-btn">
													<i class="fa fa-paper-plane"></i><p style="display: inline-block ">&nbsp;Gửi yêu cầu giải trình</p>
												</button>
											</div>
										</div>
									</div>
									<div class="clearfix"></div>
								}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
	function AjaxDone(result) {
		if (result.Status) {
			location.reload();
		} else {
			NotiError(result.Message);
		}
	}
</script>