﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model DetailHopDongVM
@{

	ViewBag.Title = "Thông tin chi tiết hợp đồng";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Thông tin chi tiết hợp đồng";
	ViewBag.HelpButton = false;
}
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
	<a onclick="BackButtonByParentUrl()" class="btn btn-primary btn-sm">Quay lại</a>
}
<div class="">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Thông tin chi tiết hợp đồng">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				<li class="active">
					<a data-toggle="tab" href="#CompanyInfo" aria-expanded="true">Thông tin hợp đồng</a>
				</li>

				<li class="">
					<a data-toggle="tab" href="#history" aria-expanded="false">Lịch sử thay đổi</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="CompanyInfo" class="tab-pane active">
					<table class="table-info table100">
						<tr>
							<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin hợp đồng</strong></td>
						</tr>
						<tr><td class="labelData">Đối tượng làm hồ sơ</td><td><a href='@Model.objInfo.ItemUrl'>@Model.objInfo.ItemName</a></td><td class="labelData">Loại đối tượng</td><td>@Model.objInfo.ItemTypeName</td></tr>
						<tr><td class="labelData">Loại hợp đồng</td><td colspan="4">@Model.objInfo.AgreementCodeName</td></tr>
						<tr><td class="labelData">Người đại diện</td><td colspan="4">@Model.objInfo.RepresenterName</td></tr>
						<tr><td class="labelData">Tiền đặt cọc tháng đầu</td><td class="txt-number" colspan="4">@Model.objInfo.DepositsMoney</td></tr>
						<tr><td class="labelData">Thời hạn hợp đồng tháng</td><td>@Model.objInfo.Month</td><td class="labelData">Thời hạn hợp đồng ngày</td><td>@Model.objInfo.Ngay</td></tr>
						<tr><td class="labelData">Ngày bắt đầu</td><td colspan="4">@string.Format("{0:dd/MM/yyyy}", Model.objInfo.DateStart)</td></tr>
						<tr><td class="labelData">Ngày kết thúc</td><td colspan="4">@string.Format("{0:dd/MM/yyyy}", Model.objInfo.DateEnd)</td></tr>
						<tr><td class="labelData">Chi phí hàng tháng</td><td class="txt-number" colspan="4">@Model.objInfo.PayPerMonth</td></tr>
						<tr><td class="labelData">Ghi chú</td><td colspan="4">@Model.objInfo.Note</td></tr>
					</table>
					<table class="table-info table100">
						<tr>
							<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin chi tiết hợp đồng theo tháng</strong></td>
							<td class="labelData labelDataTitle"><strong>Thao tác</strong></td>
						</tr>
						@if (Model.listItem != null && Model.listItem.Any())
						{
							foreach (var item in Model.listItem)
							{
								<tr>
									<td class="labelData">
										Tháng @item.Thang
										<br />
										<i>(Từ @string.Format("{0:dd/MM/yyyy}", Model.objInfo.DateStart) - Đến @string.Format("{0:dd/MM/yyyy}", Model.objInfo.DateEnd))</i>
										<br />
										@if (item.Status == false)
										{
											<span class="red">Chưa thanh toán</span>
										}
										else if (item.Status == true)
										{
											<span class="green">Đã thanh toán</span>
										}
									</td>
									<td colspan="3">
										- Tiền đặt cọc: <span class="txt-number">@item.DepositsMoney</span><br />
										- Tiền tháng này: <span class="txt-number">@item.TienThangNay</span><br />
										- Ghi chú: <span>@item.Note</span>
									</td>
									<td>
										@if (item.Status == false)
										{
											<a class="btn btn-sm btn-primary" href="/EndUserPersonalInfo/ThanhToanTienHopDong?idItemHopDong=@item.Id">Thanh toán</a>
											<a class="btn btn-sm btn-warning" href="">Đặt cọc</a>
										}
									</td>
								</tr>
							}
						}
					</table>
				</div>

				<div id="history" class="tab-pane">
					<div id="tbl-history" class="hntbl-cover">
						<div class="row">
							@if (Model.historys != null && Model.historys.Any())
							{
								<table class="table">
									@foreach (var item in Model.historys)
									{
										<tr class="col-sm-12 log-noi-dung">
											<td class="col-sm-4 seperated-cell">

												@if (item.userInfo != null)
												{
													<img class='nav-user-photo smallSize' src='/@item.userInfo.Avatar' onerror='this.src ="/assets/images/avatars/userNew.png"' title='@item.CreatedBy' />
												}
												else
												{
													<img class='nav-user-photo smallSize' src='/assets/images/avatars/userNew.png' title='@item.CreatedBy' />

												}

												<div class="inline pull-right pdl10">
													<div class="boldText">@item.CreatedBy</div>
													<i class="fa fa-calendar" aria-hidden="true"></i> Ngày @string.Format("{0:dd/MM/yyyy}", item.CreatedDate)
													<div><i class="fa fa-clock-o" aria-hidden="true"></i> Lúc @string.Format("{0:HH:mm:ss}", item.CreatedDate)</div>
												</div>
											</td>
											<td class="col-sm-8 seperated-cell">

												<div class="boldText"><i class="fa fa-angle-double-left" aria-hidden="true"></i> @item.HistoryContent <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
												@if (!string.IsNullOrEmpty(item.Comment))
												{
													<div><i class="fa fa-newspaper-o" aria-hidden="true"></i> Nội dung: </div>
													<div>@Html.Raw(HttpUtility.HtmlDecode(item.Comment))</div>
												}
											</td>
										</tr>
									}
								</table>
							}
							else
							{
								<div style="padding-left:20px;">Không có dữ liệu</div>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
</script>