﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model DetailBuildingVM
@{

	ViewBag.Title = "Thông tin tòa nhà/khu trọ";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Thông tin chi tiết tòa nhà/khu trọ";
	ViewBag.HelpButton = false;
}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
	<a onclick="BackButtonByParentUrl()" class="btn btn-primary btn-sm">Quay lại</a>
}
<div class="">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Thông tin chi tiết tòa nhà/khu trọ">
		<div class="tabbable">
			<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
				<li class="active">
					<a data-toggle="tab" href="#CompanyInfo" aria-expanded="true">Thông tin khu trọ/nhà trọ</a>
				</li>
				<li class="">
					<a data-toggle="tab" href="#listRoom" aria-expanded="false">Danh sách phòng trọ (nếu có)</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="CompanyInfo" class="tab-pane active">
					<table class="table-info table100">
						@if (Model.objInfo.StatusTin == true)
						{
							<tr>
								<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin đăng tin</strong></td>
							</tr>
							<tr>
								<td colspan="4">
									<b style="color: greenyellow;">Được phép đăng tin</b> (Bắt đầu từ: @string.Format("{0:dd/MM/yyyy}", Model.objInfo.StartDate) - Đến: @string.Format("{0:dd/MM/yyyy}", Model.objInfo.EndDate))
								</td>
							</tr>
						}
						<tr>
							<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin cơ bản</strong></td>
						</tr>
						<tr>
							<td class="labelData">Tên khu/tòa nhà</td>
							<td>@Model.objInfo.BuildingsName</td>
							<td colspan="2" rowspan="5">
								<div id='map' style='width: 350px; height: 300px;'></div>
							</td>
						</tr>
						<tr><td class="labelData">Mục đích sử dụng</td><td>@Model.objInfo.MucDichSuDungName</td></tr>
						<tr><td class="labelData">Diện tích</td><td class="txt-number">@Model.objInfo.DienTich (m2)</td></tr>
						<tr><td class="labelData">Giá</td><td class="txt-number">@Model.objInfo.Price (VNĐ)</td></tr>
						@if (Model.objInfo.IsCreateRoom == true)
						{
							<tr><td class="labelData">Số phòng mỗi tầng</td><td>@Model.objInfo.NumberOfRoom</td></tr>
						}
						<tr><td class="labelData">Số lượng người ở</td><td>@Model.objInfo.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @Model.objInfo.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i></td></tr>
						<tr><td class="labelData">Địa chỉ</td><td colspan="3">@Model.objInfo.Address</td></tr>
						<tr>
							<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin mô tả</strong></td>
						</tr>
						<tr>
							<td colspan="4">
								@Model.objInfo.Description
							</td>
						</tr>
						<tr>
							<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin khác</strong></td>
						</tr>
						<tr><td class="labelData">Hướng nhà</td><td>@Model.objInfo.HuongNhaName</td><td class="labelData">Hướng ban công</td><td>@Model.objInfo.HuongBanCongName</td></tr>
						<tr><td class="labelData">Số tầng</td><td>@Model.objInfo.Floor</td><td class="labelData">Số phòng ngủ</td><td>@Model.objInfo.SoPhongNgu</td></tr>
						<tr><td class="labelData">Số toilet</td><td>@Model.objInfo.SoToiLet</td></tr>
						<tr><td class="labelData">Thông tin pháp lý</td><td colspan="3">@Model.objInfo.ThongTinPhapLy</td></tr>
						<tr>
							<td class="labelData labelDataTitle" colspan="4"><strong>Hình ảnh</strong></td>
						</tr>
						<tr>
							<td colspan="4">
								@if (Model.imageList.Any())
								{
									foreach (var item in Model.imageList)
									{
										<img width="150" height="150" alt="150x150" src="/@item.ImageUrl" onerror="this.src = '/assets/images/notfoundimage.png'" />
									}
								}
								else
								{
									<i>Không có dữ liệu ảnh</i>
								}
							</td>
						</tr>
						<tr>
							<td class="labelData labelDataTitle" colspan="4"><strong>Liên hệ</strong></td>
						</tr>
						<tr><td class="labelData">Tên liên hệ</td><td colspan="3">@Model.objInfo.TenLienHe</td></tr>
						<tr><td class="labelData">Địa chỉ liên hệ</td><td colspan="3">@Model.objInfo.DiaChiLienHe</td></tr>
						<tr><td class="labelData">Điện thoại</td><td colspan="3">@Model.objInfo.DienThoai</td></tr>
						<tr><td class="labelData">Di động</td><td colspan="3">@Model.objInfo.DiDong</td></tr>
						<tr><td class="labelData">Email</td><td colspan="3">@Model.objInfo.Email</td></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.resize();

	function MapModal() {
		$('#MasterModal').modal();
	}

	function MapResize() {
		map.resize();
	}
	$('#MasterModal').on('shown.bs.modal', function () {
		map.resize();
	});
	var geocoder = new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		marker: {
			color: 'red',
			draggable: true
		},
		mapboxgl: mapboxgl
	});
	$(document).ready(function (e) {
	if ('@Model.objInfo.Latitude' != null && '@Model.objInfo.Latitude' != "" && '@Model.objInfo.Longitude' != null && '@Model.objInfo.Longitude' != "") {
			var lat = parseFloat(('@Model.objInfo.Latitude').replace(",", "."));
			var lng = parseFloat(('@Model.objInfo.Longitude').replace(",", "."));
			map.setCenter({ lng: lng, lat: lat });
			map.setZoom(8);
			geocoder.mapMarker = new mapboxgl.Marker({
				color: 'orange',
				draggable: true
			})
				.setLngLat([lng, lat])
				.addTo(map);
		}
	})
	map.addControl(geocoder, 'top-left');
	map.addControl(new mapboxgl.NavigationControl(), 'top-left');
	$(".mapboxgl-ctrl-geocoder--input").attr("placeholder", "Tìm kiếm");
</script>
<script type="text/javascript">
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
	jQuery(function ($) {
		var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition: true,
			scalePhotos: true,
			scrolling: false,
			previous: '<i class="ace-icon fa fa-arrow-left" ></i>',
			next: '<i class="ace-icon fa fa-arrow-right" ></i> ',
			close: '&times;',
			current: '{current} of {total}',
			maxWidth: '600px',
			maxHeight: '400px',
			onOpen: function () {
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed: function () {
				document.body.style.overflow = $overflow;
			},
			onComplete: function () {
				$.colorbox.resize();
			}
		};

		$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);

	})
			@*for (var i = 0; i < @Model.objInfo.Floor; i++) {
				var randomColor = getRandomColor();
				var idclobk = ".floor-" + i;
				$(idclobk).css("background-color", randomColor);
			}
			if ((@Model.objInfo.NumberOfRoom <= 4)) {
				$(".blockRoom").css("width", "50%");
			}
			else if ((@Model.objInfo.NumberOfRoom == 5 || @Model.objInfo.NumberOfRoom == 6 || @Model.objInfo.NumberOfRoom == 9)) {
				$(".blockRoom").css("width", "33.33%");
			}
			else if ((@Model.objInfo.NumberOfRoom == 7 || @Model.objInfo.NumberOfRoom == 8 || (@Model.objInfo.NumberOfRoom >= 10 && @Model.objInfo.NumberOfRoom <= 12) || @Model.objInfo.NumberOfRoom == 16)) {
				$(".blockRoom").css("width", "25%");
			}
			else if (((@Model.objInfo.NumberOfRoom >= 13 && @Model.objInfo.NumberOfRoom <= 15))) {
				$(".blockRoom").css("width", "20%");
			}*@
</script>