﻿
@using Nami.Web.Models;
@model BuildingInfoViewModel
@{
	var dientichphong = Model.objInfo.ChieuDaiRoom * Model.objInfo.ChieuRongRoom;
}
<div class="modal-dialog" style="z-index: 1000;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" onclick="CloseDetailBuilding()">&times;</button>
			<div class="center">
				<h4 class="modal-title">Thông tin nhà/tòa nhà trọ</h4>
			</div>
		</div>
		<div class="modal-body">
			<div class="tabbable">
				<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
					<li class="active">
						<a data-toggle="tab" href="#CompanyInfo" aria-expanded="true">Thông tin khu trọ/nhà trọ</a>
					</li>
					<li class="">
						<a data-toggle="tab" href="#Chat" aria-expanded="true">Trao đổi thông tin với chủ nhà trọ</a>
					</li>
					<li class="">
						<a data-toggle="tab" href="#Agreement" aria-expanded="true">Yêu cầu ký hợp đồng</a>
					</li>
				</ul>
				<div class="tab-content">

					<div id="CompanyInfo" class="tab-pane active">
						<table class="table-info table100">
							<tr>
								<td class="labelData labelDataTitle" colspan="4"><strong>Thông tin hồ sơ khu trọ/nhà trọ</strong></td>
							</tr>
							<tr>
								<td class="labelData">Tên khu trọ/nhà trọ</td>
								<td>@Model.objInfo.BuildingsName</td>
								@*<td colspan="2" rowspan="5">
										<div id='mapdetail' style='width: 350px; height: 200px;'></div>
									</td>*@
							</tr>
							<tr><td class="labelData">Tầng</td><td>@Model.objInfo.Floor</td></tr>
							<tr><td class="labelData">Phòng</td><td>@Model.objInfo.NumberOfRoom</td></tr>
							<tr><td class="labelData">Diện tích (1 phòng)</td><td>@dientichphong</td></tr>
							<tr><td class="labelData">Số lượng người có thể chứa (1 phòng)</td><td>@Model.objInfo.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @Model.objInfo.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i></td></tr>
							<tr>
								<td class="labelData">Ảnh phòng</td>
								<td colspan="3">
									@if (Model.imageList.Any())
									{
										<ul class="ace-thumbnails clearfix">
											@foreach (var item in Model.imageList)
											{
												<li>
													<a href="/@item.ImageUrl" data-rel="colorbox">
														<img width="150" height="150" alt="150x150" src="/@item.ImageUrl" onerror="this.src = '/assets/images/notfoundimage.png'" />
														<div class="text">
															<div class="inner">Xem chi tiết</div>
														</div>
													</a>
												</li>
											}
										</ul>
									}
									else
									{
										<i>Không có dữ liệu ảnh</i>
									}
								</td>
							</tr>
							<tr>
								<td class="labelData">Mô tả</td>
								<td colspan="3">
									@Model.objInfo.Description
								</td>
							</tr>
						</table>
					</div>

					<div id="Chat" class="tab-pane">
						<div id="ChatBody">

							@using (Ajax.BeginForm("GetDataChatBuilding", "EndUserPersonalInfo", new AjaxOptions()
							{
								HttpMethod = "POST",
								OnFailure = "AjaxFormError",
								OnSuccess = "GetDataChatSuccess",
							}, new { id = "createBuildingsInfoForm" }))
							{
								@Html.AntiForgeryToken()
								@Html.HiddenFor(x => x.objInfo.Id)
								<div id="ChatItem" style="height: 280px; overflow: scroll;" class="row">
									@if (Model.listComment != null && Model.listComment.Any())
									{
										foreach (var item in Model.listComment)
										{
											if (item.PortUserId != Model.CurrentUserId)
											{
									<div id="ItemChatItemParent" class="col-sm-12" style="display:flex;margin-bottom: 15px;">
										<div class="box-message-1">
											<div class="box-message-ava">
												<img src="/assets/images/avatars/userNew.png" />
											</div>
										</div>
										<div class="box-message-content">
											<div class="message-send-2">
												<span>@item.Comments</span>
											</div>
											<span>
												<i class="fa fa-clock-o"></i>
												@string.Format("{0: dd/MM/yyyy}", item.CreatedDate)
											</span>
										</div>
									</div>
												<div class="clearBoth"></div>
											}
											else
											{
												<div id="ItemChatItemParent" class="col-sm-12" style="display:flex;margin-bottom: 15px;">
													<div class="box-message-1">
														<div class="box-message-ava">
															<img src="/assets/images/avatars/userNew.png" />
														</div>
													</div>
													<div class="box-message-content">
														<div class="message-send-2" style="color: white;background-color: #3498db;">
															<span>@item.Comments</span>
														</div>
														<span>
															<i class="fa fa-clock-o"></i>
															@string.Format("{0: dd/MM/yyyy}", item.CreatedDate)
														</span>
													</div>
												</div>
												<div class="clearBoth"></div>
											}
										}
									}
								</div>
								<div id="ChatInput">
									@Html.TextAreaFor(m => m.objComment.Comments, 4, 3, new { @class = "form-control" })
									<button type="submit" class="btn btn-sm btn-info" id="submit"><span>Gửi tin nhắn</span></button>
								</div>
							}
						</div>
					</div>
					<div id="Agreement" class="tab-pane">

					</div>
				</div>
			</div>
			<div class="well well-sm">
				<div class="createTime">
					<h6>Khởi tạo lúc: <b>@Model.objInfo.CreatedDate</b>, bởi <a>@Model.objInfo.CreatedBy</a></h6>
				</div>
				<div class="updateTime">
					<h6>Thay đổi lần cuối lúc: <b>@Model.objInfo.UpdatedDate</b>, bởi <a>@Model.objInfo.UpdatedBy</a></h6>
				</div>
			</div>
		</div>

		<div class="modal-footer center">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal" onclick="CloseDetailBuilding()">Đóng</button>
		</div>
	</div>
</div>
<script>
	function GetDataChatSuccess(rs) {
		var str = "";
		if (rs.listComment != null && rs.listComment.length != 0) {
			for (var i = 0; i < rs.listComment.length; i++) {
				if (rs.listComment[i].PortUserId != '@Model.CurrentUserId')
				{
					str += `<div id="ItemChatItemParent" class="col-sm-12" style="display:flex;margin-bottom: 15px;">
													<div class="box-message-1">
														<div class="box-message-ava">
															<img src="/assets/images/avatars/userNew.png" />
														</div>
													</div>
													<div class="box-message-content">
														<div class="message-send-2">
															<span>${rs.listComment[i].Comments}</span>
														</div>
														<span>
															<i class="fa fa-clock-o"></i>
															${ToDate(rs.listComment[i].CreatedDate)}
														</span>
													</div>
												</div>
												<div class="clearBoth"></div>`
					}
											else
				{
					str += `<div id="ItemChatItemParent" class="col-sm-12" style="display:flex;margin-bottom: 15px;">
													<div class="box-message-1">
														<div class="box-message-ava">
															<img src="/assets/images/avatars/userNew.png" />
														</div>
													</div>
													<div class="box-message-content">
														<div class="message-send-2" style="color: white;background-color: #3498db;">
															<span>${rs.listComment[i].Comments}</span>
														</div>
														<span>
															<i class="fa fa-clock-o"></i>
															${ToDate(rs.listComment[i].CreatedDate)}
														</span>
													</div>
												</div>
												<div class="clearBoth"></div>`
				}
			}
		}
		else {
			str += "<span>Không có dữ liệu</span>"
		}
		$('#ChatItem').html(str);
	}
</script>
<script type="text/javascript">
	jQuery(function ($) {
		var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition: true,
			scalePhotos: true,
			scrolling: false,
			previous: '<i class="ace-icon fa fa-arrow-left" ></i>',
			next: '<i class="ace-icon fa fa-arrow-right" ></i> ',
			close: '&times;',
			current: '{current} of {total}',
			maxWidth: '600px',
			maxHeight: '400px',
			onOpen: function () {
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed: function () {
				document.body.style.overflow = $overflow;
			},
			onComplete: function () {
				$.colorbox.resize();
			}
		};

		$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);

	})
</script>