﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number;
@using Nami.Web.Core;
@using CommonHelper.String;
@using Newtonsoft.Json;
@model EndUserPersonalCreateAgreementViewModel
@{
	var listBulding = Html.Raw(JsonConvert.SerializeObject(Model.ListRoom));
}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js"></script>
<link rel="stylesheet"
	  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css"
	  type="text/css" />
<div class="row">
	<div class="col-sm-12" style="height: 300px;margin-bottom: 15px;">
		<div id='map' style='width: 97%;'></div>
	</div>
	<div class="col-sm-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">Tên phòng trọ</th>
					<th scope="col">Địa chỉ</th>
					<th scope="col">Diện tích</th>
					<th scope="col">Số lượng người ở (Có thể)</th>
					<th scope="col">Giá</th>
					<th scope="col">Ngày đăng tin</th>
					<th scope="col">Tác vụ</th>
				</tr>
			</thead>
			<tbody>
				@if (Model.ListRoom != null && Model.ListRoom.Any())
				{
					foreach (var item in Model.ListRoom)
					{
						<tr>
							<td><b>@item.RoomName</b></td>
							<td>@item.Address</td>
							<td>@item.DienTich</td>
							<td>@item.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i>(Người lớn) x @item.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i>(Trẻ con)</td>
							<td><span class="txt-number">@item.Price</span></td>
							<td>@string.Format("{0:dd/MM/yyyy}", item.StartDate) - @string.Format("{0:dd/MM/yyyy}", item.EndDate)</td>
							<td>
								<div class="dropdown">
									<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; background-color:#0072ce;">
										Thao tác
									</button>
									<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
										<div style="padding: 5px;"><a class="dropdown-item" href="/EndUserPersonalInfo/DetailRoom?id=@item.Id" style="color:#3498db;"><i class="fa fa-user"></i> Thông tin chi tiết</a></div>
										<div style="padding: 5px;"><a class="dropdown-item" href="/EndUserPersonalInfo/DangKyLamHopDong?id=@item.Id" style="color:#3498db;"><i class="fa fa-user"></i> Đăng ký làm hợp đồng</a></div>
									</div>
								</div>
							</td>
						</tr>
					}
				}
				else
				{
					<tr><td colspan="8" class="text-center text-danger">Không có dữ liệu</td></tr>
				}
			</tbody>
		</table>
	</div>
</div>
<script>
	var listBulding = eval(@listBulding);
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });

	var dataProvince = {
		"type": "FeatureCollection",
		"features": []
	};
	if (listBulding != null) {
		for (var i = 0; i < listBulding.length; i++) {
			dataProvince.features[i] = {
				"type": "Feature",
				"properties": {
					"message": listBulding[i].BuildingsName,
					"description": "<strong style='color:#428BCA;'>" + listBulding[i].BuildingsName + "</strong><br/><span><b>Thông tin:</b> " + listBulding[i].Description + "</span>" + "<br/><span><b>Địa chỉ:</b> " + listBulding[i].Address + "</span>",
				},
				"geometry": {
					"type": "Point",
					"coordinates": [listBulding[i].Longitude, listBulding[i].Latitude]
				}
			}
		}
	}
	mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.addControl(new mapboxgl.NavigationControl());

	var directions = new MapboxDirections({
		accessToken: mapboxgl.accessToken
	});
	map.addControl(directions, 'top-left');
	$('.mapboxgl-ctrl-top-left').css('display', 'none');

	map.on('load', function () {
		map.loadImage('/Content/MapIcon/universityround.png', function (error, image) {
			map.addImage('BuildingIcon', image);
		});
		map.addSource("places", {
			"type": "geojson",
			"data": dataProvince
		});
		map.addLayer({
			"id": "poi-labels",
			"type": "symbol",
			"source": "places",
			"layout": {
				"text-field": ["get", "message"],
				"text-size": 10,
				"text-variable-anchor": ["top", "bottom", "left", "right"],
				"text-radial-offset": 0.5,
				"text-justify": "auto",
				"icon-image": "BuildingIcon",
				"icon-size": 0.4,
				"text-max-width": 8,
			},
			"paint": {
				"text-color": "#c0392b"
			}
		});
	});
	map.on('click', 'poi-labels', function (e) {
		var coordinates = e.features[0].geometry.coordinates;
		var description = e.features[0].properties.description;
		while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
			coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
		}
		map.flyTo({
			center: coordinates,
			zoom: 8
		});
		new mapboxgl.Popup()
			.setLngLat(coordinates)
			.setHTML(description)
			.addTo(map);
		if (navigator.geolocation) {
			setTimeout(function () {
				navigator.geolocation.getCurrentPosition(showPosition);
			}, 3000);
		} else {
			x.innerHTML = "Geolocation is not supported by this browser.";
		}
		directions.setDestination(coordinates);
		function showPosition(position) {
			console.log([position.coords.longitude, position.coords.latitude], coordinates, position);
			directions.setOrigin([position.coords.longitude, position.coords.latitude]);
		}
	});
</script>