﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model EndUserPersonalAgreementViewModel
@{
	/**/

	ViewBag.Title = "Quản lý thông tin hợp đồng";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Quản lý thông tin hợp đồng";
	ViewBag.HelpButton = false;
}
<!-- Add IntroJs styles -->
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
}

<div class="col-sm-12">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Thông tin về danh sách các hợp đồng nhà - phòng trọ của bạn! ">
		<div class="xdl-label">Danh sách hợp đồng</div>
		<div class="scrollbar-2">
			<table class="table table-hover xdl-table-noborder">
				<thead>
					<tr>
						<th scope="col">Tên hợp đồng</th>
						<th scope="col">Loại</th>
						<th scope="col">Thời hạn hợp đồng</th>
						<th scope="col">Tác vụ</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.objInfo.Count >= 1)
					{
						foreach (var item in Model.objInfo)
						{
							<tr>
								<td scope="row">
									<div>
										<div class="icon-avata inline">
											<img src="" alt="Alternate Text" onerror="this.src = '/assets/images/notfoundimage.png'" />
										</div>
										<div class="inline">
											@if (item.RoomsId != null && item.BuildingsId == null)
											{
												<a href="~/EndUserInfo/AppDetail/@item.Id"><p class="tempname-row no-bottom-margin">Hợp đồng #@item.Id</p></a>
												<span class="objname-row ">Tên nhà/khu trọ: @item.Name</span><br />
												<span class="objname-row ">Chủ sở hữu: @item.TenChuSoHuu</span><br />
												<span class="badge" style="background-color: #2ecc71; color: white">@item.Price VNĐ</span>
											}
											else if (item.RoomsId == null && item.BuildingsId != null)
											{
												<a href="~/EndUserInfo/AppDetail/@item.Id"><p class="tempname-row no-bottom-margin">Hợp đồng #@item.Id</p></a>
												<span class="objname-row ">Tên phòng trọ: @item.Name</span><br />
												<span class="objname-row ">Chủ sở hữu: @item.TenChuSoHuu</span><br />
												<span class="badge" style="background-color: #2ecc71; color: white">@item.Price VNĐ</span>
											}
										</div>
									</div>
								</td>
								@if (item.RoomsId != null && item.BuildingsId == null)
								{
									<td>
										<span class="badge" style="background-color: #3498db; color: white">Tòa nhà / Khu nhà</span>
									</td>
								}
								else if (item.RoomsId == null && item.BuildingsId != null)
								{
									<td>
										<span class="badge" style="background-color: #9b59b6; color: white">Phòng trọ</span>
									</td>
								}
								@if (item.DateStart != null)
								{
									<td>
										<i>Bắt đầu từ: @string.Format("{0:dd/MM/yyyy}", item.DateStart) <br />Đến: @string.Format("{0:dd/MM/yyyy}", item.DateEnd)</i><br />
										@{
											var CurrentDateTime2 = DateTime.Now;
											if (CurrentDateTime2 > item.DateEnd)
											{
												<span class="badge" style="background-color: #e74c3c; color: white">Hết hạn hợp đồng</span>
											}
										}
									</td>
								}
								else
								{
									<td>N/A</td>
								}
								<td>
									<div class="dropdown">
										<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; background-color:#0072ce;">
											Thao tác
										</button>
										<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
											<div style="padding: 5px;"><a class="dropdown-item" href="#" style="color:#3498db;"><i class="fa fa-user"></i> Thông tin chi tiết</a></div>
											@{
												var CurrentDateTime = DateTime.Now;
												if (CurrentDateTime > item.DateEnd)
												{
													<div style="padding: 5px;"><a class="dropdown-item" href="#" style="color:#f1c40f;"><i class="fa fa-calendar"></i> Gia hạn</a></div>
													<div style="padding: 5px;"><a class="dropdown-item" href="#" style="color:#2ecc71;"><i class="fa fa-credit-card"></i> Thanh toán</a></div>
												}
											}
										</div>
									</div>
								</td>
							</tr>
						}
					}
					@if (Model.objInfo.Count == 0 || Model.objInfo == null)
					{
						<tr><td colspan="3" class="text-center text-danger">Không có dữ liệu</td></tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
	$('#Agreement').html(`
		<li class="end-user-nav-li li-parrent block" id="Agreement">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-file-o" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor">
						Quản lý hợp đồng
						<i class="fa fa-angle-down arrow"></i>
					</a>
				</div>
				<ul class="submenu">
					<li class="end-user-nav-li" id="IndexAgreement" style="background-color: #3498db;"><a href="/EndUserPersonalInfo/IndexAgreement" style="color:white;">Tất cả hợp đồng</a></li>
					<li class="end-user-nav-li" id="CreateAgreement"><a href="/EndUserPersonalInfo/CreateAgreement">Tạo mới hợp đồng</a></li>
				</ul>
			</li>
	`)

</script>