﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model EndUserPersonalDashboardViewModel
@{
	/**/

	ViewBag.Title = "Quản lý thông tin người dùng";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Thông tin chính";
	ViewBag.HelpButton = false;
}
<!-- Add IntroJs styles -->
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
}

<div class="eu-dashboard">
	<div class="row" data-step="3" data-intro="Thông tin số lượng hợp đồng, nhà, phòng trọ, hợp đồng đã ký và đang chờ ký">
		<div class="eu-dashboard-shortcut col-sm-12 pd0">
			<a href="/EndUserPersonalInfo/IndexAgreement">
				<div class="col-sm-4">
					<div class="card padding-20 statistics-card xdl-wrapper-shadow">
						<div class="card-top-wrapper personal rowflex bg-simple-c-blue">
							<div class="col-auto">
								<div class=" card-top-icon simple-c-blue">
									<i class="fa fa-file-o icon-web"></i>
								</div>
							</div>
							<div class="col">
								<div class="card-top-content">
									<div class="card-top-content-label">Số lượng hợp đồng</div>
									<div class="card-top-content-amount">(Có @((Model.ListAgreement != null && Model.ListAgreement.Any()) ? Model.ListAgreement.Count() : 0) hợp đồng)</div>
									<div class="card-top-content-description">Bạn có thể thực hiện thông báo các website thương mại điện tử bán hàng</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</a>
			<a href="/EndUserPersonalInfo/IndexRoomBuilding">
				<div class="col-sm-4">
					<div class="card padding-20 statistics-card xdl-wrapper-shadow">
						<div class="card-top-wrapper personal rowflex bg-simple-c-blue">
							<div class="col-auto">
								<div class=" card-top-icon simple-c-blue">
									<i class="fa fa-building"></i>
								</div>
							</div>
							<div class="col">
								<div class="card-top-content">
									<div class="card-top-content-label">Phòng trọ / nhà trọ đang thuê</div>
									<div class="card-top-content-amount">(Có tất cả  @((Model.ListAgreement != null && Model.ListAgreement.Any()) ? Model.ListAgreement.Count() : 0) phòng / nhà trọ)</div>
									<div class="card-top-content-description">Quản lý thông tin phản ánh của người tiêu dùng về Website và ứng dụng thương mại điện tử</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<a href="/EndUserPersonalInfo/IndexMessage">
				<div class="col-sm-4">
					<div class="card padding-20 statistics-card xdl-wrapper-shadow">
						<div class="card-top-wrapper personal rowflex bg-simple-c-blue">
							<div class="col-auto">
								<div class=" card-top-icon simple-c-blue">
									<i class="fa fa-comment-o"></i>
								</div>
							</div>
							<div class="col">
								<div class="card-top-content">
									<div class="card-top-content-label">Tin nhắn đến</div>
									<div class="card-top-content-amount">(Đang có 0 tin nhắn đến)</div>
									<div class="card-top-content-description">Quản lý thông tin phản ánh của người tiêu dùng về Website và ứng dụng thương mại điện tử</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>


	<div class="row">
		<div class="col-sm-4">
			<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow" data-step="4" data-intro="Thông tin các hợp đồng">
				<div class="xdl-label">Thông tin các hợp đồng</div>
				<div class="height-300 scrollbar-2" id="scr-div-mess">
					@if (Model.ListAgreement.Count != 0)
					{
						foreach (var message in Model.ListAgreement)
						{

							<div class="xdl-task-item">
								<div class="column-color" style="background-color: #3498db;"></div>
								<div class="xdl-tablecell-middle">
									<div class="xdl-temp-icon">
										<img src="~/Content/EndUser/img/task.png" />
									</div>
								</div>
								<a href="/" name="@("Hợp đồng-#" + message.Id)" class="">
									<div class="col xdl-task-content">
										<div class="color-text-grey-bold task-content">Hợp đồng - #@message.Id</div>
										@if (message.DateEnd != null)
										{
											<p class="timestamp color-text-warning" style="font-size: 12px;"><i class="glyphicon glyphicon-time"></i> Hạn hợp đồng: @string.Format("{0:dd/MM/yyyy}", message.DateEnd)</p>
										}
									</div>
								</a>
								<div class="xdl-temp-deadline ">

									@if (message.DateEnd != null)
									{
										<div class="xdl-temp-wrap xdl-wrapper-shadow">
											@{
												TimeSpan timeSpan = new TimeSpan();
												DateTime dtStart = DateTime.Now;
												DateTime dtEnd = message.DateEnd.GetValueOrDefault();
											}



											@if (dtStart > dtEnd)
											{
												timeSpan = dtStart.Subtract(dtEnd);
												var timeResult = "";
												if (timeSpan.TotalHours < 24)
												{
													timeResult = timeSpan.TotalHours.ToInt() + " giờ";
												}
												else
												{
													timeResult = timeSpan.TotalDays.ToInt() + " ngày";
												}
												<div class="xdl-temp-deadline-footer xdl-temp-deadline-outdate"><p>Quá hạn</p></div>
												<div class="xdl-temp-deadline-counter"><p>@string.Format("{0:dd/MM/yyyy}", @timeResult)</p></div>
											}
											else
											{
												timeSpan = dtEnd.Subtract(dtStart);
												var timeResult = "";
												if (timeSpan.TotalHours < 24)
												{
													timeResult = timeSpan.TotalHours.ToInt() + " giờ";
												}
												else
												{
													timeResult = timeSpan.TotalDays.ToInt() + " ngày";
												}
												<div class="xdl-temp-deadline-footer xdl-temp-deadline-indate"><p>Còn lại</p></div>
												<div class="xdl-temp-deadline-counter"><p>@string.Format("{0:dd/MM/yyyy}", @timeResult)</p></div>
											}
										</div>
									}


								</div>
								@*<div class="xdl-tablecell-middle xdl-cell-middle-button">
										<button type="button" onclick="DeleteTask(@message.Id)">
											<i class="glyphicon glyphicon-trash"></i>
										</button>

									</div>*@
							</div>

						}
					}
					@if (Model.ListAgreement == null || Model.ListAgreement.Count == 0)
					{
						<p class="text-center text-danger">Bạn không có hớp đồng nào</p>
					}
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="5" data-intro="Thông tin về danh sách các nhà - phòng trọ của bạn! ">
				<div class="xdl-label">Danh sách nhà - phòng trọ</div>
				<div class="height-300 scrollbar-2">
					<table class="table table-hover xdl-table-noborder">
						<thead>
							<tr>
								<th scope="col">Tên phòng/nhà trọ</th>
								<th scope="col">Loại</th>
								<th scope="col">Thời hạn hợp đồng</th>
							</tr>
						</thead>
						<tbody>
							@if (Model.ListAgreement.Count >= 1)
							{
								foreach (var item in Model.ListAgreement)
								{
									<tr>
										<td scope="row">
											<div>
												<div class="icon-avata inline">
													<img src="" alt="Alternate Text" onerror="this.src = '/assets/images/notfoundimage.png'" />
												</div>
												<div class="inline">
													@if (item.RoomsId != null && item.BuildingsId == null)
													{
														<a href="~/EndUserInfo/AppDetail/@item.Id"><p class="tempname-row no-bottom-margin">@item.Name</p></a>
														<span class="objname-row ">@item.TenChuSoHuu</span><br />
														<span class="badge" style="background-color: #2ecc71; color: #ecf0f1">@item.Price VNĐ</span>
													}
													else if (item.RoomsId == null && item.BuildingsId != null)
													{
														<a href="~/EndUserInfo/AppDetail/@item.Id"><p class="tempname-row no-bottom-margin">@item.Name</p></a>
														<span class="objname-row ">@item.TenChuSoHuu</span><br />
														<span class="badge" style="background-color: #2ecc71; color: #ecf0f1">@item.Price VNĐ</span>
													}
												</div>
											</div>
										</td>
										@if (item.RoomsId != null && item.BuildingsId == null)
										{
											<td>
												<span class="badge" style="background-color: #3498db; color: #ecf0f1">Tòa nhà/Khu nhà</span>
											</td>
										}
										else if (item.RoomsId == null && item.BuildingsId != null)
										{
											<td>
												<span class="badge" style="background-color: #9b59b6; color: #ecf0f1">Phòng trọ</span>
											</td>
										}
										@if (item.CreatedDate != null)
										{
											<td><i>Bắt đầu từ: @string.Format("{0:dd/MM/yyyy}", item.DateStart) <br />Đến: @string.Format("{0:dd/MM/yyyy}", item.DateEnd)</i></td>
										}
										else
										{
											<td>N/A</td>
										}
									</tr>
								}
							}
							@if (Model.ListAgreement.Count == 0 || Model.ListAgreement == null)
							{
								<tr><td colspan="3" class="text-center text-danger">Không có dữ liệu</td></tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#TrangChinh').css('color', '#c0392b');
</script>