﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model IndexOrderVM
@{
	ViewBag.Title = "Danh sách giao dịch";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Danh sách giao dịch";
	ViewBag.HelpButton = false;
}
<!-- Add IntroJs styles -->
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
}

<div class="col-sm-12">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Danh sách giao dịch! ">
		<div class="xdl-label">Danh sách giao dịch</div>
		<div class="scrollbar-2">
			<table class="table table-hover xdl-table-noborder">
				<thead>
					<tr>
						<th scope="col">Id giao dịch</th>
						<th scope="col">Số tiền</th>
						<th scope="col">Nội dung giao dịch</th>
						<th scope="col">Mã ngân hàng</th>
						<th scope="col">Loại giao dịch</th>
						<th scope="col">Nhà trọ/khu trọ/phòng trọ</th>
						<th scope="col">Loại</th>
						<th scope="col">Trạng thái thanh toán</th>
						<th scope="col">Ngày tạo</th>
						<th scope="col">Tác vụ</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.ListOrder.ListItem != null && Model.ListOrder.ListItem.Any())
					{
						foreach (var item in Model.ListOrder.ListItem)
						{
					<tr>
						<td>@item.Id</td>
						<td class="txt-number">@item.Amount</td>
						<td>@item.OrderDescription</td>
						<td>@item.BankCodeName</td>
						<td><span class='label' style="background-color:@item.OrderTypeBGColor">@item.OrderTypeName</span></td>
						@if (item.ItemType == ItemTypeConstant.Building)
						{
							<td><a href="/EndUserPersonalInfo/DetailBuilding?id=@item.IdItem">@item.ItemName</a></td>
						}
						else if (item.ItemType == ItemTypeConstant.Room)
						{
							<td><a href="/EndUserPersonalInfo/DetailRoom?id=@item.IdItem">@item.ItemName</a></td>
						}
						<td>@item.ItemTypeName</td>
						@if (item.TrangThaiThanhToan == true)
						{
							<td><span class='green'>Đã được xác nhận</span></td>
						}
						else if (item.TrangThaiThanhToan == false)
						{
							<td><span class='red'>Chưa được xác nhận</span></td>
						}
						<td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; background-color:#0072ce;">
									Thao tác
								</button>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
									<div style="padding: 5px;"><a class="dropdown-item" href="/EndUserPersonalInfo/DetailOrder?id=@item.Id" style="color:#3498db;"><i class="fa fa-user"></i> Thông tin chi tiết</a></div>
								</div>
							</div>
						</td>
					</tr>
						}
					}
					else
					{
						<tr><td colspan="8" class="text-center text-danger">Không có dữ liệu</td></tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
	$('#OrderInfo').html(`
					<li class="end-user-nav-li li-parrent block" id="Agreement">
							<div class="aside-menu">
								<div class="icon-menu-sub">
									<i class="fa fa-file-o" aria-hidden="true"></i>
								</div>

								<a class="li-parrent-anchor">
									Quản lý thông tin giao dịch
									<i class="fa fa-angle-down arrow"></i>
								</a>
							</div>
							<ul class="submenu">
								<li class="end-user-nav-li" id="IndexOrder"style="background-color: #3498db;"><a href="/EndUserPersonalInfo/IndexOrder"style="color:white;">Danh sách giao dịch</a></li>
							</ul>
						</li>
				`)
</script>