﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model EndUserPersonalRoomAndBuildingViewModel
@{
	ViewBag.Title = "Quản lý thông tin phòng/khu/nhà trọ";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Quản lý thông tin phòng/khu/nhà trọ";
	ViewBag.HelpButton = false;
}
<!-- Add IntroJs styles -->
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
}

<div class="col-sm-12">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Thông tin về danh sách phòng/khu/nhà trọ! ">
		<div class="xdl-label">Danh sách phòng/khu/nhà trọ</div>
		<div class="scrollbar-2">
			<table class="table table-hover xdl-table-noborder">
				<thead>
					<tr>
						<th scope="col">Tên phòng/nhà trọ</th>
						<th scope="col">Loại</th>
						<th scope="col">Ngày tạo</th>
						<th scope="col">Tác vụ</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.listHopDongDangKy != null && Model.listHopDongDangKy.Any())
					{
						foreach (var item in Model.listHopDongDangKy)
						{
							<tr>
								<td><a href="@item.ItemUrl">@item.ItemName</a></td>
								<td>@item.ItemTypeName</td>
								<td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
								<td>
									<div class="dropdown">
										<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; background-color:#0072ce;">
											Thao tác
										</button>
										<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
											<div style="padding: 5px;"><a class="dropdown-item button-xoa" style="color:red; cursor: pointer;" id="@item.Id"><i class="fa fa-file"></i> Xóa đăng ký</a></div>
										</div>
									</div>
								</td>
							</tr>
						}
					}
					else
					{
						<tr><td colspan="4" class="text-center text-danger">Không có dữ liệu</td></tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	$('#RoomBuilding').html(`
		<li class="end-user-nav-li li-parrent block">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-building" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor">
						Quản lý nhà/phòng trọ
						<i class="fa fa-angle-down arrow"></i>
					</a>
				</div>
				<ul class="submenu">
					<li class="end-user-nav-li" id="CreateXemNha"><a href="~/EndUserPersonalInfo/CreateXemNha">Tạo mới đăng ký xem nhà/phòng trọ</a></li>
					<li class="end-user-nav-li" id="IndexXemNha"><a href="~/EndUserPersonalInfo/IndexXemNha">Danh sách xem nhà/phòng trọ</a></li>
					<li class="end-user-nav-li" id="IndexRoomBuilding" style="background-color: #3498db;"><a href="~/EndUserPersonalInfo/IndexRoomBuilding" style="color:white;">Danh sách nhà/phòng trọ đã đăng ký làm hợp đồng</a></li>
				</ul>
			</li>
	`)
</script>