﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model EndUserPersonalMessageController
@{
	/**/

	ViewBag.Title = "Quản lý trao đổi thông tin";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Quản lý trao đổi thông tin";
	ViewBag.HelpButton = false;
}
<!-- Add IntroJs styles -->
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
}

<script>
	$('#chat').css('color', '#c0392b');
</script>