﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model IndexHopDongDaKyVM
@{
	ViewBag.Title = "Danh sách hợp đồng đã ký";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Danh sách hợp đồng đã ký";
	ViewBag.HelpButton = false;
}
<!-- Add IntroJs styles -->
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
}

<div class="col-sm-12">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Danh sách hợp đồng đã ký! ">
		<div class="xdl-label">Danh sách hợp đồng đã ký</div>
		<div class="scrollbar-2">
			<table class="table table-hover xdl-table-noborder">
				<thead>
					<tr>
						<th scope="col">Đối tượng làm hợp đồng</th>
						<th scope="col">Loại đối tượng</th>
						<th scope="col">Chủ nhà</th>
						<th scope="col">Tiền đặt cọc tháng đầu tiên</th>
						<th scope="col">Thời hạn hợp đồng</th>
						<th scope="col">Chi phí hàng tháng</th>
						<th scope="col">Ngày tạo</th>
						<th scope="col">Tác vụ</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.listHopDongDaKy != null && Model.listHopDongDaKy.Any())
					{
						foreach (var item in Model.listHopDongDaKy)
						{
					<tr>
						<td><a href="@item.ItemUrl">@item.ItemName</a></td>
						<td>@item.ItemTypeName</td>
						<td>@item.CreatedBy</td>
						<td class="txt-number">@item.DepositsMoney</td>
						<td>@string.Format("{0:dd/MM/yyyy}", item.DateStart)-@string.Format("{0:dd/MM/yyyy}", item.DateEnd)</td>
						<td class="txt-number">@item.PayPerMonth</td>
						<td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
						<td>
							<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white; background-color:#0072ce;">
									Thao tác
								</button>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
									<div style="padding: 5px;"><a class="dropdown-item" href="/EndUserPersonalInfo/DetailHopDong?id=@item.Id" style="color:#3498db;"><i class="fa fa-user"></i> Thông tin chi tiết</a></div>
								</div>
							</div>
						</td>
					</tr>
						}
					}
					else
					{
						<tr><td colspan="8" class="text-center text-danger">Không có dữ liệu</td></tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
	$('#Agreement').html(`
		<li class="end-user-nav-li li-parrent block" id="Agreement">
				<div class="aside-menu">
					<div class="icon-menu-sub">
						<i class="fa fa-file-o" aria-hidden="true"></i>
					</div>

					<a class="li-parrent-anchor">
						Quản lý hợp đồng
						<i class="fa fa-angle-down arrow"></i>
					</a>
				</div>
				<ul class="submenu">
					<li class="end-user-nav-li" id="CreateDangKyHopDong"><a href="/EndUserPersonalInfo/CreateDangKyHopDong">Tạo mới đăng ký làm hợp đồng</a></li>
					<li class="end-user-nav-li" id="IndexHopDong" style="background-color: #3498db;"><a href="/EndUserPersonalInfo/IndexHopDong"style="color:white;">Tất cả hợp đồng đã ký</a></li>
					<li class="end-user-nav-li" id="IndexMessage"><a href="/EndUserPersonalInfo/IndexMessage">Trao đổi thông tin, trò chuyện với chủ nhà</a></li>
				</ul>
			</li>
	`)
</script>