﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model ReturnVM
@{
	ViewBag.Title = "Thông tin trả về thanh toán";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Thông tin trả về thanh toán";
	ViewBag.HelpButton = false;
}
<!-- Add IntroJs styles -->
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
	<a onclick="BackButtonByParentUrl()" class="btn btn-primary btn-sm">Quay lại</a>
}
<div class="col-sm-12">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Thông tin trả về thanh toán! ">
		<div class="xdl-label">Thông tin trả về thanh toán</div>
		<div class="col-xs-8 col-sm-6 pricing-box" style="margin-left: 20%;">
			<div class="widget-box @(Model.checkSignature == true ? (Model.vnp_ResponseCode == "00" ? "widget-color-green" : "widget-color-red3") : "widget-color-orange")">
				@if (Model.OrderInfoDtoModel != null)
				{
					<div class="widget-header">
						<h5 class="widget-title bigger lighter">Thanh toán @Model.OrderInfoDtoModel.OrderTypeName</h5>
					</div>

					<div class="widget-body">
						<div class="widget-main">
							<ul class="list-unstyled spaced2">
								<li>
									<i class="ace-icon fa fa-info"></i>
									<b>@Model.DisplayMsg</b>
								</li>

								<li>
									<i class="ace-icon fa fa-minus  green"></i>
									<b>Id giao dịch:</b> <a href="/OrderInfoArea/OrderInfo/Detail?id=@Model.OrderInfoDtoModel.Id">@Model.OrderInfoDtoModel.Id</a>
								</li>

								<li>
									<i class="ace-icon fa fa-minus  green"></i>
									<b>Nội dung giao dịch:</b> @Model.OrderInfoDtoModel.OrderDescription
								</li>

								<li>
									<i class="ace-icon fa fa-minus  green"></i>
									<b>Ngân hàng:</b> @Model.OrderInfoDtoModel.BankCodeName
								</li>

								<li>
									<i class="ace-icon fa fa-minus  green"></i>
									<b>Loại giao dịch: </b> <span style="color:@Model.OrderInfoDtoModel.OrderTypeBGColor">@Model.OrderInfoDtoModel.OrderTypeName</span>
								</li>
								<li>
									<i class="ace-icon fa fa-minus  green"></i>
									<b>Loại:</b> @Model.OrderInfoDtoModel.ItemTypeName
								</li>

								<li>
									<i class="ace-icon fa fa-minus  green"></i>
									<b>Trạng thái thanh toán: </b>
									@if (Model.OrderInfoDtoModel.TrangThaiThanhToan == true)
									{
										<span class="green" style="color: green">Đã được xác nhận</span>
									}
									else
									{
										<span class="red">Chưa được xác nhân</span>
									}
								</li>
							</ul>

							<hr>
							<div class="price">
								VNĐ <span class="txt-number">@Model.OrderInfoDtoModel.Amount</span>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
</script>
