﻿@using Nami.Model.IdentityEntities;
@using Nami.Web.Models;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using CommonHelper.Number
@model ThanhToanVM
@{
	ViewBag.Title = "Tạo mới yêu cầu thanh toán";
	Layout = "~/Views/Shared/_Layout2.cshtml";
	ViewBag.PageHeader = "Tạo mới yêu cầu thanh toán";
	ViewBag.HelpButton = false;
}
<!-- Add IntroJs styles -->
@section ActionTopRight{
	<button class="btn btn-primary" href="javascript:void(0);" onclick="introJs().start()">Hướng dẫn sử dụng hệ thống</button>
	<a onclick="BackButtonByParentUrl()" class="btn btn-primary btn-sm">Quay lại</a>
}
@{
	var ListBanhCode = ViewBag.ListBanhCode as List<SelectListItem>;
}

<div class="col-sm-12">
	<div class="container-fluid xdl-wrapper-border5 xdl-wrapper-shadow " data-step="3" data-intro="Tạo mới yêu cầu thanh toán! ">
		<div class="xdl-label">Tạo mới yêu cầu thanh toán</div>
		@using (Ajax.BeginForm("ThanhToanPhiDangTin", "EndUserPersonalInfo", new AjaxOptions()
		{
			HttpMethod = "POST",
			OnFailure = "AjaxFormError",
			OnSuccess = "AjaxFormSuccess",
		}, new { id = "ThanhToanForm", enctype = "multipart/form-data" }))
		{
			@Html.HiddenFor(x => x.IdItem)
			@Html.HiddenFor(x => x.ItemType)
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label col-sm-2">Mã hợp đồng <span class="red">*</span></label>
					<div class="col-sm-10">
						@Model.IdItem
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label col-sm-2">Số tiền <span class="red">*</span></label>
					<div class="col-sm-10">
						@*@Html.TextBoxFor(m => m.Amount, new { @class = "form-control" })*@
						<input name="Amount" class="Amount form-control" id="Amount" value="@Model.Amount" min="0" step="10000" max="5000000000" />
						@Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label col-sm-2">Ngân hàng </label>
					<div class="col-sm-10">
						@Html.DropDownListFor(m => m.BankCode, ListBanhCode, "--Chọn ngân hàng--", new { @class = "form-control" })
						@Html.ValidationMessageFor(m => m.BankCode, "", new { @class = "text-danger" })
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group">
					<label class="control-label col-sm-2">Ngôn ngữ <span class="red">*</span></label>
					<div class="col-sm-10">
						<select class="form-control" name="Locale">
							<option value="vn">Tiếng Việt</option>
							<option value="en">English</option>
						</select>
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-primary" onclick="ThanhToanFunc()">Thanh toán</button>
		}
	</div>
</div>

<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
	$("#BankCode").select2();

	function AjaxFormSuccess(rs) {
		if (rs != null) {
			console.log(rs);
			location.href = rs;
		}
	}

	function ThanhToanFunc() {
		$("#ThanhToanForm").submit();
	}
</script>