@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.MapLocationInfoArea.Models

@model EditVM
@{ 

}
<div class="modal-dialog">
    @using (Ajax.BeginForm("Edit", "MapLocationInfo", new { @area = "MapLocationInfoArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "editMapLocationInfoForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Cập nhật Vị trí bản đồ</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
 			@Html.HiddenFor(x=>x.Id)
				<div class="form-group">
				<label class="control-label col-sm-4">Id khu trọ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.BuildingsId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.BuildingsId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Id phòng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.RoomsId, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.RoomsId, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Loại đối tượng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.ItemTypeCode, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.ItemTypeCode, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tọa độ X </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Xlocation, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Xlocation, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Tạo độ Y </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Ylocation, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Ylocation, "", new { @class = "text-danger" })
				</div>
				</div>

 

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>
<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
