@{
    ViewBag.Title = "Vị trí bản đồ";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Vị trí bản đồ";
    ViewBag.PageName = "Thông tin Vị trí bản đồ";
    ViewBag.ModuleCode = "MapLocationInfo_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.MapLocationInfoArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/MapLocationInfoArea/MapLocationInfo/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id khu trọ</td><td>@Model.objInfo.BuildingsId</td></tr>
<tr><td>Id phòng</td><td>@Model.objInfo.RoomsId</td></tr>
<tr><td>Loại đối tượng</td><td>@Model.objInfo.ItemTypeCode</td></tr>
<tr><td>Tọa độ X</td><td>@Model.objInfo.Xlocation</td></tr>
<tr><td>Tạo độ Y</td><td>@Model.objInfo.Ylocation</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
