@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.BDBieuDoArea.Models

@model CreateVM
@{

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "BDBieuDo", new { @area = "BDBieuDoArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createBDBieuDoForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới Quản lý biểu đồ</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-sm-4">Tên biểu đồ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Loại biểu đồ </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
				</div>
				</div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>




</script>
@Scripts.Render("~/bundles/jqueryval")
