@{
    ViewBag.Title = "Quản lý biểu đồ";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Quản lý biểu đồ";
    ViewBag.PageName = "Thông tin Quản lý biểu đồ";
    ViewBag.ModuleCode = "BDBieuDo_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.BDBieuDoArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/BDBieuDoArea/BDBieuDo/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Tên biểu đồ</td><td>@Model.objInfo.Name</td></tr>
<tr><td>Loại biểu đồ</td><td>@Model.objInfo.Type</td></tr>
<tr><td>Đã xóa hay chưa</td><td>@Model.objInfo.IsDelete</td></tr>
<tr><td>Ngày xóa</td><td>@Model.objInfo.DeleteTime</td></tr>
<tr><td>Id xóa</td><td>@Model.objInfo.DeleteId</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Id tạo</td><td>@Model.objInfo.CreatedID</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>
<tr><td>Id sửa</td><td>@Model.objInfo.UpdatedID</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
