@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.NotificationArea.Models

@model CreateVM
@{

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "Notification", new { @area = "NotificationArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createNotificationForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới Thông báo hệ thống</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
               
                    <div class="form-group">
                        <label class="control-label col-sm-4">Người gửi </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.FromUser, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.FromUser, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Người nhận </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.ToUser, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ToUser, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Nội dung <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Liên kết </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Link, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Link, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Loại </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Type, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>




</script>
@Scripts.Render("~/bundles/jqueryval")
