@{
    ViewBag.Title = "Thông báo hệ thống";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Thông báo hệ thống";
    ViewBag.PageName = "Danh sách Thông báo hệ thống";
    ViewBag.ModuleCode = "Notification_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.NotificationService.Dto;
@model PageListResultBO<NotificationDto>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
    @*<a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>*@
}
@Html.Partial("_SearchPartial")

<div id="tbl-Notification" class="hntbl-cover">
    <div class="hntbl-cover-tableScroll">
        <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th></th>
                    <th>Người gửi</th>
                    <th>Nội dung</th>
                    <th>Liên kết</th>
                    <th>Loại</th>

                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

    @section scripts{
        <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-Notification";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
				{
					isSort:true,
					nameModel:'Id',
					content: function (data) {
					return data.Id
				}
				},
				{
					isSort:true,
					nameModel:'FromUser',
					content: function (data) {
					return data.FromUserName
				}
				},
				{
					isSort:true,
					nameModel:'Message',
					content: function (data) {
					return data.Message
				}
				},
				{
					isSort:true,
					nameModel:'Link',
					content: function (data) {
					return data.Link
				}
				},
				{
					isSort:true,
					nameModel:'Type',
					content: function (data) {
					return data.Type
				}
				},

                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center dropdowntt",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;                           
                           result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/NotificationArea/Notification/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/NotificationArea/Notification/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-Notification").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
        </script>
    }
