﻿@using Nami.Service.Common

@model PageListResultBO<Nami.Model.Entities.Notification>

<a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <i class="ace-icon fa fa-bell icon-animated-bell"></i>
    <span class="badge badge-important">@Model.Count</span>
</a>

<ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
    <li class="dropdown-header">
        <i class="ace-icon fa fa-exclamation-triangle"></i>
        @Model.Count <span>Thông báo</span>
    </li>

    <li class="dropdown-content ace-scroll" style="position: relative;">

        <div class="scroll-content123" style="max-height: 200px;overflow-y:scroll;">
            <ul class="dropdown-menu dropdown-navbar navbar-pink">
                @foreach (var item in Model.ListItem)
                {
                    <li>
                        <a href="/NotificationArea/Notification/ReadNotification/@item.Id">
                            <div class="clearfix">
                                <span class="pull-left">
                                    <i class="btn btn-xs no-hover btn-pink fa fa-globe"></i>
                                    @item.Message
                                </span>
                                @{
                                    var timeSpan = (TimeSpan)(DateTime.Now - item.CreatedDate);
                                    if (timeSpan.TotalMinutes < 2)
                                    {
                                        <small class="pull-right"><i>Vừa xong</i></small>
                                    }
                                    else if (timeSpan.TotalMinutes < 60)
                                    {
                                        <small class="pull-right"><i>@Math.Round(timeSpan.TotalMinutes) phút trước</i></small>
                                    }
                                    else if (timeSpan.TotalHours < 24)
                                    {
                                        <small class="pull-right"><i>@Math.Round(timeSpan.TotalHours) giờ trước</i></small>
                                    }
                                    else
                                    {
                                        <small class="pull-right"><i>@string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.CreatedDate) </i></small>
                                    }

                                }

                            </div>

                        </a>
                    </li>
                }
                @if (!Model.ListItem.Any())
                {
                    <li>
                        <div class="clearfix">
                            <span class="pull-left">
                                Không có thông báo mới
                            </span>
                  
                        </div>

                    </li>
                }

            </ul>
        </div>
    </li>

    <li class="dropdown-footer">
        <a href="/NotificationArea/Notification">
            Xem tất cả
            <i class="ace-icon fa fa-arrow-right"></i>
        </a>
    </li>
</ul>
