@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.HistoryArea.Models

@model CreateVM
@{

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "History", new { @area = "HistoryArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createHistoryForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới Dữ liệu nhật ký</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Id Item <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.IdItem, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.IdItem, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Người dùng </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Loại item </label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.TypeItem, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TypeItem, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Ghi chú </label>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(m => m.Note, 4, 3, new { @class = "form-control resize-vertical" })
                            @Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Nội dung </label>
                        <div class="col-sm-8">
                            @Html.TextAreaFor(m => m.Comment, 4, 3, new { @class = "form-control resize-vertical" })
                            @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">tài khoản <span class="red">*</span></label>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.LogId, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.LogId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>

    CKEDITOR.replace('Comment');



</script>
@Scripts.Render("~/bundles/jqueryval")
