@{
    ViewBag.Title = "Dữ liệu nhật ký";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Dữ liệu nhật ký";
    ViewBag.PageName = "Thông tin Dữ liệu nhật ký";
    ViewBag.ModuleCode = "History_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.HistoryArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/HistoryArea/History/Index')" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
    <div class="col-sm-12">
        <table class="table-info">

            <tr><td>Id Item</td><td>@Model.objInfo.IdItem</td></tr>
            <tr><td>Người dùng</td><td>@Model.objInfo.Name</td></tr>
            <tr><td>Loại item</td><td>@Model.objInfo.TypeItem</td></tr>
            <tr><td>Ghi chú</td><td>@Model.objInfo.Note</td></tr>
            <tr><td>Nội dung</td><td>@Model.objInfo.Comment</td></tr>
            <tr><td>tài khoản</td><td>@Model.objInfo.LogId</td></tr>
            <tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
            <tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
            <tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
            <tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>

        </table>
    </div>

</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
