@{
	ViewBag.Title = "Dữ liệu nhật ký";
	Layout = "~/Views/Shared/_LayoutAce.cshtml";
	ViewBag.ModuleName = "Quản lý Dữ liệu nhật ký";
	ViewBag.PageName = "Danh sách Dữ liệu nhật ký";
	ViewBag.ModuleCode = "History_Index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.HistoryService.Dto;
@model PageListResultBO<HistoryDto>
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
	<a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
		Tìm kiếm
	</a>
	<a href="javascript:void(0)" onclick="CreateAction('/HistoryArea/History/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")

<div id="tbl-History" class="hntbl-cover">
    <div class="hntbl-cover-tableScroll">
        <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Id Item</th>
                    <th>Trạng thái đầu</th>
                    <th>Trạng thái cuối</th>
                    <th>Content</th>
                    <th>Loại item</th>
                    <th>Ghi chú</th>
                    <th>Nội dung</th>
                    <th>tài khoản</th>

                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

    @section scripts{
        <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-History";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },
				{
					isSort:true,
					nameModel:'IdItem',
					content: function (data) {
					return data.IdItem
				}
				},
				{
					isSort: true,
					nameModel: 'StatusBegin',
					content: function (data) {
						return data.StatusBegin
					}
				},
				{
					isSort: true,
					nameModel: 'StatusEnd',
					content: function (data) {
						return data.StatusEnd
					}
				},
				{
					isSort:true,
					nameModel:'Name',
					content: function (data) {
					return data.Name
				}
				},
				{
					isSort:true,
					nameModel:'TypeItem',
					content: function (data) {
					return data.TypeItem
				}
				},
				{
					isSort:true,
					nameModel:'Note',
					content: function (data) {
					return data.Note
				}
				},
				{
					isSort:true,
					nameModel:'Comment',
					content: function (data) {
					return data.Comment
				}
				},
				{
					isSort:true,
					nameModel:'LogId',
					content: function (data) {
					return data.LogId
				}
				},

                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center dropdowntt",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
                           result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/HistoryArea/History/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/HistoryArea/History/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/HistoryArea/History/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-History").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
        </script>
    }
