﻿.no-padding {
    margin: 0;
    width: 100%;
}
.card {
    border-radius: 5px;
    height: 150px;

    label {
        font-weight: normal;
        color: white;
        margin: 0;
    }

    .content-value {
        font-family: Cardo;
        color: white;
    }

    .card-top-wrapper {
        height: 40%;
        text-align:center;

        .card-top-icon, .card-top-content {
            height: 100%;
        }

        .card-top-icon {
            padding: 0;

            i {
                font-size: 60px;
                color: #ffffff;
                margin: 10px 15px;
            }
        }

        .card-top-content {
            padding-top: 10px;

            .card-top-content-label {
            }

            .card-top-content-value {
                font-size: 3em;
                line-height: 1em;
            }
        }
    }

    .card-bottom-wrapper {
        height: 40%;

        .card-top-content-label {
            font-size: 1.1em;
        }

        .card-bottom-wrapper-value {
            font-size: 1.3em;
        }
    }
}
.content-chart {
    height: auto;
    border-radius: 5px;
    background-color: #81a1d4;
    overflow: hidden;

    .chart-content {
        padding: 15px 20px;
        height: 100%;

        label {
            font-size: 1.3em;
        }

        .title {
            font-size: 1.1em;
        }
    }

    .chart-content-header {
        margin-bottom: 40px;
    }

    .chart-content-body {
        height: 460px;
    }

    .content-chart-left-left {
    }

    .content-chart-left-right {
    }
}

.padding-20 {
    margin-bottom: 20px;
}