.no-padding {
  margin: 0;
  width: 100%;
}

.card {
  border-radius: 5px;
  height: 150px;
}
.card label {
  font-weight: normal;
  color: white;
  margin: 0;
}
.card .content-value {
  font-family: Cardo;
  color: white;
}
.card .card-top-wrapper {
  height: 40%;
  text-align: center;
}
.card .card-top-wrapper .card-top-icon, .card .card-top-wrapper .card-top-content {
  height: 100%;
}
.card .card-top-wrapper .card-top-icon {
  padding: 0;
}
.card .card-top-wrapper .card-top-icon i {
  font-size: 60px;
  color: #ffffff;
  margin: 10px 15px;
}
.card .card-top-wrapper .card-top-content {
  padding-top: 10px;
}
.card .card-top-wrapper .card-top-content .card-top-content-value {
  font-size: 3em;
  line-height: 1em;
}
.card .card-bottom-wrapper {
  height: 40%;
}
.card .card-bottom-wrapper .card-top-content-label {
  font-size: 1.1em;
}
.card .card-bottom-wrapper .card-bottom-wrapper-value {
  font-size: 1.3em;
}
.nav-list > li a > .arrow{
    font-size:14px;
}
.page-header h1{
    font-size:16px;
}
#sidebar .icon_div span i{
    font-size:20px;
}
.content-chart {
    height: auto;
    border-radius: 5px;
    background-color: #81a1d4;
    overflow: hidden;
}
.content-chart .chart-content {
  padding: 15px 20px;
  height: 100%;
}
.content-chart .chart-content label {
  font-size: 1.3em;
}
.content-chart .chart-content .title {
  font-size: 1.1em;
}
.content-chart .chart-content-header {
  margin-bottom: 40px;
}
.content-chart .chart-content-body {
  height: 460px;
}
.padding-20 {
  margin-bottom: 20px;
}

/*# sourceMappingURL=ADashboard.css.map */
