﻿/*Chữ chạy*/
marquee {
	margin-top: 9px;
	width: 100%;
	float: right;
}

.runtext-container {
	/* width: 500px; */
	/* overflow-x: hidden; */
	/* overflow-y: visible; */
	height: 45px;
	/* display: inline-block; */
	/* float: right; */
}

.main-runtext {
	margin: 0 auto;
	overflow: visible;
	position: relative;
	height: 45px;
}

.runtext-container .holder {
	position: relative;
	overflow: visible;
	display: inline;
	float: left;
}

	.runtext-container .holder .text-container {
		display: inline;
	}

	.runtext-container .holder a {
		text-decoration: none;
		color: white;
		line-height: -0.5em;
		font-size: 16px;
	}

		.runtext-container .holder a:hover {
			text-decoration: none;
			color: #6600ff;
		}

.textItem {
	display: inline;
	color: white;
	font-size: 14px;
	margin: 0 10px;
}

.nav-search {
	right: 8px;
}

	.nav-search .nav-search-input {
		width: 300px;
	}

#boxResultContainer {
	position: absolute;
	background-color: white;
	z-index: 1;
	margin-top: 5px;
}

#boxResultSearch {
	padding: 0px;
}

	#boxResultSearch .contentText {
		display: inline-block;
	}

	#boxResultSearch .searchItem:hover {
		background-color: #00b894;
		color: white;
	}

	#boxResultSearch .searchItem {
		display: flex;
		line-height: 1.2;
		margin-bottom: 5px;
		background-color: #fab1a0;
		padding: 5px;
		border-radius: 3px;
		text-decoration: none;
		cursor: pointer;
		color: #2c3e50;
	}

		#boxResultSearch .searchItem .iconType {
			height: 45px;
			width: 45px;
			text-align: center;
		}

			#boxResultSearch .searchItem .iconType i {
				font-size: 20px;
				margin-top: 8px;
			}

	#boxResultSearch .contentText .title {
		font-weight: bold;
		margin-bottom: 3px;
	}

	#boxResultSearch .contentText .description {
		font-style: italic;
		font-size: 11px;
	}

#KhuVucQuanLy {
	margin-left: 20px;
}

#boxRunText {
	overflow: hidden;
	height: 45px;
	position: relative;
	width: 53vw;
	float: right;
}

	#boxRunText .textItem {
		position: absolute;
		top: 0;
		display: none;
		height: 40px;
		vertical-align: middle;
		padding: 10px;
		font-family: Roboto-Bold;
		margin-top: 3px;
		display: inline-block;
		opacity: 0;
		white-space: nowrap;
	}

		#boxRunText .textItem.active {
			display: inline-block !important;
			-webkit-animation: swing 10s linear;
			animation: swing 10s linear;
		}


@-webkit-keyframes swing {
	0% {
		opacity: 1;
		-webkit-transform: translateX(-53vw);
		transform: translateX(53vw);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(-53vw );
		transform: translateX(-53vw);
	}
}

@keyframes swing {
	0% {
		opacity: 1;
		-webkit-transform: translateX(53vw);
		transform: translateX(53vw);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(-53vw);
		transform: translateX(-53vw);
	}
}

.width-100px {
	width: 100px;
}
/*Báo cáo*/
.boxBaoCaoItem {
	padding: 20px;
	text-align: center;
}

	.boxBaoCaoItem a:hover {
		background-color: #00b894;
	}

	.boxBaoCaoItem .title {
		margin: 5px 0;
		color: #0072ce;
	}

	.boxBaoCaoItem .title {
		margin: 5px 0;
		font-weight: bold;
		color: #0072ce;
	}

.sidebar .sidebar-shortcuts-large > .btn {
	width: 100%;
}

.sidebar .sidebar-shortcuts-large {
	padding: 0 5px;
}

/*Mega menu*/
#sidebar-shortcuts-large.mega-dropdown {
	position: static !important;
	width: 100%;
}

#sidebar-shortcuts-large .mega-dropdown-menu {
	padding: 10px 0px;
	width: 100%;
	box-shadow: none;
	-webkit-box-shadow: none;
}

	/*.mega-dropdown-menu:before {
        content: "";
        border-bottom: 15px solid #fff;
        border-right: 17px solid transparent;
        border-left: 17px solid transparent;
        position: absolute;
        top: -15px;
        left: 285px;
        z-index: 10;
    }

    .mega-dropdown-menu:after {
        content: "";
        border-bottom: 17px solid #ccc;
        border-right: 19px solid transparent;
        border-left: 19px solid transparent;
        position: absolute;
        top: -17px;
        left: 283px;
        z-index: 8;
    }*/

	#sidebar-shortcuts-large .mega-dropdown-menu > li > ul {
		padding: 0;
		margin: 0;
	}

		#sidebar-shortcuts-large .mega-dropdown-menu > li > ul > li {
			list-style: none;
		}

			#sidebar-shortcuts-large .mega-dropdown-menu > li > ul > li > a {
				display: block;
				padding: 3px 20px;
				clear: both;
				font-weight: normal;
				line-height: 1.428571429;
				color: #999;
				white-space: normal;
			}

	#sidebar-shortcuts-large .mega-dropdown-menu > li ul > li > a:hover,
	#sidebar-shortcuts-large .mega-dropdown-menu > li ul > li > a:focus {
		text-decoration: none;
		color: #444;
		background-color: #f5f5f5;
	}

	#sidebar-shortcuts-large .mega-dropdown-menu .dropdown-header {
		color: #428bca;
		font-size: 14px;
		font-weight: bold;
		margin: 3px 0;
		padding: 0;
		font-family: Roboto-Bold;
	}


	#sidebar-shortcuts-large .mega-dropdown-menu .form-group {
		margin-bottom: 3px;
	}

#sidebar-shortcuts-large.open .dropdown-menu {
	display: block;
	position: fixed;
	z-index: 1;
	top: 43px;
	left: 189px;
	width: 800px;
	background: #dff9fb;
}

#sidebar-shortcuts-large .mega-dropdown-menu .avatar {
	width: 115px;
	text-align: center;
	margin-bottom: 5px;
}

.table-noborder {
	width: 100%;
}

	.table-noborder tr td {
		line-height: 1.3;
		padding: 3px;
		color: #34495e;
		word-break: break-word;
		font-size: 13px;
	}

		.table-noborder tr td.labelData {
			font-weight: bold;
		}


#sidebar-shortcuts-large .mega-dropdown-menu .radio {
	margin: 0px;
}

.firstBulding {
	margin-bottom: 15px;
}

.firstBuldingInfo {
	display: inline-grid;
	padding: 10px;
	border: 2px solid #99b4e0;
	border-radius: 8px;
}

.firstBuldingDisplayText {
	text-align: center;
}

.firstBuldingDisplayFloor {
	text-align: center;
	/*display: flex;*/
}

.blockRoom {
	height: 100px;
	background-color: #7ed6df;
	border: 1px solid #22a6b3;
	color: white;
	display: grid;
	padding: 12px;
	float: left;
}

.blockWay {
	width: 100%;
	height: 50px;
	background-color: #95afc0;
	border: 1px solid #95afc0;
	color: white;
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	float: left;
}

.carousel-indicators .active {
	margin: 0;
	width: 12px;
	height: 12px;
	background-color: black;
}

.carousel-indicators {
	bottom: -10px;
}

.mapboxgl-ctrl-geocoder--input {
	padding: 5px 30px 6px 30px !important;
}

.width0 {
	width: unset !important;
}
.span4 {
width:100%;
}
.text-grey {
	color: #b6c2c9!important;
}
.mb-3, .my-3 {
	/*margin-bottom: 16px !important;*/
}
.ml-2, .mx-2 {
	margin-left: 8px !important;
}
.mb-1, .my-1 {
	margin-bottom: 4px !important;
}

.d-flex {
	display: flex !important;
}
.mb-0, .my-0 {
	margin-bottom: 0 !important;
}
.ml-auto, .mx-auto {
	margin-left: auto !important;
}

.mb-n1, .my-n1 {
	margin-bottom: -4px !important;
}

.mt-n1, .my-n1 {
	margin-top: -4px !important;
}
.apexcharts-canvas {
	position: relative;
	user-select: none;
}
.apexcharts-tooltip.dark {
	color: #fff;
	background: rgba(30,30,30, 0.8);
}
.apexcharts-tooltip-series-group.active .apexcharts-tooltip-marker {
	opacity: 1;
}
.apexcharts-canvas .apexcharts-tooltip .apexcharts-tooltip-marker {
	width: 8px;
	height: 8px;
	margin-right: 5px;
}
.apexcharts-tooltip-marker {
	width: 12px;
	height: 12px;
	position: relative;
	top: 0px;
	margin-right: 10px;
	border-radius: 50%;
}
.apexcharts-canvas .apexcharts-tooltip .apexcharts-tooltip-series-group .apexcharts-tooltip-y-group {
	padding: 6px 0;
}

.apexcharts-tooltip-y-group {
	padding: 6px 0 5px;
}

.apexcharts-tooltip * {
	font-family: inherit;
}
.bg-dark {
	background-color: #2d353c !important;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(45,53,60,.15);
	border-radius: 4px;
	height: 215px;
}


.bg-white-transparent-2 {
	background-color: rgba(255,255,255,.2) !important;
}

.bg-white-transparent-2 {
	background-color: rgba(255,255,255,.2) !important;
}

hr {
	border: none;
	height: 1px;
	background: rgba(0,0,0,.1);
}

hr {
	margin-top: 16px;
	margin-bottom: 16px;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.f-s-12 {
	font-size: 12px !important;
}
.f-w-600 {
	font-weight: 600 !important;
}

.f-s-18 {
	font-size: 18px !important;
}

.p-b-1 {
	padding-bottom: 1px !important;
}

.m-b-5 {
	margin-bottom: 5px !important;
}
.progress.progress-xs {
	height: 5px;
}

.bg-dark-darker {
	background-color: #1a2229 !important;
}

.bg-dark-darker {
	background-color: #22282d !important;
}

.bg-dark-darker {
	background-color: #22282d !important;
}

.m-b-5 {
	margin-bottom: 5px !important;
}

.rounded-lg {
	border-radius: 6px !important;
}

.progress {
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: .5625rem;
	background-color: #e4e7ea;
	border-radius: 4px;
}
	.progress.progress-xs .progress-bar {
		line-height: 5px;
	}

	.progress .progress-bar {
		font-weight: 600;
	}

.bg-teal {
	background-color: #00acac !important;
}

.rounded-right {
	border-top-right-radius: 4px !important;
	border-bottom-right-radius: 4px !important;
}

.progress-bar-striped {
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-size: 1rem 1rem;
}

.progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #348fe2;
	transition: width .6s ease;
}
.align-items-center {
	align-items: center !important;
}

.justify-content-center {
	justify-content: center !important;
}

.d-flex {
	display: flex !important;
}
@media (min-width: 992px) {
	.d-lg-block {
		display: block !important;
	}
}
.mb-2, .my-2 {
	margin-bottom: 8px !important;
}

.d-flex {
	display: flex !important;
}
.align-items-center {
	align-items: center !important;
}

.d-flex {
	display: flex !important;
}
.text-teal {
	color: #00acac !important;
}

.f-s-8 {
	font-size: 8px !important;
}

.mr-2, .mx-2 {
	margin-right: 8px !important;
}
.ml-auto, .mx-auto {
	margin-left: auto !important;
}
.f-s-11 {
	font-size: 11px !important;
}
.width-50 {
	width: 32px !important;
}

.text-right {
	text-align: right !important;
}

.f-w-600 {
	font-weight: 600 !important;
}

.text-right {
	text-align: right !important;
}

.pl-2, .px-2 {
	padding-left: 8px !important;
}
.text-blue {
	color: #348fe2 !important;
}
.text-aqua {
	color: #49b6d6 !important;
}
.widget-stats, .widget.widget-stats {
	position: relative;
	color: #fff;
	padding: 15px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.widget {
	overflow: hidden;
	margin-bottom: 20px;
	background: #fff;
	color: inherit;
	padding: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
	.widget-stats .stats-icon.stats-icon-lg, .widget.widget-stats .stats-icon.stats-icon-lg {
		font-size: 128px;
		top: 15px;
		right: 0;
		color: #fff;
		width: 128px;
		height: 50px;
		line-height: 50px;
		text-shadow: 3px 7px rgba(0,0,0,.25);
		opacity: .15;
	}

	.widget-stats .stats-icon, .widget.widget-stats .stats-icon {
		font-size: 42px;
		height: 56px;
		width: 56px;
		text-align: center;
		line-height: 56px;
		color: rgba(0,0,0,.15);
		position: absolute;
		right: 15px;
		top: 15px;
		margin-left: 15px;
	}
		.widget-stats .stats-icon.stats-icon-lg i, .widget.widget-stats .stats-icon.stats-icon-lg i {
			position: relative;
		}
	.widget-stats .stats-content, .widget.widget-stats .stats-content {
		position: relative;
	}
	.widget-stats .stats-title, .widget.widget-stats .stats-title {
		position: relative;
		margin: 0 0 2px;
		font-size: 12px;
		color: rgba(255,255,255,.7);
	}
	.widget-stats .stats-number, .widget.widget-stats .stats-number {
		font-size: 24px;
		margin-bottom: 15px;
		font-weight: 500;
		letter-spacing: 1px;
	}
	.widget-stats .stats-progress, .widget.widget-stats .stats-progress {
		background: rgba(0,0,0,.5);
		height: 2px;
		margin: 0 0 15px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
	}

.progress {
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: .60938rem;
	background-color: #d4d4d4;
	border-radius: 3px;
}
.widget-stats .stats-progress .progress-bar, .widget.widget-stats .stats-progress .progress-bar {
	background: #fff;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.progress .progress-bar {
	font-weight: 500;
}

.progress-bar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	background-color: #2196f3;
	transition: width .6s ease;
}
.widget-stats .stats-desc, .widget.widget-stats .stats-desc {
	margin: -5px 0 -3px;
	color: rgba(255,255,255,.7);
}
.widget-list .widget-list-item {
	-webkit-border-radius: 0;
	border-radius: 0;
}

.inverse-mode .widget-list-item, .inverse-mode.widget-list-item {
	background: #2d353c;
}

.widget-list .widget-list-item {
	display: table;
	width: 100%;
	/*background: #fff;*/
	text-decoration: none;
	color: #2d353c;
}
	.widget-list .widget-list-item .widget-list-media {
		width: 40px;
		height: 60px;
		padding: 10px 0px;
		display: table-cell;
		vertical-align: middle;
	}
		.widget-list .widget-list-item .widget-list-media.icon i {
			display: block;
			width: 30px;
			height: 30px;
			text-align: center;
			line-height: 30px;
			font-size: 13px;
			-webkit-border-radius: 8px;
			border-radius: 8px;
		}

.text-white {
	color: #fff !important;
}

.bg-blue {
	background-color: #348fe2 !important;
}
.inverse-mode .widget-list-item + .widget-list-item .widget-list-action, .inverse-mode .widget-list-item + .widget-list-item .widget-list-content, .inverse-mode.widget-list-item + .widget-list-item .widget-list-action, .inverse-mode.widget-list-item + .widget-list-item .widget-list-content {
	border-color: #3d4852;
}

.widget-list .widget-list-item + .widget-list-item .widget-list-action, .widget-list .widget-list-item + .widget-list-item .widget-list-content {
	border-top: 1px solid #e4e7ea;
}

.widget-list .widget-list-item .widget-list-media + div {
	padding-left: 0;
}

.widget-list .widget-list-item .widget-list-content {
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
}
.inverse-mode .widget-list-item .widget-list-title, .inverse-mode.widget-list-item .widget-list-title {
	color: #fff;
}

.widget-list .widget-list-item .widget-list-title {
	font-size: 12px;
	line-height: 16px;
	margin: 0;
}
.inverse-mode .widget-list-item + .widget-list-item .widget-list-action, .inverse-mode .widget-list-item + .widget-list-item .widget-list-content, .inverse-mode.widget-list-item + .widget-list-item .widget-list-action, .inverse-mode.widget-list-item + .widget-list-item .widget-list-content {
	border-color: #3d4852;
}

.widget-list .widget-list-item + .widget-list-item .widget-list-action, .widget-list .widget-list-item + .widget-list-item .widget-list-content {
	border-top: 1px solid #e4e7ea;
}

.widget-list .widget-list-item .widget-list-content + div {
	padding-left: 0;
}

.widget-list .widget-list-item > div:last-child {
	padding-right: 15px;
}

.widget-list .widget-list-item .widget-list-action {
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
	width: 10%;
	padding-left: 15px;
	text-align: center;
}

.text-grey {
	color: #b6c2c9 !important;
}

.text-nowrap {
	white-space: nowrap !important;
}

.text-grey {
	color: #b6c2c9 !important;
}

.text-nowrap {
	white-space: nowrap !important;
}
.bg-indigo {
	background-color: #8753de !important;
}
.bg-red {
	background-color: #ff5b57 !important;
}

.formHeader {
	color: #428BCA;
	margin: 0 10px 20px;
	padding: 1px 5px;
	border-bottom: 2px solid #428BCA;
}

.boxFormHeader {
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

.clearBoth {
	clear: both !important;
}

.log-noi-dung {
	margin-left: 0px;
	font-family: Arial;
	border-bottom: solid 1px #eee;
	margin: 3px;
}
.seperated-cell {
	width: auto;
	border-top-width: 0px !important;
}

	.seperated-cell .nav-user-photo {
		margin-right: 10px;
	}
.smallSize {
	width: 30px;
	height: 30px;
}
.yellow-color {
	color: #f1c40f;
}
.blue-color {
	color: #3498db;
}

.GiaiTrinhListItemTextAdmin {
	word-break: break-word;
	background-color: #e1f5fe;
	padding: 8px 10px;
	border-radius: 8px;
	display: inline-block;
	margin-bottom: 10px;
}