﻿@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-BlackItalic';
    src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-BoldCondensed';
    src: url('../fonts/Roboto-BoldCondensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/Roboto-Condensed.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
body{
}

header {
    display: block;
    width: 100%;
    background-color: #f7faff;
    height: 20vh;
    padding-top: 10px;

    h1, h2 {
        font-weight: bold;
    }

    h1 {
        font-size: 4.5vh;
        line-height: 1;
        color: red;
        font-family: Roboto-Bold;
        margin-top: 1vh;
    }

    h2 {
        margin-top: 2.2vh;  
        font-size: 3vh;
        color: #0085b6;
        line-height: 1.2;
        font-family: Roboto-Condensed;
    }
}
.page-content {
    background-image: url('../assets/images/backgound.png');
    background-size: auto;
    height: 80vh;
}

.wrap-login-form {
    margin-top: 50px;

    .login-form-brand {
        margin-top: -10px;
        margin-left: -50px;

        #logo-brand {
            display: block;
            width: 250px;
            height: 250px;
            margin: 0 auto;
            background-image: url("../assets/images/quoc_huy.png");
            background-size: cover;
            background-position: center;
        }

        #logo-content {
            display: block;
            width: 100%;
            margin-top: 20px;
            color: #f2fff7;
            font-family: Roboto-Condensed;

            .title {
                text-align: center;
                font-size: 1.9em;
                font-weight: bold;
                h3 {
                    font-size: 0.8em;
                    font-family: Roboto-Condensed !important;
                }
            }

            .diachi {
                text-align: center;
                font-family: Roboto-Condensed;



                span {
                    font-weight: bold;
                }

                a {
                    color: #fff;
                }
            }
        }
    }
}

.login-form-form {
    margin-left: 50px;
    border-radius: 10px;
    /*padding-left: 30px;
    padding-right: 30px;*/
    background-color: #00aeef;
    -webkit-box-shadow: 0px 0px 15px -2px #616161;
    -moz-box-shadow: 0px 0px 15px -2px #616161;
    box-shadow: 0px 0px 15px -2px #616161;

    hr {
        height: 1px;
        color: #0066B8;
        background-color: #0066B8;
        border: none;
    }

    h2 {
        text-align: center;
        color: #ffffff;
        font-family: Roboto-Condensed;
        line-height: 0.5;
        margin-top: 20px;
    }

    label {
        font-size: 1.3em;
        font-family: Roboto-Condensed;
        color: #ffffff;
        text-align: left;
    }

    .submit {
        text-align: center;
    }

    input[type=submit] {
        width: 100%;
        font-size: 1.3em;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 35px;
        background-color: #1779e3 !important;

        &:hover {
            background-color: #fa4b5f !important;
        }
    }


    input[type="checkbox"] {
        display: none;
    }

    .checkbox {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .checkmark {
        margin-top: 2px;
        position: absolute;
        top: 4px;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: #eee;
    }

    .checkbox input:checked ~ .checkmark {
        background-color: #fa4b5f;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .checkbox input:checked ~ .checkmark:after {
        display: block;
    }

    .checkbox .checkmark:after {
        left: 7px;
        top: 2px;
        width: 7px;
        height: 15px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .login-form-brand {
        height: 300px;
    }

    a {
        color: #ffffff !important;
        font-size: 1.2em;
    }
}
@media (min-width: 200px) and (max-width: 575px) {
    header {
        height: 19vh;
    }
    .page-content{
        height: 81vh;
    }
    header h1 {
        font-size: 3.5vh;
        line-height: 1em;
    }
    header h2 {
        font-size: 1.5em;
        line-height: 1em;
    }
    .wrap-login-form .login-form-brand #logo-content .title {
        font-size: 1.5em;
        line-height: 0.1em;
    }
    .wrap-login-form {
        margin-top: -26px;
    }

    .wrap-login-form .login-form-brand #logo-brand {
        width: 70px;
        height: 70px;
    }

    .login-form-form {
        margin-left: unset;
        padding-left: unset;
        padding-right: unset;
    }

    .wrap-login-form .login-form-brand {
        margin-left: unset;
    }
    .login-form-form hr {
        margin-top: 3px;
        margin-bottom: 3px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .wrap-login-form {
        margin-top: -26px;
    }

    .wrap-login-form .login-form-brand #logo-brand {
        width: 70px;
        height: 70px;
    }

    .login-form-form {
        margin-left: unset;
        padding-left: unset;
        padding-right: unset;
    }

    .wrap-login-form .login-form-brand {
        margin-left: unset;
    }

    .wrap-login-form .login-form-brand #logo-content .title {
        text-align: center;
        font-size: 1.5em;
        font-weight: bold;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    .login-form-form {
        margin-left: unset;
        padding-left: unset;
        padding-right: unset;
    }

    .wrap-login-form .login-form-brand {
        margin-left: unset;
        #logo-brand {
        width: 150px;
        height: 150px;
    } 
    } 
}

@media (min-width: 992px) and (max-width: 1199px) {
    .login-form-form {
        margin-left: unset;
        padding-left: unset;
        padding-right: unset;
    }

    .wrap-login-form .login-form-brand {
        margin-left: unset;
    }
}

@media (min-width: 1200px) {
}
