﻿@font-face {
	font-family: 'Roboto-Black';
	src: url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-BlackItalic';
	src: url('../fonts/Roboto-BlackItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-BoldCondensed';
	src: url('../fonts/Roboto-BoldCondensed.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Condensed';
	src: url('../fonts/Roboto-Condensed.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Thin';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

.red {
	color: red;
}

.navbar-right {
	margin-right: 0px;
}

.action-right-bar {
	position: relative;
	float: right;
}

/*override style input*/

input[type=email], input[type=url], input[type=search], input[type=tel], input[type=color], input[type=text], input[type=password], input[type=datetime], input[type=datetime-local], input[type=date], input[type=month], input[type=time], input[type=week], input[type=number], textarea {
	border-radius: 5px !important;
	border-color: #d2dae2;
	font-size: 13px !important;
	color: #2c3e50;
}

.width100 {
	width: 100% !important;
}

.width80 {
	width: 80% !important;
}

select.form-control {
	border-radius: 5px !important;
	border-color: #d2dae2;
	font-size: 13px !important;
}

.form-control {
	height: 30px;
}

label {
	font-weight: 600;
	font-size: 12px;
	color: #34495e;
}

/*style modal*/
h4.modal-title {
	font-size: 20px;
	text-transform: uppercase;
}

.modal-content {
	border-radius: 12px;
}

.modal-header {
	background: #2980b9;
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: none;
}

.modal-footer {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.SearchBox {
	background-color: #F5F5F5;
	margin-bottom: 3px;
	padding: 5px;
}

.well {
	box-shadow: none;
}

h4.headerForm {
	font-size: 15px;
	font-weight: bold;
	color: #003479;
	text-transform: uppercase;
	padding-bottom: 3px;
	border-bottom: 1px solid #ccc;
	padding-top: 5px;
}

.nomargin {
	margin: 0px !important;
}

.margin10 {
	margin: 10px;
}

/*style chosen*/

.chosen-container > .chosen-single, [class*=chosen-container] > .chosen-single {
	border-radius: 5px;
}

.chosen-container, .chosen-container + .help-inline, [class*=chosen-container] {
	width: 100% !important;
}

/*Style table upload*/
table.table-upload tr th {
	color: #2980b9;
	font-size: 13px;
	background: #f5f6fa;
}

table.table-upload tbody tr td {
	font-size: 12px;
	border: 1px solid #dfe6e9;
}

input[type=file] {
	display: block;
	font-size: 12px;
	border-radius: 5px !important;
}

.width50 {
	width: 50px;
}

.width30 {
	width: 30px;
}

.nav-list > li > a {
	height: auto;
}

.nav-list > li:before {
	height: auto;
}

.table80 {
	width: 80%;
}

.table100 {
	width: 100%;
}

.table-info {
}

	.table-info tr td, .table-info tr th {
		border: 1px solid #dfe6e9;
	}

	.table-info td {
		padding: 10px 10px;
	}

		.table-info td.labelData {
			font-weight: bold;
			color: #34495e;
			background: none;
			text-align: right;
		}

.resize-vertical {
	resize: vertical;
}

.statusUngVien {
	position: absolute;
	top: 5px;
	right: 5px;
	text-align: right;
}

.select2 {
	width: 100% !important;
}

	.select2 .select2-selection {
		border-radius: 5px;
	}

.row-block {
	padding: 5px;
}

.txt-label {
	font-weight: bold;
	text-align: right;
}

.sidebar.menu-min .nav-list > li > a > .menu-text {
	width: 250px;
}

.sidebar.menu-min .nav-list > li > .submenu {
	width: 250px;
}

.menu-min ul li .text_div {
	display: none;
}

.navbar-brand > img {
	display: inline;
	height: 45px;
}

.sidebar.menu-min .nav-list > li > a {
	text-align: center;
}

.navbar-brand > strong {
	font-family: Roboto-bold;
	font-weight: normal;
}

.navbar .navbar-brand {
	padding-bottom: 0;
	padding-top: 0;
}

.navbar-brand {
	padding-bottom: 0;
	padding-top: 0;
}

.navbar .navbar-brand {
	font-size: 20px;
}

.imageGrid {
	height: 60px;
	border-radius: 3px;
	border: 2px solid #ddd;
	text-align: center;
	margin: 0 auto;
}

.imageGridDetail {
	height: 100px;
	border-radius: 3px;
	text-align: center;
	margin: 0 auto;
}

.imageGridDetail50 {
	height: 50px !important;
	border-radius: 3px;
	text-align: center;
	margin: 0 auto;
}

.logo-picture {
	height: 300px;
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#id {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* SCROLLBAR BEGIN */
/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #99b4e0;
}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
/* SCROLLBAR END */

.website-request-update {
	margin-bottom: 0px;
}

.log-noi-dung {
	margin-left: 120px;
}

.request-status {
	width: 55%;
}

.itemNotification {
	color: black;
	border-radius: 5px;
	margin-bottom: 5px;
}

	.itemNotification.seen {
		border: solid 1px #f7e495;
	}

	.itemNotification.unseen {
		background-color: #f7e495;
		font-weight: 700;
	}

	.itemNotification.container-fluid {
		padding: 10px 10px 0px 0px;
	}

	.itemNotification .msg-text {
		padding-top: 10px;
	}

	.itemNotification .createdDate {
		text-align: right;
		font-style: italic;
		padding-right: 10px;
	}

.user-icon {
	font-size: 25px;
	color: #2679B5;
	padding: 20px 10px;
}

.title-bar {
	display: flex;
	padding: 0px;
	background-color: #2679B5;
	border-radius: 5px;
}

	.title-bar .bell-icon {
		display: inline-flex;
		padding: 10px 10px 10px 30px;
		font-size: 25px;
		color: white;
	}

	.title-bar .noti-title {
		display: inline-flex;
		padding-top: 3px;
		padding-left: 15px;
		padding-bottom: 5px;
		color: white;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		text-transform: uppercase;
	}

.statistics-card {
	background-color: #64b5f6;
}

.stat-table-container {
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
}

.noti-container {
	display: flex;
	flex-direction: column;
	margin-top: 6px;
	overflow-x: visible;
	overflow-y: scroll;
	height: 230px;
}

.table-title {
	padding: 5px;
}

.table-label {
	width: 90%
}

.icon_div {
	display: inline-block;
}

	.icon_div span i {
		font-size: 26px;
	}

	.icon_div > span {
		display: table;
	}
	.icon_div .menu-icon {
		width: 18px !important;
		height: 18px;
		margin-right: 5px;
	}
.text_div {
	display: inline-block;
	margin-left: 5px;
	width: 120px;
}

	.text_div span {
		color: #58666e;
		font-size: 13px;
	}

		.text_div span + span {
			color: #747F85;
			font-size: 11px;
		}

.phandaumoi {
	width: 27%;
	margin-top: 12%;
}

	.phandaumoi .modal-body {
		width: 98%;
		height: 200px;
		overflow: auto;
	}

#canhBaoViPham td {
	border: 0px;
}

.canhBaoText {
	color: #ff9d00;
}

.tienichTable {
	margin-top: 20px;
}

.deleteTienIch {
	float: unset !important;
	color: red !important;
}

/*Profile admin dashboard*/
#avatar {
	object-fit: cover;
	height: 130px;
}

.profile-info-name {
	width: 150px;
}

.table-tag {
	width: 25%;
	text-align: right;
}

.avatar-change {
	margin-top: 5px;
}

.padding10px {
	padding: 10px;
}

.phanhAnhEmpty {
	color: #fc8003 !important;
}

.floatRightStatusButton {
	float: right;
	margin-left: 5px;
	margin-bottom: 5px;
}

#statusButton {
	display: table;
	width: 100%;
}

/*Drop down top*/
#KhuVucQuanLy {
	margin-left: 20px;
}

.khuvucspantext {
	font-size: 13px;
	position: relative;
	margin-left: 0px;
}

	.khuvucspantext:hover .area-button {
		display: block;
	}

.area-button {
	position: absolute;
	display: none;
}
/*end drop down top*/
.list-roles {
	list-style-type: none;
	margin: 0px;
}

.quanLyThongKe {
	border-bottom: 1px solid #E2E2E2;
}

.mg10 {
	margin-left: 10px;
}

.checkBoxTagCode {
	margin-left: 10px;
	display: inline-flex;
}

	.checkBoxTagCode input {
		margin-right: 5px;
		margin-left: 8px;
	}

.quanLyThongKe span .select2-selection {
	border-radius: 0px 0px 3px 3px !important;
}

#thongKeTable {
	margin-bottom: 60px;
}

.deleteButton {
	height: 30px;
	width: 30px;
	color: #fff;
	background-color: #f5535e;
	border-color: #f5535e;
	padding-top: 6px;
	border-radius: 50%
}

	.deleteButton a {
		color: #fff;
	}

	.deleteButton i {
		font-size: 15px;
		color: #fff !important;
	}

.editButton {
	height: 30px;
	width: 30px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
	padding-top: 6px;
	border-radius: 50%;
	border: 1px solid #a8a8a8;
	margin-right: 10px;
}

	.editButton a {
		color: #fff;
	}

	.editButton i {
		font-size: 15px;
		color: #a8a8a8 !important;
	}

.detailButton {
	height: 30px;
	width: 30px;
	color: #FFF;
	background-color: #3b5999;
	border-color: #3b5999;
	padding-top: 6px;
	border-radius: 50%;
	margin-right: 10px;
}

	.detailButton a {
		color: #fff;
	}

	.detailButton i {
		font-size: 15px;
		color: #fff !important;
	}

.giahanButton {
	height: 30px;
	width: 30px;
	color: #FFF;
	background-color: #00ff37;
	border-color: #00ff37;
	padding-top: 6px;
	border-radius: 50%;
	margin-right: 10px;
}

	.giahanButton a {
		color: #fff;
	}

	.giahanButton i {
		font-size: 15px;
		color: #fff !important;
	}
.buttonBox {
	display: flex;
}
.centerBox {
	justify-content: center;
	/*border: 0.05px solid #dfe6e9 !important;*/
	border-right-width: 0px !important;
	border-left-width: 0px !important;
	border-bottom-width: 0px !important;
	border-top-width: 1px !important;
	width: 130px;
}
.width130 {
	width: 130px;
}


.imageGridNhanSu {
	object-fit: unset;
	width: 60px;
	height: 60px;
	border-radius: 3px;
	border: 1px solid #ddd;
	text-align: center;
	margin: 0 auto;
}

.labelDataTitle {
	font-size: 15px;
	color: teal !important;
}

.table-info td.labelData {
	font-weight: bold;
	color: #34495e;
	background: none;
	text-align: left;
}
.red_color {
	color: red;
}