/*.fixed-right {
    height: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    width: 400px;
    float: right;
    padding-top: 45px;

    .modal-content {
        pointer-events: auto;
        border-radius: 0 !important;
        display: block;
        height: 100%;
    }

    .modal-header {
        padding: 5px !important;
    }

    .modal-body {
        height: calc(100vh - 146px);
        overflow-y: scroll;
    }

    .modal-footer {
        padding: 8px !important;
    }

    .modal-header, .modal-footer {
        border-radius: 0 !important;
    }

    button {
        color: white;

        &:hover {
            color: white;
        }
    }
}*/
.modal-open {
    overflow: scroll;
}
#MasterModalFixed .modal-dialog {
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}
.fixed-modal-right {
  right: 0;
  padding: 0;
  margin: 0;
  float: right;
}
.fixed-modal-right .modal-content {
  pointer-events: auto;
  border-radius: 0 !important;
  display: block;
}
.fixed-modal-right .modal-header {
  padding: 7px !important;
}
.fixed-modal-right .modal-body {
  height: calc(100vh - 104px);
  overflow-y: scroll;
}
.fixed-modal-right .modal-footer {
  padding: 8px !important;
}
.fixed-modal-right .modal-header, .fixed-modal-right .modal-footer {
  border-radius: 0 !important;
}
.fixed-modal-right button {
  color: white;
}
.fixed-modal-right button:hover {
  color: white;
}

.fmr-width-20 {
  width: 20vw !important;
}

.fmr-width-40 {
  width: 40vw !important;
}

.fmr-width-60 {
  width: 60vw !important;
}

.fmr-width-80 {
  width: 80vw !important;
}

/*# sourceMappingURL=fixed-element.css.map */
