﻿/*.fixed-right {
    height: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    width: 400px;
    float: right;
    padding-top: 45px;

    .modal-content {
        pointer-events: auto;
        border-radius: 0 !important;
        display: block;
        height: 100%;
    }

    .modal-header {
        padding: 5px !important;
    }

    .modal-body {
        height: calc(100vh - 146px);
        overflow-y: scroll;
    }

    .modal-footer {
        padding: 8px !important;
    }

    .modal-header, .modal-footer {
        border-radius: 0 !important;
    }

    button {
        color: white;

        &:hover {
            color: white;
        }
    }
}*/
.fixed-modal-right {
    /*height: 100%;
    padding: 0;
    margin: 0;
    width: 400px;
    float: right;*/

    .modal-content {
        /*pointer-events: auto;*/
        border-radius: 0 !important;
        /*display: block;*/
        height: 100%;
    }

    .modal-header {
        padding: 5px !important;
    }

    .modal-body {
        height: calc(100vh - 146px);
        overflow-y: scroll;
    }

    .modal-footer {
        padding: 8px !important;
    }

    .modal-header, .modal-footer {
        border-radius: 0 !important;
    }

    button {
        color: white;

        &:hover {
            color: white;
        }
    }
}
.fmr-width-20{
    width: 20vw!important;
}
.fmr-width-40 {
    width: 40vw!important;
}
.fmr-width-60 {
    width: 60vw!important;
}
.fmr-width-80 {
    width: 80vw!important;
}