﻿.hntbl-cover {
    /*padding: 10px;*/
    /*overflow-x: scroll!important;*/
}
/*@media only screen and (max-width: 1025px) {
    .hntbl-cover{
        overflow-x: scroll !important;
    }
}
    .hntbl-cover table {
        min-width: 900px!important;
    }*/

    .hntbl-cover .table-tool-bar {
        min-height: 42px;
        background-color: #F5F5F5;
        padding:7px 0px;
    }

        .hntbl-cover .table-tool-bar .btn {
            margin-left: 3px;
            padding: 2px 5px;
        }

    .hntbl-cover .table-tool-bar-action {
        display: inline-block;
    }

    .hntbl-cover .table-config-bar {
        float: right;
      
    }

    .hntbl-cover .checkbox {
        margin-top: 0;
        margin-bottom: 0;
    }

.checkboxAll {
    display: inline-block !important;
    margin-right: 12px;
    margin-left: 5px;
}

.Nami-table {
    border: 1px solid #dfe6e9 !important;
    margin-bottom:5px !important;
}

    .Nami-table thead tr th {
        text-align: center;
        cursor: pointer;
        min-width: 30px;
        max-width: 50%;
        padding: 10px 10px;
        vertical-align: middle;
        position: relative;
        line-height: 1.2;
        font-size: 12px;
        background: #f5f6fa;
        color: #2980b9;
    }

    .Nami-table tbody tr td {
        font-size: 12px;
        border: 1px solid #dfe6e9;
    }

.sort-asc::after {
    content: url('../../../../NamiTable/sort_asc.png');
    /*float: right;*/
    width: 9px;
    /*margin-top: 14px;*/
    line-height: 0;
    position: absolute;
}

.sort-desc::after {
    content: url('../../../../NamiTable/sort_desc.png');
    /*float: right;*/
    width: 9px;
    /*margin-top: 4px;*/
    line-height: 0;
    position: absolute;
}

.sort-none::after {
    content: url('../../../../NamiTable/sort_both.png');
    /*float: right;*/
    width: 9px;
    /*margin-top: 9px;*/
    line-height: 0;
    position: absolute;
}

.Nami-table .noData {
    text-align: center;
    color: #95a5a6;
}

.displayInline {
    display: inline-block;
}

.hntbl-cover-tableScroll{
    overflow-x:scroll;
    margin-bottom:10px;

}
/*dropdown thaotac*/
.dropdowntt {
    min-width: 120px !important;
}
    .dropdowntt div {
        position: absolute;
        width: 100px;
        margin-left: -50px!important;
    }
        .dropdowntt div button{
            width: 100%;
        }
/*end dropdown thaotac*/