@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.QLCauHoiArea.Models

@model CreateVM
@{

}

<div class="modal-dialog">
    @using (Ajax.BeginForm("Create", "QLCauHoi", new { @area = "QLCauHoiArea" }, new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "AjaxFormError",
        OnSuccess = "AjaxFormSuccess",
    }, new { id = "createQLCauHoiForm" }))
    {
        @Html.AntiForgeryToken()
        //HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="center">
                    <h4 class="modal-title">Tạo mới Quản lý câu hỏi</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
				<div class="form-group">
				<label class="control-label col-sm-4">Tên khách hàng </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Email </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Số điện thoại </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Câu hỏi (Tin nhắn) </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.CauHoi, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.CauHoi, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Id người xử lý <span class="red">*</span></label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.IdNguoiXuLy, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.IdNguoiXuLy, "", new { @class = "text-danger" })
				</div>
				</div>
				<div class="form-group">
				<label class="control-label col-sm-4">Trạng thái </label>
				<div class="col-sm-8">
				@Html.TextBoxFor(m => m.Status, new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
				</div>
				</div>

                </div>
            </div>
            <div class="modal-footer center">
                <button type="submit" class="btn btn-primary">Hoàn thành</button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    }
</div>

<script>




</script>
@Scripts.Render("~/bundles/jqueryval")
