@{
    ViewBag.Title = "Quản lý câu hỏi";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Quản lý câu hỏi";
    ViewBag.PageName = "Thông tin Quản lý câu hỏi";
    ViewBag.ModuleCode = "QLCauHoi_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.QLCauHoiArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/QLCauHoiArea/QLCauHoi/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Tên khách hàng</td><td>@Model.objInfo.Name</td></tr>
<tr><td>Email</td><td>@Model.objInfo.Email</td></tr>
<tr><td>Số điện thoại</td><td>@Model.objInfo.PhoneNumber</td></tr>
<tr><td>Câu hỏi (Tin nhắn)</td><td>@Model.objInfo.CauHoi</td></tr>
<tr><td>Id người xử lý</td><td>@Model.objInfo.IdNguoiXuLy</td></tr>
<tr><td>Trạng thái</td><td>@Model.objInfo.Status</td></tr>
<tr><td>Đã xóa hay chưa</td><td>@Model.objInfo.IsDelete</td></tr>
<tr><td>Thời gian xóa</td><td>@Model.objInfo.DeleteTime</td></tr>
<tr><td>Id xóa</td><td>@Model.objInfo.DeleteId</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Id tạo</td><td>@Model.objInfo.CreatedID</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>
<tr><td>Id sửa</td><td>@Model.objInfo.UpdatedID</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
