@{
    ViewBag.Title = "Quản lý câu hỏi";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Quản lý câu hỏi";
    ViewBag.PageName = "Danh sách Quản lý câu hỏi";
    ViewBag.ModuleCode = "QLCauHoi_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.QLCauHoiService.Dto;
@model PageListResultBO<QLCauHoiDto>
@{
    var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
}



@section ActionBarRight{
    <a href="#collapseDiv" class="btn btn-sm btn-primary" aria-controls="collapsePanel" data-toggle="collapse" role="button">
        Tìm kiếm
    </a>

    @*<a href="javascript:void(0)" onclick="CreateAction('/QLCauHoiArea/QLCauHoi/Create')" class="btn btn-primary btn-sm">Thêm mới</a>*@
}
@Html.Partial("_SearchPartial")

<div id="tbl-QLCauHoi" class="hntbl-cover table-scroll">
	<div class="table-wrap">
    <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="fixed-side"></th>
                <th class="fixed-side">#</th>
                <th class="fixed-side">Thao tác</th>
				<th class="longNameWidthTitle">Tên khách hàng</th>
				<th class="longNameWidthTitle">Email</th>
				<th class="longNameWidthTitle">Số điện thoại</th>
				<th class="longNameWidthTitle">Câu hỏi (Tin nhắn)</th>
				<th class="longNameWidthTitle">Người xử lý</th>
				<th>Trạng thái</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-QLCauHoi";
        function pagefunction(){
            var conf=[
                {
                    tdClass:"center width50 fixed-side",
                    isSort:false,
                    nameModel: "",
                    isCounter:true,
                    content: function (data) {
                        return "<input type='checkbox'/>"
                    }
                },

                   {
                       isSort:false,
                       nameModel:"",
                       tdClass:"center fixed-side",
                       content: function (data) {
                           var result = `<div class="btn-group">
                               <button data-toggle="dropdown" class="btn btn-xs btn-primary btn-white dropdown-toggle" aria-expanded="false">Thao tác<i class="ace-icon fa fa-angle-down icon-on-right"></i>
                               </button>

                               <ul class="dropdown-menu">`;
						   result += "<li><a href='/QLCauHoiArea/QLCauHoi/Detail/" + data.Id + "'   title = 'Thông tin chi tiết'><i class='glyphicon glyphicon-user'> </i> Thông tin chi tiết</a> </li>";
                           result += "<li><a href='javascript:void(0)' onclick='EditAction(\"/QLCauHoiArea/QLCauHoi/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='glyphicon glyphicon-edit'> </i> Sửa thông tin</a> </li>";
                           //result += "<li><a href='javascript:void(0)' onclick='DeleteAction(\"/QLCauHoiArea/QLCauHoi/Delete/" + data.Id + "\")'  title = 'Xóa'><i class=' glyphicon glyphicon-remove' style='color:red'> </i> Xóa</a></li>";
                           result += "</ul></div>";
                           return result;
                       }
                   },
				{
					tdClass: "producttdWidthContent",
					isSort:true,
					nameModel:'Name',
					content: function (data) {
					return data.Name
				}
				},
				{
					tdClass: "producttdWidthContent",
					isSort:true,
					nameModel:'Email',
					content: function (data) {
					return data.Email
				}
				},
				{
					tdClass: "producttdWidthContent",
					isSort:true,
					nameModel:'PhoneNumber',
					content: function (data) {
					return data.PhoneNumber
				}
				},
				{
					tdClass: "producttdWidthContent",
					isSort:true,
					nameModel:'CauHoi',
					content: function (data) {
					return data.CauHoi
				}
				},
				{
					tdClass: "producttdWidthContent",
					isSort:true,
					nameModel:'IdNguoiXuLy',
					content: function (data) {
						return data.NguoiXuLyName
				}
				},
				{
					isSort:true,
					nameModel:'Status',
					content: function (data) {
						return "<span class='label' style='background-color:" + data.StatusBGColor + "'>" + ShowMessageIfEmpty(data.StatusName) + "</span>"
				}
				},


            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/QLCauHoiArea/QLCauHoi/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-QLCauHoi").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
    </script>
}