﻿.ace-nav {
	height: 100%;
	margin: 0 !important;
}

	.ace-nav > li {
		line-height: 45px;
		height: 45px;
		border-left: 1px solid #E1E1E1;
		padding: 0;
		position: relative;
		float: left;
	}

		.ace-nav > li:first-child {
			border-left-width: 0;
		}

		.ace-nav > li > a {
			background-color: #2E6589;
			color: #FFF;
			display: block;
			line-height: inherit;
			text-align: center;
			height: 100%;
			width: auto;
			min-width: 50px;
			padding: 0 8px;
			position: relative;
		}

			.ace-nav > li > a > .ace-icon {
				display: inline-block;
				font-size: 16px;
				color: #FFF;
				text-align: center;
				width: 20px;
			}

			.ace-nav > li > a > .badge {
				position: relative;
				top: -4px;
				left: 2px;
				padding-right: 5px;
				padding-left: 5px;
			}

			.ace-nav > li.open > a, .ace-nav > li > a:focus, .ace-nav > li > a:hover {
				background-color: #2c5976;
				color: #FFF;
			}

		.ace-nav > li.blue > a {
			background-color: #2E6589;
		}

			.ace-nav > li.blue > a:focus, .ace-nav > li.blue > a:hover, .ace-nav > li.open.blue > a {
				background-color: #2c5976;
			}

		.ace-nav > li.grey > a {
			background-color: #555;
		}

			.ace-nav > li.grey > a:focus, .ace-nav > li.grey > a:hover, .ace-nav > li.open.grey > a {
				background-color: #4b4b4b;
			}

		.ace-nav > li.purple > a {
			background-color: #892E65;
		}

			.ace-nav > li.open.purple > a, .ace-nav > li.purple > a:focus, .ace-nav > li.purple > a:hover {
				background-color: #762c59;
			}

		.ace-nav > li.green > a {
			background-color: #2E8965;
		}

			.ace-nav > li.green > a:focus, .ace-nav > li.green > a:hover, .ace-nav > li.open.green > a {
				background-color: #2c7659;
			}

		.ace-nav > li.light-blue > a {
			background-color: #62A8D1;
		}

			.ace-nav > li.light-blue > a:focus, .ace-nav > li.light-blue > a:hover, .ace-nav > li.open.light-blue > a {
				background-color: #579ec8;
			}

		.ace-nav > li.light-blue2 > a {
			background-color: #42A8E1;
		}

			.ace-nav > li.light-blue2 > a:focus, .ace-nav > li.light-blue2 > a:hover, .ace-nav > li.open.light-blue2 > a {
				background-color: #359fd9;
			}

		.ace-nav > li.red > a {
			background-color: #B74635;
		}

			.ace-nav > li.open.red > a, .ace-nav > li.red > a:focus, .ace-nav > li.red > a:hover {
				background-color: #a34335;
			}

		.ace-nav > li.light-green > a {
			background-color: #9ABC32;
		}

			.ace-nav > li.light-green > a:focus, .ace-nav > li.light-green > a:hover, .ace-nav > li.open.light-green > a {
				background-color: #8ba832;
			}

		.ace-nav > li.light-purple > a {
			background-color: #CB6FD7;
		}

			.ace-nav > li.light-purple > a:focus, .ace-nav > li.light-purple > a:hover, .ace-nav > li.open.light-purple > a {
				background-color: #c263ce;
			}

		.ace-nav > li.light-orange > a {
			background-color: #F79263;
		}

			.ace-nav > li.light-orange > a:focus, .ace-nav > li.light-orange > a:hover, .ace-nav > li.open.light-orange > a {
				background-color: #f28653;
			}

		.ace-nav > li.light-pink > a {
			background-color: #F4DAE5;
		}

			.ace-nav > li.light-pink > a:focus, .ace-nav > li.light-pink > a:hover, .ace-nav > li.open.light-pink > a {
				background-color: #eeccda;
			}

		.ace-nav > li.dark > a {
			background-color: #404040;
		}

			.ace-nav > li.dark > a:focus, .ace-nav > li.dark > a:hover, .ace-nav > li.open.dark > a {
				background-color: #363636;
			}

		.ace-nav > li.white-opaque > a {
			background-color: rgba(255,255,255,.8);
		}

			.ace-nav > li.open.white-opaque > a, .ace-nav > li.white-opaque > a:focus, .ace-nav > li.white-opaque > a:hover {
				background-color: rgba(245,245,245,.8);
			}

		.ace-nav > li.dark-opaque > a, .ace-nav > li.dark-opaque > a:focus, .ace-nav > li.dark-opaque > a:hover, .ace-nav > li.open.dark-opaque > a {
			background-color: rgba(0,0,0,.2);
		}

		.ace-nav > li.transparent > a {
			background-color: transparent;
		}

			.ace-nav > li.open.transparent > a, .ace-nav > li.transparent > a:focus, .ace-nav > li.transparent > a:hover {
				background-color: rgba(0,0,0,.1);
			}

		.ace-nav > li.light-10 > a {
			background-color: rgba(255,255,255,.1);
		}

			.ace-nav > li.light-10 > a:focus, .ace-nav > li.light-10 > a:hover, .ace-nav > li.open.light-10 > a {
				background-color: rgba(255,255,255,.2);
			}

		.ace-nav > li.dark-10 > a {
			background-color: rgba(0,0,0,.1);
		}

			.ace-nav > li.dark-10 > a:focus, .ace-nav > li.dark-10 > a:hover, .ace-nav > li.open.dark-10 > a {
				background-color: rgba(0,0,0,.2);
			}

		.ace-nav > li.margin-4 {
			margin-left: 4px;
		}

		.ace-nav > li.margin-3 {
			margin-left: 3px;
		}

		.ace-nav > li.margin-2 {
			margin-left: 2px;
		}

		.ace-nav > li.margin-1 {
			margin-left: 1px;
		}

		.ace-nav > li.no-border {
			border-width: 0 !important;
		}

		.ace-nav > li .dropdown-menu {
			z-index: 1031;
		}

	.ace-nav .nav-user-photo {
		margin: -4px 8px 0 0;
		border-radius: 50%;
		border: 2px solid #FFF;
		max-width: 40px;
	}

	.ace-nav li.dropdown-footer a .ace-icon {
		display: inline-block;
		width: 1.25em;
		text-align: center;
	}
