﻿
@media screen and (min-width: 1201px) {
	.show-on-mobile {
		display: none;
	}

	.navbar-orange, .navbar-orange .navbar-collapse, .navbar-orange .container-fluid {
		padding-left: 0 !important;
	}
}

@media screen and (max-width: 1200px) and (min-width:1025px) {
	.UDW-App {
		width: 27%;
	}

	.rightTopmenu > li:last-child {
		position: relative;
		top: 6px;
	}

	.show-on-mobile {
		display: none;
	}

	.navbar-orange, .navbar-orange .navbar-collapse, .navbar-orange .container-fluid {
		padding-left: 0 !important;
	}

	.formLeft, .border-left {
		width: 48%;
	}

	.header__logo-text h1 {
		font-size: 3.7em !important;
	}

	.header__logo-text h4 {
		font-size: 15px !important;
	}

	.header__logo a div img {
		height: 70px !important;
	}



	.logoutButton a {
		padding-top: 6px !important;
	}



	/*.Seacrh {
        width: 15% !important;
        float: right !important;
    }*/

	.col-sm-10 {
		width: 80%;
		float: right;
	}
	/*----respon-trang-chu----*/
	.tra-cuu-ho-so-desk ul > li {
		padding-right: 0px;
		display: inline-block;
		list-style: none;
		color: #fff;
		font-family: Roboto-Medium_0;
	}

	.UDW-Website {
		width: 30px;
		font-size: 22px;
		font-family: RobotoCondensed-Bold;
		color: #c2c2c2;
		display: table-cell;
		border-bottom: 2px solid #ff6100;
	}

	.domain-web {
		margin-top: 0px !important;
		display: -webkit-box !important;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		visibility: visible;
	}

	.UDW-App {
		font-size: 22px;
		font-family: RobotoCondensed-Bold;
		color: #c2c2c2;
		display: table-cell;
		border-bottom: 2px solid #ff6100;
	}

	.UDW-App-info {
		padding-left: 5px;
		font-size: 18px;
		font-family: RobotoCondensed-Bold;
		color: #ff6100;
		display: table-cell;
		border-bottom: 2px solid #bfbfbf;
	}

	.rowflex {
		display: inline-block;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.eu-dashboard-shortcut .card-top-wrapper {
		width: 100%;
	}

	.eu-dashboard-shortcut .card-top-wrapper {
		margin-bottom: 0 !important;
	}

	.eu-dashboard-shortcut {
		margin-bottom: 20px;
	}

		.eu-dashboard-shortcut .card-top-wrapper {
			margin-bottom: 0 !important;
		}

	.eu-dashboard-shortcut {
		margin-bottom: 20px;
	}

	.company-info-edit .eu-dashboard-shortcut .card-top-wrapper {
		padding-bottom: 0px;
	}

	.eu-dashboard-shortcut .card-top-content {
		display: block;
		text-align: left;
		min-height: 95px;
		padding-left: 15px;
		padding-top: 5px;
	}

	.company-info-edit .eu-dashboard-shortcut {
		padding: 0 24px;
	}
}

@media screen and (max-width: 1024px) and (min-width:992px) {
	.UDW-App {
		width: 34%;
	}

	.rowflex {
		display: inline-block;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.eu-dashboard-shortcut .card-top-wrapper {
		width: 100%;
	}

	.show-on-mobile {
		display: none;
	}

	.navbar-orange, .navbar-orange .navbar-collapse, .navbar-orange .container-fluid {
		padding-left: 0 !important;
	}

	.header__logo a {
		display: flex;
	}

	.header__logo h1 {
		font-size: 34px !important;
		line-height: 1.2 !important;
		margin-bottom: 0;
	}

	.header__logo-text {
		flex-grow: 1;
	}

	.header__logo a img {
		width: 75px;
		/*margin-top: 10px;*/
		height: auto;
	}

	.header__logo h4 {
		font-size: 14px;
		margin-top: 5px;
	}



	.login_resg ul li {
		padding: 5px;
	}


	.content-menu {
		width: 80% !important;
	}
	/*----respon-trang-chu----*/
	.tra-cuu-ho-so-desk ul > li {
		padding-right: 0px;
		display: inline-block;
		list-style: none;
		color: #fff;
		font-family: Roboto-Medium_0;
	}

	.UDW-Website {
		width: 30px;
		font-size: 22px;
		font-family: RobotoCondensed-Bold;
		color: #c2c2c2;
		display: table-cell;
		border-bottom: 2px solid #ff6100;
	}

	.domain-web {
		margin-top: 0px !important;
		display: -webkit-box !important;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		visibility: visible;
	}

	.UDW-App {
		font-size: 22px;
		font-family: RobotoCondensed-Bold;
		color: #c2c2c2;
		display: table-cell;
		border-bottom: 2px solid #ff6100;
	}

	.UDW-App-info {
		padding-left: 5px;
		font-size: 18px;
		font-family: RobotoCondensed-Bold;
		color: #ff6100;
		display: table-cell;
		border-bottom: 2px solid #bfbfbf;
	}

	.eu-dashboard-shortcut .card-top-wrapper {
		margin-bottom: 0 !important;
	}

	.eu-dashboard-shortcut {
		margin-bottom: 20px;
	}

	.company-info-edit .eu-dashboard-shortcut .card-top-wrapper {
		padding-bottom: 0px;
	}

	.eu-dashboard-shortcut .card-top-content {
		display: block;
		text-align: left;
		min-height: 105px;
		padding-left: 15px;
		padding-top: 5px;
	}
}

@media screen and (max-width: 991px) and (min-width:769px) {
	.company-info-edit .eu-dashboard-shortcut .card-top-content {
		display: block;
		text-align: left;
		min-height: 90px;
		padding-left: 15px;
		padding-top: 5px;
	}

	.header-right-box-left > :first-child {
		display: none;
	}

	.header-right-box-left,
	.header-right-box-right {
		width: unset;
	}

	.rowflex {
		display: inline-block;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.card-top-wrapper {
		width: 100%;
	}

	.menu-profile {
		width: 100%;
	}

	.end-user-content {
		width: 100%;
	}

	.eu-dashboard-shortcut .card-top-wrapper {
		padding: 6px !important;
		margin-bottom: 0 !important;
	}

	.eu-dashboard-shortcut {
		margin-bottom: 20px;
	}

	.flex-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.show-on-mobile {
		display: none;
	}

	.quy-trinh {
		display: none;
	}

	.header-desk-left img {
		max-width: 300px;
		/*margin: auto;*/
	}

	.navbar-orange, .navbar-orange .navbar-collapse, .navbar-orange .container-fluid {
		padding-left: 0 !important;
	}

	.navbar-search {
		display: none;
	}

	.header__logo a {
		display: flex;
	}

	.header__logo h1 {
		font-size: 30px !important;
		line-height: 1.2 !important;
		margin-bottom: 0;
		margin-top: 10px;
	}

	.header__logo-text {
		flex-grow: 1;
	}

	.header__logo a img {
		width: 75px;
		/*margin-top: 10px;*/
		height: auto;
	}

	.header__logo h4 {
		font-size: 12px;
		margin-top: 5px;
	}

	.login_resg ul > li#NotiArea {
		position: relative;
		padding: 5px;
	}

		.login_resg ul > li#NotiArea > ul {
			position: absolute;
			padding: 5px;
		}

			.login_resg ul > li#NotiArea > ul > li.ace-scroll {
				background-color: #fff
			}

	.login_resg ul li a {
		font-size: 16px;
	}


	#iconmenu {
		display: block;
		float: left;
		background-color: #fff;
	}

	#menu {
		height: auto;
	}

	.content-menu {
		width: 66%;
	}

		.content-menu .navbar-nav > li {
			float: left;
			width: 100%;
		}

	.content-menu-MenuMain.collapse {
		display: none !important;
	}

	.content-menu__navbar {
		min-height: 0 !important;
	}

	#menu .navbar-nav > li > .dropdown-menu {
		position: static !important;
		width: 100% !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.navbar-toggle .icon-bar {
		background: #808080;
	}

	.UngDungWeb h2 {
		padding-right: 40px;
		font-size: 20px;
	}

	.content-right__TinNoiBat_Title h2 a {
		font-size: 18px;
	}

	.content-right__Banner img {
		max-width: 100%;
		height: 70px;
		object-fit: unset;
	}

	#boxTraCuu {
		margin-top: 5px;
	}

	.content-left__TinNoiBat a {
		font-size: 22px;
	}

	.TinNoiKha-Box .col-sm-7 {
		padding-left: 0;
		text-align: justify;
	}

	.content-right__PhanAnh form label, #loaiPhanAnh, #Case1Pg1 .form-group > .col-sm-8.no-padding-right {
		width: 100%;
	}

	.content-left > .product-title {
		margin-top: 0;
		color: #0094ff;
		border-color: #0094ff;
	}

	.col-8-gov {
		margin-bottom: 16px;
		width: 100%;
	}

	.UDW-App {
		width: 38%;
		font-size: 30px;
		font-family: RobotoCondensed-Bold;
		color: #c2c2c2;
		display: table-cell;
		border-bottom: 2px solid #ff6100;
	}

	.main-left-gov {
		width: 100%;
	}

	.content-aside-1 {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 21px;
	}

	.aside-1-info-img {
		position: relative;
		display: table-cell;
		vertical-align: top;
		width: 125px;
		height: 80px;
	}

	.aside-1-info-content {
		display: table-cell;
		padding-left: 15px;
		text-align: justify;
		vertical-align: top;
	}

	.tranh-chap-kn a {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
}

@media screen and (width:768px) {
	.company-info-edit .eu-dashboard-shortcut .card-top-content {
		display: block;
		text-align: left;
		min-height: 80px;
		padding-left: 15px;
		padding-top: 5px;
	}

	.header-right-box-left > :first-child {
		display: none;
	}

	.header-right-box-left,
	.header-right-box-right {
		width: unset;
	}

	.rowflex {
		display: inline-block;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}

	.card-top-wrapper {
		width: 100%;
	}

	.menu-profile {
		width: 100%;
	}

	.end-user-content {
		width: 100%;
	}

	.flex-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.show-on-mobile {
		display: none;
	}

	.boxSearchPro.second {
		margin-top: 24px;
		margin-bottom: 24px;
	}

		.boxSearchPro.second .button-search {
			padding-left: 12px;
		}

		.boxSearchPro.second .search-domain-desk {
			width: 100%;
		}

	.tra-cuu-ho-so-desk.second ul {
		/*text-align: center;*/
		padding-left: 0;
		padding-top: 10px;
	}

	.quy-trinh {
		display: none;
	}

	.header-desk-left img {
		max-width: 300px;
		/*margin: auto;*/
	}

	.navbar-search {
		display: none;
	}

	.navbar-orange, .navbar-orange .navbar-collapse, .navbar-orange .container-fluid {
		padding-left: 0 !important;
	}

	.header__logo a {
		display: flex;
	}

	.header__logo h1 {
		font-size: 30px !important;
		line-height: 1.2 !important;
		margin-bottom: 0;
		margin-top: 10px;
	}

	.header__logo-text {
		flex-grow: 1;
	}

	.header__logo a img {
		width: 75px;
		/*margin-top: 10px;*/
		height: auto;
	}

	.header__logo h4 {
		font-size: 12px;
		margin-top: 5px;
	}

	.login_resg ul li {
		padding: 5px;
	}

		.login_resg ul li a {
			font-size: 16px;
		}

	#iconmenu {
		display: block;
		float: left;
		background-color: #fff;
	}

	#menu {
		height: auto;
	}

	.content-menu {
		width: 100%;
	}

		.content-menu .navbar-nav > li {
			float: left;
			width: 100%;
		}

	.content-menu-MenuMain.collapse {
		display: none !important;
	}

	.content-menu__navbar {
		min-height: 0 !important;
	}

	#menu .container {
		position: relative;
	}

	#menu .Seacrh {
		position: absolute;
		right: 0;
	}

	#menu .navbar-nav > li > .dropdown-menu {
		position: static !important;
		width: 100% !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.navbar-toggle .icon-bar {
		background: #808080;
	}

	.UngDungWeb h2 {
		padding-right: 40px;
		font-size: 20px;
	}

	.content-right__TinNoiBat_Title h2 a {
		font-size: 18px;
	}

	.content-right__Banner img {
		max-width: 100%;
		height: 70px;
		object-fit: unset;
	}

	#boxTraCuu {
		margin-top: 5px;
	}

	.content-left__TinNoiBat a {
		font-size: 22px;
	}

	.TinNoiKha-Box .col-sm-7 {
		padding-left: 0;
		text-align: justify;
	}

	.content-right__PhanAnh form label, #loaiPhanAnh, #Case1Pg1 .form-group > .col-sm-8.no-padding-right,
	.content-left, .content-right {
		width: 100%;
	}

	.content-left {
		padding-right: 0;
	}

	.content-right {
		padding-left: 0;
		margin-top: 15px;
	}

	.content-right__Banner {
		text-align: center;
	}

		.content-right__Banner a img {
			max-width: 49%;
			height: auto;
		}

	.content-left > .product-title {
		margin-top: 0;
		color: #0094ff;
		border-color: #0094ff;
	}

	.item-card {
		height: 135px;
	}

	.login_resg ul > li#NotiArea {
		position: relative;
		padding: 5px;
	}

		.login_resg ul > li#NotiArea > ul {
			position: absolute;
			padding: 5px;
		}

			.login_resg ul > li#NotiArea > ul > li.ace-scroll {
				background-color: #fff
			}

	.login_resg ul li a {
		font-size: 16px;
	}


	.col-8-gov {
		margin-bottom: 16px;
		width: 100%;
	}

	.UDW-App {
		width: 38%;
		font-size: 30px;
		font-family: RobotoCondensed-Bold;
		color: #c2c2c2;
		display: table-cell;
		border-bottom: 2px solid #ff6100;
	}

	.main-left-gov {
		width: 100%;
	}

	.content-aside-1 {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 21px;
	}

	.aside-1-info-img {
		position: relative;
		display: table-cell;
		vertical-align: top;
		width: 125px;
		height: 80px;
	}

	.aside-1-info-content {
		display: table-cell;
		padding-left: 15px;
		text-align: justify;
		vertical-align: top;
	}

	.tranh-chap-kn a {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}
}

@media screen and (max-width:767px) and (min-width:481px) {
	.company-info-edit .eu-dashboard-shortcut {
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		margin-bottom: 20px;
		padding: 0 24px;
	}

	.header-right-box-right .icon-bell {
		font-size: 20px;
		color: #d92550 !important;
	}

	.header-right-box-right .noti-number span {
		color: red !important;
	}

	.header-right-box-left > :first-child {
		display: none;
	}

	.header-right-box-left,
	.header-right-box-right {
		width: unset;
	}

	/*.rowflex {
        display: inline-block;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }*/

	.card-top-wrapper {
		width: 100%;
	}

	.menu-profile {
		width: 100%;
	}

	.end-user-content {
		width: 100%;
	}

	ul.boxNoti-Edit li {
		padding: 10px;
		color: #333;
	}

	.wrapper-nav .dropdown-menu li {
		text-decoration: none;
		list-style: none;
		border: none;
		line-height: 25px;
	}

	#NotiArea .dropdown-menu {
		width: unset !important;
	}

	#NotiArea .dropdown-menu-rounded {
		top: 7px !important;
		left: -98px !important;
	}

	.cac-thong-bao-header {
		min-width: 21rem !important;
	}

	.rightTopmenu {
		position: absolute;
		top: -2px;
		right: 0;
	}

		.rightTopmenu > li > a {
			color: #fff !important;
		}

	.border-dv-icon, .border-tb-icon {
		position: relative;
		width: 44px;
		height: unset;
		border-radius: 40px;
	}

	.noti-number > span {
		color: #fff;
	}

	.icon-bell {
		font-size: 20px;
		color: #fff;
	}

	.header-desk-left > a {
		margin: 0 auto;
	}

	.show-on-mobile {
		display: block;
	}

	.hide-on-mobile {
		display: none;
	}

	.partialNewsHome {
		margin-top: 30px !important;
		position: unset;
	}

	.boxDetailDataDisplay .DataLabel {
		font-weight: bold;
	}

	.AppdetailsName {
		display: flex;
		justify-content: center;
	}

	.boxDetailDataDisplay > div {
		display: flex;
		justify-content: left;
	}

	.boxSearchPro.second {
		margin-top: 24px;
		margin-bottom: 24px;
	}

		.boxSearchPro.second .button-search {
			padding-left: 0;
		}

		.boxSearchPro.second .search-domain-desk {
			width: 100%;
		}

	.tra-cuu-ho-so-desk.second ul {
		/*text-align: center;*/
		padding-left: 0;
		padding-top: 10px;
	}

	.footer-left-2 a {
		font-size: 45px;
	}

	.info-footer-gov p, .info-footer-gov span {
		font-size: 11px;
		font-family: RobotoBold;
		color: #fff;
	}

	.App-TMDT-box {
		display: grid;
		grid-template-columns: repeat(1,1fr);
	}

	.quy-trinh {
		display: none;
	}

	.header-desk-right {
		display: none;
	}

	.header-desk-left img {
		max-width: 300px;
		margin: auto;
	}
	/*.navbar-search {
        position: absolute;
        max-width: 330px;
        width: calc(100% - 60px);
        padding: 0;
        right: 12px;
        z-index: 100;
    }*/
	.header__logo a {
		display: flex;
	}

	.header__logo h1 {
		font-size: 30px !important;
		line-height: 1.2 !important;
		margin-bottom: 0;
		margin-top: 20px;
	}

	.header__logo-text {
		flex-grow: 1;
	}

	.header__logo a img {
		width: 75px;
		/*margin-top: 10px;*/
		height: auto;
	}

	.header__logo h4 {
		font-size: 12px;
		margin-top: 5px;
	}

	.login_resg ul li {
		padding: 2px 5px;
	}

		.login_resg ul li a {
			font-size: 14px;
		}

	#iconmenu {
		display: block;
		float: left;
		background-color: #fff;
	}

	#menu {
		height: auto;
	}

	.content-menu {
		width: auto;
		float: left;
	}

		.content-menu .navbar-nav > li {
			float: left;
			width: 330px;
		}

	.content-menu-MenuMain.collapse {
		display: none !important;
	}

	.content-menu__navbar {
		min-height: 0 !important;
	}

	#menu .container {
		position: relative;
	}

	#menu .Seacrh {
		position: absolute;
		right: 0;
		width: 30%;
	}

	#menu .navbar-nav > li > .dropdown-menu {
		position: static !important;
		width: 100% !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.navbar-toggle .icon-bar {
		background: #808080;
	}

	.UngDungWeb h2 {
		padding-right: 40px;
		font-size: 20px;
	}

	.content-right__TinNoiBat_Title h2 a {
		font-size: 18px;
	}

	.content-right__Banner img {
		max-width: 100%;
		height: 70px;
		object-fit: unset;
	}

	#boxTraCuu {
		margin-top: 5px;
	}

	.content-left__TinNoiBat a {
		font-size: 22px;
	}

	.TinNoiKha-Box .col-sm-7 {
		text-align: justify;
	}

	.content-right__PhanAnh form label, #loaiPhanAnh, #Case1Pg1 .form-group > .col-sm-8.no-padding-right,
	.content-left, .content-right {
		width: 100%;
	}

	.content-left {
		padding-right: 0;
	}

	.content-right {
		padding-left: 0;
		margin-top: 15px;
	}

	.content-right__Banner {
		text-align: center;
	}

		.content-right__Banner a img {
			max-width: 49%;
			height: auto;
		}

	.content-left > .product-title {
		margin-top: 0;
		color: #0094ff;
		border-color: #0094ff;
	}

	.item-card {
		height: 135px;
	}

	.content-right__Chung, .content-right__TinNoiBat_Title {
		float: left;
		width: 100%;
	}

	.content-right__TinNoiBat_Content {
		margin-bottom: 15px;
	}

		.content-right__TinNoiBat_Content > .col-sm-4, .sticky-item-flow .item-flow-image {
			width: 35%;
			float: left;
		}

		.content-right__TinNoiBat_Content > .col-sm-8, .item-flow-content {
			width: 65%;
			padding-left: 15px !important;
			line-height: 1.2;
			float: left;
		}

	.sticky-item-flow {
		height: 140px;
	}

	.login_resg {
		position: absolute;
		top: 44px;
		right: 0;
		padding-top: 0;
	}

	.register {
		margin-right: 15px;
		padding-top: 30px;
	}

	#header {
		padding-bottom: 20px;
	}

	.quytrinh__cacbuoc {
		display: flex;
	}

	.content-left__TinNoiKhac, .UngDungChung {
		float: left;
		width: 100%;
	}

	.UngDungChung {
		padding: 0;
		margin-bottom: 15px;
	}

	.vanban__phapluat {
		margin-bottom: 15px;
	}

	.UngDungWeb {
		margin-bottom: 15px;
	}

	.TinNoiKha-Box {
		height: 100%;
	}

		.TinNoiKha-Box .col-sm-5 {
			padding-right: 0;
		}

		.TinNoiKha-Box img {
			height: 120px;
		}

	.content-left__TinNoiKhac .content-left__TinNoiKhac__Chung {
		width: 50%;
		float: left;
		height: 200px;
		margin-bottom: 15px;
	}

	.UngDungChung__conetnt_Title h3 {
		margin-top: 10px
	}

	.navbar-search {
		display: none;
	}

	#logoutForm .rightTopmenu {
		display: flex;
		width: unset !important;
	}

		#logoutForm .rightTopmenu > li#NotiArea {
			position: relative;
		}

			#logoutForm .rightTopmenu > li#NotiArea > ul {
				position: absolute;
				right: -176px;
			}

				#logoutForm .rightTopmenu > li#NotiArea > ul > li.ace-scroll {
					background-color: #fff;
				}

	.col-8-gov {
		margin-bottom: 16px;
		width: 100%;
	}

	.UDW-App {
		width: 137px;
		font-size: 30px;
		font-family: RobotoCondensed-Bold;
		color: #c2c2c2;
		display: table-cell;
		border-bottom: 2px solid #ff6100;
	}

	.aside-1-info-content a.title {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		visibility: visible;
	}


	.main-left-gov {
		width: 100%;
	}

	.content-aside-1 {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 21px;
	}

	.aside-1-info-img {
		position: relative;
		display: table-cell;
		vertical-align: top;
		width: 110px;
		height: 80px;
	}

	.aside-1-info-content {
		display: table-cell;
		padding-left: 15px;
		text-align: justify;
		vertical-align: top;
	}

	.tranh-chap-kn a {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}

	.tra-cuu-ho-so-desk ul > li {
		padding-right: 0;
		display: inline-block;
		list-style: none;
		color: #fff;
		font-family: Roboto-Medium_0;
	}

	.tra-cuu-ho-so-desk {
		flex-wrap: wrap;
		display: flex;
	}

	.aside-1 {
		float: left;
	}

	.tra-cuu-ho-so-desk ul {
		text-align: center;
		padding-left: 0;
		padding-top: 10px;
	}

	.tra-cuu-right {
		padding-left: 0;
	}

	.tra-cuu-dek-onlinegov {
		float: left;
		padding: 22px 23px 22px 26px;
		height: 202px;
		width: 100%;
		background-color: #ff6100;
		margin-top: 20px;
	}
}

@media screen and (max-width:660px) {
	#header-edit {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.header-left-edit {
		width: 100%;
		padding: 10px 20px;
	}
	/*.header-right-edit {
        width: 100%;
      
    }*/
	.tbl-header-left {
		display: flex;
		justify-content: center;
	}

	.header-left-ava,
	.header-left-gov {
		display: unset;
	}

	.cac-dich-vu .dropdown-menu-rounded, .cac-thong-bao .dropdown-menu-rounded {
		left: -75px !important;
		top: 10px !important;
	}
}

@media screen and (max-width:525px) {
	.company-info-edit .eu-dashboard-shortcut {
		display: grid;
		grid-template-columns: repeat(1,1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px;
		margin-bottom: 20px;
		padding: 0 12px;
	}
}

@media screen and (max-width:480px) {
	.box-ava-user-header {
		min-width: 17rem;
	}

	.dropdown-menu-rounded {
		left: 22px !important;
	}

	.box-info-user .dropdown-menu-rounded {
		left: -90px !important;
		top: 10px !important;
	}

	.header-right-box-right .icon-bell {
		font-size: 20px;
		color: #d92550 !important;
	}

	#scr-div-mess {
		height: unset;
	}

	.xdl-wrapper-border5 .height-300 {
		height: unset;
	}

	.header-right-box-right .noti-number span {
		color: red !important;
	}

	.header-right-box-left > :first-child {
		display: none;
	}

	.header-right-box-left,
	.header-right-box-right {
		width: unset;
	}

	/*.rowflex {
        display: inline-block;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }*/

	.card-top-wrapper {
		width: 100%;
	}

	.menu-profile {
		width: 100%;
	}

	.end-user-content {
		width: 100%;
	}

	ul.boxNoti-Edit li {
		padding: 10px;
		color: #333;
	}

	.wrapper-nav .dropdown-menu li {
		text-decoration: none;
		list-style: none;
		border: none;
		line-height: 25px;
	}

	#NotiArea .dropdown-menu {
		width: unset !important;
	}

	#NotiArea .dropdown-menu-rounded {
		top: 7px !important;
		left: -41px !important;
	}

	.cac-thong-bao-header {
		min-width: 18rem !important;
	}

	.rightTopmenu {
		position: absolute;
		top: -2px;
		right: 0;
	}

		.rightTopmenu > li > a {
			color: #fff !important;
		}

	.border-dv-icon, .border-tb-icon {
		position: relative;
		width: 44px;
		height: unset;
		border-radius: 40px;
	}

	.noti-number > span {
		color: #fff;
	}

	.icon-bell {
		font-size: 20px;
		color: #fff;
	}

	.header-desk-left a {
		margin: 0 auto;
	}

	.show-on-mobile {
		display: block;
	}

	.hide-on-mobile {
		display: none;
	}

	.pager__item {
		display: inline-block;
		vertical-align: top;
		font-size: 11px;
		font-weight: bold;
		margin: 0 2px;
	}

	.hometable-wrapper > table {
		width: 480px;
		overflow-y: scroll;
	}

	.partialNewsHome {
		margin-top: 30px !important;
		position: unset;
	}

	#boxResultCOntent .tin-tuc-index {
		display: unset;
	}

	#boxResultCOntent .tin-tuc-index-img, tin-tuc-index-content {
		display: unset;
	}

		#boxResultCOntent .tin-tuc-index-img img {
			object-fit: cover;
			height: 180px;
			width: 100%;
		}

	#boxResultCOntent .tin-tuc-index-content {
		padding-bottom: 12px;
		padding-left: 0px;
		padding-top: 12px;
	}

	#boxResultCOntentRoom .tin-tuc-index {
		display: unset;
	}

	#boxResultCOntentRoom .tin-tuc-index-img, tin-tuc-index-content {
		display: unset;
	}

		#boxResultCOntentRoom .tin-tuc-index-img img {
			object-fit: cover;
			height: 180px;
			width: 100%;
		}

	#boxResultCOntentRoom .tin-tuc-index-content {
		padding-bottom: 12px;
		padding-left: 0px;
		padding-top: 12px;
	}
	.title-section h1 {
		font-size: 17px;
	}

	.AppdetailsName {
		display: flex;
		justify-content: center;
	}

	.boxDetailDataDisplay > div {
		padding: 5px 0;
		display: flex;
		justify-content: left;
	}

	.tra-cuu-right {
		padding-left: 0;
	}

		.tra-cuu-right button {
			width: 100%;
		}

	.tra-cuu-dek-onlinegov {
		float: left;
		padding: 22px 23px 22px 26px;
		height: 172px;
		width: 100%;
		background-color: #ff6100;
		margin-top: 20px;
	}

	.boxDetailDataDisplay .DataLabel {
		font-weight: bold;
	}

		.boxDetailDataDisplay .DataLabel p {
			margin: 0px;
		}

	.mobile-display-none {
		display: none;
	}

	.info-footer-gov p, .info-footer-gov span {
		font-size: 11px;
		font-family: RobotoBold;
		color: #fff;
	}

	.footer-left-2 a {
		font-size: 45px;
	}

	.quy-trinh {
		display: none;
	}

	.header-desk-right {
		display: none;
	}

	.header-desk-left img {
		max-width: 300px;
		margin: auto;
	}

	.header__logo a {
		display: flex;
	}

	.header__logo h1 {
		font-size: 20px !important;
		line-height: 1.2 !important;
		margin-bottom: 0;
		margin-top: 10px;
	}

	.header__logo-text {
		flex-grow: 1;
	}

	.header__logo a img {
		width: 40px;
		/*margin-top: 20px;*/
		height: auto;
	}

	.header__logo h4 {
		font-size: 12px;
		margin-top: 5px;
	}

	#header .container {
		padding: 0;
	}

	.login_resg ul li {
		padding: 2px;
	}

		.login_resg ul li a {
			font-size: 14px;
		}

	#iconmenu {
		display: block;
		float: left;
		background-color: #fff;
	}

	#menu {
		height: auto;
	}

	.content-menu {
		width: 100%;
		float: left;
	}

		.content-menu .navbar-nav > li {
			float: left;
			width: 330px;
		}

	.content-menu-MenuMain.collapse {
		/*display: none !important;*/
	}

	.content-menu__navbar {
		/*min-height: 0 !important;*/
	}

	#menu .container {
		position: relative;
	}

	.navbar-search {
		display: none;
	}

	#menu .Seacrh {
		position: absolute;
		right: 0;
		width: 50%;
	}

	#menu .navbar-nav > li > .dropdown-menu {
		position: static !important;
		width: 100% !important;
	}

	.navbar-collapse.collapse.in {
		display: block !important;
	}

	.navbar-toggle .icon-bar {
		background: #808080;
	}

	.UngDungWeb h2 {
		padding-right: 40px;
		font-size: 20px;
		line-height: 1.5;
	}

	.content-right__TinNoiBat_Title h2 a {
		font-size: 18px;
	}

	.content-right__Banner img {
		max-width: 100%;
		height: 70px;
		object-fit: unset;
	}

	#boxTraCuu {
		margin-top: 5px;
	}

	.content-left__TinNoiBat a {
		font-size: 22px;
	}

	#banner img {
		height: 130px;
	}

	.carousel-indicators li, .carousel-indicators li.active {
		width: 15px;
		height: 15px;
	}

	.TinNoiKha-Box .col-sm-7 {
		text-align: justify;
	}

	.content-right__PhanAnh form label, #loaiPhanAnh, #Case1Pg1 .form-group > .col-sm-8.no-padding-right,
	.content-left, .content-right {
		width: 100%;
	}

	.content-left {
		padding-right: 0;
	}

	.content-right {
		padding-left: 0;
		margin-top: 15px;
	}

	.content-right__Banner {
		text-align: center;
	}

		.content-right__Banner a img {
			max-width: 100%;
			height: auto;
		}

	.content-left > .product-title {
		margin-top: 0;
		color: #0094ff;
		border-color: #0094ff;
	}

	.item-card {
		height: 165px;
	}

	.content-right__Chung, .content-right__TinNoiBat_Title {
		float: left;
		width: 100%;
	}

	.content-right__TinNoiBat_Content {
		margin-bottom: 15px;
	}

		.content-right__TinNoiBat_Content > .col-sm-4, .sticky-item-flow .item-flow-image {
			width: 35%;
			float: left;
		}

		.content-right__TinNoiBat_Content > .col-sm-8, .item-flow-content {
			width: 65%;
			padding-left: 15px !important;
			line-height: 1.2;
			float: left;
		}

	.item-flow-image {
		height: 90px;
	}

	.sticky-item-flow {
		height: 110px;
	}

	.login_resg {
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 0;
	}

		.login_resg .register {
			padding-top: 0;
		}

	.quytrinh__cacbuoc {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	#quytrinh .quytrinh__cacbuoc .quytrinh__cacbuoc_chung {
		width: 60%;
		margin: auto auto 20px;
	}

	.content-left__TinNoiKhac, .UngDungChung {
		float: left;
		width: 100%;
	}



	.UngDungChung {
		padding: 0;
		margin-bottom: 15px;
	}

	.vanban__phapluat {
		margin-bottom: 15px;
	}

	.UngDungChung__conetnt_Title h3 {
		margin-top: 10px
	}

	.UngDungWeb {
		margin-bottom: 15px;
	}

	.TinNoiKha-Box {
		height: 100%;
	}

		.TinNoiKha-Box .col-sm-5 {
			padding-right: 0;
		}

		.TinNoiKha-Box img {
			height: 120px;
		}

	.content-left__TinNoiBat img {
		height: 300px;
	}

	.content-left__TinNoiKhac .content-left__TinNoiKhac__Chung {
		width: 50%;
		float: left;
		height: 200px;
		margin-bottom: 15px;
	}

	.content-right__PhanAnh form button {
		font-size: 16px;
		padding: 8px 15px;
	}

	#quytrinh h2 {
		font-size: 22px;
	}

	#logoutForm .rightTopmenu {
		display: flex;
		/*width: 100% !important;*/
		float: right;
		padding-right: 15px;
	}

		#logoutForm .rightTopmenu > li#NotiArea {
			position: relative;
		}

			#logoutForm .rightTopmenu > li#NotiArea > ul {
				position: absolute;
				right: -176px;
			}

				#logoutForm .rightTopmenu > li#NotiArea > ul > li.ace-scroll {
					background-color: #fff;
				}

	.col-8-gov {
		margin-bottom: 16px;
		width: 100%;
	}

	.UDW-App {
		width: 115px;
		font-size: 25px;
		font-family: RobotoCondensed-Bold;
		color: #c2c2c2;
		display: table-cell;
		border-bottom: 2px solid #ff6100;
	}

	.UDW-Website {
		width: 25px;
		font-size: 25px;
		font-family: RobotoCondensed-Bold;
		color: #c2c2c2;
		display: table-cell;
		border-bottom: 2px solid #ff6100;
	}

	.UDW-Website-info {
		padding-left: 5px;
		font-size: 18px;
		font-family: RobotoCondensed-Bold;
		color: #ff6100;
		display: table-cell;
		border-bottom: 2px solid #bfbfbf;
	}

	.UDW-App-info {
		padding-left: 5px;
		font-size: 18px;
		font-family: RobotoCondensed-Bold;
		color: #ff6100;
		display: table-cell;
		border-bottom: 2px solid #bfbfbf;
	}

	.main-left-gov {
		width: 100%;
	}

	.content-aside-1 {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 21px;
	}

	.aside-1-info-img {
		position: relative;
		display: table-cell;
		vertical-align: top;
		width: 125px;
		height: 80px;
	}

	.aside-1-info-content {
		display: table-cell;
		padding-left: 15px;
		text-align: justify;
		vertical-align: top;
	}

	.tranh-chap-kn a {
		width: 100%;
		float: left;
		margin-bottom: 20px;
	}

	.tra-cuu-ho-so-desk ul > li {
		padding-right: 0;
		display: unset;
		list-style: none;
		color: #fff;
		font-family: Roboto-Medium_0;
	}

	.tra-cuu-ho-so-desk {
		flex-wrap: wrap;
		display: flex;
	}

	.aside-1 {
		float: left;
	}

	.boxSearchPro.second {
		margin-top: 24px;
		margin-bottom: 24px;
	}

		.boxSearchPro.second .button-search {
			padding-left: 0;
		}

		.boxSearchPro.second .search-domain-desk {
			width: 100%;
		}

	.tra-cuu-ho-so-desk ul {
		text-align: left;
		padding-left: 0;
		padding-top: 10px;
	}

	.tra-cuu-right {
		padding-left: 0;
	}

		.tra-cuu-right button {
			width: 100%;
		}

	.tra-cuu-dek-onlinegov {
		float: left;
		padding: 22px 23px 22px 26px;
		height: 212px;
		width: 100%;
		background-color: #ff6100;
		margin-top: 20px;
	}

	.App-TMDT-box {
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 10px;
	}

	.domain-web {
		display: -webkit-box !important;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		visibility: visible;
		margin-bottom: 0 !important;
	}

	.content-aside-1 {
		display: grid;
		grid-template-columns: 1fr;
		grid-column-gap: 21px;
	}

	.UngDungChung__conetnt {
		padding-bottom: 0px;
	}

	.footer-left-2 a {
		font-size: 45px;
	}

	.App-TMDT-box {
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
	}

	.UDC-APP {
		text-align: center;
	}

	.registerChooseBox > a > img {
		display: none;
	}
}

@media screen and (max-width:452px) {

	.tra-cuu-dek-onlinegov {
		float: left;
		padding: 22px 23px 22px 26px;
		height: 212px;
		width: 100%;
		background-color: #ff6100;
		margin-top: 20px;
	}

	.show-on-mobile {
		display: block;
	}

	.hide-on-mobile {
		display: none;
	}

	.tra-cuu-dek-onlinegov {
		padding: 22px 23px 22px 26px;
		height: 160px;
		width: 100%;
		background-color: #ff6100;
		margin-top: 20px;
	}

	.tra-cuu-right button {
		width: 100%;
	}
}

@media screen and (max-width:493px) {

	.tra-cuu-dek-onlinegov {
		float: left;
		padding: 22px 23px 22px 26px;
		height: 231px;
		width: 100%;
		background-color: #ff6100;
		margin-top: 20px;
	}

	.rightTopmenu > li > a {
		padding: 5px 8px;
		font-size: 10px;
		color: #fff !important;
	}

	.tra-cuu-right button {
		width: 100%;
	}
}

@media screen and (max-width:327px) {

	.tra-cuu-dek-onlinegov {
		float: left;
		padding: 22px 23px 22px 26px;
		height: 212px;
		width: 100%;
		background-color: #ff6100;
		margin-top: 20px;
	}

	.show-on-mobile {
		display: block;
	}

	.hide-on-mobile {
		display: none;
	}

	.mobile-display-none {
		display: none;
	}

	.tra-cuu-ho-so-desk ul > li {
		padding-right: 0;
		display: unset;
		list-style: none;
		color: #fff;
		font-family: Roboto-Medium_0;
	}

	.info-footer-gov p, .info-footer-gov span {
		font-size: 11px;
		font-family: RobotoBold;
		color: #fff;
	}

	.footer-left-2 a {
		font-size: 45px;
	}

	.boxSearchPro.second {
		margin-top: 24px;
		margin-bottom: 24px;
	}

		.boxSearchPro.second .button-search {
			padding-left: 0;
		}

		.boxSearchPro.second .search-domain-desk {
			width: 100%;
		}

	.tra-cuu-ho-so-desk.second ul {
		/*text-align: center;*/
		padding-left: 0;
		padding-top: 10px;
	}

	.tra-cuu-ho-so-desk ul {
		text-align: left;
		padding-left: 0;
		padding-top: 10px;
	}

	#banner {
		display: none;
	}

	.tra-cuu-right button {
		width: 100%;
	}
}

@media screen and (max-width:415px) {
	.bre-index {
		display: none !important;
	}
}

/*Responsive màn hình lớn hơn 425px*/

@media screen and (min-width: 426px) {
	.dropdownBar {
		display: none;
	}
}


/*Responsive màn hình Mobile L 425px*/

@media screen and (max-width: 425px) and (min-width:376px) {
	.header__logo {
		left: 10px;
		height: 10px;
		position: absolute;
		top: 0;
	}

		.header__logo a img {
			margin-top: 0px;
		}

	.login_resg {
		padding-top: 10px;
	}

	.dropdownItem {
		display: none;
	}

	.dropdownBar {
		float: right;
		padding: 3px 7px;
		margin-right: 12px;
		border-radius: 4px;
	}

	#searchBoxHouse {
		margin: unset !important;
	}

	._9ofhsl {
		position: unset !important;
	}

	#searchBoxTextIntro {
		position: absolute;
		top: -105px;
		left: 18px;
		width: 370px;
		color: white !important;
		font-size: 34px !important;
	}

	#searchBoxHouse {
		padding: 0px !important;
		position: absolute;
		left: 0;
	}

	#searchBoxItem {
		margin: 0px;
		padding: 0px 20px !important;
		width: 100% !important;
		box-shadow: none !important;
	}

	#searchBoxTextItem1 #searchBoxTextItem1_1 {
		margin-bottom: 2px !important;
	}

	#searchBoxTextItem1 #searchBoxTextItem1_2 .col-sm-4 .form-control {
		font-size: 14px !important;
		height: 37px !important;
		max-width: 500px;
	}

	#searchBoxTextItem2 {
		margin-top: 8px !important;
		margin-bottom: 8px !important;
	}

	#searchBoxTextItem2_2 {
		display: flex;
	}

		#searchBoxTextItem2_2 .col-sm-5 {
			max-width: 500px;
		}

		#searchBoxTextItem2_2 .col-sm-2 {
			top: 17px !important;
		}

	#searchBoxTextItem2 #searchBoxTextItem2_1 {
		margin-bottom: 2px !important;
	}

	#searchBoxTextItem2 #searchBoxTextItem2_2 .col-sm-5 .form-control {
		font-size: 14px !important;
		height: 37px !important;
		max-width: 500px;
	}

	#searchBoxTextItem3 #searchBoxTextItem3_1 {
		margin-top: 3px !important;
		margin-bottom: 2px !important;
	}

	#searchBoxTextItem3 #searchBoxTextItem3_2 .form-control {
		font-size: 14px !important;
		height: 37px !important;
		max-width: 500px;
	}

	#searchBoxTextItem4 {
		margin-top: 0px !important;
	}

		#searchBoxTextItem4 button {
			margin-top: 0px !important;
			width: 100%;
			height: 40px;
		}

	#timhieuMrental {
		padding-left: 20px !important;
		margin-bottom: 40px !important;
		margin-top: 0px !important;
	}

	#timhieuMrental2 img {
		height: 100px !important;
	}

	.timhieuMrental2Area {
		display: flex;
		overflow-x: auto;
		width: 385px;
	}

	#timhieuMrental2 {
		display: flex;
	}

		#timhieuMrental2 li {
			width: 175px;
			height: 50% !important;
		}

	.timhieuMrental2Area::-webkit-scrollbar {
		display: none;
	}

	.restaurantIntroAreaBackGround {
		height: 174px;
	}

	.restaurantIntroArea {
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 17px;
	}

	.restaurantIntroArea_Text1 {
		font-size: 15px !important;
		padding-bottom: 20px !important;
	}

	.restaurantIntroArea_Text2 {
		font-size: 50px !important;
		padding-bottom: 25px !important;
	}

	.restaurantIntroArea_Text3 {
		font-size: 18px !important;
		padding-bottom: 13px !important;
	}
}

@media screen and (max-width: 425px) and (min-width:395px) {
	#searchBoxTextIntro {
		width: 358px;
		font-size: 30px !important;
	}
}

@media screen and (max-width: 395px) and (min-width:375px) {
	#searchBoxTextIntro {
		width: 350px;
		font-size: 30px !important;
	}
}

@media screen and (max-width: 374px) and (min-width:360px) {
	#searchBoxTextIntro {
		width: 326px;
		font-size: 29px !important;
	}
}

@media screen and (max-width: 374px) and (min-width:360px) {
	#searchBoxTextIntro {
		width: 326px;
		font-size: 29px !important;
	}
}

@media screen and (max-width: 359px) and (min-width:340px) {
	#searchBoxTextIntro {
		width: 300px;
		font-size: 29px !important;
	}
}

@media screen and (max-width: 339px) and (min-width:320px) {
	#searchBoxTextIntro {
		width: 280px;
		font-size: 28px !important;
	}
}

@media screen and (max-width: 319px) {
	#searchBoxTextIntro {
		width: 80%;
		font-size: 130% !important;
	}
}

@media screen and (max-width: 375px) and (min-width:320px) {

	.header__logo {
		left: 10px;
		height: 10px;
		position: absolute;
		top: 0;
	}

	#searchBoxTextIntro {
		position: absolute;
		top: -105px;
		left: 18px;
		color: white !important;
	}

	.header__logo a img {
		margin-top: 0px;
	}

	.login_resg {
		padding-top: 10px;
	}

	.dropdownItem {
		display: none;
	}

	.dropdownBar {
		float: right;
		padding: 3px 7px;
		margin-right: 12px;
		border-radius: 4px;
	}

	#searchBoxHouse {
		margin: unset !important;
	}

	._9ofhsl {
		position: unset !important;
	}

	#searchBoxHouse {
		padding: 0px !important;
		position: absolute;
		left: 0;
	}

	#searchBoxItem {
		margin: 0px;
		padding: 0px 20px !important;
		width: 100% !important;
		box-shadow: none !important;
	}

	#searchBoxTextItem1 #searchBoxTextItem1_1 {
		margin-bottom: 2px !important;
	}

	#searchBoxTextItem1 #searchBoxTextItem1_2 .col-sm-4 .form-control {
		font-size: 14px !important;
		height: 37px !important;
		max-width: 500px;
	}

	#searchBoxTextItem2 {
		margin-top: 8px !important;
		margin-bottom: 8px !important;
	}

	#searchBoxTextItem2_2 {
		display: flex;
	}

		#searchBoxTextItem2_2 .col-sm-5 {
			max-width: 500px;
		}

		#searchBoxTextItem2_2 .col-sm-2 {
			top: 17px !important;
		}

	#searchBoxTextItem2 #searchBoxTextItem2_1 {
		margin-bottom: 2px !important;
	}

	#searchBoxTextItem2 #searchBoxTextItem2_2 .col-sm-5 .form-control {
		font-size: 14px !important;
		height: 37px !important;
		max-width: 500px;
	}

	#searchBoxTextItem3 #searchBoxTextItem3_1 {
		margin-top: 3px !important;
		margin-bottom: 2px !important;
	}

	#searchBoxTextItem3 #searchBoxTextItem3_2 .form-control {
		font-size: 14px !important;
		height: 37px !important;
		max-width: 500px;
	}

	#searchBoxTextItem4 {
		margin-top: 0px !important;
	}

		#searchBoxTextItem4 button {
			margin-top: 0px !important;
			width: 100%;
			height: 40px;
		}

	#timhieuMrental {
		padding-left: 20px !important;
		margin-bottom: 40px !important;
		margin-top: 0px !important;
	}

	#timhieuMrental2 img {
		height: 100px !important;
	}

	.timhieuMrental2Area {
		display: flex;
		overflow-x: auto;
		width: 385px;
	}

	#timhieuMrental2 {
		display: flex;
	}

		#timhieuMrental2 li {
			width: 175px;
			height: 50% !important;
		}

	.timhieuMrental2Area::-webkit-scrollbar {
		display: none;
	}

	.restaurantIntroAreaBackGround {
		height: 174px;
	}

	.restaurantIntroArea {
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 17px;
	}

	.restaurantIntroArea_Text1 {
		font-size: 15px !important;
		padding-bottom: 20px !important;
	}

	.restaurantIntroArea_Text2 {
		font-size: 50px !important;
		padding-bottom: 25px !important;
	}

	.restaurantIntroArea_Text3 {
		font-size: 18px !important;
		padding-bottom: 13px !important;
	}
}

@media screen and (max-width: 425px) {
	#timhieuMrental1 h3 div {
		font-size: 80% !important;
	}

	.header-desk {
		height: 48px;
	}
}

@media screen and (max-width: 319px) {

	.header__logo {
		left: 10px;
		height: 10px;
		position: absolute;
		top: 0;
	}

	#searchBoxTextIntro {
		position: absolute;
		top: -105px;
		left: 18px;
		color: white !important;
	}

	.header__logo a img {
		margin-top: 0px;
	}

	.login_resg {
		padding-top: 10px;
	}

	.dropdownItem {
		display: none;
	}

	.dropdownBar {
		float: right;
		padding: 3px 7px;
		margin-right: 12px;
		border-radius: 4px;
	}

	#searchBoxHouse {
		margin: unset !important;
	}

	._9ofhsl {
		position: unset !important;
	}

	#searchBoxHouse {
		padding: 0px !important;
		position: absolute;
		left: 0;
	}

	#searchBoxItem {
		margin: 0px;
		padding: 0px 20px !important;
		width: 100% !important;
		box-shadow: none !important;
	}

	#searchBoxTextItem1 #searchBoxTextItem1_1 {
		margin-bottom: 2px !important;
	}

	#searchBoxTextItem1 #searchBoxTextItem1_2 .col-sm-4 .form-control {
		font-size: 14px !important;
		height: 37px !important;
		max-width: 500px;
	}

	#searchBoxTextItem2 {
		margin-top: 8px !important;
		margin-bottom: 8px !important;
	}

	#searchBoxTextItem2_2 {
		display: flex;
	}

		#searchBoxTextItem2_2 .col-sm-5 {
			max-width: 500px;
		}

		#searchBoxTextItem2_2 .col-sm-2 {
			top: 17px !important;
		}

	#searchBoxTextItem2 #searchBoxTextItem2_1 {
		margin-bottom: 2px !important;
	}

	#searchBoxTextItem2 #searchBoxTextItem2_2 .col-sm-5 .form-control {
		font-size: 14px !important;
		height: 37px !important;
		max-width: 500px;
	}

	#searchBoxTextItem3 #searchBoxTextItem3_1 {
		margin-top: 3px !important;
		margin-bottom: 2px !important;
	}

	#searchBoxTextItem3 #searchBoxTextItem3_2 .form-control {
		font-size: 14px !important;
		height: 37px !important;
		max-width: 500px;
	}

	#searchBoxTextItem4 {
		margin-top: 0px !important;
	}

		#searchBoxTextItem4 button {
			margin-top: 0px !important;
			width: 100%;
			height: 40px;
		}

	#timhieuMrental {
		padding-left: 20px !important;
		margin-bottom: 40px !important;
		margin-top: 0px !important;
	}

	#timhieuMrental2 img {
		height: 100px !important;
	}

	.timhieuMrental2Area {
		display: flex;
		overflow-x: auto;
		width: 385px;
	}

	#timhieuMrental2 {
		display: flex;
	}

		#timhieuMrental2 li {
			width: 175px;
			height: 50% !important;
		}

	.timhieuMrental2Area::-webkit-scrollbar {
		display: none;
	}

	.restaurantIntroAreaBackGround {
		height: 174px;
	}

	.restaurantIntroArea {
		margin-left: 20px;
		margin-right: 20px;
		padding-top: 17px;
	}

	.restaurantIntroArea_Text1 {
		font-size: 15px !important;
		padding-bottom: 20px !important;
	}

	.restaurantIntroArea_Text2 {
		font-size: 50px !important;
		padding-bottom: 25px !important;
	}

	.restaurantIntroArea_Text3 {
		font-size: 18px !important;
		padding-bottom: 13px !important;
	}
}

@media screen and (max-width:480px) {
	.header__logoSearch {
		margin-top: 0px;
	}
}



@media screen and (min-width: 1305px) {
	.home-padding {
		padding: 0px 20% !important;
	}

	.home-padding-quangcaodown {
		padding: 30px 19.35% 0px 19.35% !important;
	}

	#header .container {
		padding-left: 200px !important;
		padding-right: 200px !important;
	}

	.menuBarHome {
		padding-left: 150px !important;
	}

	.left-carousel-qcd {
		left: 15% !important;
	}

	.right-carousel-qcd {
		right: 15% !important;
	}
}


@media screen and (max-width: 800px) and (min-width: 450px) {
	.tintucArea1 {
		padding: 0px 10px !important;
	}

		.tintucArea1 .col-sm-9 {
			width: 100%;
		}

		.tintucArea1 .col-sm-3 {
			display: none !important;
		}

	.fb-page {
		display: none !important;
	}

	.menuBarHome ul {
		margin-left: 10px !important;
	}

	.Seacrh__Button {
		right: -22px !important;
	}

	.home-search .home-search-tool .home-search-content {
		margin-left: 25% !important;
		width: 70% !important;
	}

		.home-search .home-search-tool .home-search-content .home-search-control .search-input {
			width: 70% !important;
		}

	.home-search-tab {
		margin-left: 25% !important;
	}

	.home-search .home-search-tool .home-search-content .home-filter .search-filter {
		width: 20% !important;
	}

	.quangcaobenphai {
		display: none !important;
	}

	.tintuctuvannoibat {
		width: 100% !important;
	}

	.place-big {
		max-height: 250px !important;
		width: 46% !important;
	}

		.place-big img:last-child {
			max-height: 250px !important;
		}

	.place-item {
		width: 46% !important;
		max-height: 119px !important;
	}

		.place-item img:last-child {
			width: 180px !important;
		}

	.home-product-place .place-info {
		top: -25px !important;
		left: -14px !important;
	}

		.home-product-place .place-info .place-name {
			font-size: 18px !important;
		}

		.home-product-place .place-info .place-number {
			font-size: 15px !important;
		}

	.home-product ul li {
		width: 23% !important;
		margin: 0 15px 10px 0 !important;
	}

	#tin-rao-danh-cho-ban li:first-child {
		margin-left: -18px !important;
	}

	.home-product .product-thumb {
		height: 80px !important;
	}

	.home-product-bound a {
		font-size: 12px !important;
		line-height: 10px !important;
	}

	.home-product-bound .product-price {
		font-size: 14px !important;
		line-height: 13px !important;
	}

	.home-product-bound {
		padding: 2px 5px !important;
	}

	.product-price {
		margin: 3px 0 3px !important;
	}

	.product-info img {
		margin-top: 5px;
		margin-right: 3px;
	}

	.product-info {
		font-size: 12px;
	}

	.home-search {
		width: 100%;
	}

		.home-search .home-search-tool {
			width: 100%;
		}
}

@media screen and (max-width: 450px) {
	.tintucArea1 {
		padding: 0px 10px !important;
	}

		.tintucArea1 .col-sm-9 {
			width: 100%;
		}

		.tintucArea1 .col-sm-3 {
			width: 100%;
			text-align: center;
		}

	.fb-page {
		display: none !important;
	}

	.menuBarHome {
		margin-top: 45px !important;
	}

		.menuBarHome ul {
			display: flex !important;
			width: 100% !important;
		}

	.Seacrh__Button {
		right: -22px !important;
	}

	.tintucArea1 h1 {
		font-size: 16px !important;
	}

	.tintucArea1 h2 {
		font-size: 15px !important;
	}

	.tintucArea1 h3 {
		font-size: 14px !important;
	}

	.tintucArea1 h4 {
		font-size: 13px !important;
	}

	.tintucArea1 h5 {
		font-size: 12px !important;
	}

	.home-search {
		left: 0px !important;
		top: 0px !important;
	}

		.home-search .home-search-tool {
			margin: 5px auto 0 auto !important;
		}

			.home-search .home-search-tool .home-search-tab li {
				width: 107.33px !important;
				height: 27px !important;
				padding: 7px 0 0px 0 !important;
			}

				.home-search .home-search-tool .home-search-tab li h2 {
					font-size: 9px !important;
				}

			.home-search .home-search-tool .home-search-content {
				width: 100% !important;
			}

				.home-search .home-search-tool .home-search-content .home-search-control .search-button .btn-home-search {
					width: 58px !important;
					color: transparent !important;
					position: absolute !important;
					left: 85% !important;
				}

				.home-search .home-search-tool .home-search-content .home-search-control .search-input input[type=text] {
					padding: 5px 5px !important;
					font-size: 11px !important;
				}

				.home-search .home-search-tool .home-search-content .home-search-control {
					display: inline-flex !important;
				}

	.home-search {
		display: contents !important;
	}

	.banner-home-slide {
		background-color: #ecf0f1 !important;
	}

	.home-padding {
		padding: 0px 0% !important;
	}

		.home-padding h1 {
			padding-bottom: 0px !important;
			font-size: 15px !important;
			margin: 0px !important;
		}

	.quangcaobenphai {
		display: none !important;
	}

	.home-product ul li {
		width: 100% !important;
		margin: 0px 0px 9px 0 !important;
	}

		.home-product ul li .vip5 {
			display: flex !important;
		}

	#tin-rao-danh-cho-ban li {
		margin-left: -18px !important;
	}

	.home-product-bound .p-title {
		height: 44px !important;
	}

	.home-product-bound a {
		font-size: 12px !important;
		line-height: 10px !important;
	}

	.home-product-bound .product-price {
		font-size: 14px !important;
		line-height: 13px !important;
	}

	.home-product-bound {
		padding: 2px 5px !important;
	}

	.product-price {
		margin: 3px 0 3px !important;
	}

	.product-info img {
		margin-top: 5px;
		margin-right: 3px;
	}

	.product-info {
		font-size: 12px;
	}

	.home-product .product-thumb {
		height: 130px !important;
	}

	.tintuctuvannoibat a {
		font-size: 14px !important;
	}

		.tintuctuvannoibat a:last-child {
			padding-top: 5px !important;
		}

	.tintuctuvannoibat .col-sm-5 {
		padding: 0px !important;
	}

		.tintuctuvannoibat .col-sm-5 a {
			display: flex !important;
		}

			.tintuctuvannoibat .col-sm-5 a .col-sm-3 img {
				width: 80px !important;
				height: 60px !important;
			}

		.tintuctuvannoibat .col-sm-5 .row {
			padding-bottom: 5px !important;
			margin-bottom: 5px !important;
		}

	.place-big {
		max-height: 250px !important;
		width: 92% !important;
		margin-bottom: 10px;
	}

		.place-big img:last-child {
			max-height: 250px !important;
		}

	.place-small {
		width: 100% !important;
		margin-right: 0px !important;
	}

	.place-item {
		width: 44% !important;
		margin-right: 0px !important;
		margin-left: 17px !important;
	}

	.home-product-place .place-info {
		top: -25px !important;
		left: -14px !important;
	}

		.home-product-place .place-info .place-name {
			font-size: 18px !important;
		}

		.home-product-place .place-info .place-number {
			font-size: 15px !important;
		}

	#myCarousel2 {
		padding: 0px 18px !important;
	}
}

@media screen and (max-width: 375px) {
	.home-search .home-search-tool .home-search-content .home-filter .search-filter {
		width: 41% !important;
	}
	.home-search .home-search-tool .home-search-content .home-search-control .search-button .btn-home-search {
		left: 82% !important;
	}
}
