﻿.ItemSearchItem {
	height: 150px;
	border: 1px solid #95a5a6;
	border-radius: 10px;
	margin-bottom: 15px;
}
	.ItemSearchItem .col-sm-4 {
		height: 148px;
		padding:0px;
	}
		.ItemSearchItem .col-sm-4 img {
			width: 100%; 
			max-height: 100%;
			border-radius: 10px;
		}
	#ItemSearchItem::-webkit-scrollbar {
		width: 0 !important
	}
#ItemSearchItem {
	height: 500px;
	overflow: auto;
}
.ItemSearchItemText {
	color: gray;
}
#ItemSearchItemInfoTable::-webkit-scrollbar {
	width: 0 !important
}

#ItemSearchItemInfoTable {
	height: 500px;
	overflow: auto;
}
.toggle.btn {
	min-width: 59px;
	min-height: 25px !important;
	height: 0px !important;
	bottom: 10px;
	position: absolute;
	left: 190px;
}
.toggle-on.btn {
	font-size: 10px;
}
.toggle-off.btn {
	font-size: 10px;
}

.modal-dialog {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	margin-top:0px;
}

/* Modal Content */
.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.dropdown-text {
	background-color: #ecf0f1;
	border-radius: 6px;
	height: 35px;
	vertical-align: middle;
	line-height: 36px;
	color: #3498db;
	font-size: 18px;
	margin-top: 5px;
	padding-left: 20px;
	cursor: pointer;
}

@font-face {
	font-family: 'Roboto-Light';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Medium_0';
	src: url('../fonts/Roboto-Medium_0.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoCondensed-Bold';
	src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-LightItalic';
	src: url('../fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto-Condensed';
	src: url('../fonts/Roboto-Condensed.ttf') format('truetype');
}

.margin-top-48 {
	margin-top: 48px;
}

.background-white {
	background-color: #ffffff;
}

.background-grey {
	background-color: thistle;
}

body {
	/*background-color: rgb(250, 250, 250);*/
	height: auto;
}

.session-break {
	margin-top: 36px;
}

.height220 {
	height: 220px;
}

.height330 {
	height: 330px;
}

.height440 {
	height: 440px;
	overflow: hidden;
}

.Box-board {
	padding-left: 6px;
	padding-right: 6px;
}

	.Box-board .b-content {
		margin-top: 12px;
		margin-bottom: 12px;
		position: relative;
	}

.b-btn-noradius {
	border-radius: 0;
}

.btn-info.b-btn-noradius:hover {
	color: #fff !important;
}

.b-border {
	border: 1px solid grey;
}

.b-underline {
	border-bottom: 1px solid rgb(230, 230, 230);
}

.b-header {
	padding: 6px;
	display: table;
	width: 100%;
}

	.b-header p, .b-header i {
		display: inline-block;
		color: #0083ca;
	}

	.b-header p {
		font-size: 20px;
		margin: 0;
	}

	.b-header i, .b-header img {
		float: right;
	}

	.b-header i {
		font-size: 27px;
	}

.wrapper-b-obj {
	margin-top: 12px;
}

	.wrapper-b-obj .icon img {
		width: 100%;
		height: 50px;
	}

	.wrapper-b-obj .text h3 {
		margin: 0;
		font-size: 1.4em;
	}

.b-btn-warning {
	background: linear-gradient(106deg, #ffd32a 28%, #ff3f34 28%), url('../img/can-can1.png');
	transition: 0.2s;
	background-size: cover;
}

	.b-btn-warning:hover {
		background: linear-gradient(106deg, #ffc048 28%, #ff3f34 28%), url('../img/can-can1.png');
		background-size: cover;
	}

.b-btn-info {
	background: linear-gradient(106deg, #ffd32a 28%, #575fcf 28%), url('../img/office_spaces.png');
	transition: 0.2s;
	background-size: cover;
}

	.b-btn-info:hover {
		background: linear-gradient(106deg, #ffc048 28%, #575fcf 28%), url('../img/office_spaces.png');
		background-size: cover;
	}

.b-btn-simple-info {
	background: #1B9CFC;
	transition: 0.2s;
	background-size: cover;
}

	.b-btn-simple-info:hover {
		background: #25CCF7;
		background-size: cover;
	}

.b-btn-simple-primary {
	background: #60a3bc;
	transition: 0.2s;
	background-size: cover;
}

	.b-btn-simple-primary:hover {
		background: #82ccdd;
		background-size: cover;
	}

.b-btn-info {
	background: linear-gradient(106deg, #ffd32a 28%, #575fcf 28%), url('../img/office_spaces.png');
	transition: 0.2s;
	background-size: cover;
}

	.b-btn-info:hover {
		background: linear-gradient(106deg, #ffc048 28%, #575fcf 28%), url('../img/office_spaces.png');
		background-size: cover;
	}

.b-button {
	display: table;
	width: 100%;
}

	.b-button p, .b-button i {
		display: inline-block;
	}

	.b-button p {
		font-size: 30px;
		color: #fff;
		font-weight: 400;
		margin: 0;
	}

	.b-button .icon {
		display: block;
		height: 68px;
		width: 80px;
		float: left;
	}

		.b-button .icon img {
			width: 60px;
			margin: auto;
			margin-top: 12px;
			display: block;
		}

	.b-button p {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 12px;
		margin-right: 12px;
		float: right;
	}

.b-button-no-icon p {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.b-button-no-icon p {
	display: inline-block;
}

.b-button-no-icon p {
	font-size: 30px;
	color: #fff;
	font-weight: 400;
	margin: 0;
}
/**/
.text-center-block {
	text-align: center;
	display: block;
	width: 100%;
}
/*LIST*/
.b-content .list ul {
	padding: 0;
	list-style-type: none;
}

.b-content .list li {
	padding-bottom: 6px;
	padding-top: 6px;
	padding-right: 6px;
}

.b-content .list li {
	list-style-type: none;
	position: relative;
	color: black;
}

	/*.b-content .list li:before {
        content: "\25BA \0020";
        font-size: 10px;
        color: #3a3a3a;
        position: absolute;
        top: 14px;
        left: -10px;
    }*/
	.b-content .list li a {
		color: #3a3a3a;
	}

/*List Item*/
.b-list-item {
	display: table;
}

	.b-list-item img {
		width: 98px;
		height: 75px;
		display: table-cell;
		vertical-align: middle;
		object-fit: cover;
	}

	.b-list-item .list-content {
		padding-left: 10px;
		display: table-cell;
		vertical-align: middle;
		height: 60px;
	}

	.b-list-item .date {
		font-size: 12px;
		text-decoration: inherit;
		color: deepskyblue;
	}

	.b-list-item .wrap-link {
		height: 60px;
		overflow: hidden;
	}

		.b-list-item .wrap-link a {
			font-size: 16px;
			color: #333 !important;
			text-decoration: none;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			visibility: visible;
		}

			.b-list-item .wrap-link a:hover {
				color: #f44336 !important;
			}

		.b-list-item .wrap-link p {
			font-size: 14px;
			color: #333 !important;
			font-family: Arial;
			padding: 10px 0;
		}

.list {
	margin-top: 15px;
}
/*search*/
.lightsearch {
	width: 100%;
	position: relative;
	display: flex;
	z-index: 1000;
}

.lightSearchTerm {
	width: 100%;
	border: 2px solid #00B4CC;
	border-right: none;
	padding: 15px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
}

.searchTerm:focus {
	color: #00B4CC;
}

.searchButton {
	width: 40px;
	height: 34px;
	border: 1px solid #00B4CC;
	background: #00B4CC;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.search-wrap {
	margin-top: 12px;
	width: 100%;
	/*position: absolute;*/
	top: 50%;
	left: 50%;
	/*transform: translate(-50%, -50%);*/
	/*z-index: 1000;
    padding-left: 24px;
    padding-right: 24px;*/
}

.second-italic {
	font-style: italic;
	color: grey;
}

.input-mask-border {
	border-left: 4px solid rgb(250, 250, 250);
	border-right: 4px solid rgb(250, 250, 250);
	border-top: 0px solid rgb(250, 250, 250);
	border-bottom: 0px solid rgb(250, 250, 250);
}

.width48p {
	width: 48%;
	border-radius: 5px
}

	.width48p:hover,
	.b-btn-noradius:hover {
		transform: translateY(-3px);
		box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
		color: #fff !important;
	}

.margin4p {
	margin: 4%;
}
/*Item*/
.wrap-item {
	display: table;
	width: 100%;
}

	.wrap-item .icon {
		width: 98px;
		height: 75px;
		display: table-cell;
		vertical-align: middle;
		object-fit: cover;
	}

	.wrap-item .text {
		vertical-align: middle;
		object-fit: cover;
	}

body {
	margin-top: 0px;
	/*background: rgba(250, 250, 250, 1.0);*/
}

.mynav {
	margin-bottom: 0px;
	background-image: linear-gradient(to top, rgba(247, 220, 220, 0.5), rgba(212, 255, 165, 0) 90%) !important;
	background-color: transparent;
}

	.mynav .navbar-nav > .li-active > a {
		color: #db220f;
		border-bottom: 2px solid;
		background-color: transparent;
	}

	.mynav .navbar-nav > .li-active:hover > a {
		color: #db220f !important;
	}

	.mynav .nav li > a {
		position: relative;
		display: block;
		color: #db220f;
		font-family: RobotoBold;
		padding: 15px 20px;
	}

	.mynav .navbar-nav {
		margin: 0px;
	}

.header-left {
	margin-top: 30px;
}

.header-left-content {
	display: table;
}

.header-left-img,
.header-left-content {
	display: table-cell;
}

.header-left-img {
	width: 120px;
}

	.header-left-img img {
		width: 100%;
	}

.header-left-content {
	padding-left: 15px
}

	.header-left-content h3 {
		font-size: 3.2em;
		line-height: 0.5;
		padding: 0;
		color: #db220f;
		font-family: RobotoBold;
		margin-top: 0px;
	}

	.header-left-content p {
		margin-top: 20px;
		font-size: 1.4em;
		margin-bottom: 0px;
		color: #6d6d6d;
		font-family: RobotoBold;
		text-transform: uppercase
	}

		.header-left-content p.bct {
			padding-left: 165px;
			margin-top: 0px;
		}

.header-right :last-child {
	border: none;
}

.header-right :nth-child(n+2) {
	margin-top: 0px;
}


.header-right-step .step-title {
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: 18px;
	color: #db220f;
	font-family: RobotoBold;
}

.header-right-step .step-content {
	margin-top: 45px;
	font-size: 16px;
	color: #333;
	font-family: Arial;
}

.box-content-gov {
	margin-top: 40px;
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 40px;
}

.box-content-gov-img img {
	width: 100%;
}

.box-content-gov-1 h4 {
	line-height: 1.4;
	font-size: 16px;
	text-align: center;
	color: #db220f;
	font-family: Roboto
}

	.box-content-gov-1 h4:hover {
		color: #005ab4;
		transition: all 0.2s;
	}

.box-content-gov-1 a {
	text-decoration: none;
}

.input {
	font-family: Roboto;
	padding: 7px;
	border-left: 0px solid #e8f0fe;
	border-right: 0px solid #e8f0fe;
	border-top: 0px solid #e8f0fe;
	border-bottom: 0px solid #e8f0fe;
	background: #e8f0fe
}

.form-login-out {
	margin-top: 30px;
}

.no-padding {
	padding: 0px;
}

.form-login-out .boxlogin > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
}

.width48p {
	width: 48%;
	border-radius: 0;
}

.second-italic {
	font-style: italic;
	color: grey;
}

.form-login-out .btn-info {
	border-radius: 0;
}

.mynav ul > :nth-child(n+2):hover,
.navbar-default .navbar-nav > .open > a {
	background-color: #eedcdc !important
}

.header-right {
	padding-left: 50px;
	margin-top: 60px;
}

.header-right-step {
	margin-bottom: 55px;
	position: relative;
}

.icon-step {
	font-size: 22px;
	left: 50px;
	position: absolute;
	top: 70px;
	transform: rotate(90deg);
	color: #db220f;
}

.header-right > :last-child > p > i {
	display: none;
}

.step-info {
	opacity: 0.9;
	font-style: italic;
	font-family: Roboto;
	font-size: 14px;
	color: #6d6d6d;
}

.my-menu {
	padding: 0px;
}

.main {
	padding: 0 30px;
	background: #fff;
}

.standart-post .post-image {
	margin-bottom: 14px;
}

.standart-post h2 {
	font-family: RobotoBold;
	margin-top: 10px;
	font-size: 18px;
	line-height: 24px;
	text-transform: initial;
	margin-bottom: 10px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	visibility: visible;
}

	.standart-post h2 a {
		color: #212121;
		text-decoration: none
	}

.box-content-gov-2 .standart-post p {
	font-size: 16px;
	color: #565656;
	font-family: "Roboto Condensed", sans-serif;
	line-height: 24px;
	margin: 0 0 10px;
	text-align: justify;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	visibility: visible;
}

.box-content-news ul.list-news {
	padding-left: 0;
	margin-top: -10px;
}

ul.list-news > li {
	display: block;
	border-bottom: 1px solid #e9e9e9;
	padding: 5px 0px;
	position: relative;
}

	ul.list-news > li h2 {
		font-family: RobotoBold;
		margin-top: 5px;
		text-align: justify;
		line-height: 22px;
		text-transform: initial;
		margin-bottom: 0px;
		font-size: 16px;
		font-weight: 500 !important;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		visibility: visible;
	}

		ul.list-news > li h2 a {
			color: #212121;
			text-decoration: none
		}

.title-section h1 {
	color: #f4790d;
	padding-bottom: 16px;
	border-bottom: 1px solid #f1f1f1;
	margin: 0;
	text-transform: uppercase;
	font-size: 19px;
	font-family: RobotoCondensed-Bold;
}

.box-content-gov-2 {
	margin-top: 15px;
}

ul.list-news > li span i {
	margin-top: 5px;
	margin-right: 5px;
}

ul.list-news > li div {
	font-size: 13px;
	font-style: italic;
	text-align: right;
}

.Box-board {
	padding-left: 6px;
	padding-right: 6px;
}


.content-right__PhanAnh {
	background-color: #f1f1f1;
	padding-bottom: 10px;
}

	.content-right__PhanAnh h2 {
		color: #fff;
		font-size: 22px;
		font-family: Roboto;
		font-weight: bold;
		background-color: #0072ce;
		margin-top: 0;
		padding: 12px;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
	}

	.content-right__PhanAnh .titleNote {
		padding: 15px 0;
		margin: 0 5px 5px;
		font-family: RobotoBold;
		text-transform: uppercase;
	}

	.content-right__PhanAnh form {
		padding: 0 15px;
	}

		.content-right__PhanAnh form .form-group {
			margin-bottom: 5px;
		}

		.content-right__PhanAnh form label {
			font-weight: normal;
			margin-bottom: 0px;
		}

		.content-right__PhanAnh form input, .content-right__PhanAnh form select, .content-right__PhanAnh form textarea {
			margin-bottom: 10px;
			height: 40px;
			padding-left: 10px;
			padding-right: 10px;
			width: 100%;
			max-width: none !important;
		}

.news-post.standart-post .post-image img {
	width: 100%;
}

.no-radius {
	border-radius: 0;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #333 !important;
	background-color: transparent;
}

.boxContainer {
	background-color: #fff;
}

ul.list-news :last-child {
	border-bottom: none
}

.van-ban-phap-quy h3,
.hoi-dap-content h3 {
	margin-top: 0;
	font-family: RobotoBold;
	font-size: 14px;
	line-height: 24px;
	text-transform: initial;
	margin-bottom: 10px;
	display: -webkit-box !important;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	visibility: visible;
	text-align: left;
}

	.van-ban-phap-quy h3 a,
	.hoi-dap-content h3 a {
		color: #333;
	}

.van-ban-phap-quy-info ul li,
.hoi-dap-content ul li {
	list-style: none;
}

.vpbq-content {
	display: table;
}

	.vpbq-content i,
	.vpbq-content h3 {
		display: table-cell;
	}

	.vpbq-content i {
		padding-right: 12px;
	}

.van-ban-phap-quy .icon-dowload a {
	padding-top: 20px
}

.van-ban-phap-quy-info > div > p {
	font-family: Roboto;
	font-size: 14px;
}

.van-ban-phap-quy-info ul,
.hoi-dap-info ul {
	padding-left: 0px;
}

.date-time-vbpq p {
	margin: 0;
	font-size: 14px;
	padding-left: 22px;
	font-family: Roboto-LightItalic;
	padding-right: 15px;
	color: #999999;
}

.web-can-trai {
	text-align: left !important;
}

.udW p {
	font-size: 13px;
	text-align: center;
}

.van-ban-phap-quy .vbpq-xem-them,
.hoi-dap-content .vbpq-xem-them {
	float: right;
	margin-right: 22px;
	font-style: italic;
	font-size: 14px;
	padding-top: 10px;
}

.hoi-dap-date {
	padding-left: 5px;
}

.domain-web {
	margin-top: 4px;
	font-size: 14px;
	font-family: Roboto-Medium_0;
	color: #333 !important;
	margin-bottom: 5px;
}

.title-ud a {
	color: #0067b8 !important;
}

.no-padding {
	padding: 0px !important;
}

#containerBOX {
	background-color: #fff;
	padding: 0 10px;
}

.bre-index {
	display: flex;
	margin: 15px 0;
}

	.bre-index .bre-1 {
		padding-right: 10px;
	}

	.bre-index span {
		font-size: 14px;
	}

	.bre-index .bre-1 span a {
		font-size: 16px;
		color: #ff5e5e;
		font-family: Roboto;
		font-weight: bold;
	}

	.bre-index span a {
		text-decoration: none;
		color: #c62d2f;
		font-family: Roboto;
	}

	.bre-index .bre-1 span::after {
		padding-left: 5px;
		font-size: 14px;
		content: "\00BB";
	}

.tin-tuc-index {
	margin-bottom: 15px;
	display: table;
	margin-top: 22px;
}

.tin-tuc-index-img {
	width: 210px;
}

	.tin-tuc-index-img img {
		height: 150px;
		width: 100%;
	}

.tin-tuc-index-img, tin-tuc-index-content {
	vertical-align: top;
	display: table-cell;
}

.tin-tuc-index-content {
	padding-left: 20px;
}

	.tin-tuc-index-content h3 {
		font-family: RobotoBold;
		font-size: 22px;
		line-height: 22px;
		color: #212121 !important;
		margin-bottom: 10px;
		margin-top: 0px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		visibility: visible;
	}

	.tin-tuc-index-content a {
		line-height: 30px;
		text-decoration: none;
		color: #212121 !important;
	}

	.tin-tuc-index-content p {
		font-size: 16px;
		color: #565656;
		font-family: Arial;
		font-weight: 400;
		line-height: 24px;
		margin: 0 0 10px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		visibility: visible;
	}

.tin-tuc-index .tin-tuc-date {
	font-family: Arial;
	font-size: 14px !important;
	color: #565656;
	margin: 10px 0px;
}

.bre-2 span {
	vertical-align: middle;
}

.list-tin-moi {
	margin: 20px 0;
}

.list-tin-moi-img, .list-tin-moi-content {
	vertical-align: top;
	display: table-cell;
}

.list-tin-moi-content {
	padding-left: 15px;
}

.list-tin-moi-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.list-tin-moi-img {
	width: 89px;
	height: 80px;
}

.list-tin-moi-content a {
	text-decoration: none;
	text-transform: initial;
	font-size: 16px;
	font-family: RobotoBold;
	line-height: 22px;
	color: #212121 !important;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	visibility: visible;
}

.tin-moi-index {
	padding-bottom: 8px !important;
}

.partialNewsHome {
	margin-top: 52px;
	position: unset; /*FIX OVErLAY*/
}

.hometable-wrapper {
	overflow: auto;
	width: 100%;
}

.news-header h1 {
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 30px;
	font-family: RobotoBold;
	color: #0a64ac;
}

.news-header-datetime {
	margin: 10px 0;
}

.news-header .description {
	text-align: justify;
	clear: both;
	font-size: 18px;
	font-family: RobotoBold;
	padding-top: 15px;
	padding-bottom: 15px;
}

.news-content {
	margin-top: 10px;
}

	.news-content img {
		display: block;
		margin: 0 auto;
		width: 100%;
		object-fit: cover;
	}

.news-header-datetime span {
	padding-right: 10px;
	font-family: Roboto;
	font-style: italic;
	float: right;
}

	.news-header-datetime span fa {
		padding-right: 10px;
	}

	.news-header-datetime span i {
		font-size: 14px;
		padding-right: 5px;
	}

.news-content p {
	font-size: 16px;
	font-family: Arial;
	text-align: justify;
	line-height: 1.6;
}