﻿@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.AgreementsInfoArea.Models
@using Newtonsoft.Json;
@using Nami.Service.Constant;
@using CommonHelper.String;
@model DetailVM
@{
}
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<div class="center">
				<h4 class="modal-title">Thông tin hợp đồng</h4>
			</div>
		</div>
		<div class="modal-body">
			<div class="tabbable">
				<ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
					<li class="active">
						<a data-toggle="tab" href="#CompanyInfo" aria-expanded="true">Thông tin hợp đồng</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#fileAttack" aria-expanded="false">Tài liệu đính kèm</a>
					</li>

					<li class="">
						<a data-toggle="tab" href="#history" aria-expanded="false">Lịch sử thay đổi</a>
					</li>
				</ul>
				<div class="tab-content">

					<div id="CompanyInfo" class="tab-pane active">
						<table class="table-info table100">
							<tr><td class="labelData labelDataTitle" colspan="4"><strong>Thông tin hợp đồng</strong></td></tr>
							<tr><td class="labelData">Người đại diện thuê nhà</td><td>@Model.objInfo.RepresenterName</td></tr>
							<tr><td class="labelData">Tiền đặt cọc</td><td>@Model.objInfo.DepositsMoney <b>(VNĐ)</b></td></tr>
							<tr><td class="labelData">Thời hạn hợp đồng</td><td>@Model.objInfo.Month <b>(tháng)</b></td></tr>
							<tr><td class="labelData">Thời gian hiệu lực hợp đồng</td><td>Từ @String.Format("{0:dd/MM/yyyy}", Model.objInfo.DateStart) đến @String.Format("{0:dd/MM/yyyy}", Model.objInfo.DateEnd)</td></tr>
							<tr><td class="labelData">Tiền hàng tháng</td><td>@Model.objInfo.PayPerMonth <b>(VNĐ)</b></td></tr>
							<tr>
								<td class="labelData">Thông tin về nhà thuê</td>
								<td>
									@if (Model.objInfo.BuildingsIdInfo != null) {
										<div>- Tên tòa nhà: <span><b>@Model.objInfo.BuildingsIdInfo.BuildingsName</b></span></div><br />
										<div>- Diện tích: <span><b>@Model.objInfo.BuildingsIdInfo.ChieuDaiRoom x @Model.objInfo.BuildingsIdInfo.ChieuRongRoom (m2)</b></span></div><br />
										<div>- Số lượng người: <span><b>@Model.objInfo.BuildingsIdInfo.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @Model.objInfo.BuildingsIdInfo.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i></b></span></div><br />
										<div>- Địa chỉ: <span><b>@Model.objInfo.BuildingsIdInfo.Address</b></span></div><br />
									}
								</td>
							</tr>
							<tr><td class="labelData">Ghi chú</td><td>@Model.objInfo.Note</td></tr>

						</table>
					</div>

					<div id="fileAttack" class="tab-pane">
							<div id="tbl-fileAttack" class="hntbl-cover table-scroll">
								<div class="table-wrap">
									<table class="Nami-table table table-striped table-hover fixed-table" cellspacing="0" width="100%">
										<thead>
											<tr>
												<th>#</th>
												<th>Người đăng tệp tin</th>
												<th>Ngày đăng tệp tin</th>
												<th>Tải xuống</th>
											</tr>
										</thead>
										@if (Model.filedinhkem != null && Model.filedinhkem.Count != 0)
										{
											var countItem = 0;
											foreach (var item in Model.filedinhkem)
											{
												countItem = countItem + 1;
												<tr>
													<td>@countItem</td>
													<td>@item.CreatedBy</td>
													<td>@string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</td>
													<td><a href="/@item.ImageUrl" download=""><i class="glyphicon glyphicon-paperclip"></i> Tải xuống</a></td>
												</tr>
											}
										}
										else
										{
											<tr>
												<td colspan="5">Không có dữ liệu</td>
											</tr>
										}
									</table>
								</div>
							</div>
						</div>

					@*<div id="history" class="tab-pane">
							<div id="tbl-history" class="hntbl-cover">
								<div class="row">
									@if (Model.historys != null && Model.historys.Count == 0)
									{
										<div style="padding-left:20px;">Không có dữ liệu</div>
									}
									else
									{
										<table class="table">
											@foreach (var item in Model.historys)
											{
												<tr class="col-sm-12 log-noi-dung">
													<td class="col-sm-4 seperated-cell">

														@if (item.userInfo != null)
														{
															<img class='nav-user-photo smallSize' src='/@item.userInfo.Avatar' onerror='this.src ="/assets/images/avatars/userNew.png"' title='@item.CreatedBy' />
														}
														else
														{
															<img class='nav-user-photo smallSize' src='/assets/images/avatars/userNew.png' title='@item.CreatedBy' />

														}

														<div class="inline pull-right pdl10">
															<div class="boldText">@item.CreatedBy</div>
															<i class="fa fa-calendar" aria-hidden="true"></i> Ngày @string.Format("{0:dd/MM/yyyy}", item.CreatedDate)
															<div><i class="fa fa-clock-o" aria-hidden="true"></i> Lúc @string.Format("{0:HH:mm:ss}", item.CreatedDate)</div>
														</div>
													</td>
													<td class="col-sm-8 seperated-cell">

														<div class="boldText"><i class="fa fa-angle-double-left" aria-hidden="true"></i> @item.HistoryContent <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
														@if (!string.IsNullOrEmpty(item.Comment))
														{
															<div><i class="fa fa-newspaper-o" aria-hidden="true"></i> Nội dung: </div>
															<div>@Html.Raw(HttpUtility.HtmlDecode(item.Comment))</div>
														}
													</td>
												</tr>
											}
										</table>
									}
								</div>
							</div>
						</div>*@
				</div>
			</div>
			<div class="well well-sm">
				<div class="createTime">
					<h6>Khởi tạo lúc: <b>@Model.objInfo.CreatedDate</b>, bởi <a>@Model.objInfo.CreatedBy</a></h6>
				</div>
				<div class="updateTime">
					<h6>Thay đổi lần cuối lúc: <b>@Model.objInfo.UpdatedDate</b>, bởi <a>@Model.objInfo.UpdatedBy</a></h6>
				</div>
			</div>
		</div>
		<div class="modal-footer center">
			<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Đóng</button>
		</div>
	</div>
</div>
<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
