@using Nami.Model.IdentityEntities
@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.AgreementsInfoArea.Models

@model EditVM
@{ 
	var dropdownlistBuilding = ViewBag.dropdownlistBuilding as List<SelectListItem>;
	var dropdownlistRoom = ViewBag.dropdownlistRoom as List<SelectListItem>;
	var dropdownlistAgreementType = ViewBag.dropdownlistAgreementType as List<SelectListItem>;
}
<div class="modal-dialog">
	@using (Ajax.BeginForm("Edit", "AgreementsInfo", new { @area = "AgreementsInfoArea" }, new AjaxOptions()
{
	HttpMethod = "POST",
	OnFailure = "AjaxFormError",
	OnSuccess = "AjaxFormSuccess",
}, new { id = "editAgreementsInfoForm", enctype = "multipart/form-data" }))
		{
			@Html.AntiForgeryToken()
			//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
			<!-- Modal content-->
			@Html.HiddenFor(x => x.Id)
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<div class="center">
						<h4 class="modal-title">Tạo mới Hợp đồng</h4>
					</div>
				</div>
				<div class="modal-body">
					<div class="form-horizontal row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Khu trọ/Nhà trọ <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.DropDownListFor(m => m.BuildingsId, dropdownlistBuilding, "--Chọn tòa nhà/khu nhà--", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.BuildingsId, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Phòng trọ <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.DropDownListFor(m => m.RoomsId, dropdownlistRoom, "--Chọn phòng trọ--", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.RoomsId, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Loại hợp đồng </label>
								<div class="col-sm-9">
									@Html.DropDownListFor(m => m.AgreementCode, dropdownlistAgreementType, "--Chọn loại hợp đồng--", new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.AgreementCode, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						@*<div class="form-group">
								<label class="control-label col-sm-3">Id Nhóm khách thuê </label>
								<div class="col-sm-9">
									@Html.TextBoxFor(m => m.RentersGroupId, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.RentersGroupId, "", new { @class = "text-danger" })
								</div>
							</div>*@
						@*<div class="form-group">
								<label class="control-label col-sm-3">Id Nhóm dịch vụ </label>
								<div class="col-sm-9">
									@Html.TextBoxFor(m => m.ServicesGroupId, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.ServicesGroupId, "", new { @class = "text-danger" })
								</div>
							</div>*@
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Người đại diện <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.TextBoxFor(m => m.RepresenterName, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.RepresenterName, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Tiền đặt cọc (VNĐ) <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.TextBoxFor(m => m.DepositsMoney, new { @type = "number", @class = "span4", @min = "0", @placeholder = "0" })
									@Html.ValidationMessageFor(m => m.DepositsMoney, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Thời hạn hợp đồng (tháng) <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.TextBoxFor(m => m.Month, new { @type = "number", @class = "span4", @min = "0", @placeholder = "0" })
									@Html.ValidationMessageFor(m => m.Month, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Ngày bắt đầu <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.DatePickerFor(m => m.DateStart, "autoclose=true", "todayBtn=true", "todayHighlight=true")
									@Html.ValidationMessageFor(m => m.DateStart, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Ngày kết thúc <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.DatePickerFor(m => m.DateEnd, "autoclose=true", "todayBtn=true", "todayHighlight=true")
									@Html.ValidationMessageFor(m => m.DateEnd, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Tiền nhà hàng tháng <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.TextBoxFor(m => m.PayPerMonth, new { @type = "number", @class = "span4", @min = "0", @placeholder = "0" })
									@Html.ValidationMessageFor(m => m.PayPerMonth, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Tài liệu đính kèm <span class="red">*</span></label>
								<div class="col-sm-9">
									<input type="file" name="file" class="form-control" multiple />
									@*@Html.ValidationMessageFor(m => m.TaiLieuDinhKem, "", new { @class = "text-danger" })*@
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-12">
							<div class="form-group">
								<label class="control-label col-sm-2">Ghi chú </label>
								<div class="col-sm-10">
									@Html.TextAreaFor(m => m.Note, 4, 3, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer center">
					<button type="submit" class="btn btn-primary">Hoàn thành</button>

					<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
				</div>
			</div>
		}
</div>
<script>
	$("#BuildingsId").change(function () {
		if ($("#BuildingsId").val() != "" && $("#BuildingsId").val() != null) {
			$("#RoomsId").prop('disabled', true);
		} else {
			$("#RoomsId").prop('disabled', false);
		}
	});
	$("#RoomsId").change(function () {
		if ($("#RoomsId").val() != "" && $("#RoomsId").val() != null) {
			$("#BuildingsId").prop('disabled', true);
		} else {
			$("#BuildingsId").prop('disabled', false);
		}
	});
</script>
@Scripts.Render("~/bundles/jqueryval")
