﻿@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.AgreementsInfoArea.Models

@model EditVM
@{
}

<div class="modal-dialog">
	@using (Ajax.BeginForm("GiaHanHopDong", "AgreementsInfo", new { @area = "AgreementsInfoArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "createAgreementsInfoForm", enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
		<!-- Modal content-->
		@Html.HiddenFor(x => x.Id)
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">Gia Hạn Hợp đồng</h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="form-horizontal row">
					<div class="col-sm-6">
						<table class="table-info table100">
							<tr><td class="labelData labelDataTitle" colspan="4"><strong>Thông tin hợp đồng</strong></td></tr>
							<tr><td class="labelData">Người đại diện thuê nhà</td><td>@Model.objInfo.RepresenterName</td></tr>
							<tr><td class="labelData">Tiền đặt cọc</td><td>@Model.objInfo.DepositsMoney <b>(VNĐ)</b></td></tr>
							<tr><td class="labelData">Thời hạn hợp đồng</td><td>@Model.objInfo.Month <b>(tháng)</b></td></tr>
							<tr><td class="labelData">Thời gian hiệu lực hợp đồng</td><td>Từ @String.Format("{0:dd/MM/yyyy}", Model.objInfo.DateStart) đến @String.Format("{0:dd/MM/yyyy}", Model.objInfo.DateEnd)</td></tr>
							<tr><td class="labelData">Tiền hàng tháng</td><td>@Model.objInfo.PayPerMonth <b>(VNĐ)</b></td></tr>
							<tr>
								<td class="labelData">Thông tin về nhà thuê</td>
								<td>
									@if (Model.objInfo.BuildingsIdInfo != null)
									{
										<div>- Tên tòa nhà: <span><b>@Model.objInfo.BuildingsIdInfo.BuildingsName</b></span></div><br />
										<div>- Diện tích: <span><b>@Model.objInfo.BuildingsIdInfo.ChieuDaiRoom x @Model.objInfo.BuildingsIdInfo.ChieuRongRoom (m2)</b></span></div><br />
										<div>- Số lượng người: <span><b>@Model.objInfo.BuildingsIdInfo.NumberOfPeoperPerRoomAdult <i class="fa fa-male"></i> x @Model.objInfo.BuildingsIdInfo.NumberOfPeoperPerRoomKid <i class="fa fa-child"></i></b></span></div><br />
										<div>- Địa chỉ: <span><b>@Model.objInfo.BuildingsIdInfo.Address</b></span></div><br />
									}
								</td>
							</tr>
							<tr><td class="labelData">Ghi chú</td><td>@Model.objInfo.Note</td></tr>

						</table>
					</div>
					<div class="col-sm-6 row">
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Người đại diện <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.TextBoxFor(m => m.RepresenterName, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.RepresenterName, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Thời hạn hợp đồng (tháng) <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.TextBoxFor(m => m.Month, new { @type = "number", @class = "span4", @min = "0", @placeholder = "0" })
									@Html.ValidationMessageFor(m => m.Month, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Ngày bắt đầu <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.DatePickerFor(m => m.DateStart, "autoclose=true", "todayBtn=true", "todayHighlight=true")
									@Html.ValidationMessageFor(m => m.DateStart, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Ngày kết thúc <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.DatePickerFor(m => m.DateEnd, "autoclose=true", "todayBtn=true", "todayHighlight=true")
									@Html.ValidationMessageFor(m => m.DateEnd, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Tiền nhà hàng tháng <span class="red">*</span></label>
								<div class="col-sm-9">
									@Html.TextBoxFor(m => m.PayPerMonth, new { @type = "number", @class = "span4", @min = "0", @placeholder = "0" })
									@Html.ValidationMessageFor(m => m.PayPerMonth, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label class="control-label col-sm-3">Tài liệu đính kèm <span class="red">*</span></label>
								<div class="col-sm-9">
									<input type="file" name="file" class="form-control" multiple />
									@*@Html.ValidationMessageFor(m => m.TaiLieuDinhKem, "", new { @class = "text-danger" })*@
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<div class="col-sm-12">
							<div class="form-group">
								<label class="control-label col-sm-2">Ghi chú </label>
								<div class="col-sm-10">
									@Html.TextAreaFor(m => m.Note, 4, 3, new { @class = "form-control" })
									@Html.ValidationMessageFor(m => m.Note, "", new { @class = "text-danger" })
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary">Hoàn thành</button>

				<button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	}
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
