@{
    ViewBag.Title = "Hợp đồng";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Hợp đồng";
    ViewBag.PageName = "Thông tin Hợp đồng";
    ViewBag.ModuleCode = "AgreementsInfo_detail";
}
@using Nami.Model.IdentityEntities
@using Nami.Model.Entities
@using Nami.Web.Areas.AgreementsInfoArea.Models

@model DetailVM
@section ActionBarRight{
    <a href="/AgreementsInfoArea/AgreementsInfo/Index" class="btn btn-primary btn-sm">Quay lại</a>
}

<div class="row">
     <div class="col-sm-12">
           <table class="table-info">
           	
<tr><td>Id Khu trọ</td><td>@Model.objInfo.BuildingsId</td></tr>
<tr><td>Id Phòng</td><td>@Model.objInfo.RoomsId</td></tr>
<tr><td>Loại hợp đồng</td><td>@Model.objInfo.AgreementCode</td></tr>
<tr><td>Id Nhóm khách thuê</td><td>@Model.objInfo.RentersGroupId</td></tr>
<tr><td>Id Nhóm dịch vụ</td><td>@Model.objInfo.ServicesGroupId</td></tr>
<tr><td>Người đại diện phòng</td><td>@Model.objInfo.RepresenterName</td></tr>
<tr><td>Tiền đặt cọc</td><td>@Model.objInfo.DepositsMoney</td></tr>
<tr><td>Thời hạn hợp đồng</td><td>@Model.objInfo.Month</td></tr>
<tr><td>Ngày bắt đầu</td><td>@Model.objInfo.DateStart</td></tr>
<tr><td>Ngày kết thúc</td><td>@Model.objInfo.DateEnd</td></tr>
<tr><td>Kì thanh toán</td><td>@Model.objInfo.PayPerMonth</td></tr>
<tr><td>Ghi chú</td><td>@Model.objInfo.Note</td></tr>
<tr><td>Ngày tạo</td><td>@Model.objInfo.CreatedDate</td></tr>
<tr><td>Người tạo</td><td>@Model.objInfo.CreatedBy</td></tr>
<tr><td>Ngày sửa</td><td>@Model.objInfo.UpdatedDate</td></tr>
<tr><td>Người sửa</td><td>@Model.objInfo.UpdatedBy</td></tr>

           </table>
     </div>
    
</div>

<script>

</script>
@Scripts.Render("~/bundles/jqueryval")
