@{
    ViewBag.Title = "Hợp đồng";
    Layout = "~/Views/Shared/_LayoutAce.cshtml";
    ViewBag.ModuleName = "Quản lý Hợp đồng";
    ViewBag.PageName = "Danh sách Hợp đồng";
    ViewBag.ModuleCode = "AgreementsInfo_index";

}
@using Nami.Model.IdentityEntities;
@using Nami.Model.Entities;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.Constant;
@using Nami.Service.AgreementsInfoService.Dto;
@model PageListResultBO<AgreementsInfoDto>
@{
	var lstData = Html.Raw(JsonConvert.SerializeObject(Model.ListItem));
	var NumberOfAgreement = ViewBag.NumberOfAgreement;
}



@section ActionBarRight{
    <a href="javascript:void(0)" onclick="CreateAction('/AgreementsInfoArea/AgreementsInfo/Create')" class="btn btn-primary btn-sm">Thêm mới</a>
}
@Html.Partial("_SearchPartial")
	<div><b><span>Số lượng hợp đồng: </span></b>@NumberOfAgreement</div>
<div id="tbl-AgreementsInfo" class="hntbl-cover">
    <table class="Nami-table table table-striped table-hover" cellspacing="0" width="100%">
        <thead>
			<tr>
				<th>#</th>
				<th  class="width130">Tác vụ</th>
				<th>Người làm hợp đồng</th>
				<th>Thông tin về hợp đồng</th>
				<th>Tiền đặt cọc</th>
				<th>Thời hạn hợp đồng (tháng)</th>
				<th>Tiền nhà hàng tháng(VNĐ)</th>
				<th>Tài liệu đính kèm</th>
			</tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts{
    <script>
        var lstData = eval(@lstData);
        var moduleTableSelector="#tbl-AgreementsInfo";
        function pagefunction(){
            var conf=[
    //            {
    //                tdClass:"center width50",
    //                isSort:false,
    //                nameModel: "",
    //                isCounter:false,
    //                content: function (data) {
    //                    return "<input type='checkbox'/>"
    //                }
				//},
				{
					isSort: false,
					nameModel: "",
					tdClass: "center buttonBox centerBox width0",
					content: function (data) {
						var result = ``;
						result += "<div class='editButton'><a href='javascript:void(0)' onclick='EditAction(\"/AgreementsInfoArea/AgreementsInfo/Edit/" + data.Id + "\")'   title = 'Chỉnh sửa'><i class='fa fa-pencil'> </i></a></div>";
						result += "<div class='detailButton'><a href='javascript:void(0)' onclick='FixedRightAction_6(\"/AgreementsInfoArea/AgreementsInfo/DetailPopup/" + data.Id + "\")'   title = 'Thông tin chi tiết'><i class='fa fa-user'> </i></a></div>";
						result += "<div class='giahanButton'><a href='javascript:void(0)' onclick='CreateAction(\"/AgreementsInfoArea/AgreementsInfo/GiaHanHopDong/" + data.Id + "\")'   title = 'Gia hạn hợp đồng'><i class='fa fa-calendar'> </i></a></div>";
						result += "<div class='deleteButton'><a href='javascript:void(0)' onclick='DeleteAction(\"/AgreementsInfoArea/AgreementsInfo/Delete/" + data.Id + "\")'  title = 'Xóa'><i class='fa fa-trash-o' style='color:red'> </i></a></div >";
						return result;
					}
				},
				{
					isSort: false,
					nameModel:'BuildingsId',
					content: function (data) {
						var str = '';
						str += '<b>' + ShowMessageIfEmpty(data.RepresenterName) + '</b><br/>'
						if (data.RenterInfo != null) {
							str += '- Người đại diện: <b>' + ShowMessageIfEmpty(data.RenterInfo.RentersName) + '</b><br/>'
							str += '- SĐT: <b>' + ShowMessageIfEmpty(data.RenterInfo.Phone) + '</b><br/>'
							str += '- Số SMND/CCCD: <b>' + ShowMessageIfEmpty(data.RenterInfo.NumberId) + '</b><br/>'
						}
						switch (data.AgreementCode) {
							case '@AgreementTypeConstant.VisitorInSys': str += "<span class='label' style='background-color:#3498db'>" + ShowMessageIfEmpty(data.AgreementCodeName) + "</span>"; break;
							case '@AgreementTypeConstant.VisitorOutSys': str += "<span class='label' style='background-color:#9b59b6'>" + ShowMessageIfEmpty(data.AgreementCodeName) + "</span>"; break;
						}
						return str
				}
				},
				{
					isSort:false,
					nameModel:'ConstactInfo',
					content: function (data) {
						var str = '';
						str += '- Ngày lập hợp đồng: <b>' + ShowMessageIfEmpty(ToDate(data.CreatedDate)) + '</b><br/>'
						str += '- Hợp đồng có hiệu lực từ: <b>' + ShowMessageIfEmpty(ToDate(data.DateStart)) + '</b> đến <b>' + ShowMessageIfEmpty(ToDate(data.DateEnd)) +'</b><br/>'
						str += '- Ghi chú: ' + ShowMessageIfEmpty(data.Note) + '<br/>'
						return str
				}
				},
				{
					isSort:false,
					nameModel:'DepositsMoney',
					content: function (data) {
						return ShowMessageIfEmpty(formatNumberCurrentcy(data.DepositsMoney)) +'<b> (VNĐ)</b>'
				}
				},
				{
					isSort:false,
					nameModel:'Month',
					content: function (data) {
						return ShowMessageIfEmpty(data.Month) + '<b> (tháng)</b>'
				}
				},
				{
					isSort:false,
					nameModel:'PayPerMonth',
					content: function (data) {
						return ShowMessageIfEmpty(formatNumberCurrentcy(data.PayPerMonth)) + '<b> (VNĐ)</b>'
				}
				},
				{
					isSort:false,
					nameModel:'FileDinhKem',
					content: function (data) {
						var str = "";
						if (data.FileDinhKem != null && data.FileDinhKem.length != 0) {
							for (var i = 0; i < data.FileDinhKem.length; i++) {
								str += '<a href="/' + data.FileDinhKem.ImageUrl +'" download=""><i class="fa fa-download"></i>&nbsp; Tải xuống</a><br/>'
							}
						} else {
							str += "<span>Không có tài liệu</span>"
						}
						return str
				}
				},
				//{
				//	isSort:false,
				//	nameModel:'DepositsMoney',
				//	content: function (data) {
				//	return data.DepositsMoney
				//}
				//},
				//{
				//	isSort:false,
				//	nameModel:'Month',
				//	content: function (data) {
				//	return data.Month
				//}
				//},
				//{
				//	isSort:false,
				//	nameModel:'DateStart',
				//	content: function (data) {
				//	return data.DateStart
				//}
				//},
				//{
				//	isSort:false,
				//	nameModel:'DateEnd',
				//	content: function (data) {
				//	return data.DateEnd
				//}
				//},
				//{
				//	isSort:false,
				//	nameModel:'PayPerMonth',
				//	content: function (data) {
				//	return data.PayPerMonth
				//}
				//},
				//{
				//	isSort:false,
				//	nameModel:'Note',
				//	content: function (data) {
				//	return data.Note
				//}
				//},

            ];


            var getdatafunc=function(page,sortQuery,pageSize){
                $.ajax({
                    url: '/AgreementsInfoArea/AgreementsInfo/getData',
                    type: 'post',
                    cache: false,
                    data:{"indexPage":page,"sortQuery":sortQuery,"pageSize":pageSize},
                    success: function (data) {
                        $(moduleTableSelector).NamiTable("data",{
                            pageSize:pageSize!=-1?pageSize:data.Count,
                            pageIndex:page,
                            pagecount: data.TotalPage,
                            recordCount: data.Count,
                            listItem: data.ListItem,});
                    },
                    error: function (err) {
                        CommonJS.alert(xhr.responseText);
                    }
                });

            }

            var tblData=$("#tbl-AgreementsInfo").NamiTable("init",{
                pageSizeList:{size:[20,50,100,-1],label:['20','50','100','Tất cả']},
                pagecount: @Model.TotalPage,
                recordCount: @Model.Count,
                actionToolBar:'<a href=\"#collapseDiv\" aria-controls=\"collapsePanel\" data-toggle=\"collapse\" role=\"button\" class="btn btn-primary btn-xs"><i class="fa fa-search"></i> Tìm kiếm</a>',
                getData:getdatafunc,
                listItem:lstData,
                config:conf
            });

        }

        function AfterSussessActionAjaxform(){
            $(moduleTableSelector).NamiTable("reload");
        }
        function AjaxSearchSuccess(rs) {
            $(moduleTableSelector).NamiTable("data", {
                pageIndex: 1,
                pagecount: rs.TotalPage,
                recordCount: rs.Count,
                listItem: rs.ListItem,
            });
        }
        pagefunction();
    </script>
}