﻿@using Nami.Model.IdentityEntities
@using Nami.Web.Areas.OperationArea.Models;

@model OperationViewModel.OperationEditViewModel

<div class="modal-dialog">
	@using (Ajax.BeginForm("Save", "Operation", new { @area = "OperationArea" }, new AjaxOptions()
	{
		HttpMethod = "POST",
		OnFailure = "AjaxFormError",
		OnSuccess = "AjaxFormSuccess",
	}, new { id = "form--edit-module", @enctype = "multipart/form-data" }))
	{
		@Html.AntiForgeryToken()
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="center">
					<h4 class="modal-title">
						@(Model.Id > 0 ? "CẬP NHẬT THAO TÁC" : "THÊM MỚI THAO TÁC")
					</h4>
				</div>
			</div>
			<div class="modal-body">
				<div class="form-horizontal">
					<input type='hidden' name='Id' value='@Model.Id' />
					<input type="hidden" name="ModuleId" value="@Model.ModuleId" />
					<div class="form-group">
						<label class="control-label col-sm-3">Tên thao tác <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Mã thao tác <span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Đường dẫn<span class="red">*</span></label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.URL, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.URL, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Thứ tự hiển thị</label>
						<div class="col-sm-8">
							@Html.TextBoxFor(m => m.Order, new { @class = "form-control" })
							@Html.ValidationMessageFor(m => m.Order, "", new { @class = "text-danger" })
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3">Trạng thái hiển thị</label>
						<div class="col-sm-8">
							<div class="radio">
								<label>
									<input @(Model.IsShow == true ? "checked" : "") name="IsShow" type="radio" class="ace" value="true" />
									<span class="lbl">
										Hiển thị
									</span>
								</label>
							</div>

							<div class="radio">
								<label>
									<input @(Model.IsShow != true ? "checked" : "") name="IsShow" type="radio" class="ace" value="false" />
									<span class="lbl">
										Không hiển thị
									</span>
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-sm-3" for="Icon">
							Icon <span class="red"></span>
						</label>
						<div class="col-sm-8">
							<input type="file" id="upavatar" class="form-control Valid show-file" name="file">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer center">
				<button type="submit" class="btn btn-primary">
					Cập nhật
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">
					Đóng
				</button>
			</div>
		</div>
	}
</div>

@Scripts.Render("~/bundles/jqueryval")
