﻿@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Nami.Web.Models;
@using Nami.Model.Entities;
@model AppDetailsViewModel
@{

}
@Html.Partial("_EndUserBannerPartial")
<div id="NoiDungChinh">
    <div class="container">
        <div class="col-sm-8 pdl0 content-left">
            <div class="product-title">Thông tin chi tiết</div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="reg-subtitle">thông tin ứng dụng</div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-6 text-right">
                        <p>Tên ứng dụng:</p>
                    </div>
                    <div class="col-sm-6">
                        @Model.appInfo.Name
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 text-right">
                        <p>Trang chủ ứng dụng:</p>
                    </div>
                    <div class="col-sm-6">
                        <a href="@Model.appInfo.Domain" class="product-link">
                            @Model.appInfo.Domain
                        </a>                        
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 text-right">
                        <p>Tên miền phụ:</p>
                    </div>
                    <div class="col-sm-6">
                        @if (Model.appInfo.DomainAdd != null)
                        {
                            @Model.appInfo.DomainAdd
                        }
                        else
                        {
                            <p class="text-danger">Không có thông tin</p>
                        }
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Hệ điều hành</th>
                                <th scope="col">Tên ứng dụng</th>
                                <th scope="col">Link ứng dụng</th>
                                <th scope="col">Logo</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.infoItem.Any())
                            {
                                int stt = 0;
                                foreach (AppInfoItem appItem in Model.infoItem)
                                {
                                    stt++;
                                    <tr>
                                        <th scope="row">@stt</th>
                                        <td>@appItem.OsName</td>
                                        <td>@appItem.AppName</td>
                                        <td><a href="@appItem.AppLink" class="product-link">Trang chủ ứng dụng</a></td>
                                        <td><img src="~/@appItem.AppLogo" onerror="this.src = '/assets/images/notfoundimage.png'" class="imageGridDetail" alt="Logo ứng dụng" /></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="no-data">Không có thông tin</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12">
                    <img src="@Model.appInfo.Seal" onerror="this.src = '/assets/images/notfoundimage.png'" alt="">
                </div>


                @if (Model.companyInfo != null)
                {
                    <div class="col-sm-12">
                        <div class="reg-subtitle">thông tin doanh nghiệp</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right table-label">
                            <p>Tên Doanh nghiệp:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.Name
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>MST/ĐKKD/QĐTL:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.TaxCode
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Trụ sở Doanh nghiệp:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.Address
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Tỉnh/Thành phố:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.TinhName
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Quốc gia:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.QuocGiaName
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Điện thoại</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.appInfo.CompanyPhone
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12">
                        <div class="reg-subtitle">thông tin người đại diện</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Người đại diện:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.appInfo.RepresenterName
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Số điện thoại:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.appInfo.RepresenterMobile
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Email:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.appInfo.RepresenterEmail
                        </div>
                    </div>
                }


                <div class="col-sm-12 reg-footer">
                    <a href="#phanAnh" onclick="autofillapp()" class="btn btn-danger">phản ánh</a>
                </div>
            </div>
        </div>
        @{ Html.RenderAction("EndUserContentRightPartial", "Common"); }
    </div>
</div>

<script>
    function autofillapp() {
        $("#radioOption2").prop('checked', true);
        nextPrev(2);
        $("#appName").val(decodeURIComponent('@Model.appInfo.Name'));
        $("#appLink").val("@Model.appInfo.Domain");
        if ('@Model.appInfo.Domain' == "")
            $("#appLink").val("@Model.appInfo.DomainAdd");
    }
</script>