﻿@using Nami.Web.Models
@{
    ViewBag.Title = "Danh sách website bị phản ánh";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var dropdownListReportType = Model.dropdownListReportType as List<SelectListItem>;
}
@model ReportAppViewModel
@using BotDetect.Web.Mvc;
@using Nami.Web;
@section HeadIncludes {
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl"
          rel="stylesheet" type="text/css" />
}
<div id="NoiDungChinh">
    <div class="container">
        <div class="col-sm-8 pdl0 content-left">
            <div class="btn-group btn-breadcrumb">
                <a href="/" class="btn btn-info"><i class="glyphicon glyphicon-home" style="font-size: 17px; line-height: 0.2;margin-top:5px;"></i>&nbsp;&nbsp;Trang chủ</a>
                <a href="#" class="btn btn-info history-url">Phản ánh ứng dụng</a>
            </div>
            <div>
                <h1 class="content-header">Phản ánh ứng dụng</h1>

                <div class="text-content">
                    @using (Html.BeginForm("AppReportPost", "Home", FormMethod.Post, new
                    {
                        id = "AppReportForm",
                        enctype = "multipart/form-data"
                    }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-4">Họ tên <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Họ tên", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Email <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Địa chỉ email", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Ngày sinh <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.DatePickerFor(m => m.DateOfBirth, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                                    @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Số CMND <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.NumberId, new { @placeholder = "Số CMND", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NumberId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Ngày cấp <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.DatePickerFor(m => m.NumberDate, "autoclose=true", "todayBtn=true", "todayHighlight=true")
                                    @Html.ValidationMessageFor(m => m.NumberDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Nơi cấp <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.NumberAddress, new { @placeholder = "Nơi cấp", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NumberAddress, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Địa chỉ thường trú <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Address, new { @placeholder = "Địa chỉ thường trú", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Điện thoại <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.Phone, new { @placeholder = "Điện thoại", @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" id="loaiPhanAnhLabel">Loại phản ánh</label>
                                <div class="col-sm-8">
                                    @Html.DropDownListFor(m => m.KindOfReflection, dropdownListReportType, new { id = "loaiPhanAnh", @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Tên ứng dụng <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.AppName, new { @placeholder = "Địa chỉ tên miền", @id = "domain", @class = "inputField form-control" })
                                    @Html.ValidationMessageFor(m => m.AppName, "", new { @class = "text-danger" })
                                </div>
                                <div class="divoutput"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Đường dẫn tải ứng dụng <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.AppLink, new { @placeholder = "Địa chỉ tên miền", @id = "domain", @class = "inputField form-control" })
                                    @Html.ValidationMessageFor(m => m.AppLink, "", new { @class = "text-danger" })
                                </div>
                                <div class="divoutput"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">Nội dung phản ánh <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.TextAreaFor(m => m.Comment, new { @placeholder = "Nội dung phản ánh", @style = "resize:vertical", @id = "noidung2", @class = "inputField form-control" })
                                    @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
                                </div>
                                <div class="divoutput"></div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4">File đính kèm <span style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <div>
                                        <input type="file" name="File" required />
                                        @Html.ValidationMessageFor(m => m.TaiLieuDinhKem, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="clearBoth"></div>
                            @{MvcCaptcha registrationCaptcha = CaptchaHelper.GetRegistrationCaptcha(); }
                            @if (!registrationCaptcha.IsSolved)
                            {

                                <div class="form-group">
                                    <label class="control-label col-sm-4" for="CaptchaCode">Nhập mã xác nhận <span style="color:red">*</span></label>

                                    <div class="col-sm-8">
                                        @Html.TextBox("CaptchaCode", null, new { @class = "form-control captchaVal" })
                                        @Html.ValidationMessage("CaptchaCode", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="clearBoth"></div>
                                <div class="form-group">
                                    <div class="col-md-offset-4 col-sm-8">
                                        @Html.Captcha(registrationCaptcha)
                                    </div>
                                </div>
                            }
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-md">Gửi phản ánh&nbsp;<i class='glyphicon glyphicon-envelope btn-icon'></i></button>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
        @{ Html.RenderAction("EndUserContentRightPartial", "Common"); }
    </div>
</div>
@Scripts.Render("~/Scripts/captcha.validate.js")
<script>
    $("#AppReportForm").submit(function () {
        $("#CaptchaCode").Captcha.ReloadImage();
    })
</script>