﻿@using Nami.Web.Models;
@using Nami.Service.Constant;
@using Newtonsoft.Json;
@model DetailTinVM
@{
	if (Model.ItemType == ItemTypeConstant.Building)
	{
		ViewBag.Title = Model.objBuilding.BuildingsName;
	}
	else if (Model.ItemType == ItemTypeConstant.Room)
	{
		ViewBag.Title = Model.objRoom.RoomName;
	}
	Layout = "~/Views/Shared/_LayoutTinTuc.cshtml";

	var dataBuilding = Html.Raw(JsonConvert.SerializeObject(Model.objBuilding));
	var dataRoom = Html.Raw(JsonConvert.SerializeObject(Model.objRoom));
}
<div style="font-family: Tahoma;">
	@if (Model.ItemType == ItemTypeConstant.Room)
	{
		<h1 style="font-size: 17px;color:#055699;font-family: Tahoma;">@Model.objRoom.RoomName</h1>
		<div style="color: #8f8f8f;margin-bottom: 10px;font-size: 12px;font-family: Tahoma;">@string.Format("{0:dd/MM/yyyy HH:mm}", Model.objRoom.UpdatedDate)</div>
		<div>
			<div style="font-size: 12px;text-decoration: none;font-family: Tahoma;">
				<strong>Khu vực: </strong>
				<a href="/kinh-nghiem-mua-ban-nha">
					@if (!string.IsNullOrEmpty(Model.objRoom.ProjectName))
					{
						<span>@Model.objRoom.ProjectName - @Model.objRoom.HuyenName - @Model.objRoom.TinhName</span>
					}
					else if (!string.IsNullOrEmpty(Model.objRoom.StreetName))
					{
						<span>@Model.objRoom.StreetName - @Model.objRoom.HuyenName - @Model.objRoom.TinhName</span>
					}
					else
					{
						<span>@Model.objRoom.XaName - @Model.objRoom.HuyenName - @Model.objRoom.TinhName</span>
					}
				</a>
			</div>
			<div style="font-size: 12px;text-decoration: none;font-family: Tahoma;">
				<strong>Giá: </strong>
				<span class="txt-number" style="color:#f1c40f">@Model.objRoom.Price</span><span style="color:#f1c40f"> VNĐ</span>&nbsp;- <strong>Diện tích: </strong><span style="color:#f1c40f">@Model.objRoom.DienTich m2</span>
			</div>
		</div>
		<div style="line-height: 180%;
			text-align: justify;
			text-decoration: none;
			margin-top: 10px;
			text-rendering: optimizeLegibility;
			overflow: hidden;
			font-size: 14px;
			font-family: Tahoma;
			padding: 0 5px 0 0;">
			<b>* Mục đích sử dụng:</b>
			<br />
			<span>@Model.objRoom.MucDichSuDungName</span>
			<br />
			<b>* Địa chỉ:</b>
			<br />
			<span>@Model.objRoom.Address</span>
			<br />
			<b>* Giá:</b>
			<br />
			<span class="txt-number">@Model.objRoom.Price</span> VNĐ
			<br />
			<b>* Số lượng người ở (có thể):</b>
			<br />
			<span>@Model.objRoom.NumberOfPeoperPerRoomAdult (người lớn) - @Model.objRoom.NumberOfPeoperPerRoomKid (trẻ con)</span>
			<br />
			<b>* Thông tin mô tả:</b>
			<br />
			<span>@Model.objRoom.Description</span>
			<br />
			<b>* Hướng nhà: </b><span>@Model.objRoom.HuongNhaName</span>
			<br />
			<b>* Hướng ban công: </b><span>@Model.objRoom.HuongBanCongName</span>
			<br />
			<b>* Số tầng: </b><span>@Model.objRoom.Floor</span>
			<br />
			<b>* Số phòng ngủ: </b><span>@Model.objRoom.SoPhongNgu</span>
			<br />
			<b>* Số toilet: </b><span>@Model.objRoom.SoToiLet</span>
			<br />
			<b>* Thông tin pháp lý:</b>
			<br />
			<span>@Model.objRoom.ThongTinPhapLy</span>
			<table style="width: 100%;border: 1px solid #2980b9; margin-bottom: 10px;">
				<tr>
					<td class="labelData labelDataTitle" colspan="4" style="border: 1px solid #2980b9;padding: 5px;background-color: #3498db;
    color: white;">
						<strong>Liên hệ</strong>
					</td>
				</tr>
				<tr style="@(Model.CurrentUserInfo != null ? "display:none":"")">
					<td class="labelData" colspan="4" style="border: 1px solid #2980b9;padding: 5px;">
						<b>Vui lòng đăng nhập để xem thông tin</b>
					</td>
				</tr>
				<tr style="@(Model.CurrentUserInfo != null ? "":"filter: blur(5px);")"><td class="labelData" style="border: 1px solid #2980b9;padding: 5px;">Tên liên hệ</td><td colspan="3" style="border: 1px solid #2980b9;padding: 5px;">@Model.objRoom.TenLienHe</td></tr>
				<tr style="@(Model.CurrentUserInfo != null ? "":"filter: blur(5px);")"><td class="labelData" style="border: 1px solid #2980b9;padding: 5px;">Địa chỉ liên hệ</td><td colspan="3" style="border: 1px solid #2980b9;padding: 5px;">@Model.objRoom.DiaChiLienHe</td></tr>
				<tr style="@(Model.CurrentUserInfo != null ? "":"filter: blur(5px);")"><td class="labelData" style="border: 1px solid #2980b9;padding: 5px;">Điện thoại</td><td colspan="3" style="border: 1px solid #2980b9;padding: 5px;">@Model.objRoom.DienThoai</td></tr>
				<tr style="@(Model.CurrentUserInfo != null ? "":"filter: blur(5px);")"><td class="labelData" style="border: 1px solid #2980b9;padding: 5px;">Di động</td><td colspan="3" style="border: 1px solid #2980b9;padding: 5px;">@Model.objRoom.DiDong</td></tr>
				<tr style="@(Model.CurrentUserInfo != null ? "":"filter: blur(5px);")"><td class="labelData" style="border: 1px solid #2980b9;padding: 5px;">Email</td><td colspan="3" style="border: 1px solid #2980b9;padding: 5px;">@Model.objRoom.Email</td></tr>
			</table>
			<table style="width: 100%;border: 1px solid #2980b9; margin-bottom: 10px;">
				<tr>
					<td class="labelData labelDataTitle" style="border: 1px solid #2980b9;padding: 5px;background-color: #3498db;
    color: white;">
						<strong>Bản đồ</strong>
					</td>
				</tr>
				<tr>
					<td class="labelData" style="border: 1px solid #2980b9;padding: 5px;">
						<div id='map' style='width: 100%; height: 300px;'></div>
					</td>
				</tr>
			</table>
			<table style="width: 100%;border: 1px solid #2980b9; margin-bottom: 10px;">
				<tr>
					<td class="labelData labelDataTitle" style="border: 1px solid #2980b9;padding: 5px;background-color: #3498db;
						color: white;">
						<strong>Hình ảnh</strong>
					</td>
				</tr>
				<tr>
					<td style="border: 1px solid #2980b9;padding: 5px;">
						<div id="myCarouselImage" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								@if (Model.objRoom.listFileAnh != null && Model.objRoom.listFileAnh.Any())
								{
									foreach (var item in Model.objRoom.listFileAnh)
									{
										<li class="@(Model.objRoom.listFileAnh.IndexOf(item) == 0 ? "active" : "")" data-slide-to="@Model.objRoom.listFileAnh.IndexOf(item)" data-target="#myCarouselImage"></li>
									}
								}
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								@if (Model.objRoom.listFileAnh != null && Model.objRoom.listFileAnh.Any())
								{
									foreach (var item in Model.objRoom.listFileAnh)
									{
										<div class="item @(Model.objRoom.listFileAnh.IndexOf(item) == 0 ? "active" : "")">
											<img src="~/@item.ImageUrl" alt="@item.ImageUrl" onerror="this.src='/assets/images/notfoundimage.png'" style="width: 50%;
    margin: auto;">
										</div>
									}
								}
							</div>

							<!-- Left and right controls -->
							<a class="left carousel-control" href="#myCarouselImage" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#myCarouselImage" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div>

		</div>
	}
	<div class="othernews" style="display: block;
    overflow: hidden;
    margin-bottom: 10px;">
		<h6 class="normalblue" style="white-space: nowrap;float: left;color: #055699;line-height: 18px;
    font-size: 1em;
    font-weight: bold;font-family: Tahoma;margin: 4px 0px;">
			Tin rao khác
		</h6>
		<div class="otherline" style="width:85%;border-bottom: 1px dashed #ccc;
    float: right;
    line-height: 14px;margin-top: 0;    font-family: Tahoma;
    font-size: 12px;
    margin: 0;
    text-decoration: none;">
			&nbsp;
		</div>
		@if (Model.ItemType == ItemTypeConstant.Building)
		{
			if (Model.listBuilding != null && Model.listBuilding.Any())
			{
				foreach (var item in Model.listBuilding)
				{
					if (item.Id != Model.objRoom.Id)
					{
						<h3 class="normal">
							<a class="font-link-box-item iconlist" href="/Home/DetailTinRao?ItemId=@item.Id&ItemType=@ItemTypeConstant.Building" title="@item.BuildingsName">
								@item.BuildingsName
								<i>(@string.Format("{0:HH:mm dd/MM/yyyy }", item.UpdatedDate))</i>
							</a>
						</h3>
					}
				}
			}
		}
		else if (Model.ItemType == ItemTypeConstant.Room)
		{
			if (Model.listRoom != null && Model.listRoom.Any())
			{
				foreach (var item in Model.listRoom)
				{
					if (item.Id != Model.objRoom.Id)
					{
						<h3 class="normal">
							<a class="font-link-box-item iconlist" href="/Home/DetailTinRaoRoom?ItemId=@item.Id&ItemType=@ItemTypeConstant.Room" title="@item.RoomName">
								@item.RoomName
								<i>(@string.Format("{0:HH:mm dd/MM/yyyy }", item.UpdatedDate))</i>
							</a>
						</h3>
					}
				}
			}
		}
	</div>
	<div class="othernews">
		<a id="lnkNewOther" href="#" style="cursor: pointer; text-decoration: underline; font-style: italic; color: #055699 !important;">Xem tiếp</a>
		<div class="otherline" style="width: calc(100% - 65px)">
			&nbsp;
		</div>
	</div>
</div>

<script>
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });

	mapboxgl.accessToken = 'pk.eyJ1IjoiaG9hbnZ1ZGV2IiwiYSI6ImNrMmczM2VzMDBxdHgzZHRnNHI4YjE3YTkifQ.-pd5pmSVzqvDBlNEJf08Pg';
	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/hoanvudev/ck2o6y8ms0gzg1cmkbthgw6ql',
		center: [106.4332513, 16.5397358],
		zoom: 5
	});
	map.addControl(new mapboxgl.NavigationControl());
	var dataProvince = {
		"type": "FeatureCollection",
		"features": []
	};

	if ('@Model.ItemType' == '@ItemTypeConstant.Room') {
			if ('@Model.objRoom' != null) {
				dataProvince.features[0] = {
					"type": "Feature",
					"properties": {
						"message": '@Html.Raw(HttpUtility.HtmlDecode(Model.objRoom.RoomName))',
						"description": "<strong style='color:#428BCA;'>" + '@Model.objRoom.RoomName' + "</strong><br/><span><b>Thông tin:</b> " +'@Model.objRoom.Description' + "</span>" + "<br/><span><b>Địa chỉ:</b> " + '@Model.objRoom.Address' + "</span>",
					},
					"geometry": {
						"type": "Point",
						"coordinates": [@Model.objRoom.Longitude, @Model.objRoom.Latitude]
					}
				}
			}
	}
	@*else if ('@Model.ItemType' == '@ItemTypeConstant.Room') {
			if ('@Model.objRoom' != null) {
				dataProvince.features[0] = {
					"type": "Feature",
					"properties": {
						"message": '@Html.Raw(HttpUtility.HtmlDecode(Model.objRoom.RoomName))',
						"description": "<strong style='color:#428BCA;'>" + '@Model.objRoom.RoomName' + "</strong><br/><span><b>Thông tin:</b> " +'@Model.objRoom.Description' + "</span>" + "<br/><span><b>Địa chỉ:</b> " + '@Model.objRoom.Address' + "</span>",
					},
					"geometry": {
						"type": "Point",
						"coordinates": [@Model.objRoom.Longitude, @Model.objRoom.Latitude]
					}
				}
			}
		}*@

	map.on('load', function () {
		map.loadImage('/Content/MapIcon/universityround.png', function (error, image) {
			map.addImage('BuildingIcon', image);
		});
		map.addSource("places", {
			"type": "geojson",
			"data": dataProvince
		});
		map.addLayer({
			"id": "poi-labels",
			"type": "symbol",
			"source": "places",
			"layout": {
				"text-field": ["get", "message"],
				"text-size": 10,
				"text-variable-anchor": ["top", "bottom", "left", "right"],
				"text-radial-offset": 0.5,
				"text-justify": "auto",
				"icon-image": "BuildingIcon",
				"icon-size": 0.4,
				"text-max-width": 8,
			},
			"paint": {
				"text-color": "#2980b9"
			}
		});

		map.flyTo({
			center: dataProvince.features[0].geometry.coordinates,
			zoom: 8
		});
	});
	map.on('click', 'poi-labels', function (e) {
		var coordinates = e.features[0].geometry.coordinates;
		var description = e.features[0].properties.description;
		while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
			coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
		}
		map.flyTo({
			center: coordinates,
			zoom: 8
		});
		new mapboxgl.Popup()
			.setLngLat(coordinates)
			.setHTML(description)
			.addTo(map);
	});
</script>
