﻿@{
	ViewBag.Title = "Trang chủ";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Nami.Web.Models;
@using Nami.Service.BannerQuangCaoService.Dto;
@using Nami.Service.QLTinTucService.Dto;
@using Nami.Service.QLCauHoiService.Dto;
@using Nami.Service.QLTuVanService.Dto;
@using Nami.Service.Constant;
@using Nami.Service.BuildingsInfoService.Dto;
@using Nami.Service.QuanLyDuAnService.Dto;
@using Nami.Service.RoomInfoService.Dto;
@using Newtonsoft.Json;
@using Nami.Service.Common;
@model HomeSearchModels
@{
	var msg = TempData["Msg"];
	var dropdownListTinhId = ViewBag.dropdownListTinhId as List<SelectListItem>;
	var dropdownListHuyenId = ViewBag.dropdownListHuyenId as List<SelectListItem>;
	var dropdownListXaId = ViewBag.dropdownListXaId as List<SelectListItem>;
	var dropdownListBuilding = ViewBag.dropdownListBuilding as List<SelectListItem>;
	var listBanner = ViewBag.listBanner as List<BannerQuangCaoDto>;
	var listTinNoiBat = ViewBag.listTinNoiBat as List<QLTinTucDto>;
	var listTinTuc = ViewBag.listTinTuc as List<QLTinTucDto>;
	var listTuVan = ViewBag.listTuVan as List<QLTuVanDto>;
	var listTinRaoBuilding = ViewBag.listTinRaoBuilding as List<BuildingsInfoDto>;
	var listTinRaoRoom = ViewBag.listTinRaoRoom as List<RoomInfoDto>;
	var listDuAn = ViewBag.listDuAn as List<QuanLyDuAnDto>;
	var dropdownListBuildingConvert = Html.Raw(JsonConvert.SerializeObject(dropdownListBuilding));
	var numberOfTinRaoDiaDiem1 = ViewBag.numberOfTinRaoDiaDiem1;
	var numberOfTinRaoDiaDiem2 = ViewBag.numberOfTinRaoDiaDiem2;
	var numberOfTinRaoDiaDiem3 = ViewBag.numberOfTinRaoDiaDiem3;
	var numberOfTinRaoDiaDiem4 = ViewBag.numberOfTinRaoDiaDiem4;
	var numberOfTinRaoDiaDiem5 = ViewBag.numberOfTinRaoDiaDiem5;
}
<style>

	#tin-rao-danh-cho-ban li:first-child {
		margin-left: -18px;
	}

	.block-ellipsis {
		display: block;
		display: -webkit-box;
		max-width: 100%;
		height: 32px;
		line-height: 1;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.select2-selection {
		height: 35px !important;
	}

	.select2-selection__rendered {
		font-size: 13px;
		line-height: 34px !important;
		font-family: 'Nunito Sans',Tahoma;
	}

	.select2-results__options li {
		font-size: 13px;
		font-family: 'Nunito Sans',Tahoma;
	}

	.form-control {
		font-size: 13px;
		font-family: 'Nunito Sans',Tahoma;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		border: solid #7f8c8d;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}

	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
		border: solid #7f8c8d;
		border-width: 0 2px 2px 0;
		display: inline-block;
		padding: 3px;
		transform: rotate(45deg);
		-webkit-transform: rotate(225deg);
		top: 60%;
	}

	.select2-container--default .select2-selection--single {
		background-color: rgba(0,0,0,-0.35);
		border: 1px solid #777
	}

		.select2-container--default .select2-selection--single .select2-selection__rendered {
			color: white;
			font-family: 'Nunito Sans',Tahoma;
		}

	.form-control {
		background-color: rgba(0,0,0,-0.35);
		border: 1px solid #777;
		color: white;
	}
</style>
@*<div id="searchBoxHouse">
		<div id="searchBoxItem">
			<div id="searchBoxTextIntro">
				Book unique places to stay and things to do.
			</div>
			<div id="searchBoxTextItem">
				@using (Html.BeginForm("Index", "SearchGuest", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()
					//HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
					<div id="searchBoxTextItem1" class="searchBoxTextItem1">
						<div id="searchBoxTextItem1_1">
							ĐỊA ĐIỂM
						</div>
						<div id="searchBoxTextItem1_2">
							<div class="col-sm-4">
								@Html.DropDownListFor(m => m.TinhId, dropdownListTinhId, "Tỉnh/Thành phố", new { @class = "form-control", @placeholder = "Tỉnh" })
							</div>
							<div class="col-sm-4">
								@Html.DropDownListFor(m => m.HuyenId, dropdownListHuyenId, "Huyện/Quận", new { @class = "form-control", @placeholder = "Huyện" })
							</div>
							<div class="col-sm-4">
								@Html.DropDownListFor(m => m.XaId, dropdownListXaId, "Xã/Phường", new { @class = "form-control", @placeholder = "Xã" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div id="searchBoxTextItem2">
						<div id="searchBoxTextItem2_1">
							GIÁ PHÒNG/THÁNG
						</div>
						<div id="searchBoxTextItem2_2">
							<div class="col-sm-5">
								@Html.TextBoxFor(m => m.MoneyFrom, new { @class = "form-control", @placeholder = "Giá thấp nhât" })
							</div>
							<div class="col-sm-2" style="top: 23px;border-top: 1px solid #767676;"></div>
							<div class="col-sm-5">
								@Html.TextBoxFor(m => m.MoneyTo, new { @class = "form-control", @placeholder = "Giá cao nhất" })
							</div>
						</div>
					</div>
					<div class="clearBoth"></div>
					<div id="searchBoxTextItem3">
						<div id="searchBoxTextItem3_1">
							LOẠI NHÀ THUÊ
						</div>
						<div id="searchBoxTextItem3_2">
							@Html.DropDownListFor(m => m.HomeTypeId, dropdownListBuilding, "Chọn loại nhà", new { @class = "form-control", @placeholder = "Chọn loại nhà" })
						</div>
					</div>
					<div id="searchBoxTextItem4">
						<button type="submit" class="btn btn-lg btn-info" id="submit"><span>Tìm kiếm</span></button>
					</div>
				}
			</div>
		</div>
	</div>
	<div id="timhieuMrental">
		<div id="timhieuMrental1">
			<h3><div>Khám phá M|Rental</div></h3>
		</div>
		<div class="timhieuMrental2Area">
			<ul id="timhieuMrental2">
				<li>
					<a href="">
						<img class="_6ikqekk" src="~/assets/images/backgroundImage/backgroundImage1.jpg" style="width: 100%;height: 100%;" />
						<div class="timhieuMrental2Text"><span>Phòng trọ</span></div>
					</a>
				</li>
				<li>
					<a href="">
						<img class="_6ikqekk" src="~/assets/images/backgroundImage/backgroundImage2.jpg" style="width: 100%;height: 100%;" />
						<div class="timhieuMrental2Text"><span>Nhà trọ</span></div>
					</a>
				</li>
				<li>
					<a href="">
						<img class="_6ikqekk" src="~/assets/images/backgroundImage/backgroundImage3.jpg" style="width: 100%;height: 100%;" />
						<div class="timhieuMrental2Text"><span>Tòa nhà</span></div>
					</a>
				</li>
				<li>
					<a href="">
						<img class="_6ikqekk" src="~/assets/images/backgroundImage/backgroundImage4.jpg" style="width: 100%;height: 100%;" />
						<div class="timhieuMrental2Text"><span>Khách sạn</span></div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="restaurantIntroAreaBackGround">
		<div class="restaurantIntroArea">
			<div class="restaurantIntroArea_Text1">
				<span>GIỚI THIỆU</span>
			</div>
			<div class="restaurantIntroArea_Text2">
				<span>nhà hàng</span>
			</div>
			<div class="restaurantIntroArea_Text3">
				<span>trên M|Rental</span>
			</div>
			<div class="restaurantIntroArea_Button">
				<a class="btn btn-default btn-lg">Tìm hiểu thêm</a>
			</div>
		</div>
	</div>*@
<div class="home-center">
	<div class="banner-home-slide">
		<div class="home-search" id="home-search">
			@using (Html.BeginForm("Index", "SearchGuest", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "searchHouse" }))
			{
				<div class="home-search-tool">
					<ul class="home-search-tab">
						@if (dropdownListBuilding != null && dropdownListBuilding.Any())
						{
							foreach (var item in dropdownListBuilding)
							{
								if (dropdownListBuilding.IndexOf(item) == 0)
								{
									<li class="actived" id="loaiNha_@item.Value" onclick="changeTypeHouse('@item.Value')"><h2>@item.Text</h2></li>
								}
								else
								{
									<li class="" id="loaiNha_@item.Value" onclick="changeTypeHouse('@item.Value')"><h2>@item.Text</h2></li>
								}
							}
						}
					</ul>
					<input type="hidden" name="HomeTypeId" id="HomeTypeId" class="HomeTypeId" />
					<div class="home-search-content">
						<div class="home-search-control">
							<div class="search-input">
								<input onclick="clickSearchInput()" type="text" id="txtSearch" placeholder="Nhập địa điểm hoặc từ khóa (ví dụ: Vinhomes)" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" name="txtSearch" class="ui-autocomplete-input">
							</div>
							<div class="search-button">
								<input type="button" onclick="SubmitSearchForm()" class="btn-home-search" value="Tìm kiếm" id="btnSearchHome">
							</div>
							<div class="clear"></div>
						</div>
						<div class="home-filter home-filter-1 slideOpen m-t-10">
							<div id="divCity" class="search-filter advance-select-box">
								@Html.DropDownListFor(m => m.TinhId, dropdownListTinhId, "Trên toàn quốc", new { @class = "form-control", @placeholder = "Tỉnh" })
							</div>
							<div id="divCity" class="search-filter advance-select-box">
								@Html.DropDownListFor(m => m.HuyenId, dropdownListHuyenId, "Huyện/Quận", new { @class = "form-control", @placeholder = "Huyện" })
							</div>
							<div id="divCity" class="search-filter advance-select-box">
								@Html.DropDownListFor(m => m.XaId, dropdownListXaId, "Xã/Phường", new { @class = "form-control", @placeholder = "Xã" })
							</div>
							<div id="divCity" class="search-filter advance-select-box" style="display: flex;">
								@Html.TextBoxFor(m => m.MoneyFrom, new { @class = "form-control", @placeholder = "Giá từ" })
								<span style="color: white;padding-top: 8px;"> - </span>
								@Html.TextBoxFor(m => m.MoneyTo, new { @class = "form-control", @placeholder = "Giá đến" })
							</div>
							<div class="search-action search-action1" style="display: block;">
								@*<a href="javascript:void(0)" class="m-r-10 filter-more">
										<img src="https://file4.batdongsan.com.vn/images/newhome/icon-down-arrow.png">
										Thêm
									</a>*@
								<a onclick="ResetSearchInput()" class="action-reset-search-form">
									<img src="https://file4.batdongsan.com.vn/images/newhome/search-reset.png">
									Xóa
								</a>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
		@if (listBanner != null && listBanner.Any(x => x.ViTriHienThi == ViTriHienThiQuangCaoConstant.TrenCung))
		{
			var listBanner2 = listBanner.Where(x => x.ViTriHienThi == ViTriHienThiQuangCaoConstant.TrenCung).ToList();
			<div id="myCarousel" class="carousel slide col-sm-12" data-ride="carousel" style="padding: 0px;height: 100%;margin-bottom: 20px;">
				<!-- Indicators -->
				<ol class="carousel-indicators" style="bottom: 0px;float: right !important;text-align: right;width: 75%;">
					@foreach (var item in listBanner2)
					{
						if (listBanner2.IndexOf(item) == 0)
						{
							<li data-target="#myCarousel" data-slide-to="@listBanner.IndexOf(item)" class="active"></li>
						}
						else
						{
							<li data-target="#myCarousel" data-slide-to="@listBanner.IndexOf(item)"></li>
						}
					}
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					@foreach (var item in listBanner2)
					{
						if (listBanner2.IndexOf(item) == 0)
						{
							<div class="item active">
								<a href="@item.LinkUrl">
									<img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'" style="    width: 100%;
    object-fit: cover;">
								</a>
							</div>
						}
						else
						{
							<div class="item">
								<a href="@item.LinkUrl">
									<img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'" style="    width: 100%;
    object-fit: cover;">
								</a>
							</div>
						}
					}
				</div>
			</div>
		}
	</div>
</div>
<div class="row home-center home-padding" style="padding: 0px 8%;margin: 0px;">
	<div class="col-sm-12" style="padding: 20px 20px 0px 20px;">
		<h1 style="color:#7f8c8d;font-size: 28px;margin-right: 30px;padding-bottom: 12px;margin-top: 0px;font-weight: initial;
    color: #34495e;
    font-size: 30px;">
			Tin Rao Tòa Nhà/Khu Trọ Dành Cho Bạn
		</h1>
	</div>
	<div class="home-product product-4-you">
		<ul id="tin-rao-danh-cho-ban">
			@if (listTinRaoBuilding != null && listTinRaoBuilding.Any())
			{
				foreach (var item in listTinRaoBuilding)
				{
					<li class="@((listTinRaoBuilding.IndexOf(item) <= 3) ? "":"hide-building-item")">
						<div class="vip5 vipaddon bg-grey" uid="@item.Id">
							<div class="product-thumb">
								<a href="/Home/DetailTinRao?ItemId=@item.Id&ItemType=@ItemTypeConstant.Building">
									<img src="~/@((item.listFileAnh != null && item.listFileAnh.Any())?item.listFileAnh.FirstOrDefault().ImageUrl:"")" alt="@item.BuildingsName" onerror="this.src='/assets/images/notfoundimage.png'">
								</a>
							</div>
							<div class="home-product-bound">
								<div class="p-title">
									<a id="ucHomeProductInterest_rpListProduct_lnkTitle_0" title="@item.BuildingsName" href="/Home/DetailTinRao?ItemId=@item.Id&ItemType=@ItemTypeConstant.Building">@item.BuildingsName</a>
								</div>
								<div class="product-price txt-number">@item.Price</div>
								<div class="product-info">
									<img src="https://file4.batdongsan.com.vn/images/newhome/3x/selection.png" width="16">
									@item.DienTich m²
								</div>
								<div class="product-info">
									<img src="https://file4.batdongsan.com.vn/images/newhome/3x/location.png" width="18">
									<a href="/ban-nha-rieng-dong-da" title="Bán nhà riêng tại Đống Đa">@item.HuyenName</a>, <a href="/ban-nha-rieng-ha-noi" title="Bán nhà riêng tại Hà Nội">@item.TinhName</a>
								</div>
							</div>
						</div>
					</li>
				}
			}
		</ul>
	</div>
</div>
<div class="row home-center home-padding" style="padding: 0px 8%;margin: 0px;">
	<div class="col-sm-12" style="padding: 20px 20px 0px 20px;">
		<h1 style="color:#7f8c8d;font-size: 28px;margin-right: 30px;padding-bottom: 12px;margin-top: 0px;font-weight: initial;
    color: #34495e;
    font-size: 30px;">
			Tin Rao Phòng Trọ Dành Cho Bạn
		</h1>
	</div>
	<div class="home-product product-4-you">
		<ul id="tin-rao-danh-cho-ban">
			@if (listTinRaoRoom != null && listTinRaoRoom.Any())
			{
				foreach (var item in listTinRaoRoom)
				{
					<li class="@((listTinRaoRoom.IndexOf(item) <= 3) ? "":"hide-room-item")">
						<div class="vip5 vipaddon bg-grey" uid="@item.Id">
							<div class="product-thumb">
								<a href="/Home/DetailTinRaoRoom?ItemId=@item.Id&ItemType=@ItemTypeConstant.Room">
									<img src="~/@((item.listFileAnh != null && item.listFileAnh.Any())?item.listFileAnh.FirstOrDefault().ImageUrl:"")" alt="@item.RoomName" onerror="this.src='/assets/images/notfoundimage.png'">
								</a>
							</div>
							<div class="home-product-bound">
								<div class="p-title">
									<a id="ucHomeProductInterest_rpListProduct_lnkTitle_0" title="@item.RoomName" href="/Home/DetailTinRaoRoom?ItemId=@item.Id&ItemType=@ItemTypeConstant.Room">@item.RoomName</a>
								</div>
								<div class="product-price txt-number">@item.Price</div>
								<div class="product-info">
									<img src="https://file4.batdongsan.com.vn/images/newhome/3x/selection.png" width="16">
									@item.DienTich m²
								</div>
								<div class="product-info">
									<img src="https://file4.batdongsan.com.vn/images/newhome/3x/location.png" width="18">
									<a href="/ban-nha-rieng-dong-da" title="Bán nhà riêng tại Đống Đa">@item.HuyenName</a>, <a href="/ban-nha-rieng-ha-noi" title="Bán nhà riêng tại Hà Nội">@item.TinhName</a>
								</div>
							</div>
						</div>
					</li>
				}
			}
		</ul>
	</div>
</div>
<div class="row home-padding" style="padding: 0px 8%;margin: 0px;">
	<div class="col-sm-9 tintuctuvannoibat" style="padding: 20px;">
		<div style="width: 100%;margin-bottom: 40px;">
			<a onclick="changeTab('HotTinTuc')" style="color:#34495e;font-size: 28px;margin-right: 30px;padding-bottom: 12px;border-bottom: 3px solid #3498db;" id="HotTinTuc">Tin Nổi Bật</a>
			<a onclick="changeTab('TinTuc')" style="color:#7f8c8d;font-size: 28px;margin-right: 30px;padding-bottom: 12px;" id="TinTuc">Tin Tức</a>
			<a onclick="changeTab('TuVan')" style="color:#7f8c8d;font-size: 28px;margin-right: 30px;padding-bottom: 12px;" id="TuVan">Tư Vấn</a>
			<a href="/Tin-Tuc-DS" style="float: right;padding-top: 15px;" id="linkTinTuc">Xem thêm tin tức <i class="fa fa-arrow-right "></i></a>
		</div>
		<div style="width: 100%;">
			<div id="HotTinTucItem" class="row" style="padding:0px;margin: 0px;">
				@if (listTinNoiBat != null && listTinNoiBat.Any())
				{
					foreach (var item in listTinNoiBat)
					{
						if (listTinNoiBat.IndexOf(item) == 0)
						{
							<div class="col-sm-7" style="padding-left:0px;">
								<a style="font-style: normal;
										font-weight: bold;
										font-size: 20px;
										line-height: 36px;
										display: block;
										color:#34495e;
										margin-bottom: 7px;
										word-wrap: break-word;" href="/Tin-Tuc/@item.SlugTitle">
									<span style="width: 100%;
												display: block;
												height: 265px;
												margin-bottom: 15px;
												text-align: center;">
										<img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'" style="width: 100%;display: inline-block;height: 100%;">
									</span>
									@if (!string.IsNullOrEmpty(item.NamePhu))
									{
										<span>@item.NamePhu</span>
									}
									else
									{
										<span>@item.Name</span>
									}
								</a>
								<span style="color:#95a5a6;"><i class="fa fa-clock-o"></i> @string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</span>
							</div>
						}
					}

					<div class="col-sm-5" style="padding-right:0px;">
						@foreach (var item in listTinNoiBat)
						{
							if (listTinNoiBat.IndexOf(item) > 0 && listTinNoiBat.IndexOf(item) <= 6)
							{
								<div class="row" style="padding:0px;margin: 0px;padding-bottom: 15px;
																	margin-bottom: 15px;
																	border-bottom: 1px solid #95a5a6;">
									<a href="/Tin-Tuc/@item.SlugTitle" style="color:#34495e;">
										<div class="col-sm-3" style="padding-left:0px;">
											<img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'" style="width: 100%;display: inline-block;height: 40px;">
										</div>
										<div class="col-sm-9" style="padding:0px;">
											@if (!string.IsNullOrEmpty(item.NamePhu))
											{
												<span style="font-size: 16px;" class="block-ellipsis">@item.NamePhu</span>
											}
											else
											{
												<span style="font-size: 16px;" class="block-ellipsis">@item.Name</span>
											}
										</div>
									</a>
								</div>
							}
						}
					</div>
				}
			</div>

			<div id="TinTucItem" class="row" style="padding:0px;margin: 0px;display: none;">
				@if (listTinTuc != null && listTinTuc.Any())
				{
					foreach (var item in listTinTuc)
					{
						if (listTinTuc.IndexOf(item) == 0)
						{
							<div class="col-sm-7" style="padding-left:0px;">
								<a style="font-style: normal;
										font-weight: bold;
										font-size: 20px;
										line-height: 36px;
										display: block;
										color:#34495e;
										margin-bottom: 7px;
										word-wrap: break-word;" href="/Tin-Tuc/@item.SlugTitle">
									<span style="width: 100%;
												display: block;
												height: 265px;
												margin-bottom: 15px;
												text-align: center;">
										<img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'" style="width: 100%;display: inline-block;height: 100%;">
									</span>
									@if (!string.IsNullOrEmpty(item.NamePhu))
									{
										<span>@item.NamePhu</span>
									}
									else
									{
										<span>@item.Name</span>
									}
								</a>
								<span style="color:#95a5a6;"><i class="fa fa-clock-o"></i> @string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</span>
							</div>
						}
					}

					<div class="col-sm-5" style="padding-right:0px;">
						@foreach (var item in listTinTuc)
						{
							if (listTinTuc.IndexOf(item) > 0 && listTinTuc.IndexOf(item) <= 6)
							{
								<div class="row" style="padding:0px;margin: 0px;padding-bottom: 15px;
																	margin-bottom: 15px;
																	border-bottom: 1px solid #95a5a6;">
									<a href="/Tin-Tuc/@item.SlugTitle" style="color:#34495e;">
										<div class="col-sm-3" style="padding-left:0px;">
											<img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'" style="width: 100%;display: inline-block;height: 40px;">
										</div>
										<div class="col-sm-9" style="padding:0px;">
											@if (!string.IsNullOrEmpty(item.NamePhu))
											{
												<span style="font-size: 16px;" class="block-ellipsis">@item.NamePhu</span>
											}
											else
											{
												<span style="font-size: 16px;" class="block-ellipsis">@item.Name</span>
											}
										</div>
									</a>
								</div>
							}
						}
					</div>
				}
			</div>

			<div id="TuVanItem" class="row" style="padding:0px;margin: 0px;display: none;">
				@if (listTuVan != null && listTuVan.Any())
				{
					foreach (var item in listTuVan)
					{
						if (listTuVan.IndexOf(item) == 0)
						{
							<div class="col-sm-7" style="padding-left:0px;">
								<a style="font-style: normal;
										font-weight: bold;
										font-size: 20px;
										line-height: 36px;
										display: block;
										color:#34495e;
										margin-bottom: 7px;
										word-wrap: break-word;" href="/Tu-Van/@item.SlugTitle">
									<span style="width: 100%;
												display: block;
												height: 265px;
												margin-bottom: 15px;
												text-align: center;">
										<img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'" style="width: 100%;display: inline-block;height: 100%;">
									</span>
									@if (!string.IsNullOrEmpty(item.NamePhu))
									{
										<span>@item.NamePhu</span>
									}
									else
									{
										<span>@item.Name</span>
									}
								</a>
								<span style="color:#95a5a6;"><i class="fa fa-clock-o"></i> @string.Format("{0:dd/MM/yyyy}", item.CreatedDate)</span>
							</div>
						}
					}

					<div class="col-sm-5" style="padding-right:0px;">
						@foreach (var item in listTuVan)
						{
							if (listTuVan.IndexOf(item) > 0 && listTuVan.IndexOf(item) <= 6)
							{
								<div class="row" style="padding:0px;margin: 0px;padding-bottom: 15px;
																	margin-bottom: 15px;
																	border-bottom: 1px solid #95a5a6;">
									<a href="/Tu-Van/@item.SlugTitle" style="color:#34495e;">
										<div class="col-sm-3" style="padding-left:0px;">
											<img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'" style="width: 100%;display: inline-block;height: 40px;">
										</div>
										<div class="col-sm-9" style="padding:0px;">
											@if (!string.IsNullOrEmpty(item.NamePhu))
											{
												<span style="font-size: 16px;" class="block-ellipsis">@item.NamePhu</span>
											}
											else
											{
												<span style="font-size: 16px;" class="block-ellipsis">@item.Name</span>
											}
										</div>
									</a>
								</div>
							}
						}
					</div>
				}
			</div>
		</div>
	</div>
	<div class="col-sm-3 quangcaobenphai" style="padding: 20px;">
		@if (listBanner != null && listBanner.Any(x => x.ViTriHienThi == ViTriHienThiQuangCaoConstant.BenPhai))
		{
			foreach (var item in listBanner)
			{
				if (item.ViTriHienThi == ViTriHienThiQuangCaoConstant.BenPhai)
				{
					<div style="width: 100%; margin-bottom: 12px;">
						<a href="@item.LinkUrl"><img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'"></a>
					</div>
				}
			}
		}
	</div>
</div>

<div class="row home-product-place home-padding" style="padding: 0px 8%;margin: 0px;">
	<div class="col-sm-12" style="padding: 20px 20px 0px 20px;">
		<h1 style="color:#7f8c8d;font-size: 28px;margin-right: 30px;padding-bottom: 12px;margin-top: 0px;font-weight: initial;
    color: #34495e;
    font-size: 30px;margin-bottom: 0px;">
			Tin Rao Theo Địa Điểm
		</h1>
	</div>
	<div>
		<div class="place-big">
			<div class="place-img slick-initialized slick-slider">
				<div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 1680px;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/HCM-web-1.jpg" class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 560px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/HCM-web-2.jpg" class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 560px; position: relative; left: -560px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/HCM-web-3.jpg" class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 560px; position: relative; left: -1120px; top: 0px; z-index: 999; opacity: 1;    filter: brightness(60%);"></div></div>


			</div>
			<div class="place-info buy-info">
				<h3>
					<a href="/NhaChoThueTheoDiaDiemVaDuAn/PageIndexTinRaoTheoDiaDiem?tinhCode=t1&page=1">
						<span class="place-name">TP. Hồ Chí Minh</span>
						<span class="place-number">@numberOfTinRaoDiaDiem1 tin rao</span>
					</a>
				</h3>
			</div>

		</div>
		<div class="place-small">
			<div class="place-item">
				<div class="place-img slick-initialized slick-slider">
					<div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 810px;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/HN-web-1.jpg" class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide10" style="width: 270px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/HN-web-2.jpg" class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide11" style="width: 270px; position: relative; left: -270px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/HN-web-3.jpg" class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide12" style="width: 270px; position: relative; left: -540px; top: 0px; z-index: 999; opacity: 1;    filter: brightness(60%);"></div></div>


				</div>
				<div class="place-info buy-info">
					<h3>
						<a href="/NhaChoThueTheoDiaDiemVaDuAn/PageIndexTinRaoTheoDiaDiem?tinhCode=t2&page=1">
							<span class="place-name">Hà Nội</span>
							<span class="place-number">@numberOfTinRaoDiaDiem2 tin rao</span>
						</a>
					</h3>
				</div>

			</div>
			<div class="place-item">
				<div class="place-img slick-initialized slick-slider">
					<div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 810px;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/DDN-web-1.jpg" class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide20" style="width: 270px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/DDN-web-2.jpg" class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide21" style="width: 270px; position: relative; left: -270px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/DDN-web-3.jpg" class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide22" style="width: 270px; position: relative; left: -540px; top: 0px; z-index: 999; opacity: 1;    filter: brightness(60%);"></div></div>


				</div>
				<div class="place-info buy-info">
					<h3>
						<a href="/NhaChoThueTheoDiaDiemVaDuAn/PageIndexTinRaoTheoDiaDiem?tinhCode=t3&page=1">
							<span class="place-name">Đà Nẵng</span>
							<span class="place-number">@numberOfTinRaoDiaDiem3 tin rao</span>
						</a>
					</h3>
				</div>

			</div>
			<div class="place-item nomargin">
				<div class="place-img slick-initialized slick-slider">
					<div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 540px;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/BD-web-1.jpg" class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide30" style="width: 270px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;    filter: brightness(60%);"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/BD-web-2.jpg" class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide31" style="width: 270px; position: relative; left: -270px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;    filter: brightness(60%);"></div></div>

				</div>
				<div class="place-info buy-info">
					<h3>
						<a href="/NhaChoThueTheoDiaDiemVaDuAn/PageIndexTinRaoTheoDiaDiem?tinhCode=t4&page=1">
							<span class="place-name">Bình Dương</span>
							<span class="place-number">@numberOfTinRaoDiaDiem4 tin rao</span>
						</a>
					</h3>
				</div>

			</div>
			<div class="place-item nomargin">
				<div class="place-img slick-initialized slick-slider">
					<div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 810px;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/DNA-web-1.jpg" class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide40" style="width: 270px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/DNA-web-2.jpg" class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide41" style="width: 270px; position: relative; left: -270px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;"><img src="https://file4.batdongsan.com.vn/images/newhome/cities1/DNA-web-3.jpg" class="slick-slide slick-current slick-active" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide42" style="width: 270px; position: relative; left: -540px; top: 0px; z-index: 999; opacity: 1;    filter: brightness(60%);"></div></div>


				</div>
				<div class="place-info buy-info">
					<h3>
						<a href="/NhaChoThueTheoDiaDiemVaDuAn/PageIndexTinRaoTheoDiaDiem?tinhCode=t5&page=1">
							<span class="place-name">Đồng Nai</span>
							<span class="place-number">@numberOfTinRaoDiaDiem5 tin rao</span>
						</a>
					</h3>
				</div>

			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>

<div class="row home-padding" style="padding: 0px 8%;margin: 0px;">
	<div class="col-sm-12" style="padding: 20px 20px 0px 20px;">
		<h1 style="color:#7f8c8d;font-size: 28px;margin-right: 30px;padding-bottom: 12px;margin-top: 0px;font-weight: initial;
    color: #34495e;
    font-size: 30px;margin-bottom: 0px;">
			Dự Án Nổi Bật
		</h1>
	</div>
</div>

<div class="carousel slide  home-padding" id="myCarousel2" style="padding: 0px 9% 0px 10%;margin: 0px;">
	<div class="carousel-inner">
		@if (listDuAn != null && listDuAn.Any())
		{
			var listFirstFour = listDuAn.Take(4).ToList();
			<div class="item active">
				<div class="row">
					@foreach (var item in listFirstFour)
					{
						<div class="col-xs-3"><a href="/NhaChoThueTheoDiaDiemVaDuAn/PageIndexTinRaoTheoDuAn?duanId=@item.Id&page=1"><img src="@item.ImageUrl" class="img-responsive" onerror="this.src='/assets/images/notfoundimage.png'"><br /><div style="color:#34495e;font-size: 12px;
    margin-top: -15px;">@item.TenDuAn</div></a></div>
					}
				</div>
			</div>
			if (listDuAn.Count > 3)
			{
				<div class="item">
					<div class="row">
						@foreach (var item in listDuAn)
						{
							if (listDuAn.IndexOf(item) > 3 && listDuAn.IndexOf(item) <= 7)
							{
								<div class="col-xs-3"><a href="/NhaChoThueTheoDiaDiemVaDuAn/PageIndexTinRaoTheoDuAn?duanId=@item.Id&page=1"><img src="@item.ImageUrl" class="img-responsive" onerror="this.src='/assets/images/notfoundimage.png'"><br /><div style="color:#34495e;font-size: 12px;
    margin-top: -15px;">@item.TenDuAn</div></a></div>
							}
						}
					</div>
				</div>
			}
			@*if (listDuAn.Count > 7)
			{
				<div class="item">
					<div class="row">
						@foreach (var item in listDuAn)
						{
							if (listDuAn.IndexOf(item) > 7 && listDuAn.IndexOf(item) <= 11)
							{
								<div class="col-xs-3"><a href="/NhaChoThueTheoDiaDiemVaDuAn/PageIndexTinRaoTheoDuAn?duanId=@item.Id&page=1"><img src="@item.ImageUrl" class="img-responsive" onerror="this.src='/assets/images/notfoundimage.png'"><br /><div style="color:#34495e;font-size: 12px;
    margin-top: -15px;">@item.TenDuAn</div></a></div>
							}
						}
					</div>
				</div>
			}*@
		}
	</div>
	<a class="left carousel-control left-carousel-qcd" href="#myCarousel2" data-slide="prev" style="left: 5%;
    height: 0px;
    top: 49%;"><i class="glyphicon glyphicon-chevron-left" style="color: #005494;"></i></a>
	<a class="right carousel-control right-carousel-qcd" href="#myCarousel2" data-slide="next" style="right: 5%;
    height: 0px;
    top: 49%;"><i class="glyphicon glyphicon-chevron-right" style="color: #005494;"></i></a>
</div>

<div class="row home-padding-quangcaodown" style="padding: 30px 7% 0px 8%;margin: 0px;">
	<div class="col-sm-12">
		@if (listBanner != null && listBanner.Any(x => x.ViTriHienThi == ViTriHienThiQuangCaoConstant.Giua))
		{
			foreach (var item in listBanner)
			{
				if (item.ViTriHienThi == ViTriHienThiQuangCaoConstant.Giua)
				{
					<div style="width: 100%; margin-bottom: 12px;">
						<a href="@item.LinkUrl"><img src="~/@item.ImageLink" alt="@item.Name" onerror="this.src='/assets/images/notfoundimage.png'" style="width: 100%;"></a>
					</div>
				}
			}
		}
	</div>
</div>

<script type="text/javascript">
	$(".txt-number").autoNumeric({ digitGroupSeparator: '.', decimalCharacter: ',', vMin: 0, mDec: 2 });
	$('#TinhId').select2();
	$('#HuyenId').select2();
	$('#XaId').select2();
	$(".home-filter-1").hide();
	var dropdownListBuildingConvert = eval(@dropdownListBuildingConvert);


	document.body.addEventListener('click', (e) => {
		if (isInsideMySpecialWidget(e.target, "home-search")) {
			if ($(window).width() <= 450) {
				$(".home-search-content").css("height", "153px");
			}
			else {
				$(".home-search-content").css("height", "102px");
			}
			$(".home-filter-1").show();
			//console.log("user clicked INSIDE the widget");
		} else {
			//console.log("user clicked OUTSIDE the widget");
			$(".home-search-content").css("height", "60px");
			$(".home-filter-1").hide();
		}
	});

	function ResetSearchInput() {
		$("#txtSearch").val("");
		$("#MoneyFrom").val("");
		$("#MoneyTo").val("");
		$("#TinhId").val("");
		$("#TinhId").change();
	}

	function isInsideMySpecialWidget(elem, mySpecialWidgetId) {
		while (elem.parentElement) {
			if (elem.id === mySpecialWidgetId) {
				return true;
			}
			elem = elem.parentElement;
		}
		return false;
	}

	function clickSearchInput() {
		if ($(window).width() <= 450) {
			$(".home-search-content").css("height", "153px");
		}
		else {
			$(".home-search-content").css("height", "102px");
		}
		$(".home-filter-1").show();
	}
	function SubmitSearchForm() {
		$("#searchHouse").submit();
	}
	if (dropdownListBuildingConvert != null && dropdownListBuildingConvert.length != 0) {
		$("#HomeTypeId").val(dropdownListBuildingConvert[0].Value);
	}
	function changeTypeHouse(type) {
		if (type != null && type != "") {
			for (var i = 0; i < dropdownListBuildingConvert.length; i++) {
				$("#loaiNha_" + dropdownListBuildingConvert[i].Value).removeClass("actived");
			}
			$("#loaiNha_" + type).addClass("actived");
			$("#HomeTypeId").val(type);
		}
	}
		function changeTab(id) {
			if (id != null && id != "") {
				$("#HotTinTuc").css("border-bottom","none");
				$("#TinTuc").css("border-bottom","none");
				$("#TuVan").css("border-bottom", "none");
				$("#HotTinTuc").css("color", "#7f8c8d");
				$("#TinTuc").css("color", "#7f8c8d");
				$("#TuVan").css("color", "#7f8c8d");

				$("#" + id).css("border-bottom", "3px solid #3498db");
				$("#" + id).css("color", "#34495e");

				$("#HotTinTucItem").css("display", "none");
				$("#TinTucItem").css("display", "none");
				$("#TuVanItem").css("display", "none");
				$("#" + id+"Item").show();
			}
		}
        $(document).ready(function () {

            if ('@msg' == '1') {
                NotiSuccess("Thành công", "Bạn đã gửi phản ánh thành công!");
            }

        })

	$("#TinhId").on("change", function () {
		var type = $(this).val();
		renderDropdownList('/Home/GetHuyenDropdownOfTinh/' + type, 'HuyenId', 'Huyện/Quận');
		$('#HuyenId').val('').change();
	});

	$("#HuyenId").on("change", function () {
		var type = $(this).val();
		renderDropdownList('/Home/GetXaDropdownOfHuyen/' + type, 'XaId', 'Xã/Phường');
		$('#XaId').val('').change();
	});

	$(document).ready(function () {
		$('.slider-web').slick({
			slidesToShow: 3,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 2000,
			nextArrow: '<button class="next"><span class="glyphicon glyphicon-chevron-right"></span></button>',
			prevArrow: '<button class="prev"><span class="glyphicon glyphicon-chevron-left"></span></button>',
			responsive: [
				{
					breakpoint: 980, // tablet breakpoint
					settings: {
						slidesToShow: 3,
						slidesToScroll: 3
					}
				},
				{
					breakpoint: 480, // mobile breakpoint
					settings: {
						slidesToShow: 2,
						slidesToScroll: 2
					}
				}
			]
		});

	});
	$(document).ready(function() {
		var data = '@TempData["falselogin"]';
		console.log(data);
		if (data == 'True') {
			NotiError('Đăng nhập thất bại!','Sai thông tin đăng nhập!')
		}
  });
</script>
