﻿
@{
    ViewBag.Title = "LicenseAccept";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <div class="row" style="text-align:center">
            <div class="col-sm-12">
                <div class="text-center error-box">
                    <h1 class="error-text-2 bounceInDown animated" style="color:#c0392b"> Chúc mừng bạn đã kích hoạt License thành công <span class="particle particle--c"></span><span class="particle particle--a"></span><span class="particle particle--b"></span></h1>
                    <h2 class="font-xl" style="color:#2c3e50"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> Accept License</strong></h2>
                    <br>
                    
                    <p class="font-md">
                            <b><a href="/home/BackHome">Quay lại trang chủ</a></b>
                        </p>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- end row -->

</div>




