﻿@using Nami.Web.Core
@model List<SearchLuceneArticleDto>
@if (Model.Any())
{
    <div id="boxResultSearch">
        <div class="content">
            @foreach (var item in Model)
            {
                <a class="searchItem" href="@item.Link">
                   <span class="imagePic"><img src="@item.Image" class="iconType" onerror="this.src = '/assets/images/notfoundimage.png'" /></span>
                    <div class="contentText">
                        <div class="title">@item.Title</div>
                        <div class="description">@item.Description</div>
                    </div>

                </a>
            }
        </div>
    </div>
}
