﻿
@{
    ViewBag.Title = "Danh sách tìm kiếm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_EndUserBannerPartial")
@using Newtonsoft.Json;
@using Nami.Service.Common;
@using Nami.Service.WebsiteInfoService.Dto;

<div id="NoiDungChinh">
    <div class="container">
        <div class="col-sm-8 pdl0 content-left" id="tbl-WebsiteInfo">
            <div class="btn-group btn-breadcrumb">
                <a href="/" class="btn btn-info"><i class="glyphicon glyphicon-home" style="font-size: 17px; line-height: 0.2;margin-top:5px;"></i>&nbsp;&nbsp;Trang chủ</a>
                <a href="#boxTraCuu" class="btn btn-info history-url">Tìm kiếm</a>
            </div>
            <div>
                <h1 class="content-header">Kết quả tìm kiếm</h1>
            </div>            

            <table class="search-table table table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên website</th>
                        <th>Tên thương nhân</th>
                        <th>Mã số thuế</th>
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <th>Loại website</th>
                        <th>Phản ánh</th>
                    </tr>
                </thead>
                <tbody id="table-data">
                    @* table data inserted here by ajax call *@
                </tbody>
            </table>
            <div id="indexer" style="float:right">
            </div>
        </div>
        @{ Html.RenderAction("EndUserContentRightPartial", "Common"); }
    </div>
</div>

<script>    
    function autofillweb(domain) {
        $("#radioOption1").prop('checked', true);
        nextPrev(0);
        $("#domain").val(domain);
    }

    $(document).ready(function () {
        var pageIndex = 1;

        GetPage(pageIndex);
    });

    function GetPage(pageIndex) {
        $("#table-data").empty();
        $("#indexer").empty();
        $.ajax({
            
            url: "@Url.Action("GetPage","Home")",
            type: "POST",
            data: { pageIndex: pageIndex },
            success: function (response) {
                var rowData = "";

                if (response.ListItem.length == 0)
                    rowData += "<tr><td colspan=\"8\" class=\"no-data\">Không có dữ liệu</td></tr>";

                for (var i = 0; i < response.ListItem.length; i++) {
                    rowData += "<tr>";
                    rowData += "<th scope=\"row\">" + ((response.CurrentPage-1) * 10 + i + 1) + "</th>";
                    rowData += "<td><a href='WebDetails/" + response.ListItem[i].Id + "'>" + response.ListItem[i].Name + "</a></td>";
                    rowData += "<td>" + response.ListItem[i].CompanyName + "</td>";
                    rowData += "<td>" + response.ListItem[i].CompanyTaxCode + "</td>";
                    rowData += "<td>" + response.ListItem[i].CompanyPhone + "</td>";
                    rowData += "<td>" + response.ListItem[i].RepresenterEmail + "</td>";
                    switch (response.ListItem[i].WebsiteManageTypeId) {
                        case 0:
                            rowData += "<td>Website cung cấp dịch vụ thương mai điện tử</td>";
                            break;
                        case 1:
                            rowData += "<td>Website thương mại điện tử bán hàng</td>";
                            break;
                        default:
                            rowData += "<td>Chưa xác định</td>";
                            break;
                    }
                    rowData += "<td style =\"width:80px; text-align: center\"><a href=\"#phanAnh\" onclick=\"autofillweb('" + response.ListItem[i].Domain + "')\" class=\"glyphicon glyphicon-alert\"></a></td>";
                    rowData += "</tr>";
                }

                $('#table-data').append(rowData);
                PagingTemplate(response.CurrentPage, response.TotalPage);
            },
            error: function (e) {
                console.log(e);
            }
        })
    }

    function PagingTemplate(currentPage, totalPage) {
        if (totalPage == 0)
            return;
        var paging = "";
        paging += "<p>Trang " + (currentPage) + "/" + totalPage + "</p>";
        
        paging += "<button id = \"prevBtn\" class = \"btn btn-info prevnext-btn\" onclick = \"GetPage(" + (currentPage - 1) + ")\">Trang trước</button>";
        paging += "<button id = \"nextBtn\" class = \"btn btn-info prevnext-btn\" onclick = \"GetPage(" + (currentPage + 1) + ")\">Trang sau</button>";

        $('#indexer').append(paging);
        if (currentPage == 1) {
            $("#prevBtn").attr("disabled",true);
        }
        if (currentPage == totalPage) {
            $("#nextBtn").attr("disabled",true);
        }
    }

</script>