﻿@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Nami.Web.Models;
@model WebDetailsViewModel
@{

}
@Html.Partial("_EndUserBannerPartial")
<div id="NoiDungChinh">
    <div class="container">
        <div class="col-sm-8 pdl0 content-left">
            <div class="product-title"><p>Thông tin chi tiết</p></div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="reg-subtitle">thông tin website</div>
                </div>

                <div class="col-sm-12">
                    <div class="col-sm-6 text-right">
                        <p>Tên Website:</p>
                    </div>
                    <div class="col-sm-6">
                        @Model.websiteInfo.Name
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 text-right">
                        <p>Địa chỉ tên miền:</p>
                    </div>
                    <div class="col-sm-6">
                        <a href="@Model.websiteInfo.Domain" class="product-link">
                            @Model.websiteInfo.Domain
                        </a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 text-right">
                        <p>Loại sản phẩm:</p>
                    </div>
                    <div class="col-sm-6">
                        @if (Model.websiteInfo.ProductType != null)
                        {
                            @Model.websiteInfo.ProductType
                        }
                        else
                        {
                            <p class="text-danger">Chưa cập nhật</p>
                        }
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 text-right">
                        <p>Biểu tượng đánh giá tín nhiệm:</p>
                    </div>
                    <div class="col-sm-6">
                        @if (Model.TrustSymbols.Count != 0)
                        {
                            foreach (var item in Model.TrustSymbols)
                            {
                                <div>
                                    <img class="CTTNLogoUser" src="/@item.BieuTuongCTDGTN" alt="Biểu tuọng đánh giá tín nhiệm" onerror="this.src = '/assets/images/notfoundimage.png'" />
                                </div>
                            }
                        }
                        else
                        {
                            <p class="text-danger">Không có thông tin</p>
                        }
                    </div>
                </div>
                @if (Model.companyInfo != null)
                {

                    <div class="col-sm-12" id="company-info">
                        <div class="reg-subtitle">thông tin doanh nghiệp</div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Tên Doanh nghiệp:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.Name
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>MST/ĐKKD/QĐTL:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.TaxCode
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Trụ sở Doanh nghiệp:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.Address
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Tỉnh/Thành phố:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.TinhName
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Quốc gia:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.QuocGiaName
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Điện thoại</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.companyInfo.Phone
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-sm-12">
                        <div class="reg-subtitle">thông tin người đại diện</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Người đại diện:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.websiteInfo.RepresenterName
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Số điện thoại:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.websiteInfo.RepresenterMobile
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-6 text-right">
                            <p>Email:</p>
                        </div>
                        <div class="col-sm-6">
                            @Model.websiteInfo.RepresenterEmail
                        </div>
                    </div>
                }

                <div class="col-sm-12 reg-footer">
                    <a href="#phanAnh" onclick="autofillweb()" class="btn btn-danger">phản ánh</a>
                </div>
            </div>

        </div>
        @{ Html.RenderAction("EndUserContentRightPartial", "Common"); }
    </div>
</div>

<script>
    function autofillweb() {
        $("#radioOption1").prop('checked', true);
        nextPrev(0);
        $("#domain").val("@Model.websiteInfo.Domain");
    }
</script>