﻿@using Nami.Web.Models
@{
    ViewBag.Title = "Danh sách Website vi phạm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BlacklistViewModel
<div id="NoiDungChinh">
    <div class="container">
        <div class="col-sm-8 pdl0 content-left">
            <div class="btn-group btn-breadcrumb">
                <a href="/" class="btn btn-info"><i class="glyphicon glyphicon-home" style="font-size: 17px; line-height: 0.2;margin-top:5px;"></i>&nbsp;&nbsp;Trang chủ</a>
                <a href="" class="btn btn-info history-url">Website vi phạm</a>
            </div>
            <div>
                <h1 class="content-header">Danh sách website vi phạm</h1>
                <div class="table-search">
                    @using (Html.BeginForm("", "", FormMethod.Get, new { id = "SearchForm", @class = "search-form", enctype = "multipart/form-data" }))
                    {
                        @Html.TextBox("search", null, new { id = "SearchFormInput", @class = "form-control", @placeholder = "Tìm kiếm..." })
                    }
                </div>

                <table class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th>Tên miền</th>
                            <th colspan="4">Nội dung vi phạm</th>
                            <th colspan="4">Ngày đăng</th>
                        </tr>
                    </thead>
                    <tbody id="table-data">
                        @* List of Websites goes here *@
                    </tbody>
                </table>
                <div id="indexer" style="text-align:right">
                    @* Next and prev page btn goes here *@
                </div>
            </div>
        </div>
    
        @{ Html.RenderAction("EndUserContentRightPartial", "Common"); }
    </div>
</div>

<script>
    $(document).ready(function () {
        var pageIndex = 1
        GetPage(pageIndex);
    })
    $().ready(function () {
        $('#SearchForm').submit(false);
    });
    $().ready(function () {
        $('#SearchForm').submit(false);
        $('#SearchFormInput').on("keyup", function () {
            var value = $(this).val();
            console.log(value);
            if (value == "") {
                var pageIndex = 1;
                GetPage(pageIndex);
            } else {
                var pageIndex = 1;
                GetPageSearch(value, pageIndex);
            }
        });
    });
    function GetPageSearch(input, pageIndex) {
        $("#table-data").empty();
        $("#indexer").empty();
        $.ajax(
        {
            url: "@Url.Action("GetPageWebsiteBlackListSearchDomain","Home")",
            type: "GET",
            data: { input: input, pageIndex: pageIndex },
                success: function (response) {
                var rowData = "";
                    if (response.WebsiteViPham.ListItem.length == 0)
                        rowData += "<tr colspan=\"6\" class=\"no-data\"><td></td><td></td><td>Không có dữ liệu</td></tr>";
                    for (var i = 0; i < response.WebsiteViPham.ListItem.length; i++) {
                        rowData += "<tr>";
                        rowData += "<th scope=\"row\">" + ((response.WebsiteViPham.CurrentPage - 1) * 10 + i + 1) + "</th>";
                        rowData += "<td>" + response.WebsiteViPham.ListItem[i].Domain + "</td >";
                        rowData += "<td colspan=\"4\">" + response.WebsiteViPham.ListItem[i].Comment + "</td >";
                        rowData += "<td>" + ToDate(response.WebsiteViPham.ListItem[i].CreatedDate) + "</td >";
                        rowData += "</tr>";
                    }
                    $('#table-data').append(rowData);

                    PagingTemplateSearch(input, response.WebsiteViPham.CurrentPage, response.WebsiteViPham.TotalPage);
            },
            error: function (e) {
                console.log(e);
            }
        });
    }
    function PagingTemplateSearch(input, currentPage, totalPage) {
        if (totalPage <= 1)
            return;
        var paging = "";
        paging += "<p>Trang " + (currentPage) + "/" + totalPage + "</p>";
        
        paging += "<button id = \"prevBtn\" class = \"btn btn-info prevnext-btn\" onclick = \"GetPageSearch('" + input + "'," + (currentPage - 1) + ")\">Trang trước</button>";
        paging += "<button id = \"nextBtn\" class = \"btn btn-info prevnext-btn\" onclick = \"GetPageSearch('" + input + "'," + (currentPage + 1) + ")\">Trang sau</button>";

        $('#indexer').append(paging);
        if (currentPage == 1) {
            $("#prevBtn").attr("disabled",true);
        }
        if (currentPage == totalPage) {
            $("#nextBtn").attr("disabled",true);
        }
    }


    function GetPage(pageIndex) {
        $("#table-data").empty();
        $("#indexer").empty();
        $.ajax(
            {
                url: "@Url.Action("GetPageWebsiteBlackList","Home")",
                type: "GET",
                data: { pageIndex: pageIndex },
                success: function (response) {
                    var rowData = "";
                    if (response.WebsiteViPham.ListItem.length == 0)
                        rowData += "<tr colspan=\"6\" class=\"no-data\">Không có dữ liệu</tr>";
                    for (var i = 0; i < response.WebsiteViPham.ListItem.length; i++) {
                        rowData += "<tr>";
                        rowData += "<th scope=\"row\">" + ((response.WebsiteViPham.CurrentPage - 1) * 10 + i + 1) + "</th>";
                        rowData += "<td>" + response.WebsiteViPham.ListItem[i].Domain + "</td >";
                        rowData += "<td colspan=\"4\">" + response.WebsiteViPham.ListItem[i].Comment + "</td >";
                        rowData += "<td>" + ToDate(response.WebsiteViPham.ListItem[i].CreatedDate) + "</td >";
                        rowData += "</tr>";
                    }
                    $('#table-data').append(rowData);

                    PagingTemplate(response.WebsiteViPham.CurrentPage, response.WebsiteViPham.TotalPage);
                },
                error: function (e) {
                console.log(e);
                }
            }
        );
    }

    function PagingTemplate(currentPage, totalPage) {
        if (totalPage <= 1)
            return;
        var paging = "";
        paging += "<p>Trang " + (currentPage) + "/" + totalPage + "</p>";

        paging += "<button id = \"prevBtn\" class = \"btn btn-info prevnext-btn\" onclick = \"GetPage(" + (currentPage - 1) + ")\">Trang trước</button>";
        paging += "<button id = \"nextBtn\" class = \"btn btn-info prevnext-btn\" onclick = \"GetPage(" + (currentPage + 1) + ")\">Trang sau</button>";

        $('#indexer').append(paging);
        if (currentPage == 1) {
            $("#prevBtn").attr("disabled",true);
        }
        if (currentPage == totalPage) {
            $("#nextBtn").attr("disabled",true);
        }
    }
</script>
